footer.bg.bg_f9
  #contactsFooter
    .container
      .footer__main-content
        .footer__company
          .footer__company-title SORP Group
          .footer__links
            .footer__links-row
              .footer__link SORP Management Consulting
              .footer__link SORP Business Center
              .footer__link SORP Business School
            .footer__links-row
              .footer__link SORP Investment
              .footer__link SORP Accounting
              .footer__link SORP General Trading
          .footer__copyright
            img.footer__logo(src='/git/img/blocks/footer/logo-footer.svg' alt='SORP' loading='lazy')
            p.footer__copyright-item
              | <br>© 2004-2020 SORP.
              | All rights reserved.
            .footer__copyright-item.hide-md-min
              | SORP Group privacy policy
        .footer__contacts
          p.footer__contacts-label SORP Business Centre <br><br>
          p.footer__contacts-location
            | Tameem House Building, Floor 25
            br
            br
            |                     Barsha Heights (Tecom)
            br
            br
            |                     Dubai, United Arab Emirates
          a.footer__contacts-link(href='mailto:info@sorp.ae') info@sorp.ae
          a.footer__contacts-link(href='tel:+97145594559') +971 4 559 4594
    style.
      .cookie-guard__button {
        margin-right: 10px !important;
      }