.slider { position: relative; height: 500px; }

.slide {
  text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center; filter: blur(5px); transition: 1s; visibility: hidden; padding: 15px; position: absolute; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); max-width: 68%; width: 500px; height: 200px; z-index: 0;

  &::after, &::before { transition: 1.5s; content: ''; width: 0px; height: 0px; background-color: #fff; position: absolute; }
  &::after { z-index: -4; right: 10px; bottom: 10px; }
  &::before { z-index: -3; left: 10px; top: 10px; }

  &.first { visibility: visible; transform: scale(1) translateX(-50%); z-index: 2; top: 10%; }
  &.second { visibility: visible; filter: blur(0); z-index: 5; top: 50%; transform: translateY(-50%) translateX(-50%) scale(1.5);
    &::after, &::before { content: ''; width: 70px; height: 70px; background-color: #d44154; position: absolute; }
    &::before { z-index: -3; left: -3px; top: -3px; }
    &::after { z-index: -4; right: -3px; bottom: -3px; } }
  &.third { visibility: visible; z-index: 2; top: 90%; transform: translateY(-100%) translateX(-50%) scale(1); }

  &-shadow { position: absolute; z-index: -1; background-color: #fff; left: 10px; right: 10px; top: 10px; bottom: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0); }
  &__item {
    &-title { display: block; margin-right: 10px; font-weight: 600; font-size: 18px; margin-bottom: 14px; color: #d44154;  letter-spacing: 0; white-space: normal;  }
    &-description { line-height: 18px; font-size: 10px; font-weight: 300; } }

  &-controls { position: absolute; right: 2%; bottom: -50px; transform: translateY(-50%); z-index: 100; display: flex; }
  &-controls .arrow { bottom: 0; }

  &.second .slide-shadow { box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
}

@media (min-width: screen-xxs-min) {
  .slide__item {
    &-description { font-size: 12px;}
    &-title { font-size: 24px; }
  }
}

@media (min-width: screen-md-min) {
  .slide__item-title { font-size: 28px; }
  .slide-controls { bottom: calc(50% - 140px); display: block; }
}