{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" viewBox="0 0 27 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.1196 27.1335C16.8904 27.1335 16.6805 27.0013 16.5822 26.7926L11.576 16.1526L1.1548 11.3626C0.936898 11.2625 0.800633 11.041 0.809242 10.8012C0.818149 10.5613 0.970445 10.3505 1.19518 10.2668L25.9284 1.03191C26.1449 0.951456 26.3892 1.00341 26.5534 1.1661C26.7181 1.32878 26.7727 1.57252 26.6944 1.79013L17.678 26.7416C17.5966 26.9675 17.387 27.1216 17.1472 27.1329C17.1377 27.1332 17.1285 27.1335 17.1196 27.1335ZM2.94793 10.8798L12.2686 15.1643C12.396 15.2228 12.4984 15.3244 12.5581 15.4508L17.0474 24.9921L25.1414 2.59347L2.94793 10.8798Z"></path>
        <path d="M12.021 16.2972C11.869 16.2972 11.7173 16.2393 11.6012 16.1233C11.3694 15.8917 11.3694 15.5156 11.6012 15.2837L25.7162 1.16848C25.948 0.936618 26.3239 0.936618 26.5557 1.16848C26.7876 1.40034 26.7876 1.77618 26.5557 2.00804L12.4408 16.1233C12.3247 16.2393 12.173 16.2972 12.021 16.2972Z"></path>
    </symbol>
</svg>
<style>
    .block7 .block7__item:hover { background-color: #[[*link_attributes]]; border-bottom: #[[*link_attributes]]; }
    .block15__desc { padding-right: 0; }
    .bg_wave-ltr, .bg_wave-rtl { background-size: cover; }

    @media (min-width: 880px) { .block41__item { width: 31%; } }
    @media (min-width: 770px) { .block5 { padding: 45px 40px;} 
        .bg_wave-ltr, .bg_wave-rtl { background-size: 185% 125%; background-position-x: -100px; background-position-y: -70px; }
        .bg_wave-rtl { background-size: 153% 125%; }
    }    
</style>

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/assets/templates/main/img/mask.png" data-src="/assets/templates/main/img/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">Инвестиционно-финансовая лицензия в ОАЭ</h1>
                    <p class="first-screen__text">Откройте успешный инвестиционно-финансовый бизнес в стабильной и привлекательной стране</p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
    
    <!--         block-frames             -->
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">Комфортное законодательство, поддержка со стороны государства, платежеспособность населения обеспечили благополучную финансово - инвестиционную среду и сделали Арабские Эмираты одной из самых защищённых - по части всевозможных финансовых рисков - стран. Получив лицензию и статус налогового резидента, Вы можете выдавать займы, осуществлять  управление и консультирование, получать комиссии и вознаграждения, управляя ценными бумагами и финансами в ОАЭ и за рубежом, <br class="hide-sm-min">без налогов и обмена налоговой информацией.</div>
        </div>
        <div class="r60_adaptive"></div>        
    </div>
</section>

<!--         block41          -->
<section id="scrollBlock1" class="z-idx3 bg-FF bg_wave">
    <div class="container_bem">
        <div class="r30_adaptive"></div>
        <h2 class="title">Виды финансовой деятельности, доступные для лицензирования в ОАЭ</h2>
        <div class="r30_adaptive"></div>
        <p class="description">Выбор лицензии определяет стратегию развития Вашего бизнеса, поэтому тщательно подойдите к определению подходящего вида деяельности. Консультанты SORP Group помогут разобраться в вопросах лицензирования.</p>
        <div class="r50_adaptive"></div>
        <div class="block41">
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Коммерческие проекты</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/bank-building.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <p class="block41__desc">                
                    Привлечение и размещение средств <br class="hide-sm-min">в различные коммерческие проекты бизнес, активы, а также управление
                </p>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Операции с ценными бумагами</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/save-the-world.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <p class="block41__desc">                
                    Эмиссионная, инвестиционная <br class="hide-sm-min">и клиентская (посредническая), <br class="hide-sm-min">операции на фондовых рынках
                </p>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Кредитные инструменты</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/diploma.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <p class="block41__desc">
                    Осуществление прямого и торгового финансирования, выпуск кредитных <br class="hide-sm-min">карт и финансовых инструментов
                </p>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Деятельность платежного агента</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/bucks.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <p class="block41__desc">
                    Лицензия Payment Service Provider (PSP) - деятельность по приёму и проведению платежей за третьи лица
                </p>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Инвестиционный консалтинг</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/pass-money.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <p class="block41__desc">
                    Оказание комплексна услуг, связанного <br class="hide-sm-min">с оптимизацией использования активов, привлечению и размещению инвестиций
                </p>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">ФинТех лицензии</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/graph-screen.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <p class="block41__desc">
                    Финансовые услуги с использованием инновационных технологий и Big Data, искусственного интеллекта, блокчейна
                </p>
            </div>
        
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Страховая и перестраховочная деятельность</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/building.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <p class="block41__desc">
                    Комплекс мер по защите от потери <br class="hide-sm-min"> работы, жизни, ответственности и <br class="hide-sm-min">недвижимости
                </p>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Создание Инвестиционного Фонда</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/human-network.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <p class="block41__desc">
                    Аккумулирование сбережений частных<br class="hide-sm-min"> и юридических лиц для осуществления совместного инвестирования
                </p>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Доверительное управление <br class="hide-sm-min">активами</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/hands.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <p class="block41__desc">
                    Размещение средств инвесторов в активы компаний и финансовые инструменты за определенное вознаграждение
                </p>
            </div>
        </div>    
        <div class="r50_adaptive"></div>
        <div class="block5">
            <img src="/git/img/contour-only/black-and-red/tie.svg" alt="" class="block5__icon block5__icon_left">
            <div class="block5__content">
                <p class="block5__text">
                    Ведение инвестиционно-финансовой деятельности в ОАЭ и работа на зарубежных рынках требуют понимания особенностей местного законодательства и привлечения лицензированного участника для прохождения процедур инкорпорации. SORP Group имеет компетенции и разрешения для выполнения всех задач, возникающих в процессе организации  инвестиционно - финансового бизнеса в Арабских Эмиратах. 
                </p>
            </div>
        </div>
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_center btn_border2 btn_white z-idx3 btn_space-between" onclick="toggleModal('form01');">
            Получить консультацию
            <svg class="btn__icon-svg btn__icon-svg_black" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
              <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--     Услуги      -->
<section id="scrollBlock2" class="bg-F9">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Услуги SORP по сопровождению <br class="hide-sm-min">инвестиционно-финансовой деятельности</h2>
        <div class="r50_adaptive"></div>
        <div class="block7 block7_modal">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/calculator-tax.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Подготовка <br class="hide-sm-min">бизнес-модели</div>
                    <div class="block7__text">Подберем подходящую <br class="hide-sm-min">лицензию и определим <br class="hide-sm-min">тип юридического лица</div>
                </div>
            </div>    
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/document-verified.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Регистрация <br class="hide-sm-min">компаний</div>
                    <div class="block7__text">Быстрая инкорпорация за<br class="hide-sm-min"> счет тесного сотрудничества <br class="hide-sm-min">с лицензирующими органами</div>
                </div>
            </div>    
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/presentation.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Локальный партнер <br class="hide-sm-min">или агент</div>
                    <div class="block7__text">Номинальный сервис от SORP Investment LLC с оформлением отказа от прав в суде г. Дубая</div>
                </div>
            </div>
            
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/graph-screen.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Дубайский адрес инкорпорации</div>
                    <div class="block7__text">Предоставим офис в БЦ SORP <br class="hide-sm-min">для прохождения банковских проверок KYC и подтверждения Центра Управления и Контроля</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/shield.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Открытие <br class="hide-sm-min">банковских счетов</div>
                    <div class="block7__text">Тесное сотрудничество с <br class="hide-sm-min">банками ОАЭ, понимание <br class="hide-sm-min">процедур и содействие в <br class="hide-sm-min">прохождении KYC</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/person-percentage.svg"  loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Аутсорсинг <br class="hide-sm-min">бизнес-процессов</div>
                    <div class="block7__text">Предоставим юридические, налоговые, бухгалтерские и административные сервисы,<br class="hide-sm-min"> PRO-сопровождение бизнеса</div>
                </div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Получите оптимальное решение по организации <br class="hide-sm-min">инвестиционно-финансовой деятельности в ОАЭ</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Получить решение</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Различия -->
<section id="scrollBlock3" class="bg-F9 z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Различия и особенности инвестиционно — финансовых лицензий в ОАЭ</h2>
        <div class="r50_adaptive"></div>

        <div class="block35 block35_width3">
            <div class="block35__item bg_wave-ltr">
                <div class="block35__head">
                    <div class="block35__title">Mainland регистрация</div>
                    <div class="block35__icon-wrap">
                        <img src="/git/img/contour-only/white/organization-building.svg" alt="" class="block35__icon" loading="lazy">                        
                    </div>
                </div>
                <div class="r1 r_bg-gray"></div>
                <div class="block35__content">
                    <div class="r30"></div>
                    <ul class="list2">
                        <li class="list2__item">Используются для ведения деятельности на внутреннем рынке ОАЭ, при этом дают возможность представлять интересы на внешних рынках.</li>
                        <li class="list2__item">В силу присутствия компании на локальном рынке, - данное решение обеспечивает высокий статуc и лояльность со стороны банков и контрагентов, престиж на международной арене. Имеет сложную структуру построения.</li>
                    </ul>
                </div>
            </div>
            <div class="block35__item bg_wave-rtl">
                <div class="block35__head">
                    <div class="block35__title">Финансовые центры</div>
                    <div class="block35__icon-wrap">
                        <img src="/git/img/contour-only/white/diploma.svg" alt="" class="block35__icon" loading="lazy">                        
                    </div>
                </div>
                <div class="r1 r_bg-gray"></div>
                <div class="block35__content">
                    <div class="r30"></div>
                    <ul class="list2">
                        <li class="list2__item">Обеспечивают право на постоянной основе проводить финансовые и инвестиционные сделки в специализированных СЭЗ и на международном рынке.</li>
                        <li class="list2__item">При оформлении лицензии на территории СЭЗ DIFC и ADGM - крупных финансовых центрах ОАЭ — обеспечены как высокий  статус, так и престиж компании. 100% иностранное владение, но сложный процесс регистрации.</li>
                    </ul>
                </div>
            </div>      
            <div class="block35__item bg_wave-ltr">
                <div class="block35__head">
                    <div class="block35__title">Регистрация <br class="hide-sm-min">в ряде СЭЗ</div>
                    <div class="block35__icon-wrap">
                        <img src="/git/img/contour-only/white/tax-graph.svg" alt="" class="block35__icon" loading="lazy">                        
                    </div>
                </div>
                <div class="r1 r_bg-gray"></div>
                <div class="block35__content">
                    <div class="r30"></div>
                    <ul class="list2">                    
                        <li class="list2__item">Используются для ведения деятельности за пределами ОАЭ и возможности осуществления финансовых и инвестиционных операций.</li>
                        <li class="list2__item">Не позволяет свободно вести деятельность на внутреннем рынке. Осторожное отношение со стороны местных банков и контрагентов. Допускает 100% иностранное владение, также простое получение лицензии.</li>
                        <div class="r30"></div>
                    </ul>
                </div>
            </div>                   
        </div>
        
        <div class="r50_adaptive"></div>        
        <div class="borderline borderline_black-border bg-F9">
            <div class="block22">
                <div class="block22__header">Юрисдикции регистрации инвестиционных и финансовых компаний в ОАЭ</div>
                <div class="r50"></div>
                <div class="block22__item">
                    <img src="/git/img/contour-only/black-and-red/growth.svg" alt="" class="block22__icon" loading="lazy">             
                    <div class="block22__text">
                        <div class="block22__title">Mainland (Основная территория)</div>
                        <div class="block22__description">
                            Регистраторами являются Департаменты Экономического Развития каждого из Эмиратов. <br>По ряду лицензий могут быть предъявлены дополнительные требования и согласования от локальных финансовых регуляторов.
                        </div>
                    </div>
                </div>
                <div class="block22__item">
                    <img src="/git/img/contour-only/black-and-red/building.svg" alt="" class="block22__icon" loading="lazy">
                    <div class="block22__text">
                        <div class="block22__title">Dubai International Financial Center (DIFC)</div>
                        <div class="block22__description">В состав СЭЗ DIFC входят отдельный финансовый регулятор (DFSA), регистрирующий орган и собственный арбитражный суд. По ряду лицензий могут быть предъявлены дополнительные требования и согласования от внутреннего финансового регулятора.</div>
                    </div>
                </div>

                <div class="block22__item">
                    <img src="/git/img/contour-only/black-and-red/globe.svg" alt="" class="block22__icon" loading="lazy">
                    <div class="block22__text">
                        <div class="block22__title">Abu Dhabi Global Market (ADGM)</div>
                        <div class="block22__description">В состав СЭЗ ADGM входят отдельный финансовый регулятор (FSRA), регистрирующий орган, собственный арбитражный суд. По ряду лицензий могут быть предъявлены дополнительные требования и согласования от внутреннего финансового регулятора.</div>
                    </div>
                </div>            
                <div class="block22__item">
                    <img src="/git/img/contour-only/black-and-red/doc.svg" alt="" class="block22__icon" loading="lazy">                
                    <div class="block22__text">
                        <div class="block22__title">Ряд свободных экономических зон Северных Эмиратов</div>
                        <div class="block22__description">Отличаются минимальными требованиями по лицензированию, также отсутствуют внутренние финансовые регуляторы. Не предъявляют дополнительных требований по большинству бизнес активностей. Ограничения о запрете ведения деятельности на локальной земле.</div>
                    </div>
                </div>
            </div>            
        </div>

        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Получите оптимальное решение по организации <br class="hide-sm-min">инвестиционно-финансовой деятельности в ОАЭ</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Связаться со специалистом</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section class="bg-F9 z-idx3" id="scrollBlock4">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Требования со стороны государственных регуляторов ОАЭ</h2>
        <div class="r30"></div>
        <p class="description">Ряд инвестиционно - финансовых лицензий должны получить согласования на ведение бизнес-деятельности от Центрального Банка Эмиратов (the UAE Central Bank, CB UAE) и Комитета по управлению финансовыми и товарными рынками (Securities and Commodities Authority, SCA)</p>
        <div class="r50_adaptive"></div>
        <div class="r2 r_bg-red"></div>
    </div>
        <div class="block15" data-block="0">
            <div class="block15__item-container" data-index="0">
                <div class="container_bem">
                    <div class="block15__item">
                        <div class="block15__column block15__column--column">
                            <div class="block15__top">
                                <div class="block15__icon">
                                    <img src="/git/img/contour-only/white/bank-building.svg" alt="" class="block15__img">
                                </div>
                                <div class="block15__title">Контроль со стороны <br class="hide-sm-min">государства</div>
                            </div>
                            <div class="r50_adaptive"></div>
                            <div class="btn btn_border1 btn_white btn_space-between" onclick="toggleModal('form01');">
                                Получить консультацию
                        	    <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 128 128">
                                  <use href="#btn__icon-modal"></use>
                                </svg>
                        	</div>
                        </div>
                        <div class="block15__column">
                            <div class="block15__desc">
                                Установлены различные требования со стороны государства в зависимости от вида деятельности и юрисдикции оформления лицензии.Основными регулирующими органами являются: CB - Центральный банк ОАЭ, Комитет по управлению финансовыми <br class="hide-sm-min"> и товарными рынками (SCA), полиция.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block15__item-container" data-index="1">
                <div class="container_bem">
                    <div class="block15__item">
                        <div class="block15__column  block15__column--column">
                            <div class="block15__top">
                                <div class="block15__icon">
                                    <img src="/git/img/contour-only/white/bank2.svg" alt="" class="block15__img">
                                </div>
                                <div class="block15__title">Уставной <br class="hide-sm-min"> капитал</div>
                            </div>
                            <div class="r50_adaptive"></div>
                            <div class="btn btn_border1 btn_white btn_space-between" onclick="toggleModal('form01');">
                                Получить консультацию
                        	    <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 128 128">
                                    <use href="#btn__icon-modal"></use>
                                </svg>
                        	</div>
                        </div>
                        <div class="block15__column">
                            <div class="block15__desc">
                                В большинстве случаев установлены требования к уставному капиталу, минимальный размер которого варьируется от 41 тыс. долларов США до 1,4 мил. долларов США. В редких случаях для сложных лицензий размер уставного капитала может достигать <br class="hide-sm-min">8-14 миллионов долларов США и выше.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block15__item-container" data-index="2">
                <div class="container_bem">
                    <div class="block15__item">
                        <div class="block15__column  block15__column--column">
                            <div class="block15__top">
                                <div class="block15__icon">
                                    <img src="/git/img/contour-only/white/shield.svg" alt="" class="block15__img">
                                </div>
                                <div class="block15__title">Банковская <br class="hide-sm-min"> гарантия</div>
                            </div>
                            <div class="r50_adaptive"></div>
                            <div class="btn btn_border1 btn_white btn_space-between" onclick="toggleModal('form01');">
                                Получить консультацию
                        	    <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 128 128">
                                    <use href="#btn__icon-modal"></use>
                                </svg>
                        	</div>
                        </div>
                        <div class="block15__column">
                            <div class="block15__desc">
                                Государством установлены требования к банковской гарантии <br class="hide-sm-min">для исполнения принимаемых финансовых обязательств перед третьими лицами на сумму, зависящей от вида финансовой или инвестиционной активности. Иногда депозит может достигать внушительных сумм.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block15__item-container" data-index="3">
                <div class="container_bem">
                    <div class="block15__item">
                        <div class="block15__column  block15__column--column">
                            <div class="block15__top">
                                <div class="block15__icon">
                                    <img src="/git/img/contour-only/white/tie.svg" alt="" class="block15__img">
                                </div>
                                <div class="block15__title">Квалифицированный<br class="hide-sm-min"> персонал</div>
                            </div>
                            <div class="r50_adaptive"></div>
                            <div class="btn btn_border1 btn_white btn_space-between" onclick="toggleModal('form01');">
                                Получить консультацию
                        	    <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 128 128">
                                    <use href="#btn__icon-modal"></use>
                                </svg>
                        	</div>
                        </div>
                        <div class="block15__column">
                            <div class="block15__desc">
                                Установлены требования к штату сотрудников, который состоит из финансовых менеджеров, аналитиков, специалистов внутреннего контроля над проводимыми финансовыми операциями, а также генерального менеджера с соответствующим образованием или квалификацией.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block15__item-container" data-index="4">
                <div class="container_bem">
                    <div class="block15__item">
                        <div class="block15__column  block15__column--column">
                            <div class="block15__top">
                                <div class="block15__icon">
                                    <img src="/git/img/contour-only/white/girl.svg" alt="" class="block15__img">
                                </div>
                                <div class="block15__title">Оборудованный<br class="hide-sm-min"> офис</div>
                            </div>
                            <div class="r50_adaptive"></div>
                            <div class="btn btn_border1 btn_white btn_space-between" onclick="toggleModal('form01');">
                                Получить консультацию
                        	    <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 128 128">
                                    <use href="#btn__icon-modal"></use>
                                </svg>
                        	</div>
                        </div>
                        <div class="block15__column">
                            <div class="block15__desc">
                                Для финансовых и инвестиционных компании применяется ряд требований по наличию физического офиса, оборудованного по стандарту требований регулятора, а также международные нормы необходимости подтверждения Центра Управления и Контроля и Economic Substance. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block15__item-container" data-index="5">
                <div class="container_bem">
                    <div class="block15__item">
                        <div class="block15__column  block15__column--column">
                            <div class="block15__top">
                                <div class="block15__icon">
                                    <img src="/git/img/contour-only/white/todolistBig.svg" alt="" class="block15__img">
                                </div>
                                <div class="block15__title">Внутренний<br class="hide-sm-min"> контроль</div>
                            </div>
                            <div class="r50_adaptive"></div>
                            <div class="btn btn_border1 btn_white btn_space-between" onclick="toggleModal('form01');">
                                Получить консультацию
                        	    <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 128 128">
                                    <use href="#btn__icon-modal"></use>
                                </svg>
                        	</div>
                        </div>
                        <div class="block15__column">
                            <div class="block15__desc">
                                Регуляторами предписаны обязательства по обеспечению системы внутреннего контроля и надлежащего соблюдения законов с целью снижения рисков, а также к методам контроля рисков, соблюдению законодательства по борьбе с отмыванием незаконных доходов и размыванию налогооблагаемой базы. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r60_adaptive"></div>    
        </div>    
        <div class="r1 r_bg-gray"></div>
</section>

<!--    Комплексные решения     -->
<section id="scrollBlock5">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Комплексные решения SORP Group по сопровождению вашего бизнеса в ОАЭ</h2>
        <div class="r50_adaptive"></div>
        <div class="block14">
            <div class="block14__item z-idx3">
                <div class="block14__title">Подтверждение <br class="hide-sm-min"> бизнес-гипотезы</div>
                <div class="block14__text">Анализ идеи оптимального лицензирования, который позволит вести успешную деятельность в ОАЭ, выйти <br class="hide-sm-min">на международный рынок <br class="hide-sm-min"><br class="hide-sm-min"></div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Регистрация бизнеса</div>
                <div class="block14__text">Безупречное качество, а также быстрое предоставление услуг за счет собственных ресурсов SORP и тесного сотрудничества <br class="hide-sm-min">с регистрирующими органами</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Юридическое сопровождение</div>
                <div class="block14__text">Корпоративные юристы SORP и стратегические партнерства с лучшими адвокатами страны обеспечат профессиональное сопровождение бизнеса.</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Международное Налоговое Планирование</div>
                <div class="block14__text">Индивидуальные решения повышения эффективности налоговой оптимизации для международного бизнеса на базе законодательства ОАЭ <br class="hide-sm-min"> и успешной экспертизе</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Оформление налогового резидентства</div>
                <div class="block14__text">Получение сертификата tax domicile - защиты от обмена налоговой информацией по стандарту CRS , применение соглашений об исключении двойного налогообложения</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Подтверждение экономического присутствия</div>
                <div class="block14__text">Доказательство факта ведения операционной деятельности по месту регистрации компании и наличия центра управления как налоговой принадлежности операций к ОАЭ <br class="hide-sm-min"><br class="hide-sm-min"></div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Узнайте о преимуществах организации бизнеса в ОАЭ, заказав <br class="hide-sm-min">бесплатную консультацию специалиста</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Связаться со специалистом</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section id="scrollBlock6" class="bg-F9">
		<div class="container_bem">
		    <div class="r60_adaptive"></div>
			<h2 class="title">SORP - полный спектр услуг по регистрации, сопровождению и управлению бизнесом в ОАЭ</h2>
			<div id="vslideouter" class="slider_02 text_slider">
				<div class="slide-elem tslider-item-new flex_column first">
					<div class="back"></div>
					<div class="tslider-item__number">Статус эксперта</div>
					<div class="tslider-item__text fadeInUp">Мы способны принять юридически правильное решение по выбору лицензии на основе анализа Ваших потребностей и провести консультацию по всем вопросам, связанным с лицензированием</div>
				</div>

				<div class="text_slider__inner">
					<div class="slide-elem tslider-item-new flex_column second">
						<div class="back"></div>
						<div class="tslider-item__number">Комплекс всех услуг</div>
						<div class="tslider-item__text wow fadeInUp">Компания предлагает комплексное решение для бизнеса и акционеров: от регистрации компаний до получения статуса налогового резидента страны</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column third">
						<div class="back"></div>
						<div class="tslider-item__number">15 лет опыта</div>
						<div class="tslider-item__text">В сфере регистрации, сопровождения компаний и решения бизнес-целей клиентов и организации прибыльной деятельности инвестиционно - финансовой компании и сопутствующих направлений</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Комплексное обслуживание</div>
						<div class="tslider-item__text">Выполняем работы “под ключ” - составим план развития Вашей компании, поможем получить все разрешительные документы и найти квалифицированный персонал, соответствующий требованиям финансовых регуляторов</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Безопасность и анонимность</div>
						<div class="tslider-item__text">Мы обеспечим безопасность ваших инвестиций, примем меры по надлежащему исполнению действующего законодательства и сохранению конфиденциальности информации</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Размещение бизнеса</div>
						<div class="tslider-item__text">В состав группы компаний SORP входит SORP Business Center – 5000 кв. м современных офисных пространств для прохождения процедуры лицензирования в ОАЭ и выполнения требований KYC и Economic Substance</div>
					</div>
					
				<div class="tns-controls">
					<div class="button" onclick="slideup()"></div>
					<div class="button" onclick="slidedown()"></div>
				</div>
			</div>
		</div>
	</div>
    <div class="r1 r_bg-gray"></div>
</section>

<!-- registration -->
<section class="bg-F9" id="scrollBlock5">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Доверьте регистрацию бизнеса в ОАЭ профессионалам</div>
          <div class="r20"></div>
        Отправьте заявку и получите консультацию <br class="hide-sm-min">нашего специалиста по вопросу оформления лицензии в сфере финансов и инвестиций.
        <br><br>
        Профессионалы SORP внимательно следят за последними мировыми тенденциями и готовы оказать комплексные услуги по регистрации, лицензированию и сопровождению Вашей компании. 
        <br><br>
        Получите оптимальное решение для <br class="hide-sm-min"> инкорпорации в ОАЭ уже сейчас!
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Подобрать лицензию</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 bg-E3"></div>
</section>

{/block}
{include 'footer_new'}