.quote {
  padding: 30px 20px; background: #EEF7FC; display: flex;

  &__icon { width: 30px; height: 30px; margin: 3px 15px 0 0; flex: none; }
  &__text { color: #252B39; font-size: 18px; line-height: 1.33; }
}