.header-thanks {
  padding-top: 30px;

  &__container {  max-width: 1750px; margin: 0 auto; padding: 0 15px; display: flex; align-items: center; justify-content: space-between; }
  &__logo { width: 102px; height: 24px; }
}