section#about-company.bg.bg_ff.bg_z-index
  .r60_adaptive
  .container
    h2.title 5 причин
      span.title__color-dark  почему выбирают SORP
    .r50_adaptive
    .r30
    .about-company
      .about-company__left
        .borderline.borderline_quote
          .about-company__content.owl-carousel
            p.about-company__text.
              Выбор надежной консалтинговой компании — это ключ к успеху становления и ведения Вашего бизнеса.  Forbes, дает 7 основных критерий которыми стоит руководствоваться при выборе «The right consulting firm» и SORP может с уверенностью заявить, что мы не только отвечаем требованиям уважаемого издания, но и имеем 5 дополнительных и существенных причин доверять именно нам!
            p.about-company__text.
              Услуги которые мы предоставляем — это не просто набор сервисов — это хорошо продуманная стратегия, направленная на обеспечение достижения Вами желаемого качества жизни и бизнес успехов. Мы разберемся в Вашем бизнесе имея необходимый опыт и команду профессионалов, которые разговаривают с Вами на одном языке понимая терминологию и исключая двусмысленность толкования.
            p.about-company__text.
              Мы не регистрируем компании – мы создаем рабочий инструмент, который обеспечит решение всех бизнес целей и задач, стоящих перед Вами, и позволит извлекать желаемую прибыль. Мы не применяем шаблонных решений, каждый проект для нас уникален. Выполняя работу, мы становимся эффективным дополнением Вашей команды, никогда не играя роль стороннего наблюдателя.
            p.about-company__text.
              Мы не являемся агентами одной или нескольких свободно-экономических зон и не зависим от их выплат и вознаграждений. Сотрудничая со всеми юрисдикциями ОАЭ, мы обеспечиваем беспристрастный выбор регистратора Вашего юридического лица. В своей работе с клиентами мы сосредоточены на результате, а не на почасовой оплате или комиссиях.
            .about-company__text
              p Мы являемся одним из самых крупных бизнес центров г. Дубай, и не сможем незаметно исчезнуть с рынка, оставив своих клиентов в неведении.

              p Мы поднадзорны как минимум 10 государственным ведомствам, которые не только постоянно следят за качеством нашей работы, но и всецело помогают нам и нашим клиентам, содействуя в решении сложных задач.
            p.about-company__text.
              SORP — это не просто название — это формула успеха. Мы обращаем внимания даже на незначительные для многих детали. За 15 лет существования у нас не было ни одного разорившегося бизнеса. Свои решения мы разрабатываем, основываясь на принципе SORP — Statement Of Recommended Practice — «Применения лучших Рекомендованных Практик ведения бизнеса».


          .borderline__quote.borderline__quote_top.lazy(data-bg="./dist/img/blocks/borderline/quotes-gray.svg")
          .borderline__quote.borderline__quote_bottom.lazy(data-bg="./dist/img/blocks/borderline/quotes-gray.svg")

          .about-company__info
            .arrow
              .about-company__arrow_prev.arrow__item.arrow__item_prev.arrow__item_white.arrow__item_min
                svg.arrow__item-icon(xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#arrow_right')
              .about-company__arrow_next.arrow__item.arrow__item_next.arrow__item_white.arrow__item_min
                svg.arrow__item-icon(xmlns='http://www.w3.org/2000/svg')
                  use(xlink:href='#arrow_right')
            .about-company__author-box
              p.about-company__author Елена Целищева
              p.about-company__profess Управляющий партнер SORP

      .about-company__right
        .about-company__img-box
          //-.about-company__play
            .about-company__play-icon
          picture
            source(type="image/webp", data-srcset="./dist/img/pages/index/about-company/about_video.webp, ./dist/img/pages/index/about-company/about_video_2x.webp 2x")
            source(type="image/jpeg", data-srcset="./dist/img/pages/index/about-company/about_video.jpg, ./dist/img/pages/index/about-company/about_video_2x.jpg 2x")
            img.about-company__img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/pages/index/about-company/about_video.jpg", alt="5 причин почему выбирают SORP")

  .r30
  .r60_adaptive
  .r1.r_bg-e5