.btn {
  &__btn-box { display: flex; }

  &_eng-version { background: transparent; border: 1px solid #7F7CD1; }
  &_eng-version &__eng-version-text { font-size: 16px; line-height: 1.35; }
  &_eng-version &__eng-version-signature { margin-left: 10px; font-size: 13px; line-height: 1.35; opacity: 0.5; font-weight: 500; }
}