.services {
  &__title-box { margin-bottom: 17px; display: flex; align-items: center; }
  &__title-icon { width: 13px; height: 20px; margin-right: 20px; }
  &__title { color: #000; font-size: 18px; line-height: 1.35; }

  &__item-box { margin: -4px; display: flex; flex-wrap: wrap; }
  &__item { position: relative; color: #fff; width: calc(50% - 8px); min-height: 130px; margin: 4px; border-radius: 7px; background-color: #D64356; background-size: auto; background-position: 80% 50%; background-repeat: no-repeat; display: flex; align-items: flex-end; }
  &__item-title { padding: 48px 15px 15px; font-size: 16px; line-height: 1.35; font-weight: 500; }
  &__item-icon-box { position: absolute; top: 12px; right: 12px; width: 28px; height: 28px; border-radius: 50%; background: #C63346; display: flex; }
  &__item-icon { width: 9px; height: 14px; margin: auto; }
}