section.bg.bg_ff.bg_z-index
  .r1.r_bg-e5
  .r60_adaptive
  .container
    h2.title.title__color-dark Мы аккредитованы десятью международными и локальными ведомствами
    .r50_adaptive
    .r50_adaptive
    .slider-departments
      .slider-departments__owl.owl-carousel
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l1.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l1.png", alt="")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l2.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l2.png", alt="")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l3.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l3.png", alt="")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l4.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l4.png", alt="")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l5.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l5.png", alt="")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l6.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l6.png", alt="")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l7.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l7.png", alt="")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l8.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l8.png", alt="")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l9.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l9.png", alt="")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="./dist/img/blocks/slider-departaments/l10.webp")
            img.slider-departments__item-img.lazy(src="./dist/img/blocks/mask.png" data-src="./dist/img/blocks/slider-departaments/l10.png", alt="")
      .slider-departments__dots.dots

  .r60_adaptive