.slider-departments_static {
  display: flex; flex-wrap: wrap; justify-content: space-between;

  .slider-departments__item { display: flex; justify-content: center; align-items: center; width: 100%; border: 1px solid #E8E8E8; padding: 25px; }
  .slider-departments__image { max-height: 72px; }
}

@media (min-width: screen-xxs-min) { .slider-departments_static .slider-departments__item { width: 50%; padding: 40px 45px; } }
@media (min-width: screen-sm-min) { .slider-departments_static .slider-departments__item { width: 25%; } }