.block1 {
  &_light &__head { color: #252B39; background: url('../img/blocks/gray-bg-squares-pattern.svg') top right/contain no-repeat; }
  &_light &__head:hover { color: #fff; background: url('../img/blocks/pattern-hover.svg') #CC4052 center right/contain no-repeat; }
}