.bg_right-side { background-position: right; background-repeat: no-repeat; background-size: contain; 
  &-auto-size { background-size: auto; }
  &-remove { background-image: none !important; }
  &-fullcenter { background-position-x: center; background-position-y: center; }
  &-top { background-position-y: top; }
}

//- использовать bg_remove-sm-min чтобы выключать изображение при разрешении < 770px
@media(min-width: screen-md-min) { .bg_right-side { background-size: auto; } }