.tabs_full-width {
  .tab { color: #262C3A; width: 50%; font-size: 16px; font-weight: 700; margin-right: 0; border-bottom: 1px solid #CC4052;
    &:not(:first-child) { padding-left: 30px; }
    &.tab_active { border-bottom: 4px solid #CC4052; color: #CC4052; } 
  }
}