.block1 {
  &__head-price-title { font-size: 16px; line-height: 19px; color: #E7B3B8; margin-bottom: 5px; }
  &__head-price-text { color: #FFFFFF; font-size: 23px; line-height: 27px; font-weight: 500; }
}