.bg_wave { background-size: 100%; }

@media (min-width: screen-xs-min) {
  .bg_wave { background-size: cover; background-repeat: no-repeat; background-image: url('/dist/img/blocks/bg/bg-wave.svg'); } }