extends ../layouts/default_landing

block variables
  - const title = "doing_in_dubai_offline";
  - page = "doing_in_dubai_offline";
  - burgerHide = true
  - footerOld = true

block content
  section.bg.bg_first-screen
    .container.bg.bg_right-side.bg_remove-sm-min.lazy(data-bg="/dist/img/blocks/first-screen/doing-dubai_offline.svg")
      .first-screen.first-screen_no-logo
        .first-screen__box
          .first-screen__content
            h1.first-screen__title Doing business in Dubai – 
              br.hide-tn.show-md-min 
              | Motivation Course
            p.first-screen__text The UAE economy provides a stable business environment for all types of 
              br.hide-tn.show-md-min 
              |  entrepreneurs. Explore how to save on taxes, get benefits of a modern banking, 
              br.hide-tn.show-md-min 
              | make lucrative investments and enhance your business internationally
            .first-screen__workshop-wrap
              label.first-screen__btn.btn.btn_radius5.btn_hover-red.btn_h55(for="modal2") Sign up for a seminar
              .first-screen__workshop-start
                img.first-screen__workshop-icon.lazy(data-src="/dist/img/blocks/first-screen/clocks.svg", alt="")
                p.first-screen__workshop-text workshop start: 
                  span 7 december at 18:00
  section.bg.bg_first-screen
    .first-screen-statistics
      .container
        .first-screen-statistics__box.first-screen-statistics_column
          .first-screen-statistics__item
            p.first-screen-statistics__number 3 hours
            p.first-screen-statistics__text duration of the training course
          .first-screen-statistics__item
            p.first-screen-statistics__number 5 courses
            p.first-screen-statistics__text in one program
          .first-screen-statistics__item
            p.first-screen-statistics__number 25 cases
            p.first-screen-statistics__text proven business solutions
          .first-screen-statistics__item
            p.first-screen-statistics__number 15 years
            p.first-screen-statistics__text of business experience
  section.bg.bg_wave
    .container
      .r60_adaptive
      h2.title Who Should Attend?
      .r30_adaptive
      p.description The UAE is a country of unique business opportunities. Preferential tax and government-guaranteed confidentiality can boost profits favourably with the right partner in place. SORP Group can support you with the tools you need to gain access to the most promising areas of activity, management, business solutions and doing business in the Emirates practically. We provide professional advice on boosting revenue and support businesses long-term with industry know-how, reliable partners and a sound business knowledge.
      .r50_adaptive
      .block41
        .block41__item
          .block41__head
            .block41__title Business owners and shareholders
            .block41__icon-wrap
              img.block41__icon.lazy(data-src="/dist/img/contour-only/white/person-lifesaver.svg", alt="")
          .block41__desc Ready made solutions for increasing <br class="hide-tn show-sm-min">profits and saving capital
        .block41__item
          .block41__head
            .block41__title Heads of <br class="hide-tn show-sm-min">corporates
            .block41__icon-wrap
              img.block41__icon.lazy(data-src="/dist/img/contour-only/white/tie.svg", alt="")
          .block41__desc Profitable investments and<br class="hide-tn show-sm-min"> seek-for funding
        .block41__item
          .block41__head
            .block41__title Private <br class="hide-tn show-sm-min">investors
            .block41__icon-wrap
              img.block41__icon.lazy(data-src="/dist/img/contour-only/white/coins.svg", alt="")
          .block41__desc  Extending networking and investment solutions.
        .block41__item
          .block41__head
            .block41__title Small and medium business owners
            .block41__icon-wrap
              img.block41__icon.lazy(data-src="/dist/img/contour-only/white/shopping-cart.svg", alt="")
          .block41__desc Tailor-made business <br class="hide-tn show-sm-min">solutions
        .block41__item
          .block41__head
            .block41__title International<br class="hide-tn show-sm-min"> companies
            .block41__icon-wrap
              img.block41__icon.lazy(data-src="/dist/img/contour-only/white/save-the-world.svg", alt="")
          .block41__desc Business ownership and <br class="hide-tn show-sm-min">tax optimization
        .block41__item
          .block41__head
            .block41__title Startups and new<br class="hide-tn show-sm-min"> businesses
            .block41__icon-wrap
              img.block41__icon.lazy(data-src="/dist/img/contour-only/white/growth.svg", alt="")
          .block41__desc Transparent set up, acceleration,<br class="hide-tn show-sm-min"> community networking
      .r60_adaptive
  section.bg.bg_red
    .r30
    .r5
    .container
      .feedback-block
        h3.feedback-block__text Learn about the benefits of doing business in the UAE with a personalised consultation 
        label.feedback-block__btn(for="modal2") Call a consultant
    .r30
    .r5
  section.bg.bg_fa
    .container
      .r60_adaptive
      h2.title What will you learn?
      .r50_adaptive
      .block57
        .block57__item
          .block57__icon-wrap
            img.block57__icon.lazy(data-src="/dist/img/contour-only/white/social-growth.svg", alt="")
          .block57__title The peculiarities of the UAE, main market features and target audiences
        .block57__item
          .block57__icon-wrap
            img.block57__icon.lazy(data-src="/dist/img/contour-only/white/hand-graph.svg", alt="")
          .block57__title The main advantages and perspectives of business conduction in the UAE
        .block57__item
          .block57__icon-wrap
            img.block57__icon.lazy(data-src="/dist/img/contour-only/white/todolist.svg", alt="")
          .block57__title First stages and common mistakes of business <br class="hide-tn show-sm-min">setup in the UAE
        .block57__item
          .block57__icon-wrap
            img.block57__icon.lazy(data-src="/dist/img/contour-only/white/save-the-world.svg", alt="")
          .block57__title The possibilities for entering the UAE market as an international business
        .block57__item
          .block57__icon-wrap
            img.block57__icon.lazy(data-src="/dist/img/contour-only/white/graph-tax.svg", alt="")
          .block57__title Tax planning tools for international business optimization
        .block57__item
          .block57__icon-wrap
            img.block57__icon.lazy(data-src="/dist/img/contour-only/white/golf.svg", alt="")
          .block57__title You will learn how to save money on registration and licensing of a business
      .r60_adaptive
    .r1.r_bg-e3
  section.bg.bg_fa
    .container
      .r60_adaptive
      h2.title Opportunities for students
      .r50_adaptive
      .block58
        .block58__row
          .block58__item.block58__item_image.lazy(data-bg="/dist/img/blocks/block58/1.jpg")
          .block58__item
            .block58__icon-wrap
              img.block58__icon.lazy(data-src="/dist/img/contour-only/white/three-people.svg", alt="")
            .block58__text-content
              .block58__title Networking
              .block58__description Know how to deal with<br class="hide-tn show-sm-min"> local community
        .block58__row.block58__row_reverse
          .block58__item
            .block58__icon-wrap
              img.block58__icon.lazy(data-src="/dist/img/contour-only/white/hand-graph.svg", alt="")
            .block58__text-content
              .block58__title Business development
              .block58__description  Start planning and business setup with tax and financial benefits of the UAE
          .block58__item.block58__item_image.lazy(data-bg="/dist/img/blocks/block58/2.jpg")
        .block58__row
          .block58__item.block58__item_image.lazy(data-bg="/dist/img/blocks/block58/3.jpg")
          .block58__item
            .block58__icon-wrap
              img.block58__icon.lazy(data-src="/dist/img/contour-only/white/growth.svg", alt="")
            .block58__text-content
              .block58__title New knowledge
              .block58__description Enter the new market being fully prepared and equipped with proper understanding in how to do business in the UAE
      
      .r50_adaptive
      label.btn.btn_white.btn_space-between.btn_center(for="modal2") Sign up for a seminar
        svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 128 128')
          use(xlink:href='#btn__icon-modal')
      .r60_adaptive
    .r1.r_bg-e3
  section.bg.bg_fa
    .container
      .r60_adaptive
      h2.title Workshop program
      .r50_adaptive
      .block35.block35_width3.block35_workshop
        .block35__item
          .block35__head
            h3.block35__title Introduction to the new economy of the UAE and Dubai in particular
            .block35__icon-wrap.block35__icon-wrap_circle
              p.block35__icon-char 1
          .block35__description_workshop
            img.block35__description-image.lazy(data-src="/dist/img/blocks/block35/_workshop/duration-clock.svg" alt="")
            p.block35__description-duration 20 minutes
          .r20
          .r1.r_bg-e3
          .block35__main
            .block35__content
              ul.list
                li.list__item The history of the emerging economy in Dubai
                li.list__item The peculiarities of the Emirates, main market features and target audiences
                li.list__item Geolocation and development plans of the UAE<br><br>
        .block35__item
          .block35__head
            h3.block35__title Business perspectives in the UAE <br><br>
            .block35__icon-wrap.block35__icon-wrap_circle
              p.block35__icon-char 2
          .block35__description_workshop
            img.block35__description-image.lazy(data-src="/dist/img/blocks/block35/_workshop/duration-clock.svg" alt="")
            p.block35__description-duration 45 minutes
          .r20
          .r1.r_bg-e3
          .block35__main.block35__main_wave-ltr 
            .block35__content
              ul.list
                li.list__item The main advantages of business conduction in the UAE and main features of the local jurisdiction
                li.list__item The main areas of interest for investors in the UAE
                li.list__item The possibilities of growing a business in the UAE
        .block35__item
          .block35__head
            h3.block35__title First stages of business setup in the UAE <br><br>
            .block35__icon-wrap.block35__icon-wrap_circle
              p.block35__icon-char 3
          .block35__description_workshop
            img.block35__description-image.lazy(data-src="/dist/img/blocks/block35/_workshop/duration-clock.svg" alt="")
            p.block35__description-duration 45 minutes
          .r20
          .r1.r_bg-e3
          .block35__main
            .block35__content
              ul.list
                li.list__item Main aspects of business setup in the UAE
                li.list__item Main features of licensing and certification in the UAE
                li.list__item Common mistakes of investors when setting up a business in the UAE<br><br>
      
        .block35__item
          .block35__head
            h3.block35__title Introduction to the new economy of the UAE and Dubai in particular
            .block35__icon-wrap.block35__icon-wrap_circle
              p.block35__icon-char 4
          .block35__description_workshop
            img.block35__description-image.lazy(data-src="/dist/img/blocks/block35/_workshop/duration-clock.svg" alt="")
            p.block35__description-duration 30 minutes
          .r20
          .r1.r_bg-e3
          .block35__main
            .block35__content
              ul.list
                li.list__item Top 5 business segments for considering entry to the local market
                li.list__item Developing strategies, confirming hypotheses and optimal business-model
                li.list__item Company setup in the UAE for conducting international business<br><br>
        .block35__item
          .block35__head
            h3.block35__title The UAE<br> legislation <br><br>
            .block35__icon-wrap.block35__icon-wrap_circle
              p.block35__icon-char 5
          .block35__description_workshop
            img.block35__description-image.lazy(data-src="/dist/img/blocks/block35/_workshop/duration-clock.svg" alt="")
            p.block35__description-duration 30 minutes
          .r20
          .r1.r_bg-e3
          .block35__main.block35__main_wave-ltr 
            .block35__content              
              ul.list
                li.list__item Provision for conducting a business at international markets and the optimization of international business
                li.list__item The main areas of interest for investors in the UAE
                li.list__item The possibilities of growing a business in the UAE
        .block35__item
          .block35__head
            h3.block35__title About SORP Group of Companies <br><br>
            .block35__icon-wrap.block35__icon-wrap_circle
              p.block35__icon-char 6
          .block35__description_workshop
            img.block35__description-image.lazy(data-src="/dist/img/blocks/block35/_workshop/duration-clock.svg" alt="")
            p.block35__description-duration 10 minutes
          .r20
          .r1.r_bg-e3
          .block35__main
            .block35__content
              ul.list
                li.list__item Unique complex solutions for your business
      .r60_adaptive
    .r1.r_bg-e3
    
  section
    .r60_adaptive
    .container
      .about-company
        .about-company__left
          .borderline.borderline_quote.borderline_EA
            .about-company__content
              p.about-company__text(style="font-style: normal;") Мы подготовили 4-х дневную программу. Она позволит не только дополнить и расширить модуль студентов на базе прослушивания профильных курсов по бизнесу в ОАЭ, но и обеспечит возможность нетворкинга. 
                br
                br
                | Кроме того, Ваши студенты смогут получить практическую информацию и обменяться опытом при посещении различных объектов Дубая, а также комфортно провести свободное время и принять участие в культурно-деловых экскурсиях.
            .borderline__quote.borderline__quote_top.lazy(data-bg="/dist/img/blocks/borderline/quotes-EA.svg")
            .borderline__quote.borderline__quote_bottom.lazy(data-bg="/dist/img/blocks/borderline/quotes-EA.svg")

        .about-company__right
          .about-company__img-box.about-company__img-box_gray
            //-.about-company__play
              .about-company__play-icon
            .about-company__duration 2:20
            picture            
              source(type="image/jpeg", data-srcset="/dist/img/pages/doing_in_dubai_offline/about-company/about-video.jpg, /dist/img/pages/doing_in_dubai_offline/about-company/about-video_2x.jpg 2x")
              img.about-company__img.lazy(src="/dist/img/blocks/mask.png" data-src="/dist/img/pages/doing_in_dubai_offline/about-company/about-video.jpg", alt="4-х дневная программа")
    .r60_adaptive  

  section.bg.bg_red
    .r30
    .r5
    .container
      .feedback-block
        h3.feedback-block__text Get a bespoke analysis on the prospects for your business in the UAE.
        label.feedback-block__btn(for="modal2") Call a consultant
    .r30
    .r5
  
  section#about-teachers.bg.bg_fa.bg_right-side.bg_right-side-top.bg_remove-sm-min.lazy(data-bg="/dist/img/blocks/arc-lines.svg")
    .container
      .r60_adaptive
      h2.title About the workshop teachers
      .r50_adaptive
      .experts-about.experts-about_width2
        .experts-about__item
          img.experts-about__image.lazy(data-src="/dist/img/blocks/experts/about/perlin.png" alt="Maxim Perlin")
          h3.experts-about__name Maxim Perlin
          p.experts-about__position-title Director, SORP Business school
          p.experts-about__description Entrepreneur, expert and leading trainer in Startup, Admarket, Module Bank, Rostec, Beeline, GVA, Rostelecom. Mentor of several startups, Director of a marketing course in Netology.
        .experts-about__item
          img.experts-about__image.lazy(data-src="/dist/img/blocks/experts/about/elena.png" alt="Elena Tselishcheva")
          .experts-about__name Elena Tselishcheva
          .experts-about__position-title Managing Partner, Sorp
          .experts-about__description Managing partner of SORP Group and practicing corporate lawyer, Elena has built her expertise in building and managing international business over a 20-year career. She is an established leading business consultant, holistic business mentor and coach.
            br
            br
            | From setting up her own due diligence and marketing research agency, Elena grew the enterprise and eventually sold it to a Russian bank. She then owned and managed a project management company with expertise in 20 economy sectors and the European Bankers Trust, operating in 5 jurisdictions. 
            br
            br
            | She developed the successful mentoring methodology and practices combines business psychology with leadership development strategy using global best practices and trends in localization. Now she is an acknowledged exponent of business scaling and rapid acceleration in the UAE.

      .r60_adaptive
    .r1.r_bg-e3

  section.bg.bg_f9
    .container
      .r60_adaptive
      .modal.modal_block
        label.modal__close
        .modal__content
          .modal__left.form-block
            h2.modal__title.modal__title_right Sign up for a course or get a free consultation
            .modal__text-block 
              div(style="display: flex;")
                img.modal__text-icon.lazy(data-src="/dist/img/blocks/duration-clock.svg" alt="")
                p.modal__text.modal__text_bold 7 december at 18:00 
              p.modal__text Remaining: 
                span.modal__text_bold 15 places             
            .r60_adaptive
            <form class="modal__form" method="post">
            input.callOrderReason(type='hidden' name='reason' value='')
            <input class="page" type='hidden' name='pageurl' value='{$_modx->config.site_url}{$_modx->makeUrl($_modx->resource.id)}'>
            <input type="hidden" name="pagetitle" value='{$_modx->resource['pagetitle']}'>
            <input type="hidden" name="pageid" value="{$_modx->resource.id}" />

            input.site-message(type='text' name='name' value='')
            input.site-message(type='text' name='firstname' value='')
            input.site-message(type='text' name='lastname' value='')
            .form-block__item
              label.form-block__label
                +lang(
                'Ваше имя',
                'Name:'
                )
              input.form-block__input(type='text' name='fio' value='' required)
            .form-block__item
              label.form-block__label
                +lang(
                'Телефон',
                'Telephone:'
                )
              input.form-block__input(type='tel' name='phone' value='' required)
            .form-block__item
              label.form-block__label
                +lang(
                'Электронная почта',
                'E-mail:'
                )
              input.form-block__input(type='email' name='email' value='')
            .form-block__item
              button.btn.btn_radius5.btn_w100.btn_hover-red(type='submit')
                +lang(
                'Оставить заявку',
                'Apply for a course'
                )
            //-.form-block__confid Поля, отмеченные символом * обязательны для заполнения
            </form>
          .modal__right.modal__background.lazy(data-bg="/dist/img/pages/doing_in_dubai_offline/about-company/rocket.svg")
            .modal__title.modal__title_right Cost of education
            .r30
            h3.title.title_color-black.title_font-w400.title_font-s38 $500
            .r10
            .r5
            .modal__text
              p.modal__text-p 3 hours duration of the training course
            
      .r60_adaptive 
    .r1.r_bg-e3
  section
    .container.bg.bg_lightning
      .r60_adaptive
      h2.title How are our events
      .r60_adaptive
      .block41.block41_column-direction.block41_accent-red
        .block41__item
          .block41__head
            .block41__title Seminar from an experienced lecturer
            .block41__icon-wrap
              img.block41__icon.lazy(data-src="/dist/img/contour-only/white/verified-person.svg", alt="")
          .block41__desc Вы получите актуальные знания от мастеров своего дела, которые получили знания на своем многолетнем опыте ведения бизнеса
        .block41__item
          .block41__head
            .block41__title Coffee breaks and exchange of experience with event participants
            .block41__icon-wrap
              img.block41__icon.lazy(data-src="/dist/img/contour-only/white/three-people.svg", alt="")
          .block41__desc Вы сможете знакомиться и общаться с другими студентами, совместно выполнять задания и готовить проекты
        .block41__item
          .block41__head
            .block41__title Communication with the speaker and short consultations
            .block41__icon-wrap
              img.block41__icon.lazy(data-src="/dist/img/contour-only/white/communication.svg", alt="")
          .block41__desc Общение с преподавателями и другими студентами — быстрые ответы на вопросы и обмен опытом.
      .r50_adaptive 
      style
        | .image-block { background-repeat: no-repeat; height: 270px; background-size: cover; background-position-y: center; border-radius: 2px; } 
      .image-block.lazy(data-bg="/dist/img/pages/doing_in_dubai_offline/about-company/people-photo.jpg" alt="")
      .r60_adaptive 

    .container
      h2.title Where will the seminar take place?
      .r50_adaptive
      .block36
        .block36__item          
          svg.block36__icon(width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M40 17C40 30.604 25 48 25 48C25 48 10 30.928 10 17C10 8.715 16.715 2 25 2C33.284 2 40 8.715 40 17Z' stroke='#D3D3D3' stroke-width='1.7647' stroke-miterlimit='10' stroke-linejoin='round')
            path(d='M25 24C28.3137 24 31 21.3137 31 18C31 14.6863 28.3137 12 25 12C21.6863 12 19 14.6863 19 18C19 21.3137 21.6863 24 25 24Z' stroke='#D3D3D3' stroke-width='1.7647' stroke-miterlimit='10' stroke-linejoin='round')
          .block36__content
            .block36__title Barsha Heights 
              span (TECOM)
            .block36__description Tameem House Building, Dubai
        .block36__item          
          svg.block36__icon(width='49' height='50' viewBox='0 0 49 50' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M47.4576 46.75H43.8326V32.25C45.2996 31.9505 46.6031 31.1171 47.4905 29.9111C48.3779 28.7052 48.7859 27.2128 48.6354 25.7231C48.4849 24.2335 47.7867 22.8528 46.676 21.8487C45.5654 20.8446 44.1215 20.2887 42.6243 20.2887C41.1271 20.2887 39.6832 20.8446 38.5726 21.8487C37.462 22.8528 36.7637 24.2335 36.6132 25.7231C36.4628 27.2128 36.8707 28.7052 37.7581 29.9111C38.6455 31.1171 39.949 31.9505 41.416 32.25V46.75H31.7493V2.04164C31.7615 1.77511 31.6852 1.51203 31.5321 1.29345C31.3791 1.07487 31.1581 0.913073 30.9035 0.833308C30.6581 0.759743 30.396 0.764431 30.1535 0.846721C29.9109 0.92901 29.7001 1.08481 29.5501 1.29247C27.7289 3.95092 25.4354 6.25264 22.7835 8.08331C19.6324 9.01009 16.3922 9.60143 13.1168 9.84748C11.563 10.0759 10.145 10.8611 9.12698 12.057C8.10892 13.2529 7.56009 14.7779 7.58264 16.3483V17.75H3.95764C2.99623 17.75 2.0742 18.1319 1.39438 18.8117C0.71456 19.4915 0.332642 20.4136 0.332642 21.375V47.9583C0.332642 48.2788 0.459948 48.5861 0.686554 48.8127C0.913161 49.0393 1.2205 49.1666 1.54097 49.1666H47.4576C47.7781 49.1666 48.0855 49.0393 48.3121 48.8127C48.5387 48.5861 48.666 48.2788 48.666 47.9583C48.666 47.6378 48.5387 47.3305 48.3121 47.1039C48.0855 46.8773 47.7781 46.75 47.4576 46.75ZM38.9993 26.2083C38.9993 25.4914 39.2119 24.7905 39.6102 24.1944C40.0086 23.5982 40.5747 23.1336 41.2371 22.8592C41.8995 22.5849 42.6283 22.5131 43.3315 22.653C44.0347 22.7928 44.6806 23.1381 45.1876 23.645C45.6945 24.152 46.0398 24.7979 46.1797 25.5011C46.3195 26.2043 46.2477 26.9332 45.9734 27.5955C45.699 28.2579 45.2344 28.8241 44.6383 29.2224C44.0421 29.6207 43.3413 29.8333 42.6243 29.8333C41.6629 29.8333 40.7409 29.4514 40.0611 28.7716C39.3812 28.0918 38.9993 27.1697 38.9993 26.2083ZM9.99931 46.75V39.5H14.8326V46.75H9.99931ZM17.2493 46.75V38.2916C17.2493 37.9712 17.122 37.6638 16.8954 37.4372C16.6688 37.2106 16.3614 37.0833 16.041 37.0833H8.79098C8.47051 37.0833 8.16316 37.2106 7.93655 37.4372C7.70995 37.6638 7.58264 37.9712 7.58264 38.2916V46.75H2.74931V21.375C2.74931 21.0545 2.87661 20.7472 3.10322 20.5206C3.32983 20.2939 3.63717 20.1666 3.95764 20.1666H20.8743C21.1948 20.1666 21.5021 20.2939 21.7287 20.5206C21.9553 20.7472 22.0826 21.0545 22.0826 21.375V46.75H17.2493ZM24.4993 46.75V21.375C24.4993 20.4136 24.1174 19.4915 23.4376 18.8117C22.7578 18.1319 21.8357 17.75 20.8743 17.75H9.99931V16.3483C9.99209 15.3694 10.3452 14.4221 10.9914 13.6867C11.6376 12.9514 12.5318 12.4794 13.5035 12.3608C16.9906 12.1655 20.4403 11.5405 23.7743 10.5C25.9162 9.25511 27.8024 7.61497 29.3326 5.66664V46.75H24.4993Z' fill='#D3D3D3')
            path(d='M16.041 27.4166H8.79097C8.4705 27.4166 8.16316 27.5439 7.93655 27.7705C7.70995 27.9971 7.58264 28.3045 7.58264 28.625C7.58264 28.9454 7.70995 29.2528 7.93655 29.4794C8.16316 29.706 8.4705 29.8333 8.79097 29.8333H16.041C16.3614 29.8333 16.6688 29.706 16.8954 29.4794C17.122 29.2528 17.2493 28.9454 17.2493 28.625C17.2493 28.3045 17.122 27.9971 16.8954 27.7705C16.6688 27.5439 16.3614 27.4166 16.041 27.4166Z' fill='#D3D3D3')
          .block36__content
            .block36__title SORP Business Center
            .block36__description Prime business location
        .block36__item          
          svg.block36__icon(width='48' height='50' viewBox='0 0 48 50' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M30.0873 13C30.0873 13.552 29.667 14 29.147 14H17.8637C17.3447 14 16.9234 13.552 16.9234 13V11C16.9234 10.448 17.3447 10 17.8637 10H29.147C29.667 10 30.0873 10.448 30.0873 11V13Z' stroke='#D3D3D3' stroke-width='2' stroke-miterlimit='10')
            path(d='M7.12294 49L12.5474 44.166' stroke='#D3D3D3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M39.8878 49L34.4633 44.166' stroke='#D3D3D3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M26.3572 4H20.8002M15.9747 4H14.1026C10.9884 4 8.46095 6.56 8.46095 9.714V38.286C8.46095 41.44 10.9884 44 14.1026 44H32.9081C36.0223 44 38.5498 41.44 38.5498 38.286V9.714C38.5498 6.56 36.0223 4 32.9081 4H31.0915H15.9747Z' stroke='#D3D3D3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M28.6769 6C29.9751 6 31.0276 4.88071 31.0276 3.5C31.0276 2.11929 29.9751 1 28.6769 1C27.3786 1 26.3262 2.11929 26.3262 3.5C26.3262 4.88071 27.3786 6 28.6769 6Z' stroke='#D3D3D3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M18.3338 6C19.6321 6 20.6845 4.88071 20.6845 3.5C20.6845 2.11929 19.6321 1 18.3338 1C17.0356 1 15.9832 2.11929 15.9832 3.5C15.9832 4.88071 17.0356 6 18.3338 6Z' stroke='#D3D3D3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M12.2221 15.833C12.2221 14.821 13.0645 14 14.1026 14H32.9081C33.9462 14 34.7887 14.821 34.7887 15.833V24.166C34.7887 25.178 33.9462 26 32.9081 26H14.1026C13.0645 26 12.2221 25.178 12.2221 24.166V15.833Z' stroke='#D3D3D3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M15.0429 39C16.6008 39 17.8637 37.6569 17.8637 36C17.8637 34.3431 16.6008 33 15.0429 33C13.485 33 12.2221 34.3431 12.2221 36C12.2221 37.6569 13.485 39 15.0429 39Z' stroke='#D3D3D3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
            path(d='M31.9678 39C33.5257 39 34.7887 37.6569 34.7887 36C34.7887 34.3431 33.5257 33 31.9678 33C30.4099 33 29.147 34.3431 29.147 36C29.147 37.6569 30.4099 39 31.9678 39Z' stroke='#D3D3D3' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
          .block36__content
            .block36__title Metro Dubai Internet City
            .block36__description 5 minutes from

      .r50_adaptive
      label.btn.btn_white.btn_space-between.btn_center(for="modal2") Sign up for a seminar
        svg.btn__icon-svg(xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 128 128')
          use(xlink:href='#btn__icon-modal')
      .r60_adaptive
    .r1.r_bg-e3
    .r60_adaptive
    .container
      h2.title Event partners
      .r50_adaptive
      .slider-departments.slider-departments_static
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="/dist/img/pages/doing_in_dubai_offline/about-company/1.webp")
            img.slider-departments__image.lazy(data-src="/dist/img/pages/doing_in_dubai_offline/about-company/1.png" alt="SORP Business School")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="/dist/img/pages/doing_in_dubai_offline/about-company/2.webp")
            img.slider-departments__image.lazy(data-src="/dist/img/pages/doing_in_dubai_offline/about-company/2.png" alt="Keinan")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="/dist/img/pages/doing_in_dubai_offline/about-company/3.webp")
            img.slider-departments__image.lazy(data-src="/dist/img/pages/doing_in_dubai_offline/about-company/3.png" alt="Dubai Knowledge")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="/dist/img/pages/doing_in_dubai_offline/about-company/4.webp")
            img.slider-departments__image.lazy(data-src="/dist/img/pages/doing_in_dubai_offline/about-company/4.png" alt="Dubai Economy")
        .slider-departments__item
          picture
            source(type="image/webp", data-srcset="/dist/img/pages/doing_in_dubai_offline/about-company/5.webp")
            img.slider-departments__image.lazy(data-src="/dist/img/pages/doing_in_dubai_offline/about-company/5.png" alt="SORP Business Center")
    .r60_adaptive
    
    #map
    iframe(title="Google Map" src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84142.93801242771!2d55.11920432886234!3d25.109796720172486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b5b5b3fffff%3A0xbe5aa9347ed5d5e1!2sSORP%20Business%20Centre!5e0!3m2!1sru!2sru!4v1580725392796!5m2!1sru!2sru', width='100%', height='450', frameborder='0', style='border:0;', allowfullscreen='')