extends ../layouts/default

block variables
  - const title = "expert_articles";
  - page = "expert_articles";

block content
  section.bg_first-screen.bg.bg_right-side.lazy(data-bg="/dist/img/blocks/bg/graph-screen.svg", style="background-color: #[[*link_attributes]];")
    .container
      .first-screen.first-screen_no-logo
        .first-screen__box
          .first-screen__content
            h1.first-screen__title Центр 
              br.show-sm-min
              | бизнес-экспертизы
            p.first-screen__text
              | Ведение бизнеса в ОАЭ и выход на международный рынок требует глубокого понимания 
              br.hide-tn.show-md-min 
              | устоявшихся в стране бизнес-традиций и особенностей местного законодательства — мы 
              br.hide-tn.show-md-min 
              | делимся 15 летним опытом успешной работы 
  
  section.bg.bg_right-side.bg_right-side-auto-size.bg_remove-sm-min.lazy(data-bg="/dist/img/blocks/bg/globe-dotted.png")
    .container
      .flex.flex_space-between.flex_width2
        .flex__item.border-right
          .r60_adaptive
          h2.title.title_font-w500.title_color-black.title_font-s32 Задайте свой вопрос нашей 
            br.hide-tn.show-md-min 
            | экспертной группе и получите 
            br.hide-tn.show-md-min 
            | подробный ответ
          .r20
          .r5
          p.description.description_font-s16.description_dark Выбор надежной консалтинговой компании — это ключ к успеху 
            br.hide-tn.show-md-min 
            | для любого бизнеса. Все наши экспертные исследования 
            br.hide-tn.show-md-min 
            | формируются на основании ваших запросов и благодаря им мы 
            br.hide-tn.show-md-min 
            | помогаем сотням компаниям вести успешный бизнес во всем мире.        
          .r60_adaptive
          .r10
        .flex__item.flex__item_align-self-end.flex__item_width2
          label.btn.btn_white.btn_radius5.btn_font-s18(for="modal1")
            | Задать вопрос
          .r60_adaptive
          .r10
    .r1.r_bg-e3
  
  section.bg.bg_f9
    .container
      .r60_adaptive
      h2.title Актуальное
      .r50_adaptive
      .block54.block54-slider
        .block54__item
          .block54__head
            p.block54__head-title
              | Открытие бизнеса
          .r1.r_bg-e3
          .block54__content
            .block54__icon-wrap
              img.block54__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
            .block54__text
              h3.block54__title Сколько стоит открыть бизнес в Дубае?
              p.block54__description На стартовом этапе организации компании в ОАЭ необходимо сформировать портрет целевой аудитории, на которую вы ориентируетесь.
        .block54__item
          .block54__head
            p.block54__head-title 
              | Лицензирование
          .r1.r_bg-e3
          .block54__content
            .block54__icon-wrap
              img.block54__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
            .block54__text
              h3.block54__title Профессиональная лицензия в 
                br.hide-sm-min
                | ОАЭ
              p.block54__description На стартовом этапе организации компании в ОАЭ необходимо сформировать портрет целевой аудитории, на которую вы ориентируетесь.        
        .block54__item
          .block54__head
            p.block54__head-title 
              | Открытие бизнеса
          .r1.r_bg-e3
          .block54__content
            .block54__icon-wrap
              img.block54__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
            .block54__text
              h3.block54__title Сколько стоит открыть бизнес в Дубае?
              p.block54__description На стартовом этапе организации компании в ОАЭ необходимо сформировать портрет целевой аудитории, на которую вы ориентируетесь.
      
        .block54__item
          .block54__head
            p.block54__head-title 
              | Лицензирование
          .r1.r_bg-e3
          .block54__content
            .block54__icon-wrap
              img.block54__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
            .block54__text
              h3.block54__title Профессиональная лицензия в 
                br.hide-sm-min
                | ОАЭ
              p.block54__description На стартовом этапе организации компании в ОАЭ необходимо сформировать портрет целевой аудитории, на которую вы ориентируетесь.
        .block54__item
          .block54__head
            p.block54__head-title 
              | Открытие бизнеса
          .r1.r_bg-e3
          .block54__content
            .block54__icon-wrap
              img.block54__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
            .block54__text
              h3.block54__title Сколько стоит открыть бизнес в Дубае?
              p.block54__description На стартовом этапе организации компании в ОАЭ необходимо сформировать портрет целевой аудитории, на которую вы ориентируетесь.
        .block54__item
          .block54__head
            p.block54__head-title 
              | Открытие бизнеса
          .r1.r_bg-e3
          .block54__content
            .block54__icon-wrap
              img.block54__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
            .block54__text
              h3.block54__title Сколько стоит открыть бизнес в Дубае?
              p.block54__description На стартовом этапе организации компании в ОАЭ необходимо сформировать портрет целевой аудитории, на которую вы ориентируетесь.                
      .r60_adaptive
    .r1.r_bg-e3

  section.bg_fa
    .container
      .r60_adaptive
      h2.title Экспертные решения
      .r50_adaptive
      .tabs
        ul.tabs__head
          li.tab.tab_active открытие бизнеса
          li.tab общие вопросы
          li.tab иммиграция
          li.tab разборы
          li.tab оптимизация
          li.tab кризисные ситуации
        .tabs__content-wrap
          .tab__content.tab_active
            .block55.block55_width3
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Открытие бизнеса
                .block55__content
                  h3.block55__title 8 шагов к регистрации бизнеса в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Открытие бизнеса
                .block55__content
                  h3.block55__title Льготные виды деятельности в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Поддержка бизнеса
                .block55__content
                  h3.block55__title Товары высокого спроса в Арабских Эмиратах
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Поддержка бизнеса
                .block55__content
                  h3.block55__title Льготные виды деятельности в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Поддержка бизнеса
                .block55__content
                  h3.block55__title 8 шагов к регистрации бизнеса в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Поддержка бизнеса
                .block55__content
                  h3.block55__title Товары высокого спроса в Арабских Эмиратах
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса

              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Открытие бизнеса
                .block55__content
                  h3.block55__title 8 шагов к регистрации бизнеса в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Открытие бизнеса
                .block55__content
                  h3.block55__title Льготные виды деятельности в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Поддержка бизнеса
                .block55__content
                  h3.block55__title Товары высокого спроса в Арабских Эмиратах
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
            .r60_adaptive
            .pages#navigation
              .pages__button.pages_current 1
              .pages__button 2
          .tab__content
            .block55.block55_width3
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Открытие бизнеса
                .block55__content
                  h3.block55__title 8 шагов к регистрации бизнеса в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
          .tab__content
            h3 po32krp3mr
          .tab__content
            h3 241241124 тест
          .tab__content
            .block55.block55_width3
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Открытие бизнеса
                .block55__content
                  h3.block55__title 8 шагов к регистрации бизнеса в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Открытие бизнеса
                .block55__content
                  h3.block55__title Если что это пятая страница
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Поддержка бизнеса
                .block55__content
                  h3.block55__title Товары высокого спроса в Арабских Эмиратах
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
          .tab__content
            .block55.block55_width3
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Открытие бизнеса
                .block55__content
                  h3.block55__title 8 шагов к регистрации бизнеса в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Открытие бизнеса
                .block55__content
                  h3.block55__title Льготные виды деятельности в ОАЭ
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
              .block55__item
                .block55__background.lazy(data-bg="/dist/img/blocks/block55/hover-bg.svg")
                .block55__head
                  .block55__icon-wrap
                    img.block55__icon.lazy(data-src="/dist/img/blocks/block54/logo.svg", alt="SORP")
                  p.block55__head-text Поддержка бизнеса
                .block55__content
                  h3.block55__title Товары высокого спроса в Арабских Эмиратах
                  p.block55__description Прочитав эту статью до конца вы поймёте, как поддержка профессионалов экономит инвестору время на старте бизнеса
      .r60_adaptive
    .r1.r_bg-e3
  
  section
    .container
      .r60_adaptive
      h2.title Наши эксперты
      .r50_adaptive
      .slider-people
        .slider-people__slide
          .experts__item
            img.experts__image.lazy(data-src="/dist/img/blocks/experts/mikhailov-alex.png", alt="Фото эксперта")
            .experts__info
              .experts__name Михайлов Александр <br class="hide-tn show-md-min">Иванович
              .experts__position управляющий партнер sorp group          
        .slider-people__slide
          .experts__item
            img.experts__image.lazy(data-src="/dist/img/blocks/experts/antonina.png", alt="Фото эксперта")
            .experts__info
              .experts__name Олеговна Антонина <br class="hide-tn show-md-min">Владимировна
              .experts__position управляющий партнер sorp group
        .slider-people__slide
          .experts__item
            img.experts__image.lazy(data-src="/dist/img/blocks/experts/alexandra.png", alt="Фото эксперта")
            .experts__info 
              .experts__name Михайлова Александра <br class="hide-tn show-md-min">Ивановна 
              .experts__position управляющий партнер sorp group
        .slider-people__slide
          .experts__item
            img.experts__image.lazy(data-src="/dist/img/blocks/experts/mikhailov-alex.png", alt="Фото эксперта")
            .experts__info
              .experts__name Михайлов Александр <br class="hide-tn show-md-min">Иванович 
              .experts__position управляющий партнер sorp group          
        .slider-people__slide
          .experts__item
            img.experts__image.lazy(data-src="/dist/img/blocks/experts/antonina.png", alt="Фото эксперта")
            .experts__info  
              .experts__name Олеговна Антонина <br class="hide-tn show-md-min">Владимировна 
              .experts__position управляющий партнер sorp group
        .slider-people__slide
          .experts__item
            img.experts__image.lazy(data-src="/dist/img/blocks/experts/alexandra.png", alt="Фото эксперта")
            .experts__info 
              .experts__name Михайлова Александра <br class="hide-tn show-md-min">Ивановна
              .experts__position управляющий партнер sorp group
        .slider-people__slide
          .experts__item
            img.experts__image.lazy(data-src="/dist/img/blocks/experts/alexandra.png", alt="Фото эксперта")
            .experts__info 
              .experts__name Михайлова Александра <br class="hide-tn show-md-min">Ивановна
              .experts__position управляющий партнер sorp group
      .r60_adaptive

  section.bg.bg_eb
    .r30
    .r5
    .container
      .feedback-block.feedback-block_dark
        h3.feedback-block__text Узнайте о преимуществах организации бизнеса в ОАЭ, заказав бесплатную консультацию специалиста
        label.feedback-block__btn.feedback-block__btn_dark.feedback-block__btn_red(for="modal1") Получить решение
    .r30
    .r5

  section.bg_fa
    .container
      .r60_adaptive
      h2.title Видеоматериалы
      .r50_adaptive
      .block17
        .block17__item
          .block17__video
            p.block17__duration 2:20
            img.block17__thumbnail.lazy(data-src="/dist/img/blocks/media/thumbnails/1.jpg", alt="", loading="lazy")
          .block17__info
            h3.block17__title Что такое платформа SORP Group?
            p.block17__description Выбор надежной консалтинговой компании — это ключ к успеху становления и ведения Вашего бизнеса
        .block17__item
          .block17__video
            p.block17__duration 1:54
            img.block17__thumbnail.lazy(data-src="/dist/img/blocks/media/thumbnails/2.jpg", alt="", loading="lazy")
          .block17__info
            h3.block17__title Комфортабельный бизнес-центр в Дубае
            p.block17__description Выбор надежной консалтинговой компании — это ключ к успеху становления и ведения Вашего бизнеса
        .block17__item
          .block17__video
            p.block17__duration 1:20
            img.block17__thumbnail.lazy(data-src="/dist/img/blocks/media/thumbnails/3.jpg", alt="", loading="lazy")
          .block17__info
            h3.block17__title Бизнес-школа 
              br.show-sm-min
              | SORP
            p.block17__description SORP — образовательная платформа нового поколения, объединяющая академические знания, опыт и уникальный нетворкинг
      
      .r60_adaptive
    .r1.r_bg-e3

  section
    .container
      .r60_adaptive
      h2.title 6 ключевых направлений деятельности в которых мы являемся экспертами
      .r50_adaptive
      .tabs
        ul.tabs__head
          li.tab.tab_active открытие бизнеса
          li.tab регистрация
          li.tab бизнес-центр
          li.tab поддержка
          li.tab оптимизация
          li.tab налоговое планирование
        .tabs__content-wrap
          .tab__content.tab_active
            .flex.flex_width2.flex_space-between
              .flex__item.flex__item_width4
                h3.title.title_font-s26.title_color-black Открытие бизнеса в ОАЭ
                .r20
                p.description.description_dark.description_font-s16
                  | Объединенные Арабские Эмираты чрезвычайно динамичны. Бизнес-решения здесь принимаются мгновенно. Даже малейшее промедление может привести к тому, что рыночная ниша заполнится более активным и уверенным в себе инвестором. Поэтому, если у вас есть выигрышная бизнес-идея – не стоит медлить: срочно выводите её на рынок!
                  br
                  br
                  | Зачастую бизнесмены принимают выжидательную позицию, пытаясь разобраться в законодательных, рыночных и мультикультурных особенностях ОАЭ, чтобы реально оценить, во сколько обойдется открытие нового бизнеса или релокация существующего? Или какой начальный капитал потребуется для реализации стартапа?
              .flex__item.flex__item_align-self-end.flex__item_width1.hide-xxs-min.show-md-min
                svg(width="183", height="205", viewBox="0 0 183 205", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M65.8024 30.75H35.4321C34.0896 30.75 32.8021 31.29 31.8529 32.2511C30.9036 33.2122 30.3703 34.5158 30.3703 35.875C30.3703 37.2343 30.9036 38.5378 31.8529 39.4989C32.8021 40.4601 34.0896 41 35.4321 41H65.8024C67.1449 41 68.4324 40.4601 69.3816 39.4989C70.3309 38.5378 70.8642 37.2343 70.8642 35.875C70.8642 34.5158 70.3309 33.2122 69.3816 32.2511C68.4324 31.29 67.1449 30.75 65.8024 30.75Z" fill="#EBECEF")
                  path(d="M65.8024 61.5H35.4321C34.0896 61.5 32.8021 62.04 31.8529 63.0011C30.9036 63.9622 30.3703 65.2658 30.3703 66.625C30.3703 67.9843 30.9036 69.2878 31.8529 70.249C32.8021 71.2101 34.0896 71.75 35.4321 71.75H65.8024C67.1449 71.75 68.4324 71.2101 69.3816 70.249C70.3309 69.2878 70.8642 67.9843 70.8642 66.625C70.8642 65.2658 70.3309 63.9622 69.3816 63.0011C68.4324 62.04 67.1449 61.5 65.8024 61.5Z" fill="#EBECEF")
                  path(d="M65.8024 92.25H35.4321C34.0896 92.25 32.8021 92.7899 31.8529 93.751C30.9036 94.7122 30.3703 96.0157 30.3703 97.375C30.3703 98.7342 30.9036 100.038 31.8529 100.999C32.8021 101.96 34.0896 102.5 35.4321 102.5H65.8024C67.1449 102.5 68.4324 101.96 69.3816 100.999C70.3309 100.038 70.8642 98.7342 70.8642 97.375C70.8642 96.0157 70.3309 94.7122 69.3816 93.751C68.4324 92.7899 67.1449 92.25 65.8024 92.25Z" fill="#EBECEF")
                  path(d="M161.975 143.5H151.852C152.115 136.234 154.913 129.298 159.748 123.922C172.099 114.595 182.222 103.73 182.222 87.125C182.213 75.297 177.726 63.9225 169.685 55.3424C161.644 46.7623 150.661 41.6294 138.995 41L99.7161 1.5375C99.1044 0.806366 98.2951 0.271996 97.3877 0H15.1852C11.1578 0 7.29541 1.61986 4.44764 4.50323C1.59986 7.38661 0 11.2973 0 15.375V189.625C0 193.703 1.59986 197.613 4.44764 200.497C7.29541 203.38 11.1578 205 15.1852 205H126.543C130.571 205 134.433 203.38 137.281 200.497C140.129 197.613 141.728 193.703 141.728 189.625V184.5H177.16C178.503 184.5 179.79 183.96 180.74 182.999C181.689 182.038 182.222 180.734 182.222 179.375V164C182.222 158.563 180.089 153.349 176.292 149.504C172.495 145.66 167.345 143.5 161.975 143.5ZM172.099 87.125C171.408 93.0203 169.398 98.6784 166.223 103.669C163.048 108.66 158.791 112.853 153.775 115.927C146.386 123.193 142.068 133.077 141.728 143.5H131.605C131.346 133.12 127.139 123.243 119.862 115.927C114.79 112.887 110.473 108.71 107.244 103.717C104.015 98.7237 101.959 93.0479 101.235 87.125C101.235 77.6104 104.968 68.4854 111.612 61.7575C118.257 55.0297 127.269 51.25 136.667 51.25C146.064 51.25 155.076 55.0297 161.721 61.7575C168.366 68.4854 172.099 77.6104 172.099 87.125ZM124.417 41H101.235V17.5275L124.417 41ZM131.605 189.625C131.605 190.984 131.072 192.288 130.122 193.249C129.173 194.21 127.886 194.75 126.543 194.75H15.1852C13.8427 194.75 12.5553 194.21 11.606 193.249C10.6567 192.288 10.1235 190.984 10.1235 189.625V15.375C10.1235 14.0158 10.6567 12.7122 11.606 11.7511C12.5553 10.79 13.8427 10.25 15.1852 10.25H91.1111V46.125C91.1111 47.4842 91.6444 48.7878 92.5937 49.7489C93.5429 50.71 94.8304 51.25 96.1728 51.25H108.422C103.044 55.5144 98.6925 60.9587 95.6939 67.1728C92.6953 73.3869 91.1284 80.2089 91.1111 87.125C91.1111 103.73 101.741 114.595 113.281 123.922C118.161 129.296 121.058 136.212 121.481 143.5H111.358C105.988 143.5 100.838 145.66 97.0413 149.504C93.2443 153.349 91.1111 158.563 91.1111 164V179.375C91.1111 180.734 91.6444 182.038 92.5937 182.999C93.5429 183.96 94.8304 184.5 96.1728 184.5H131.605V189.625ZM172.099 174.25H101.235V164C101.235 161.282 102.301 158.674 104.2 156.752C106.098 154.83 108.673 153.75 111.358 153.75H161.975C164.66 153.75 167.235 154.83 169.134 156.752C171.032 158.674 172.099 161.282 172.099 164V174.25Z" fill="#EBECEF")
                  path(d="M50.6173 123C46.6128 123 42.6983 124.202 39.3687 126.455C36.0391 128.707 33.444 131.909 31.9115 135.655C30.3791 139.401 29.9781 143.523 30.7594 147.499C31.5406 151.476 33.4689 155.129 36.3005 157.996C39.1321 160.863 42.7398 162.815 46.6673 163.606C50.5948 164.397 54.6658 163.991 58.3654 162.44C62.0651 160.888 65.2272 158.26 67.4519 154.889C69.6767 151.518 70.8642 147.555 70.8642 143.5C70.8642 138.063 68.731 132.849 64.934 129.004C61.1369 125.16 55.9871 123 50.6173 123ZM50.6173 153.75C48.615 153.75 46.6578 153.149 44.993 152.023C43.3282 150.896 42.0306 149.295 41.2644 147.422C40.4982 145.55 40.2977 143.489 40.6883 141.5C41.0789 139.512 42.0431 137.686 43.4589 136.252C44.8747 134.819 46.6785 133.842 48.6423 133.447C50.606 133.051 52.6415 133.254 54.4913 134.03C56.3412 134.806 57.9222 136.12 59.0346 137.805C60.147 139.491 60.7407 141.473 60.7407 143.5C60.7407 146.218 59.6741 148.826 57.7756 150.748C55.8771 152.67 53.3022 153.75 50.6173 153.75Z" fill="#EBECEF")

          .tab__content
            .flex.flex_width2.flex_space-between
              .flex__item.flex__item_width4
                h3.title.title_font-s26.title_color-black Открытие ОАЭ
                .r20
                p.description.description_dark.description_font-s16
                  | Объединенные Арабские Эмираты чрезвычайно динамичны. Бизнес-решения здесь принимаются мгновенно. Даже малейшее промедление может привести к тому, что рыночная ниша заполнится более активным и уверенным в себе инвестором. Поэтому, если у вас есть выигрышная бизнес-идея – не стоит медлить: срочно выводите её на рынок!
                  br
                  br
                  | Зачастую бизнесмены принимают выжидательную позицию, пытаясь разобраться в законодательных, рыночных и мультикультурных особенностях ОАЭ, чтобы реально оценить, во сколько обойдется открытие нового бизнеса или релокация существующего? Или какой начальный капитал потребуется для реализации стартапа?
              .flex__item.flex__item_align-self-end.flex__item_width1
                svg(width="183", height="205", viewBox="0 0 183 205", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M65.8024 30.75H35.4321C34.0896 30.75 32.8021 31.29 31.8529 32.2511C30.9036 33.2122 30.3703 34.5158 30.3703 35.875C30.3703 37.2343 30.9036 38.5378 31.8529 39.4989C32.8021 40.4601 34.0896 41 35.4321 41H65.8024C67.1449 41 68.4324 40.4601 69.3816 39.4989C70.3309 38.5378 70.8642 37.2343 70.8642 35.875C70.8642 34.5158 70.3309 33.2122 69.3816 32.2511C68.4324 31.29 67.1449 30.75 65.8024 30.75Z" fill="#EBECEF")
                  path(d="M65.8024 61.5H35.4321C34.0896 61.5 32.8021 62.04 31.8529 63.0011C30.9036 63.9622 30.3703 65.2658 30.3703 66.625C30.3703 67.9843 30.9036 69.2878 31.8529 70.249C32.8021 71.2101 34.0896 71.75 35.4321 71.75H65.8024C67.1449 71.75 68.4324 71.2101 69.3816 70.249C70.3309 69.2878 70.8642 67.9843 70.8642 66.625C70.8642 65.2658 70.3309 63.9622 69.3816 63.0011C68.4324 62.04 67.1449 61.5 65.8024 61.5Z" fill="#EBECEF")
                  path(d="M65.8024 92.25H35.4321C34.0896 92.25 32.8021 92.7899 31.8529 93.751C30.9036 94.7122 30.3703 96.0157 30.3703 97.375C30.3703 98.7342 30.9036 100.038 31.8529 100.999C32.8021 101.96 34.0896 102.5 35.4321 102.5H65.8024C67.1449 102.5 68.4324 101.96 69.3816 100.999C70.3309 100.038 70.8642 98.7342 70.8642 97.375C70.8642 96.0157 70.3309 94.7122 69.3816 93.751C68.4324 92.7899 67.1449 92.25 65.8024 92.25Z" fill="#EBECEF")
                  path(d="M161.975 143.5H151.852C152.115 136.234 154.913 129.298 159.748 123.922C172.099 114.595 182.222 103.73 182.222 87.125C182.213 75.297 177.726 63.9225 169.685 55.3424C161.644 46.7623 150.661 41.6294 138.995 41L99.7161 1.5375C99.1044 0.806366 98.2951 0.271996 97.3877 0H15.1852C11.1578 0 7.29541 1.61986 4.44764 4.50323C1.59986 7.38661 0 11.2973 0 15.375V189.625C0 193.703 1.59986 197.613 4.44764 200.497C7.29541 203.38 11.1578 205 15.1852 205H126.543C130.571 205 134.433 203.38 137.281 200.497C140.129 197.613 141.728 193.703 141.728 189.625V184.5H177.16C178.503 184.5 179.79 183.96 180.74 182.999C181.689 182.038 182.222 180.734 182.222 179.375V164C182.222 158.563 180.089 153.349 176.292 149.504C172.495 145.66 167.345 143.5 161.975 143.5ZM172.099 87.125C171.408 93.0203 169.398 98.6784 166.223 103.669C163.048 108.66 158.791 112.853 153.775 115.927C146.386 123.193 142.068 133.077 141.728 143.5H131.605C131.346 133.12 127.139 123.243 119.862 115.927C114.79 112.887 110.473 108.71 107.244 103.717C104.015 98.7237 101.959 93.0479 101.235 87.125C101.235 77.6104 104.968 68.4854 111.612 61.7575C118.257 55.0297 127.269 51.25 136.667 51.25C146.064 51.25 155.076 55.0297 161.721 61.7575C168.366 68.4854 172.099 77.6104 172.099 87.125ZM124.417 41H101.235V17.5275L124.417 41ZM131.605 189.625C131.605 190.984 131.072 192.288 130.122 193.249C129.173 194.21 127.886 194.75 126.543 194.75H15.1852C13.8427 194.75 12.5553 194.21 11.606 193.249C10.6567 192.288 10.1235 190.984 10.1235 189.625V15.375C10.1235 14.0158 10.6567 12.7122 11.606 11.7511C12.5553 10.79 13.8427 10.25 15.1852 10.25H91.1111V46.125C91.1111 47.4842 91.6444 48.7878 92.5937 49.7489C93.5429 50.71 94.8304 51.25 96.1728 51.25H108.422C103.044 55.5144 98.6925 60.9587 95.6939 67.1728C92.6953 73.3869 91.1284 80.2089 91.1111 87.125C91.1111 103.73 101.741 114.595 113.281 123.922C118.161 129.296 121.058 136.212 121.481 143.5H111.358C105.988 143.5 100.838 145.66 97.0413 149.504C93.2443 153.349 91.1111 158.563 91.1111 164V179.375C91.1111 180.734 91.6444 182.038 92.5937 182.999C93.5429 183.96 94.8304 184.5 96.1728 184.5H131.605V189.625ZM172.099 174.25H101.235V164C101.235 161.282 102.301 158.674 104.2 156.752C106.098 154.83 108.673 153.75 111.358 153.75H161.975C164.66 153.75 167.235 154.83 169.134 156.752C171.032 158.674 172.099 161.282 172.099 164V174.25Z" fill="#EBECEF")
                  path(d="M50.6173 123C46.6128 123 42.6983 124.202 39.3687 126.455C36.0391 128.707 33.444 131.909 31.9115 135.655C30.3791 139.401 29.9781 143.523 30.7594 147.499C31.5406 151.476 33.4689 155.129 36.3005 157.996C39.1321 160.863 42.7398 162.815 46.6673 163.606C50.5948 164.397 54.6658 163.991 58.3654 162.44C62.0651 160.888 65.2272 158.26 67.4519 154.889C69.6767 151.518 70.8642 147.555 70.8642 143.5C70.8642 138.063 68.731 132.849 64.934 129.004C61.1369 125.16 55.9871 123 50.6173 123ZM50.6173 153.75C48.615 153.75 46.6578 153.149 44.993 152.023C43.3282 150.896 42.0306 149.295 41.2644 147.422C40.4982 145.55 40.2977 143.489 40.6883 141.5C41.0789 139.512 42.0431 137.686 43.4589 136.252C44.8747 134.819 46.6785 133.842 48.6423 133.447C50.606 133.051 52.6415 133.254 54.4913 134.03C56.3412 134.806 57.9222 136.12 59.0346 137.805C60.147 139.491 60.7407 141.473 60.7407 143.5C60.7407 146.218 59.6741 148.826 57.7756 150.748C55.8771 152.67 53.3022 153.75 50.6173 153.75Z" fill="#EBECEF")
          .tab__content
            .flex.flex_width2.flex_space-between
              .flex__item.flex__item_width4
                h3.title.title_font-s26.title_color-black Открытие бизнеса
                .r20
                p.description.description_dark.description_font-s16
                  | Объединенные Арабские Эмираты чрезвычайно динамичны. Бизнес-решения здесь принимаются мгновенно. Даже малейшее промедление может привести к тому, что рыночная ниша заполнится более активным и уверенным в себе инвестором. Поэтому, если у вас есть выигрышная бизнес-идея – не стоит медлить: срочно выводите её на рынок!
                  br
                  br
                  | Зачастую бизнесмены принимают выжидательную позицию, пытаясь разобраться в законодательных, рыночных и мультикультурных особенностях ОАЭ, чтобы реально оценить, во сколько обойдется открытие нового бизнеса или релокация существующего? Или какой начальный капитал потребуется для реализации стартапа?
              .flex__item.flex__item_align-self-end.flex__item_width1
                svg(width="183", height="205", viewBox="0 0 183 205", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M65.8024 30.75H35.4321C34.0896 30.75 32.8021 31.29 31.8529 32.2511C30.9036 33.2122 30.3703 34.5158 30.3703 35.875C30.3703 37.2343 30.9036 38.5378 31.8529 39.4989C32.8021 40.4601 34.0896 41 35.4321 41H65.8024C67.1449 41 68.4324 40.4601 69.3816 39.4989C70.3309 38.5378 70.8642 37.2343 70.8642 35.875C70.8642 34.5158 70.3309 33.2122 69.3816 32.2511C68.4324 31.29 67.1449 30.75 65.8024 30.75Z" fill="#EBECEF")
                  path(d="M65.8024 61.5H35.4321C34.0896 61.5 32.8021 62.04 31.8529 63.0011C30.9036 63.9622 30.3703 65.2658 30.3703 66.625C30.3703 67.9843 30.9036 69.2878 31.8529 70.249C32.8021 71.2101 34.0896 71.75 35.4321 71.75H65.8024C67.1449 71.75 68.4324 71.2101 69.3816 70.249C70.3309 69.2878 70.8642 67.9843 70.8642 66.625C70.8642 65.2658 70.3309 63.9622 69.3816 63.0011C68.4324 62.04 67.1449 61.5 65.8024 61.5Z" fill="#EBECEF")
                  path(d="M65.8024 92.25H35.4321C34.0896 92.25 32.8021 92.7899 31.8529 93.751C30.9036 94.7122 30.3703 96.0157 30.3703 97.375C30.3703 98.7342 30.9036 100.038 31.8529 100.999C32.8021 101.96 34.0896 102.5 35.4321 102.5H65.8024C67.1449 102.5 68.4324 101.96 69.3816 100.999C70.3309 100.038 70.8642 98.7342 70.8642 97.375C70.8642 96.0157 70.3309 94.7122 69.3816 93.751C68.4324 92.7899 67.1449 92.25 65.8024 92.25Z" fill="#EBECEF")
                  path(d="M161.975 143.5H151.852C152.115 136.234 154.913 129.298 159.748 123.922C172.099 114.595 182.222 103.73 182.222 87.125C182.213 75.297 177.726 63.9225 169.685 55.3424C161.644 46.7623 150.661 41.6294 138.995 41L99.7161 1.5375C99.1044 0.806366 98.2951 0.271996 97.3877 0H15.1852C11.1578 0 7.29541 1.61986 4.44764 4.50323C1.59986 7.38661 0 11.2973 0 15.375V189.625C0 193.703 1.59986 197.613 4.44764 200.497C7.29541 203.38 11.1578 205 15.1852 205H126.543C130.571 205 134.433 203.38 137.281 200.497C140.129 197.613 141.728 193.703 141.728 189.625V184.5H177.16C178.503 184.5 179.79 183.96 180.74 182.999C181.689 182.038 182.222 180.734 182.222 179.375V164C182.222 158.563 180.089 153.349 176.292 149.504C172.495 145.66 167.345 143.5 161.975 143.5ZM172.099 87.125C171.408 93.0203 169.398 98.6784 166.223 103.669C163.048 108.66 158.791 112.853 153.775 115.927C146.386 123.193 142.068 133.077 141.728 143.5H131.605C131.346 133.12 127.139 123.243 119.862 115.927C114.79 112.887 110.473 108.71 107.244 103.717C104.015 98.7237 101.959 93.0479 101.235 87.125C101.235 77.6104 104.968 68.4854 111.612 61.7575C118.257 55.0297 127.269 51.25 136.667 51.25C146.064 51.25 155.076 55.0297 161.721 61.7575C168.366 68.4854 172.099 77.6104 172.099 87.125ZM124.417 41H101.235V17.5275L124.417 41ZM131.605 189.625C131.605 190.984 131.072 192.288 130.122 193.249C129.173 194.21 127.886 194.75 126.543 194.75H15.1852C13.8427 194.75 12.5553 194.21 11.606 193.249C10.6567 192.288 10.1235 190.984 10.1235 189.625V15.375C10.1235 14.0158 10.6567 12.7122 11.606 11.7511C12.5553 10.79 13.8427 10.25 15.1852 10.25H91.1111V46.125C91.1111 47.4842 91.6444 48.7878 92.5937 49.7489C93.5429 50.71 94.8304 51.25 96.1728 51.25H108.422C103.044 55.5144 98.6925 60.9587 95.6939 67.1728C92.6953 73.3869 91.1284 80.2089 91.1111 87.125C91.1111 103.73 101.741 114.595 113.281 123.922C118.161 129.296 121.058 136.212 121.481 143.5H111.358C105.988 143.5 100.838 145.66 97.0413 149.504C93.2443 153.349 91.1111 158.563 91.1111 164V179.375C91.1111 180.734 91.6444 182.038 92.5937 182.999C93.5429 183.96 94.8304 184.5 96.1728 184.5H131.605V189.625ZM172.099 174.25H101.235V164C101.235 161.282 102.301 158.674 104.2 156.752C106.098 154.83 108.673 153.75 111.358 153.75H161.975C164.66 153.75 167.235 154.83 169.134 156.752C171.032 158.674 172.099 161.282 172.099 164V174.25Z" fill="#EBECEF")
                  path(d="M50.6173 123C46.6128 123 42.6983 124.202 39.3687 126.455C36.0391 128.707 33.444 131.909 31.9115 135.655C30.3791 139.401 29.9781 143.523 30.7594 147.499C31.5406 151.476 33.4689 155.129 36.3005 157.996C39.1321 160.863 42.7398 162.815 46.6673 163.606C50.5948 164.397 54.6658 163.991 58.3654 162.44C62.0651 160.888 65.2272 158.26 67.4519 154.889C69.6767 151.518 70.8642 147.555 70.8642 143.5C70.8642 138.063 68.731 132.849 64.934 129.004C61.1369 125.16 55.9871 123 50.6173 123ZM50.6173 153.75C48.615 153.75 46.6578 153.149 44.993 152.023C43.3282 150.896 42.0306 149.295 41.2644 147.422C40.4982 145.55 40.2977 143.489 40.6883 141.5C41.0789 139.512 42.0431 137.686 43.4589 136.252C44.8747 134.819 46.6785 133.842 48.6423 133.447C50.606 133.051 52.6415 133.254 54.4913 134.03C56.3412 134.806 57.9222 136.12 59.0346 137.805C60.147 139.491 60.7407 141.473 60.7407 143.5C60.7407 146.218 59.6741 148.826 57.7756 150.748C55.8771 152.67 53.3022 153.75 50.6173 153.75Z" fill="#EBECEF")
          .tab__content
            .flex.flex_width2.flex_space-between
              .flex__item.flex__item_width4
                h3.title.title_font-s26.title_color-black Закрытие бизнеса в ОАЭ
                .r20
                p.description.description_dark.description_font-s16
                  | Объединенные Арабские Эмираты чрезвычайно динамичны. Бизнес-решения здесь принимаются мгновенно. Даже малейшее промедление может привести к тому, что рыночная ниша заполнится более активным и уверенным в себе инвестором. Поэтому, если у вас есть выигрышная бизнес-идея – не стоит медлить: срочно выводите её на рынок!
                  br
                  br
                  | Зачастую бизнесмены принимают выжидательную позицию, пытаясь разобраться в законодательных, рыночных и мультикультурных особенностях ОАЭ, чтобы реально оценить, во сколько обойдется открытие нового бизнеса или релокация существующего? Или какой начальный капитал потребуется для реализации стартапа?
              .flex__item.flex__item_align-self-end.flex__item_width1
                svg(width="183", height="205", viewBox="0 0 183 205", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M65.8024 30.75H35.4321C34.0896 30.75 32.8021 31.29 31.8529 32.2511C30.9036 33.2122 30.3703 34.5158 30.3703 35.875C30.3703 37.2343 30.9036 38.5378 31.8529 39.4989C32.8021 40.4601 34.0896 41 35.4321 41H65.8024C67.1449 41 68.4324 40.4601 69.3816 39.4989C70.3309 38.5378 70.8642 37.2343 70.8642 35.875C70.8642 34.5158 70.3309 33.2122 69.3816 32.2511C68.4324 31.29 67.1449 30.75 65.8024 30.75Z" fill="#EBECEF")
                  path(d="M65.8024 61.5H35.4321C34.0896 61.5 32.8021 62.04 31.8529 63.0011C30.9036 63.9622 30.3703 65.2658 30.3703 66.625C30.3703 67.9843 30.9036 69.2878 31.8529 70.249C32.8021 71.2101 34.0896 71.75 35.4321 71.75H65.8024C67.1449 71.75 68.4324 71.2101 69.3816 70.249C70.3309 69.2878 70.8642 67.9843 70.8642 66.625C70.8642 65.2658 70.3309 63.9622 69.3816 63.0011C68.4324 62.04 67.1449 61.5 65.8024 61.5Z" fill="#EBECEF")
                  path(d="M65.8024 92.25H35.4321C34.0896 92.25 32.8021 92.7899 31.8529 93.751C30.9036 94.7122 30.3703 96.0157 30.3703 97.375C30.3703 98.7342 30.9036 100.038 31.8529 100.999C32.8021 101.96 34.0896 102.5 35.4321 102.5H65.8024C67.1449 102.5 68.4324 101.96 69.3816 100.999C70.3309 100.038 70.8642 98.7342 70.8642 97.375C70.8642 96.0157 70.3309 94.7122 69.3816 93.751C68.4324 92.7899 67.1449 92.25 65.8024 92.25Z" fill="#EBECEF")
                  path(d="M161.975 143.5H151.852C152.115 136.234 154.913 129.298 159.748 123.922C172.099 114.595 182.222 103.73 182.222 87.125C182.213 75.297 177.726 63.9225 169.685 55.3424C161.644 46.7623 150.661 41.6294 138.995 41L99.7161 1.5375C99.1044 0.806366 98.2951 0.271996 97.3877 0H15.1852C11.1578 0 7.29541 1.61986 4.44764 4.50323C1.59986 7.38661 0 11.2973 0 15.375V189.625C0 193.703 1.59986 197.613 4.44764 200.497C7.29541 203.38 11.1578 205 15.1852 205H126.543C130.571 205 134.433 203.38 137.281 200.497C140.129 197.613 141.728 193.703 141.728 189.625V184.5H177.16C178.503 184.5 179.79 183.96 180.74 182.999C181.689 182.038 182.222 180.734 182.222 179.375V164C182.222 158.563 180.089 153.349 176.292 149.504C172.495 145.66 167.345 143.5 161.975 143.5ZM172.099 87.125C171.408 93.0203 169.398 98.6784 166.223 103.669C163.048 108.66 158.791 112.853 153.775 115.927C146.386 123.193 142.068 133.077 141.728 143.5H131.605C131.346 133.12 127.139 123.243 119.862 115.927C114.79 112.887 110.473 108.71 107.244 103.717C104.015 98.7237 101.959 93.0479 101.235 87.125C101.235 77.6104 104.968 68.4854 111.612 61.7575C118.257 55.0297 127.269 51.25 136.667 51.25C146.064 51.25 155.076 55.0297 161.721 61.7575C168.366 68.4854 172.099 77.6104 172.099 87.125ZM124.417 41H101.235V17.5275L124.417 41ZM131.605 189.625C131.605 190.984 131.072 192.288 130.122 193.249C129.173 194.21 127.886 194.75 126.543 194.75H15.1852C13.8427 194.75 12.5553 194.21 11.606 193.249C10.6567 192.288 10.1235 190.984 10.1235 189.625V15.375C10.1235 14.0158 10.6567 12.7122 11.606 11.7511C12.5553 10.79 13.8427 10.25 15.1852 10.25H91.1111V46.125C91.1111 47.4842 91.6444 48.7878 92.5937 49.7489C93.5429 50.71 94.8304 51.25 96.1728 51.25H108.422C103.044 55.5144 98.6925 60.9587 95.6939 67.1728C92.6953 73.3869 91.1284 80.2089 91.1111 87.125C91.1111 103.73 101.741 114.595 113.281 123.922C118.161 129.296 121.058 136.212 121.481 143.5H111.358C105.988 143.5 100.838 145.66 97.0413 149.504C93.2443 153.349 91.1111 158.563 91.1111 164V179.375C91.1111 180.734 91.6444 182.038 92.5937 182.999C93.5429 183.96 94.8304 184.5 96.1728 184.5H131.605V189.625ZM172.099 174.25H101.235V164C101.235 161.282 102.301 158.674 104.2 156.752C106.098 154.83 108.673 153.75 111.358 153.75H161.975C164.66 153.75 167.235 154.83 169.134 156.752C171.032 158.674 172.099 161.282 172.099 164V174.25Z" fill="#EBECEF")
                  path(d="M50.6173 123C46.6128 123 42.6983 124.202 39.3687 126.455C36.0391 128.707 33.444 131.909 31.9115 135.655C30.3791 139.401 29.9781 143.523 30.7594 147.499C31.5406 151.476 33.4689 155.129 36.3005 157.996C39.1321 160.863 42.7398 162.815 46.6673 163.606C50.5948 164.397 54.6658 163.991 58.3654 162.44C62.0651 160.888 65.2272 158.26 67.4519 154.889C69.6767 151.518 70.8642 147.555 70.8642 143.5C70.8642 138.063 68.731 132.849 64.934 129.004C61.1369 125.16 55.9871 123 50.6173 123ZM50.6173 153.75C48.615 153.75 46.6578 153.149 44.993 152.023C43.3282 150.896 42.0306 149.295 41.2644 147.422C40.4982 145.55 40.2977 143.489 40.6883 141.5C41.0789 139.512 42.0431 137.686 43.4589 136.252C44.8747 134.819 46.6785 133.842 48.6423 133.447C50.606 133.051 52.6415 133.254 54.4913 134.03C56.3412 134.806 57.9222 136.12 59.0346 137.805C60.147 139.491 60.7407 141.473 60.7407 143.5C60.7407 146.218 59.6741 148.826 57.7756 150.748C55.8771 152.67 53.3022 153.75 50.6173 153.75Z" fill="#EBECEF")
          .tab__content
            .flex.flex_width2.flex_space-between
              .flex__item.flex__item_width4
                h3.title.title_font-s26.title_color-black Открытие бизнеса в ОАЭ
                .r20
                p.description.description_dark.description_font-s16
                  | Объединенные Арабские Эмираты чрезвычайно динамичны. Бизнес-решения здесь принимаются мгновенно. Даже малейшее промедление может привести к тому, что рыночная ниша заполнится более активным и уверенным в себе инвестором. Поэтому, если у вас есть выигрышная бизнес-идея – не стоит медлить: срочно выводите её на рынок!
                  br
                  br
                  | Зачастую бизнесмены принимают выжидательную позицию, пытаясь разобраться в законодательных, рыночных и мультикультурных особенностях ОАЭ, чтобы реально оценить, во сколько обойдется открытие нового бизнеса или релокация существующего? Или какой начальный капитал потребуется для реализации стартапа?
              .flex__item.flex__item_align-self-end.flex__item_width1
                svg(width="183", height="205", viewBox="0 0 183 205", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M65.8024 30.75H35.4321C34.0896 30.75 32.8021 31.29 31.8529 32.2511C30.9036 33.2122 30.3703 34.5158 30.3703 35.875C30.3703 37.2343 30.9036 38.5378 31.8529 39.4989C32.8021 40.4601 34.0896 41 35.4321 41H65.8024C67.1449 41 68.4324 40.4601 69.3816 39.4989C70.3309 38.5378 70.8642 37.2343 70.8642 35.875C70.8642 34.5158 70.3309 33.2122 69.3816 32.2511C68.4324 31.29 67.1449 30.75 65.8024 30.75Z" fill="#EBECEF")
                  path(d="M65.8024 61.5H35.4321C34.0896 61.5 32.8021 62.04 31.8529 63.0011C30.9036 63.9622 30.3703 65.2658 30.3703 66.625C30.3703 67.9843 30.9036 69.2878 31.8529 70.249C32.8021 71.2101 34.0896 71.75 35.4321 71.75H65.8024C67.1449 71.75 68.4324 71.2101 69.3816 70.249C70.3309 69.2878 70.8642 67.9843 70.8642 66.625C70.8642 65.2658 70.3309 63.9622 69.3816 63.0011C68.4324 62.04 67.1449 61.5 65.8024 61.5Z" fill="#EBECEF")
                  path(d="M65.8024 92.25H35.4321C34.0896 92.25 32.8021 92.7899 31.8529 93.751C30.9036 94.7122 30.3703 96.0157 30.3703 97.375C30.3703 98.7342 30.9036 100.038 31.8529 100.999C32.8021 101.96 34.0896 102.5 35.4321 102.5H65.8024C67.1449 102.5 68.4324 101.96 69.3816 100.999C70.3309 100.038 70.8642 98.7342 70.8642 97.375C70.8642 96.0157 70.3309 94.7122 69.3816 93.751C68.4324 92.7899 67.1449 92.25 65.8024 92.25Z" fill="#EBECEF")
                  path(d="M161.975 143.5H151.852C152.115 136.234 154.913 129.298 159.748 123.922C172.099 114.595 182.222 103.73 182.222 87.125C182.213 75.297 177.726 63.9225 169.685 55.3424C161.644 46.7623 150.661 41.6294 138.995 41L99.7161 1.5375C99.1044 0.806366 98.2951 0.271996 97.3877 0H15.1852C11.1578 0 7.29541 1.61986 4.44764 4.50323C1.59986 7.38661 0 11.2973 0 15.375V189.625C0 193.703 1.59986 197.613 4.44764 200.497C7.29541 203.38 11.1578 205 15.1852 205H126.543C130.571 205 134.433 203.38 137.281 200.497C140.129 197.613 141.728 193.703 141.728 189.625V184.5H177.16C178.503 184.5 179.79 183.96 180.74 182.999C181.689 182.038 182.222 180.734 182.222 179.375V164C182.222 158.563 180.089 153.349 176.292 149.504C172.495 145.66 167.345 143.5 161.975 143.5ZM172.099 87.125C171.408 93.0203 169.398 98.6784 166.223 103.669C163.048 108.66 158.791 112.853 153.775 115.927C146.386 123.193 142.068 133.077 141.728 143.5H131.605C131.346 133.12 127.139 123.243 119.862 115.927C114.79 112.887 110.473 108.71 107.244 103.717C104.015 98.7237 101.959 93.0479 101.235 87.125C101.235 77.6104 104.968 68.4854 111.612 61.7575C118.257 55.0297 127.269 51.25 136.667 51.25C146.064 51.25 155.076 55.0297 161.721 61.7575C168.366 68.4854 172.099 77.6104 172.099 87.125ZM124.417 41H101.235V17.5275L124.417 41ZM131.605 189.625C131.605 190.984 131.072 192.288 130.122 193.249C129.173 194.21 127.886 194.75 126.543 194.75H15.1852C13.8427 194.75 12.5553 194.21 11.606 193.249C10.6567 192.288 10.1235 190.984 10.1235 189.625V15.375C10.1235 14.0158 10.6567 12.7122 11.606 11.7511C12.5553 10.79 13.8427 10.25 15.1852 10.25H91.1111V46.125C91.1111 47.4842 91.6444 48.7878 92.5937 49.7489C93.5429 50.71 94.8304 51.25 96.1728 51.25H108.422C103.044 55.5144 98.6925 60.9587 95.6939 67.1728C92.6953 73.3869 91.1284 80.2089 91.1111 87.125C91.1111 103.73 101.741 114.595 113.281 123.922C118.161 129.296 121.058 136.212 121.481 143.5H111.358C105.988 143.5 100.838 145.66 97.0413 149.504C93.2443 153.349 91.1111 158.563 91.1111 164V179.375C91.1111 180.734 91.6444 182.038 92.5937 182.999C93.5429 183.96 94.8304 184.5 96.1728 184.5H131.605V189.625ZM172.099 174.25H101.235V164C101.235 161.282 102.301 158.674 104.2 156.752C106.098 154.83 108.673 153.75 111.358 153.75H161.975C164.66 153.75 167.235 154.83 169.134 156.752C171.032 158.674 172.099 161.282 172.099 164V174.25Z" fill="#EBECEF")
                  path(d="M50.6173 123C46.6128 123 42.6983 124.202 39.3687 126.455C36.0391 128.707 33.444 131.909 31.9115 135.655C30.3791 139.401 29.9781 143.523 30.7594 147.499C31.5406 151.476 33.4689 155.129 36.3005 157.996C39.1321 160.863 42.7398 162.815 46.6673 163.606C50.5948 164.397 54.6658 163.991 58.3654 162.44C62.0651 160.888 65.2272 158.26 67.4519 154.889C69.6767 151.518 70.8642 147.555 70.8642 143.5C70.8642 138.063 68.731 132.849 64.934 129.004C61.1369 125.16 55.9871 123 50.6173 123ZM50.6173 153.75C48.615 153.75 46.6578 153.149 44.993 152.023C43.3282 150.896 42.0306 149.295 41.2644 147.422C40.4982 145.55 40.2977 143.489 40.6883 141.5C41.0789 139.512 42.0431 137.686 43.4589 136.252C44.8747 134.819 46.6785 133.842 48.6423 133.447C50.606 133.051 52.6415 133.254 54.4913 134.03C56.3412 134.806 57.9222 136.12 59.0346 137.805C60.147 139.491 60.7407 141.473 60.7407 143.5C60.7407 146.218 59.6741 148.826 57.7756 150.748C55.8771 152.67 53.3022 153.75 50.6173 153.75Z" fill="#EBECEF")
          .tab__content
            .flex.flex_width2.flex_space-between
              .flex__item.flex__item_width4
                h3.title.title_font-s26.title_color-black Открытие бизнеса в ОАЭ
                .r20
                p.description.description_dark.description_font-s16
                  | Объединенные Арабские Эмираты чрезвычайно динамичны. Бизнес-решения здесь принимаются мгновенно. Даже малейшее промедление может привести к тому, что рыночная ниша заполнится более активным и уверенным в себе инвестором. Поэтому, если у вас есть выигрышная бизнес-идея – не стоит медлить: срочно выводите её на рынок!
                  br
                  br
                  | Зачастую бизнесмены принимают выжидательную позицию, пытаясь разобраться в законодательных, рыночных и мультикультурных особенностях ОАЭ, чтобы реально оценить, во сколько обойдется открытие нового бизнеса или релокация существующего? Или какой начальный капитал потребуется для реализации стартапа?
              .flex__item.flex__item_align-self-end.flex__item_width1
                svg(width="183", height="205", viewBox="0 0 183 205", fill="none", xmlns="http://www.w3.org/2000/svg")
                  path(d="M65.8024 30.75H35.4321C34.0896 30.75 32.8021 31.29 31.8529 32.2511C30.9036 33.2122 30.3703 34.5158 30.3703 35.875C30.3703 37.2343 30.9036 38.5378 31.8529 39.4989C32.8021 40.4601 34.0896 41 35.4321 41H65.8024C67.1449 41 68.4324 40.4601 69.3816 39.4989C70.3309 38.5378 70.8642 37.2343 70.8642 35.875C70.8642 34.5158 70.3309 33.2122 69.3816 32.2511C68.4324 31.29 67.1449 30.75 65.8024 30.75Z" fill="#EBECEF")
                  path(d="M65.8024 61.5H35.4321C34.0896 61.5 32.8021 62.04 31.8529 63.0011C30.9036 63.9622 30.3703 65.2658 30.3703 66.625C30.3703 67.9843 30.9036 69.2878 31.8529 70.249C32.8021 71.2101 34.0896 71.75 35.4321 71.75H65.8024C67.1449 71.75 68.4324 71.2101 69.3816 70.249C70.3309 69.2878 70.8642 67.9843 70.8642 66.625C70.8642 65.2658 70.3309 63.9622 69.3816 63.0011C68.4324 62.04 67.1449 61.5 65.8024 61.5Z" fill="#EBECEF")
                  path(d="M65.8024 92.25H35.4321C34.0896 92.25 32.8021 92.7899 31.8529 93.751C30.9036 94.7122 30.3703 96.0157 30.3703 97.375C30.3703 98.7342 30.9036 100.038 31.8529 100.999C32.8021 101.96 34.0896 102.5 35.4321 102.5H65.8024C67.1449 102.5 68.4324 101.96 69.3816 100.999C70.3309 100.038 70.8642 98.7342 70.8642 97.375C70.8642 96.0157 70.3309 94.7122 69.3816 93.751C68.4324 92.7899 67.1449 92.25 65.8024 92.25Z" fill="#EBECEF")
                  path(d="M161.975 143.5H151.852C152.115 136.234 154.913 129.298 159.748 123.922C172.099 114.595 182.222 103.73 182.222 87.125C182.213 75.297 177.726 63.9225 169.685 55.3424C161.644 46.7623 150.661 41.6294 138.995 41L99.7161 1.5375C99.1044 0.806366 98.2951 0.271996 97.3877 0H15.1852C11.1578 0 7.29541 1.61986 4.44764 4.50323C1.59986 7.38661 0 11.2973 0 15.375V189.625C0 193.703 1.59986 197.613 4.44764 200.497C7.29541 203.38 11.1578 205 15.1852 205H126.543C130.571 205 134.433 203.38 137.281 200.497C140.129 197.613 141.728 193.703 141.728 189.625V184.5H177.16C178.503 184.5 179.79 183.96 180.74 182.999C181.689 182.038 182.222 180.734 182.222 179.375V164C182.222 158.563 180.089 153.349 176.292 149.504C172.495 145.66 167.345 143.5 161.975 143.5ZM172.099 87.125C171.408 93.0203 169.398 98.6784 166.223 103.669C163.048 108.66 158.791 112.853 153.775 115.927C146.386 123.193 142.068 133.077 141.728 143.5H131.605C131.346 133.12 127.139 123.243 119.862 115.927C114.79 112.887 110.473 108.71 107.244 103.717C104.015 98.7237 101.959 93.0479 101.235 87.125C101.235 77.6104 104.968 68.4854 111.612 61.7575C118.257 55.0297 127.269 51.25 136.667 51.25C146.064 51.25 155.076 55.0297 161.721 61.7575C168.366 68.4854 172.099 77.6104 172.099 87.125ZM124.417 41H101.235V17.5275L124.417 41ZM131.605 189.625C131.605 190.984 131.072 192.288 130.122 193.249C129.173 194.21 127.886 194.75 126.543 194.75H15.1852C13.8427 194.75 12.5553 194.21 11.606 193.249C10.6567 192.288 10.1235 190.984 10.1235 189.625V15.375C10.1235 14.0158 10.6567 12.7122 11.606 11.7511C12.5553 10.79 13.8427 10.25 15.1852 10.25H91.1111V46.125C91.1111 47.4842 91.6444 48.7878 92.5937 49.7489C93.5429 50.71 94.8304 51.25 96.1728 51.25H108.422C103.044 55.5144 98.6925 60.9587 95.6939 67.1728C92.6953 73.3869 91.1284 80.2089 91.1111 87.125C91.1111 103.73 101.741 114.595 113.281 123.922C118.161 129.296 121.058 136.212 121.481 143.5H111.358C105.988 143.5 100.838 145.66 97.0413 149.504C93.2443 153.349 91.1111 158.563 91.1111 164V179.375C91.1111 180.734 91.6444 182.038 92.5937 182.999C93.5429 183.96 94.8304 184.5 96.1728 184.5H131.605V189.625ZM172.099 174.25H101.235V164C101.235 161.282 102.301 158.674 104.2 156.752C106.098 154.83 108.673 153.75 111.358 153.75H161.975C164.66 153.75 167.235 154.83 169.134 156.752C171.032 158.674 172.099 161.282 172.099 164V174.25Z" fill="#EBECEF")
                  path(d="M50.6173 123C46.6128 123 42.6983 124.202 39.3687 126.455C36.0391 128.707 33.444 131.909 31.9115 135.655C30.3791 139.401 29.9781 143.523 30.7594 147.499C31.5406 151.476 33.4689 155.129 36.3005 157.996C39.1321 160.863 42.7398 162.815 46.6673 163.606C50.5948 164.397 54.6658 163.991 58.3654 162.44C62.0651 160.888 65.2272 158.26 67.4519 154.889C69.6767 151.518 70.8642 147.555 70.8642 143.5C70.8642 138.063 68.731 132.849 64.934 129.004C61.1369 125.16 55.9871 123 50.6173 123ZM50.6173 153.75C48.615 153.75 46.6578 153.149 44.993 152.023C43.3282 150.896 42.0306 149.295 41.2644 147.422C40.4982 145.55 40.2977 143.489 40.6883 141.5C41.0789 139.512 42.0431 137.686 43.4589 136.252C44.8747 134.819 46.6785 133.842 48.6423 133.447C50.606 133.051 52.6415 133.254 54.4913 134.03C56.3412 134.806 57.9222 136.12 59.0346 137.805C60.147 139.491 60.7407 141.473 60.7407 143.5C60.7407 146.218 59.6741 148.826 57.7756 150.748C55.8771 152.67 53.3022 153.75 50.6173 153.75Z" fill="#EBECEF")
      .r60_adaptive
    .r1.r_bg-e3
   
  section.bg_f9
      .r60_adaptive
      .container
        .feedback-bigblock.feedback-bigblock_no-bg
          .flex.flex_width2
            .flex__item
              .feedback-bigblock__info-box.borderline.borderline_red.borderline_border10.borderline_pattern-form
                h3.feedback-bigblock__info-title SORP — комплексные решения для вашего бизнеса
                .feedback-bigblock__info-text
                  p.feedback-bigblock__info-text-item Оставьте заявку и получите в течение 20 минут консультацию по актуальным инвестиционным проектам в ОАЭ.                  
                  p.feedback-bigblock__info-text-item Эксперты SORP Group помогут подобрать интересный объект для вложений и окажут комплексную поддержку при юридическом оформлении.
                  br
                  br

            .flex__item
              .feedback-bigblock__form
                h4.feedback-bigblock__form-title Мы вам перезвоним

                form.form-block
                  input.callOrderReason(type='hidden', name='reason')
                  input.page(type='hidden', name='page', value='[[~[[*id]]? &scheme=`full`]]')
                  input.site-message(type='text', name='name', value='')
                  input.site-message(type='text', name='firstname', value='')
                  input.site-message(type='text', name='lastname', value='')
                  .form-block__item
                    label.form-block__label(for='fio3') Ваше имя
                    input#fio3.form-block__input(type='text' name='fio3' value='')
                  .form-block__item
                    label.form-block__label(for='phone3') Телефон
                    input#phone3.form-block__input(type='text' name='phone3' value='')
                  .form-block__item
                    label.form-block__label(for='email3') Email
                    input#email3.form-block__input(type='email' name='email3' value='' placeholder="")
                  .form-block__item
                    input.btn.btn_radius5.btn_w100.btn_h70.btn_font-s20(type='submit' value='Получить решение') 
      .r60_adaptive
  
  #map
    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84142.93801242771!2d55.11920432886234!3d25.109796720172486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b5b5b3fffff%3A0xbe5aa9347ed5d5e1!2sSORP%20Business%20Centre!5e0!3m2!1sru!2sru!4v1580725392796!5m2!1sru!2sru', width='100%', height='450', frameborder='0', style='border:0;', allowfullscreen='')