extends ../layouts/default

block variables
  - const title = "search_results";
  - page = "search_results";

block content
  section.bg.bg_fa
    .container
      .r60_adaptive
      h2.title.title_font-s38.title_color-black Поиск по сайту
      .r50_adaptive
      //- поисковик
      .form-block__item.form-block__item_search
        input.form-block__input.form-block__input_search(type="text", name="search-input", value="", placeholder="Начните писать")
        .form-block__search-btn
      .r30_adaptive

    .search-results
      .search-results__wrapper
        .search-results__item.container
            //-.search-results__icon-wrap
              img.search-results__icon(src="/img/contour-only/white/tie.svg", alt="", loading="lazy", ondragstart="return false;")
            .search-results__content
              .search-results__content-title Организация бизнеса в ОАЭ
              .search-results__content-description Ведущая консалтинговая группа, оказывающая полный цикл услуг по инкорпорации, сопровождению и 
                b организации бизнеса 
                | на территории 
                b ОАЭ 
                | и за их пределами. Мы имеем безупречную репутацию, широкие возможности и активы
      .search-results__wrapper
        .search-results__item.container
          //-.search-results__icon-wrap
            img.search-results__icon(src="/img/contour-only/white/tie.svg", alt="", loading="lazy", ondragstart="return false;")
          .search-results__content
            .search-results__content-title Как начать бизнес в ОАЭ
            .search-results__content-description Понимание уникальных особенностей создания и ведения бизнеса в Объединенных Арабских Эмиратах позволит вам быстро начать работу на самом богатом рынке в мире
            
      .search-results__wrapper
        .search-results__item.container
          //-search-results__icon-wrap
            img.search-results__icon(src="/img/contour-only/white/tie.svg", alt="", loading="lazy", ondragstart="return false;")
          .search-results__content
            .search-results__content-title Как купить готовый бизнес в ОАЭ
            .search-results__content-description Алгоритм приобретения действующего предприятия с учетом анализа экономических и юридических аспектов
            
    .r40

  section.bg.bg_f9
    .r1.r_bg-e3
    .r60_adaptive
    .container
      .feedback-bigblock.feedback-bigblock_no-bg
        .flex.flex_width2
          .flex__item
            .feedback-bigblock__info-box.borderline.borderline_red.borderline_border10.borderline_pattern-form
              h3.feedback-bigblock__info-title Не удалось найти необходимое решение?
              .feedback-bigblock__info-text
                p.feedback-bigblock__info-text-item Оставьте заявку и получите в течение 20 минут консультацию по актуальным инвестиционным проектам в ОАЭ.
                p.feedback-bigblock__info-text-item Эксперты SORP Group помогут подобрать интересный объект для вложений и окажут комплексную поддержку при юридическом оформлении.
          .flex__item
            .feedback-bigblock__form
              h3.feedback-bigblock__form-title Мы вам перезвоним
              form.form-block
                input.callOrderReason(type='hidden', name='reason')
                input.page(type='hidden', name='page', value='[[~[[*id]]? &scheme=`full`]]')
                input.site-message(type='text', name='name', value='')
                input.site-message(type='text', name='firstname', value='')
                input.site-message(type='text', name='lastname', value='')
                .form-block__item
                  label.form-block__label(for='fio3') Ваше имя
                  input#fio3.form-block__input(type='text' name='fio3' value='')
                .form-block__item
                  label.form-block__label(for='phone3') Телефон
                  input#phone3.form-block__input(type='text' name='phone3' value='')
                .form-block__item
                  label.form-block__label(for='email3') Электронная почта
                  input#email3.form-block__input(type='email' name='email3' value='' placeholder="")
                .form-block__item
                  input.btn.btn_radius5.btn_w100.btn_h70.btn_font-s20(type='submit' value='Получить решение')                  
    .r60_adaptive
    
    #map
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d84142.93801242771!2d55.11920432886234!3d25.109796720172486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6b5b5b3fffff%3A0xbe5aa9347ed5d5e1!2sSORP%20Business%20Centre!5e0!3m2!1sru!2sru!4v1580725392796!5m2!1sru!2sru', width='100%', height='450', frameborder='0', style='border:0;', allowfullscreen='')