{include 'header'}
{block 'content'}
<link rel="stylesheet" href="https://sorp.ae/assets/templates/main/css/style-menu.css">
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" viewBox="0 0 27 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.1196 27.1335C16.8904 27.1335 16.6805 27.0013 16.5822 26.7926L11.576 16.1526L1.1548 11.3626C0.936898 11.2625 0.800633 11.041 0.809242 10.8012C0.818149 10.5613 0.970445 10.3505 1.19518 10.2668L25.9284 1.03191C26.1449 0.951456 26.3892 1.00341 26.5534 1.1661C26.7181 1.32878 26.7727 1.57252 26.6944 1.79013L17.678 26.7416C17.5966 26.9675 17.387 27.1216 17.1472 27.1329C17.1377 27.1332 17.1285 27.1335 17.1196 27.1335ZM2.94793 10.8798L12.2686 15.1643C12.396 15.2228 12.4984 15.3244 12.5581 15.4508L17.0474 24.9921L25.1414 2.59347L2.94793 10.8798Z"></path>
        <path d="M12.021 16.2972C11.869 16.2972 11.7173 16.2393 11.6012 16.1233C11.3694 15.8917 11.3694 15.5156 11.6012 15.2837L25.7162 1.16848C25.948 0.936618 26.3239 0.936618 26.5557 1.16848C26.7876 1.40034 26.7876 1.77618 26.5557 2.00804L12.4408 16.1233C12.3247 16.2393 12.173 16.2972 12.021 16.2972Z"></path>
    </symbol>
    <symbol id="btn__icon" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.291748 10.7884L1.27464 11.6392L1.76608 11.2126L7.82088 5.98838L1.76608 0.764161L1.27464 0.337599L0.291748 1.18838L0.783192 1.6126L5.85239 5.98838L0.783192 10.3642L0.291748 10.7884ZM5.84968 10.7884L6.83256 11.6392L7.324 11.2126L13.3788 5.98838L7.324 0.764161L6.83256 0.337599L5.84968 1.18838L6.34112 1.6126L11.4103 5.98838L6.34112 10.3642L5.84968 10.7884Z"></path>
    </symbol>
</svg>

<style>
    .first-screen__text { font-weight: 400 !important; }
    .block1__head-title { line-height: 28px !important; font-weight: 700 !important; }
    .block1__content { font-size: 18px !important; }
    .block1__item:hover .block1__head { background-color: #[[*link_attributes]]!important; }
     @media (min-width: 992px) { .block1__head { padding: 30px 21px!important; } }
    @media (min-width: 700px) { .block14__title { min-height:144px; } }
    #why_sorp .tslider-item__text { text-transform: none; } 
</style>

<!-- ШАПКА -->
<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__content">
                <div class="first-screen__logo-box first-screen__logo-box_animate" style="height: 169px;width: 170px;left: -185px;">
                    <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
                </div>
                <h1 class="first-screen__title">Company incorporation in the<br class="hide-sm-min"> UAE</h1>
                <h4 class="first-screen__text">
                    A practical solution to enter UAE markets, operate globally, and a mechanism for<br class="hide-sm-min"> effective international tax planning
                </h4>
                <a class="first-screen__btn btn btn_radius btn_w-auto btn_h55 btn_hover-red" href="#" onclick="toggleModal('form01')">Contact us today</a>
            </div>
        </div>
    </div>
    <div class="r10"></div>
    <!--         block-frames             -->
    <div class="container_bem">
        <div class="r50_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">
                A company in the UAE is a highly profitable tool that allows you to solve a variety of business problems. Registering a local, Free Zone or offshore company, and forming international holdings and trust structures,<br class="hide-sm-min"> 
                opens the way to a tax-free business, universal cash departments, UAE tax resident (domicile) status and access<br class="hide-sm-min"> to international tax planning advantages.
                SORP Group offers the vital expertise and support you need to establish and grow your business in the United Arab Emirates, from initial licensing to the day-to-day operations.
            </div>
        </div>
        
        <div class="r40"></div>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 bg-E3"></div>
</section>

<!-- Виды юридических лиц в ОАЭ -->
    <section id="scrollBlock1" class="bg-F9">
        <div class="r60_adaptive"></div>
        <div class="container_bem">
            <h2 class="title">
                Types of legal entities in the UAE
            </h2>
            <div class="r50_adaptive"></div>
            <p class="description">
                There are three main types of companies. The legislation gives each of them different opportunities for business development and determines the geographic extent of their market activities:
            </p>
            <div class="r50_adaptive"></div>
            <div class="block1">
                <div class="block1__item z-idx3">
                    <a class="block1__head" href="/en/local-company-in-uae/" >
                        <div class="block1__head-content">
                            <div class="block1__head-title">Local company<br class="hide-sm-min"> (Mainland)</div>
                            <div class="block1__head-text">
                                Unlimited business opportunities in any field of activity both in the UAE and abroad
                            </div>
                        </div>
                        <div class="block1__head-icon"></div>
                    </a>
                    <div class="block1__content" >
                        <div class="block1__content-text">
                            <p class="block1__content-text-p">
                                For a LLC, a local partner (the UAE national) must hold 51% of the company (possibly on a nominee basis with registration of a waiver<br class="hide-sm-min"> of ownership rights in Dubai court).
                            </p>
                            <p class="block1__content-text-p">
                                A professional company (SE or CC) signs a contract with a local agent. The local agent is not one of the founders.
                            </p>
                            <p class="block1__content-text-p">
                                Can manufacture and trade freely both in the domestic market and internationally.
                            </p>
                            <p class="block1__content-text-p">
                                Visa procedures for shareholders and employees are simplified.<br class="hide-sm-min"> Enjoys tax resident (domicile)<br class="hide-sm-min"> status and support of UAE banks.
                            </p>
                        </div>
                        <a href="/en/local-company-in-uae/" class="block1__btn btn btn_white btn_border1">
                            Learn More
                            <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                                <use xlink:href="#btn__icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="block1__item z-idx3">
                    <a class="block1__head" href="/en/freezone-company-in-uae/" >
                        <div class="block1__head-content">
                            <div class="block1__head-title">Company in Free<br class="hide-sm-min"> Economic Zones</div>
                            <div class="block1__head-text">
                                Onshore legal entity that is authorized to operate  in any international markets
                            </div>
                        </div>
                        <div class="block1__head-icon"></div>
                    </a>
                    <div class="block1__content" >
                        <div class="block1__content-text">
                            <p class="block1__content-text-p">
                                100% foreign ownership allowed<br class="hide-sm-min"> and intended for all international operations, with some restrictions<br class="hide-sm-min"> on permitted activities in the UAE domestic market.
                            </p>
                            <p class="block1__content-text-p">
                                Free international trade, export and re-export. Wholesale trade possible in the UAE through intermediaries and distributors.
                            </p>
                            <p class="block1__content-text-p">
                                No restrictions on operations and services in the territory of the FZ<br class="hide-sm-min"> and in international markets.
                            </p>
                            <p class="block1__content-text-p">
                                Resident visas are granted for shareholders and employees.<br class="hide-sm-min"> Needs to confirm financial<br class="hide-sm-min"> presence (economic substance).
                            </p>
                        </div>
                        <a href="/en/freezone-company-in-uae/" class="block1__btn btn btn_white btn_border1">
                            Learn More
                            <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                                <use xlink:href="#btn__icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="block1__item z-idx3">
                    <a class="block1__head" href="/en/uae-offshore/" >
                        <div class="block1__head-content">
                            <div class="block1__head-title">International business company (IBC)</div>
                            <div class="block1__head-text">
                                Offshore company for formation of business entities and  conglomerates with protection of owner information
                            </div>
                        </div>
                        <div class="block1__head-icon"></div>
                    </a>
                    <div class="block1__content" >
                        <div class="block1__content-text">
                            <p class="block1__content-text-p">
                                An efficient and cost-effective tool for conducting business as well as international transactions. Provides confidentiality about beneficiary<br class="hide-sm-min"> and company structure.
                            </p>
                            <p class="block1__content-text-p">
                                The ability to act as a shareholder and controller of companies and entities within the UAE or in other countries.
                            </p>
                            <p class="block1__content-text-p">
                                Ownership of real estate allowed only for permitted projects in the Emirate of incorporation.
                            </p>
                            <p class="block1__content-text-p">
                                Does not have the right to issue resident visas. Difficult to open UAE bank accounts. Restrictions related to offshore status.
                            </p>
                        </div>
                        <a href="/en/uae-offshore/" class="block1__btn btn btn_white btn_border1">
                            Learn More
                            <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                                <use xlink:href="#btn__icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="r50_adaptive"></div>
        </div>
    </section>
    <section id="scrollBlock2" class="bg-F9">
        <div class="container_bem">
            <h2 class="title">
                Unique opportunities of company incorporation in the UAE
            </h2>
            <div class="r50_adaptive"></div>
            <p class="description">
                Potential solutions based on  UAE legislation to improve the efficiency of business dealings and regulations:
            </p>
            <div class="r50_adaptive"></div>
            <div class="block1">
                <div class="block1__item z-idx3">
                    <a class="block1__head" href="/en/holding-company-in-uae/" >
                        <div class="block1__head-content">
                            <div class="block1__head-title">Set up a holding company</div>
                            <div class="block1__head-text">
                                Manage international businesses from the UAE. Consolidate assets
                            </div>
                        </div>
                        <div class="block1__head-icon"></div>
                    </a>
                    <div class="block1__content" >
                        <div class="block1__content-text">
                            <p class="block1__content-text-p">
                                Allows you to create an optimal central mechanism to effectively organize the activities of other enterprises or dependent entities.
                            </p>
                            <p class="block1__content-text-p">
                                Conceal the information about the business owners.
                            </p>
                            <p class="block1__content-text-p">
                                Combine different enterprises and areas of activity in a common management structure.
                            </p>
                            <p class="block1__content-text-p">
                                Build ownership of shares, real estate, and other assets. Freedom of movement of capital and profits.
                            </p>
                            <p class="block1__content-text-p">
                               Consolidate business and assets to improve financial performance in the overall balance sheet structure.
                            </p>
                            
                        </div>
                        <a href="/en/holding-company-in-uae/" class="block1__btn btn btn_white btn_border1">
                            Learn More
                            <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                                <use xlink:href="#btn__icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="block1__item z-idx3">
                    <a class="block1__head" href="/en/trust/" >
                        <div class="block1__head-content">
                            <div class="block1__head-title">Form an Arab Trust</div>
                            <div class="block1__head-text">
                                Owner has complete data privacy<br class="hide-sm-min"> and asset protection
                            </div>
                        </div>
                        <div class="block1__head-icon"></div>
                    </a>
                    <div class="block1__content" >
                        <div class="block1__content-text">
                            <p class="block1__content-text-p">
                                It provides complete anonymity <br class="hide-sm-min">for asset owners, signatories and management decision-makers so they can maintain confidentiality.
                            </p>
                            <p class="block1__content-text-p">
                               Dividends from the trust's activities in the UAE are tax-free.
                            </p>
                           
                            <p class="block1__content-text-p">
                                Property registered in a trust cannot be seized by third parties, not even foreign governmental agencies.
                            </p>
                            <p class="block1__content-text-p">
                                Re-registration of real estate into a trust provides the right of ownership without the need for Declaration. 
                            </p>
                            <p class="block1__content-text-p">
                                Inheritance: Trust owners determine the disposition of property and assets.
                            </p>
                        </div>
                        <a href="/trust/" class="block1__btn btn btn_white btn_border1">
                            Learn More
                            <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                                <use xlink:href="#btn__icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="block1__item z-idx3">
                    <a class="block1__head" href="/en/buy-company/" >
                        <div class="block1__head-content">
                            <div class="block1__head-title">Buy an existing company</div>
                            <div class="block1__head-text">
                                Re-establishing companies with a genuine traing history
                            </div>
                        </div>
                        <div class="block1__head-icon"></div>
                    </a>
                    <div class="block1__content" >
                        <div class="block1__content-text">
                            <p class="block1__content-text-p">
                                Allows you to obtain tax resident status of the UAE quickly with the opportunity to protect your data<br class="hide-sm-min"> from automatic tax exchange.
                            </p>
                            <p class="block1__content-text-p">
                                A solution for requirements where the company's age is important.
                            </p>
                            <p class="block1__content-text-p">
                                Get leasing and lending products from UAE banks and financial institutions.
                            </p>
                            <p class="block1__content-text-p">
                                Gives rights to act as a guarantor<br class="hide-sm-min"> as well as participate in local and international tenders.
                            </p>
                            <p class="block1__content-text-p">
                                Generate a valid financial history confirmed by the auditor for the previous reporting periods.
                            </p>
  
                        </div>
                        <a href="/en/buy-company/" class="block1__btn btn btn_white btn_border1">
                            Learn More
                            <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                                <use xlink:href="#btn__icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="r50_adaptive"></div>
        </div>
    </section>
    <section id="scrollBlock3" class="bg-F9">
        <div class="container_bem">
            <h2 class="title">
                Essential services for your business in the UAE
            </h2>
            <div class="r50_adaptive"></div>
            <p class="description">
                When registering a company in the UAE, you will need a range of support and professional services for your business
            </p>
            <div class="r50_adaptive"></div>
            <div class="block1">
                <div class="block1__item z-idx3">
                    <a class="block1__head" href="/en/business-center/" >
                        <div class="block1__head-content">
                            <div class="block1__head-title">Office accommodation in the SORP business center</div>
                            <div class="block1__head-text">
                                Offices and flexi-desks to rent,<br class="hide-sm-min"> which can include registering and licensing a company in the UAE
                            </div>
                        </div>
                        <div class="block1__head-icon"></div>
                    </a>
                    <div class="block1__content" >
                        <div class="block1__content-text">
                            <p class="block1__content-text-p">
                                Prestigious address in Dubai. Comfortable fully equipped offices and meeting rooms, also with<br class="hide-sm-min"> virtual solutions.
                            </p>
                            <p class="block1__content-text-p">
                                Save on rent by occupying minimal space while also obtaining a license for your company and passing the banking and immigration checks.
                            </p>
                            <p class="block1__content-text-p">
                                Offset the cost of office rent by<br class="hide-sm-min"> registering a mainland company on<br class="hide-sm-min"> a sustainability contract (Estidama)<br class="hide-sm-min"> with the possibility of renewal
                            </p>
                            
                        </div>
                        <a href="/en/business-center/" class="block1__btn btn btn_white btn_border1">
                            Learn More
                            <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                                <use xlink:href="#btn__icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="block1__item z-idx3">
                    <a class="block1__head" href="/en/bank-account/" >
                        <div class="block1__head-content">
                            <div class="block1__head-title">Assistance with opening bank accounts</div>
                            <div class="block1__head-text">
                                Guidance through the bank’s<br class="hide-sm-min"> KYC procedures when opening<br class="hide-sm-min"> a corporate account
                            </div>
                        </div>
                        <div class="block1__head-icon"></div>
                    </a>
                    <div class="block1__content" >
                        <div class="block1__content-text">
                            <p class="block1__content-text-p">
                                We prepare necessary business documents, company profile, and signatory CV, and meet with the bank’s representative.
                            </p>
                            <p class="block1__content-text-p">
                                Use our office space to confirm a location for management of a corporate bank account for the<br class="hide-sm-min"> KYC verification procedure.
                            </p>
                           
                            <p class="block1__content-text-p">
                               We liaise with a bank representative in order to simplify communication and interaction in the framework of settlement operations.
                            </p>
                        </div>
                        <a href="/en/bank-account/" class="block1__btn btn btn_white btn_border1">
                            Learn More
                            <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                                <use xlink:href="#btn__icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="block1__item z-idx3">
                    <a class="block1__head" href="/en/business-nominee-services/" >
                        <div class="block1__head-content">
                            <div class="block1__head-title">Nominee<br> services</div>
                            <div class="block1__head-text">
                                Utilize professional nominee<br class="hide-sm-min"> services such as shareholders,<br class="hide-sm-min"> directors and personnel
                            </div>
                        </div>
                        <div class="block1__head-icon"></div>
                    </a>
                    <div class="block1__content" >
                        <div class="block1__content-text">
                            <p class="block1__content-text-p">
                                Appoint us as your local partner<br class="hide-sm-min"> or agent, and as the nominees<br class="hide-sm-min"> required to complete licensing<br class="hide-sm-min"> procedures.
                            </p>
                            <p class="block1__content-text-p">
                                We act as your outsourced management personnel, being residents of the UAE, to meet<br class="hide-sm-min"> criteria for Economic Substance.
                            </p>
                            <p class="block1__content-text-p">
                                We can provide for you limited<br class="hide-sm-min"> rights director and shareholder<br class="hide-sm-min"> appointed to shield beneficiaries<br class="hide-sm-min"> and interconnected entities.
                            </p>
  
                        </div>
                        <a href="/en/business-nominee-services/" class="block1__btn btn btn_white btn_border1">
                            Learn More
                            <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                                <use xlink:href="#btn__icon"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="r50_adaptive"></div>
            <div class="block5  bg-F9 z-idx3">
                <img src="/git/img/contour-only/black-and-red/doc.svg"  alt="" class="block5__icon" loading="lazy">
                <div class="block5__text">
                    With SORP Group, you can register a new company, or transfer domicile from another jurisdiction<br class="hide-sm-min"> 
                    by issuing a power of attorney for registration actions remotely. Our experts will help you open bank<br class="hide-sm-min"> accounts, issue a tax resident certificate, and optimize business processes in the UAE.
                </div>
            </div>
            <div class="r60_adaptive"></div>
        </div>
    </section>

<!---- ФОС -->
<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">A solution for setting up a company in the UAE that meets your goals</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Get a solution</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>
    
<!-- преимущества -->    
<section id="scrollBlock4" class="bg-FF z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">What benefits do business owners<br class="hide-sm-min"> enjoy in the UAE?</h2>
        <div class="block-snake block-snake_line-right">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/goverment-house.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>    
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Government guarantees</div>
                    The Emirates protect the rights of<br class="hide-sm-min"> investors by providing equal business<br class="hide-sm-min"> opportunities for foreign and local entrepreneurs.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/shield.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Data protection</div>
                    Legislation ensures the confidentiality<br class="hide-sm-min"> 
                    of information about foreign business<br class="hide-sm-min"> owners who have registered a company <br class="hide-sm-min">in the UAE.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/moneycredit.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Financial freedoms</div>
                    Freedom to deposit and withdraw funds,<br class="hide-sm-min"> no currency controls, simplified KYC<br class="hide-sm-min"> procedure for transactions in the local currency. 
                </div>
            </div>
        </div>
        <div class="block-snake block-snake_line-left">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/bank.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Taxpayer registration number</div>
                    A company operating in the Emirates<br class="hide-sm-min">
                    receives a TRN number, which provides<br class="hide-sm-min"> confidence and validation for foreign <br class="hide-sm-min">financial institutions and others.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/dinero.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Tax resident status</div>
                    All business owners can get a residence permit and then a tax resident (domicile)<br class="hide-sm-min"> status, which shields them from CRS<br class="hide-sm-min"> (exchange of tax information).
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/passport.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Prestige and validity</div>
                    Despite their tax-free nature, the UAE jurisdictions are not offshore and are<br class="hide-sm-min"> 
                        not included in any "black” or “grey”<br class="hide-sm-min"> 
                        list of the OECD and FATF.  
                </div>
            </div>
        </div>
        <div class="block-snake">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/diplom2.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
    
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Tax benefits</div>
                    0% basic tax (corporate,<br class="hide-sm-min"> 
                    personal income, dividends).<br class="hide-sm-min"> 
                    5% VAT for a number of internal<br class="hide-sm-min"> operations.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/flag.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
    
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Free trade market</div>
                    Unified tax and customs regulations<br class="hide-sm-min"> mean duty-free free trade agreements<br class="hide-sm-min">  across 6 of the Gulf Cooperation Council<br class="hide-sm-min"> (GCC) countries.
                </div>
            </div>
            <div class="block-snake__item fadeInUp" style="background: #fff;">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/flag.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Strategic trading location</div>
                    As the Middle East’s aviation hub and with the largest cargo port in the region, the UAE is perfectly placed as the intersection of Europe, Africa and Asia.
                </div>
            </div>
        </div>
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
            Get a consultation
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
              <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
</section>

<!-- Комплекс услуг -->
<section id="scrollBlock5" class="bg-F9">
    <div class="r1 bg-E3"></div>
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP's core incorporation and business support services</h2>
        <div class="r50_adaptive"></div>
        <div class="block14 z-idx3">
            <div class="block14__item">
                <div class="block14__title">
                    Choosing the best location for your company
                </div>
                    <div class="block14__text">
                        Where you register your company in the UAE is important. We will assess your objectives, advise on the best legal entity for you, and the best jurisdiction to register it in.
                    </div>
                </div>
                <div class="block14__item">
                    <div class="block14__title">
                        Defining your individual <br class="hide-sm-min">business model
                    </div>
                    <div class="block14__text">
                        We devise development strategies for you based on the competition and the law. Then we choose the right operating license and tell you what you must do to obtain it.
                    </div>
                </div>
                <div class="block14__item">
                    <div class="block14__title">
                        Company <br class="hide-sm-min"> registration<br class="hide-sm-min"> and licensing
                    </div>
                    <div class="block14__text">
                        We are registration agents for several Free Zones. We can process incorporation and licences quickly and without fuss, and for local mainland businesses too.
                    </div>
                </div>
                
                <div class="block14__item">
                    <div class="block14__title">
                        Dubai business address
                    </div>
                    <div class="block14__text">
                        Rent an office or a flexi desk in our 5000 sq. meters of prime office space. Get a prestigious address, help with licensing and space for staff if you want.
                    </div>
                </div>
                <div class="block14__item">
                    <div class="block14__title">
                        Local nominee partner or agent
                    </div>
                    <div class="block14__text">
                        We act as your nominee local UAE partner or agent, all properly registered, with a waiver of rights<br class="hide-sm-min"> in the Dubai court to protect your interests.
                    </div>
                </div>
                <div class="block14__item">
                    <div class="block14__title">
                        Opening bank accounts
                    </div>
                    <div class="block14__text">
                        We guide you through KYC compliance with your choice of leading UAE banks. Our know-how gets things done quickly with top quality support on hand for you.
                    </div>
                </div>
                
                <div class="block14__item">
                    <div class="block14__title">
                        PRO <br class="hide-sm-min">business support
                    </div>
                    <div class="block14__text">
                        We act on your behalf with UAE government agencies for issuing resident visas to partners, staff<br class="hide-sm-min"> and their families, and obtaining all licenses, registrations and permits.
                    </div>
                </div>
                <div class="block14__item">
                    <div class="block14__title">
                        Outsourced<br class="hide-sm-min"> business processes
                    </div>
                    <div class="block14__text">
                        It makes sense to use SORP’s expert professional administrative, recruiting, accounting and tax competencies, saving the cost of employing highly paid personnel.
                    </div>
                </div>
                <div class="block14__item">
                    <div class="block14__title">
                        Legal <br class="hide-sm-min">support
                    </div>
                    <div class="block14__text">
                        SORP Group’s corporate lawyers, and our strategic partnerships with the best lawyers in the UAE and around the world, provide superb legal support for your business.
                    </div>
                </div>
                
                <div class="block14__item">
                    <div class="block14__title">
                       Obtaining tax residency status
                    </div>
                    <div class="block14__text">
                        Enjoy tax resident (domicile)<br class="hide-sm-min"> status shielding you from CRS requirements for sharing your<br class="hide-sm-min"> tax details and preventing double taxation.
                        
                    </div>
                </div>
                <div class="block14__item">
                    <div class="block14__title">
                        International <br class="hide-sm-min">tax planning 
                    </div>
                    <div class="block14__text">
                        We design optimized tax solutions for international business within the full scope of UAE legislation, drawing on our wide experience in this field.
                    </div>
                </div>
                <div class="block14__item">
                    <div class="block14__title">
                        Confirmation of <br class="hide-sm-min">economic substance
                        
                    </div>
                    <div class="block14__text">
                        We help fulfil proof of economic substance based on the registered location of your company, its localized decision making and management, and tax compliance.
                    </div>
                </div>
            </div>
            <div class="r60_adaptive"></div>
        </div>
</section>

<!---- ФОС -->
<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Enjoy the many significant advantages of owning a company in the UAE.</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Start the process today</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>
<!---- ФОС -->

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="why_sorp">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP’s long experience and priceless know-how gets results and achieves your goals.</h2>
        <div id="vslideouter" class="slider_02 text_slider">
            <div class="slide-elem tslider-item-new flex_column first">
                <div class="back"></div>
                <div class="tslider-item__number">Индивидуальный поход</div>
                <div class="tslider-item__text fadeInUp">Конфиденциальные и индивидуально разработанные юридические решения для консолидации бизнеса, оптимизации налогообложения, сокрытия бенефициаров и защиты от автоматического обмена</div>
            </div>

            <div class="text_slider__inner">
                <div class="slide-elem tslider-item-new flex_column second">
                    <div class="back"></div>
                    <div class="tslider-item__number">Комплексные решения</div>
                    <div class="tslider-item__text wow fadeInUp">Разработка архитектуры структурирования и реорганизация бизнеса, применения схем планирования, включая в том числе регистрацию компании под ключ, сопровождение в открытии банковских счетов,  разработки внутригрупповых договорных отношений</div>
                </div>

                <div class="slide-elem tslider-item-new flex_column third">
                    <div class="back"></div>
                    <div class="tslider-item__number">15 лет опыта в ОАЭ</div>
                    <div class="tslider-item__text">Экспертные знания и 15-летний опыт проведения профессиональных консультаций, открытия компаний и поддержки их деятельности в различных секторах экономики</div>
                </div>

                <div class="slide-elem tslider-item-new flex_column">
                    <div class="back"></div>
                    <div class="tslider-item__number">Юридическая  поддержка</div>
                    <div class="tslider-item__text">Обеспечение конфиденциальности Ваших данных и контроль надлежащего исполнения действующего законодательства</div>
        		</div>
        		<div class="tns-controls">
                    <div class="button" onclick="slideup()"></div>
        		    <div class="button" onclick="slidedown()"></div>
        		</div>
        	</div>
        </div>
    </div>
    <div class="r1 bg-E3"></div>
</section>

<!--     T-SLIDER   -->
        <style>
          #stat .owl-nav {
              width:auto;
              left:auto;
            }

            #stat .owl-next span, #stat .owl-prev span {
                display: block !important;
            }
            #stat .owl-next, #stat .owl-prev {
                width: 70px!important;
                height: 70px!important;  
            }
            @media (max-width: 768px) {
                .tslider .owl-nav {
                    height: auto;
                    left: auto;
                    right: 0;
                    top: auto;
                    bottom: -93px;
                }
                #stat.tslider-w {
                    padding-top: 0px;
                }
            }
            
            
            </style>
    <section class="bg-F9 z-idx3">
        <div class="tslider-w" id="stat">
            <div class="container_bem">
                <!-- <h2 class="mobile-h2 dark wow fadeInUp" id="">SORP сегодня</h2> -->
                <div class="tslider">
                    <div class="tslider__border3"></div>
                    <div class="tslider__border"></div>
                    <div class="tslider__border2"></div>
                    <!-- <h2 class="dark wow fadeInUp" id="">SORP сегодня</h2> -->
                    <div class="tslider__image"></div>
                    <div class="owl-carousel">
                        <div class="tslider-item">
                            <div class="tslider-item__number counterAnimate">
                                54
                            </div>
                            <div class="tslider-item__text wow fadeInUp">
                                эксперта
                                <br />в офисе
                            </div>
                        </div>
                        <div class="tslider-item">
                            <div class="tslider-item__number counterAnimate">
                                4657
                            </div>
                                    <div class="tslider-item__text">
                                        проведенных консультаций
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number counterAnimate">
                                        7
                                    </div>
                                    <div class="tslider-item__text">
                                        юридических
                                        <br />лиц
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number">
                                        94%
                                    </div>
                                    <div class="tslider-item__text">
                                        CSI индекс удовлетворенности потребителей
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number">
                                        15
                                    </div>
                                    <div class="tslider-item__text">
                                        лет опыта
                                        <br />в ОАЭ
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number">
                                        1589
                                    </div>
                                    <div class="tslider-item__text">
                                        зарегистрированных юр лиц
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number">
                                        10
                                    </div>
                                    <div class="tslider-item__text">
                                        государственных
                                        <br /> аккредитаций
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number">
                                        4000
                                    </div>
                                    <div class="tslider-item__text">
                                        + гостей посетили бизнес-центр в прошлом году
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number">
                                        5000
                                    </div>
                                    <div class="tslider-item__text">
                                        м2
                                        <br /> офисных
                                        <br /> пространств
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number">
                                        503
                                    </div>
                                    <div class="tslider-item__text">
                                        компаний
                                        <br /> в управлении
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number">
                                        725
                                    </div>
                                    <div class="tslider-item__text">
                                        проведенных
                                        <Br /> экспертиз
                                    </div>
                                </div>
                                <div class="tslider-item">
                                    <div class="tslider-item__number">
                                        9 NPS
                                    </div>
                                    <div class="tslider-item__text">
                                        индекс
                                        <br />лояльности
                                        <br /> потребителя
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<!--     T-SLIDER   -->

    <div class="r1 bg-E3"></div>
    
<!-- ФОРМА НИЗ -->
<section class="bg-F9" id="scrollBlock6">
    <div class="r1 bg-E3"></div>     
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Start Your Company in<br class="hide-sm-min"> the UAE</div>
          <div class="r20"></div>
            Submit your request and you will be contacted by one of our managers who will advise you on starting your company in the UAE.
            <br><br>
            Let us know what you have in mind and what you<br class="hide-sm-min"> want to achieve. Our SORP Group experts will find the most appropriate solution for your business to<br class="hide-sm-min"> simplify starting a company. Get full knowledgeable and professional support from us.
            <br><br>
            You are just one step away from starting a successful business in the UAE.
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Register a company</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 bg-E3"></div>
</section>
{/block}
{include 'footer_new'}