.block-frames {
  &__box { color: #252B39; padding: 22px 40px 22px 22px; font-size: 18px; line-height: 1.33; background: #EEF7FC; border-radius: 10px; background-position: 100% 30px; background-repeat: no-repeat; }
  &__signature-box { margin-top: 20px; display: flex; }
  &__signature-icon { width: 17px; height: 24px; margin: 3px 16px 0 0; background-size: contain; background-repeat: no-repeat; flex: none; }
  &__signature-text { color: #252B39; font-size: 15px; line-height: 1.47; }
}