@import '../base/global.styl';

@import '../../blocks/btn/_white/btn_white.styl';
@import '../../blocks/first-screen/first-screen.styl';
@import '../../blocks/block-frames/block-frames.styl';
@import '../../blocks/block24/block24.styl';
@import '../../blocks/feedback-block/feedback-block.styl';
@import '../../blocks/quote/quote.styl';
@import '../../blocks/Utilities/bg/_map-dubai/bg_map-dubai.styl';
@import '../../blocks/block15/block15.styl';
@import '../../blocks/borderline/borderline.styl';
@import '../../blocks/borderline/__quote/borderline__quote.styl';
@import '../../blocks/feedback-bigblock/feedback-bigblock.styl';
@import '../../blocks/block1/block1.styl';
@import '../../blocks/block1/_anchor/block1_anchor.styl';
@import '../../blocks/block1/_light/block1_light.styl';
@import '../../blocks/block5/block5.styl';
@import '../../blocks/block12/block12.styl';
@import '../../blocks/slider/slider.styl';
@import '../../blocks/arrow/arrow.styl';