@import '../base/global.styl';
@import '../../blocks/first-screen/first-screen.styl';
@import '../../blocks/block-frames/block-frames.styl';
@import '../../blocks/Utilities/bg/_right-side/bg_right-side.styl';
@import '../../blocks/btn/_white/btn_white.styl';
@import '../../blocks/block41/block41.styl';
@import '../../blocks/block35/block35.styl';
@import '../../blocks/feedback-block/feedback-block.styl';
@import '../../blocks/dots/dots.styl';
@import '../vendor/import/slick.styl';
@import '../../blocks/dots/dots.styl';
@import '../../blocks/block43/block43.styl'; 
@import '../../blocks/block5/block5.styl';
@import '../../blocks/block35/_description/block35_description.styl';
@import '../../blocks/experts/-mentoring/experts-mentoring.styl';
@import '../../blocks/tabs/tabs.styl';
@import '../../blocks/calendar/calendar.styl';
@import '../../blocks/block56/block56.styl';
@import '../../blocks/block56/_modal/block56_modal.styl';
@import '../../blocks/Utilities/modal-gallery/modal-gallery.styl'; 
@import '../../blocks/block17/block17.styl';
@import '../../blocks/borderline/borderline.styl';
@import '../../blocks/feedback-bigblock/feedback-bigblock.styl';
@import '../../blocks/Utilities/bg/bg.styl'; // это нужно внизу, т.к не дает перекрыть цвет бг у блоков у которых он указан
.bg_first-screen { background-color: #524dd2; }