@import '../base/global.styl';

@import '../../styles/vendor/import/owl.carousel.styl';
@import '../../blocks/first-screen/first-screen.styl';
@import '../../blocks/first-screen-statistics/first-screen-statistics.styl';
@import '../../blocks/Utilities/bg/_map-dubai/bg_map-dubai.styl';
@import '../../blocks/Utilities/text/text.styl';
@import '../../blocks/contacts/contacts.styl';
@import '../../blocks/about-company/about-company.styl';
@import '../../blocks/nav/nav.styl';
@import '../../blocks/borderline/borderline.styl';
@import '../../blocks/borderline/__quote/borderline__quote.styl';
@import '../../blocks/arrow/arrow.styl';
@import '../../blocks/feedback-bigblock/feedback-bigblock.styl';