@import '../base/global.styl';
@import '../../blocks/first-screen/first-screen.styl';
@import '../vendor/import/slick.styl';
@import '../../blocks/dots/dots.styl';
@import '../../blocks/Utilities/border/border.styl';
@import '../../blocks/tabs/tabs.styl';
@import '../../blocks/Utilities/pages/pages.styl';
@import '../../blocks/block54/block54.styl';
@import '../../blocks/block55/block55.styl';
@import '../../blocks/btn/_white/btn_white.styl';
@import '../../blocks/Utilities/bg/_eb/bg_eb.styl';
@import '../../blocks/Utilities/bg/_right-side/bg_right-side.styl';
@import '../../blocks/experts/experts.styl';
@import '../../blocks/feedback-block/feedback-block.styl';
@import '../../blocks/block17/block17.styl';
@import '../../blocks/borderline/borderline.styl';
@import '../../blocks/feedback-bigblock/feedback-bigblock.styl';