@import '../base/global.styl';

@import '../../blocks/header/_landing/header_landing.styl';
@import '../../blocks/first-screen/first-screen.styl';
@import '../../blocks/block-frames/block-frames.styl';
@import '../../blocks/Utilities/bg/_wave/bg_wave.styl';
@import '../../blocks/block41/block41.styl';
@import '../../blocks/block5/block5.styl';
@import '../../blocks/btn/_white/btn_white.styl';
@import '../../blocks/block35/block35.styl';
@import '../../blocks/block35/_waves/block35_waves.styl';
@import '../../blocks/Utilities/list/list.styl';
@import '../../blocks/feedback-block/feedback-block.styl';
@import '../../blocks/block24/block24.styl';
@import '../../blocks/block7/block7.styl';
@import '../../styles/vendor/import/fancybox.styl';
@import '../../blocks/statistics/statistics.styl';
@import '../../blocks/block42/block42.styl';
@import '../../blocks/slider/slider.styl';
@import '../../blocks/arrow/arrow.styl';
@import '../../blocks/borderline/borderline.styl';
@import '../../blocks/feedback-bigblock/feedback-bigblock.styl';
.bg_first-screen { background-color: #524dd2; }