@import '../helpers/variables.styl';
@import '../vendor/libs.styl';

@import '../../blocks/socials/socials.styl';
@import '../../blocks/messenger/messenger.styl';
@import '../../blocks/header-thanks/header-thanks.styl';
@import '../../blocks/title/title.styl';
@import '../../blocks/title/__nowrap/title_nowrap.styl';
@import '../../blocks/description/description.styl';
@import '../../blocks/description/_nowrap/description_nowrap.styl';
@import '../../blocks/description/__font-w500/description__font-w500.styl';
@import '../../blocks/Utilities/container/container.styl';
@import '../../blocks/Utilities/container/_thank/container_thank.styl';
@import '../../blocks/Utilities/flex/flex.styl';
@import '../../blocks/Utilities/flex/_height100/flex_height100.styl';
@import '../../blocks/Utilities/flex/_width100/flex_width100.styl';
@import '../../blocks/Utilities/hide-show/hide-show.styl';
@import '../../blocks/Utilities/r/r.styl';
@import '../../blocks/Utilities/bg/bg.styl';