@import '../base/global.styl';
@import '../../blocks/first-screen/first-screen.styl';
@import '../../blocks/first-screen/_workshop/first-screen_workshop.styl'
@import '../../blocks/block-frames/block-frames.styl';
@import '../../blocks/Utilities/bg/_right-side/bg_right-side.styl';
@import '../../blocks/first-screen-statistics/first-screen-statistics.styl';
@import '../../blocks/Utilities/bg/_wave/bg_wave.styl';
@import '../../blocks/block41/block41.styl';
@import '../../blocks/feedback-block/feedback-block.styl';
@import '../../blocks/block57/block57.styl';
@import '../../blocks/block58/block58.styl';
@import '../../blocks/block58/_play-button/block58_play-button.styl';
@import '../../blocks/btn/_white/btn_white.styl';
@import '../../blocks/tabs/tabs.styl';
@import '../../blocks/tabs/_full-width/tabs_full-width.styl';
@import '../../blocks/block35/block35.styl';
@import '../../blocks/block35/_workshop/block35_workshop.styl';
@import '../../blocks/about-company/about-company.styl';
@import '../../blocks/experts/-about/experts-about.styl';
@import '../../blocks/modal/_block/modal_block.styl';
@import '../../blocks/block41/_column-direction/block41_column-direction.styl';
@import '../../blocks/slider-departments/_static/slider-departments_static.styl';
@import '../../blocks/Utilities/bg/bg.styl'; // это нужно внизу, т.к не дает перекрыть цвет бг у блоков у которых он указан
.bg_first-screen { background-color: #4943CD; }