@import 'base/global.styl';

@import '../blocks/header/_main/header_main.styl';
@import '../styles/vendor/import/owl.carousel.styl';
@import '../blocks/arrow/arrow.styl';
@import '../blocks/dots/dots.styl';
@import '../blocks/old-home-slider/old-home-slider.styl';
@import '../blocks/home-slider-mobile/home-slider-mobile.styl';
@import '../blocks/block21/block21.styl';
@import '../blocks/block22/block22.styl';
@import '../blocks/feedback-block/feedback-block.styl';
@import '../blocks/about-company/about-company.styl';
@import '../blocks/slider-number/slider-number.styl';

@import '../blocks/slider-departments/slider-departments.styl';

@import '../blocks/block23/block23.styl';
@import '../blocks/m2/m2.styl';
@import '../blocks/borderline/borderline.styl';
@import '../blocks/borderline/__quote/borderline__quote.styl';