.footer {
  &__btn-services-icon { position: absolute; top: 50%; left: 17px; fill: #D64356; width: 36px; height: 30px; transform: translateY(-50%); background-size: contain; background-position: center; background-repeat: no-repeat; }
  &__btn-services-text { padding-left: 25px; }
  &__box { color: #f3c6cc; font-size: 16px; line-height: 1.35; text-align: center; padding: 17px; background: #D64356; }
  &__box-item { margin-bottom: 0; }
}