<div class="socials#{socials_class}">
a.socials__item(href="https://www.facebook.com/sorppro/" title="Facebook" target="_blank" rel="noopener")
  svg.socials__icon(xmlns='http://www.w3.org/2000/svg')
    use(xlink:href='#facebook')
a.socials__item(href="https://www.instagram.com/sorp_ae/" title="Instagram" target="_blank" rel="noopener")
  svg.socials__icon(xmlns='http://www.w3.org/2000/svg')
    use(xlink:href='#instagram')
a.socials__item(href="https://www.linkedin.com/company/sorpgroup-ru/" title="Linkedin" target="_blank" rel="noopener")
  svg.socials__icon(xmlns='http://www.w3.org/2000/svg')
    use(xlink:href='#in')
a.socials__item(href="https://twitter.com/sorp_group" title="Twitter" target="_blank" rel="noopener")
  svg.socials__icon(xmlns='http://www.w3.org/2000/svg')
    use(xlink:href='#twitter')
</div>