.btn {
  &_white { color: #000000; background: #fff; border-color: #CC4052; }
  &_white &__icon-svg { fill: #CC4052; }
  &_white:hover { color: #fff; background: #CC4052; }
  &_white:hover &__icon-svg { fill: #fff; }
}