{block 'content'}
{include 'header'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" height="128"  width="128" viewBox="0 0 128 128">
    	<path d="M74.508,108.239c-0.772,0-1.479-0.445-1.81-1.148l-16.863-35.84L20.732,55.116c-0.734-0.337-1.193-1.083-1.164-1.891  c0.03-0.808,0.543-1.518,1.3-1.8l83.312-31.107c0.729-0.271,1.552-0.096,2.105,0.452c0.555,0.548,0.739,1.369,0.475,2.102  l-30.371,84.047c-0.274,0.761-0.98,1.28-1.788,1.318C74.569,108.238,74.538,108.239,74.508,108.239z M26.772,53.49l31.396,14.432  c0.429,0.197,0.774,0.539,0.975,0.965l15.122,32.139l27.264-75.448L26.772,53.49z"/>
    	<path d="M57.334,71.738c-0.512,0-1.023-0.195-1.414-0.586c-0.781-0.78-0.781-2.047,0-2.828l47.545-47.546  c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828L58.748,71.152C58.357,71.543,57.846,71.738,57.334,71.738z"/>
    </symbol>
</svg>
<style>
    .block7 .block7__item:hover { background-color: #[[*link_attributes]]; border-bottom: #[[*link_attributes]]; }
    @media (min-width: 770px) { .block-snake__text { padding-right: 40px; } }
    .block19__header .block19__tab { max-width: 49%; padding: 30px 60px 30px 20px; }
    @media (max-width: 770px) { .block-snake_reverse { flex-direction: column-reverse; } }
</style>
<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/assets/templates/main/img/mask.png" data-src="/assets/templates/main/img/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">Легализация документов для бизнеса в ОАЭ</h1>
                    <p class="first-screen__text">Комплексные услуги по легализации документов, сертифицированный перевод, полное сопровождение, развитая международная агентская сеть</p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>    
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">Объединенные Арабские Эмираты не являются участником Гаагской конвенции об апостиле, в связи <br class="hide-sm-min">с чем все документы, выданные в других странах, подлежат обязательной легализации. Эта сложная <br class="hide-sm-min">и многоступенчатая процедура требует значительных временных и денежных затрат. Наши эксперты помогут сэкономить время и деньги, решив все ваши задачи, связанные с легализацией документов</div>
        </div>
        <div class="r30"></div>
    </div>
</section>

<!--         block41          -->
<section id="scrollBlock1" class="z-idx3 bg-FF bg_wave">
    <div class="container_bem">
    <div class="r60_adaptive"></div>
    <h2 class="title">Для решения каких задач вам потребуется легализация документов?</h2>
    <div class="r50_adaptive"></div>
    <div class="block41">
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Организация <br class="hide-sm-min">бизнеса в ОАЭ</h3>
                <div class="block41__icon-wrap">
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/human-network.svg" alt="" class="block41__icon" loading="lazy">
                    </div>
                </div>
            </div>
            <p class="block41__desc">
                Для открытия бизнеса в ОАЭ документы иностранного учредителя - юридического лица подлежат консульской легализации
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Открытие зарубежного счета</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/bank-building.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">                
                Для открытия счета компании за рубежом нужно предоставить в иностранный банк  легализованные уставные документы
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Деятельность по доверенности</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/verified-person.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">
                Для представления интересов другого лица или компании на территории ОАЭ нужна легализованная доверенность
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Трансграничные сделки M&A</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/save-the-world.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">
                Приобретение долей бизнеса за рубежом, оформление активов, создание компаний  требует легализации документов
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Иммиграционные процедуры</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/passport-fly-ticket.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">
                Для оформления резидентства членов семьи учредителя компании требуется  легализация ряда документов
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Лицензирование бизнеса</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/document-tall.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">
                Часть лицензий требует легализованных документов об образовании учредителей и руководителей компании
            </p>
        </div>
    </div>
    <div class="r60_adaptive"></div>
</div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Узнайте, для решения каких задач именно вам может <br class="hide-sm-min">потребоваться легализация документов</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Спросите эксперта</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="bg-FF z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Как происходит процесс легализации документов</h2>
        <div class="r30_adaptive"></div>
        <p class="description">SORP  – одна из немногих консалтинговых компаний в ОАЭ, которая подходит к решению стоящих перед клиентами задач комплексно и профессионально. Одним из наших преимуществ является наличие международной агентской сети, которая помогает нам проходить процедуры легализации за рубежом быстро и эффективно</p>        
        <div class="r50_adaptive"></div>
        <div class="block19">
            <div class="block19__header">
                <div class="block19__tab block19__tab_active">
                    <img src="/git/img/contour-only/gray/building.svg" alt="" loading="lazy">
                    <div class="block19__tab-title">Легализация документов в <br class="hide-sm-min"> иностранных юрисдикциях</div>
                </div>
                <div class="block19__tab">
                    <img src="/git/img/contour-only/gray/office.svg" alt="" loading="lazy">
                    <div class="block19__tab-title">Легализация документов в ОАЭ</div>
                </div>
            </div>
            <div class="block19__content">
                <div class="block19__item block19__item_active">
                    <div class="r50_adaptive"></div>
                    <div class="block5 block5_no-border block5_message bg-EF">
                        <div class="block5__text" style="text-align: center;">
                            Процесс легализации документов на примере компании из Испании, которая планирует зарегистрировать представительство на территории ОАЭ
                        </div>
                    </div>

                    <div class="block-snake block-snake_line-right">
                        <div class="block-snake__item fadeInUp">
                                <div class="block-snake__img">
                                    <div class="block-snake__digit">1</div>
                                </div>
                                <div class="block-snake__text block-snake__text_gray">
                                    <div class="block-snake__text-header">Передача документов</div>
                                    Уставные документы и резолюция <br class="hide-sm-min">об учреждении представительства компании передаются агенту SORP
                                </div>
                        </div>
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">2</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                    <div class="block-snake__text-header">Нотариат</div>
                                    Нотариус заверяет копии документов компании, удостоверяет подлинность подписи переводчика
                                </div>
                        </div>
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">3</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">Минюст Испании</div>
                                Министерство юстиции Испании заверяет подлинность подписи и печати нотариуса
                            </div>
                        </div>
                    </div>
                    <div class="block-snake block-snake_reverse">
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">6</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">МИД ОАЭ</div>
                                Документация передаётся нашей компании в ОАЭ для аттестации в Министерстве иностранных дел
                            </div>
                        </div>
            
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">5</div>
                            </div>    
                            <div class="block-snake__text block-snake__text_gray ">
                                <div class="block-snake__text-header">Посольство ОАЭ в Испании</div>
                                Легализация документов и копий <br class="hide-sm-min">в Посольстве ОАЭ. Документация переведена на арабский язык
                            </div>
                        </div>
            
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">4</div>
                            </div>    
            
                            <div class="block-snake__text block-snake__text_gray ">
                                <div class="block-snake__text-header">МИД Испании</div>
                                Подлинность подписи ответственного лица и печати Министерства юстиции заверяет МИД Испании 
                            </div>
                        </div>            
                    </div>
                    
                    <div class="r60_adaptive"></div>
                    <a href="#" class="btn btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
                        Оставить заяву
                        <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                        <use href="#btn__icon-modal"></use>
                        </svg>
                    </a>                    
                </div>

                <!-- tab num 2 -->
                <div class="block19__item">
                    <div class="r50_adaptive"></div>
                    <div class="block5 block5_no-border block5_message bg-EF">
                        <div class="block5__text" style="text-align: center;">
                            Процесс легализации документов на примере компании, зарегистрированной в СЭЗ DMCC, которая планирует учредить дочернюю компанию на территории р. Кипр
                        </div>
                    </div>

                    <div class="block-snake block-snake_line-right">
                        <div class="block-snake__item fadeInUp">
                                <div class="block-snake__img">
                                    <div class="block-snake__digit">1</div>
                                </div>
                                <div class="block-snake__text block-snake__text_gray">
                                    <div class="block-snake__text-header">Передача документов</div>
                                    Оригиналы и копии документов (доверенность на их получение) передаются сотрудникам SORP
                                </div>
                        </div>
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">2</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                    <div class="block-snake__text-header">Резолюция компании</div>
                                    Разработка и подготовка резолюции об учреждении дочерней компании с целью ее заверения у регистратора
                                </div>
                        </div>
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">3</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">СЭЗ DMCC</div>
                                СЭЗ DMCC удостоверяет подлинность  оригиналов и копий представленных документов компании и резолюции
                            </div>
                        </div>
                    </div>
                    <div class="block-snake">
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">6</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">Посольство р. Кипр в ОАЭ</div>
                                Все аттестованные и переведенные документы передаются посольству <br class="hide-sm-min"> р. Кипр для их легализации
                            </div>
                        </div>
            
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">5</div>
                            </div>    
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">Перевод документов</div>
                                Перевод всех документов с арабского языка на греческий язык, заверяется присяжным переводчиком 
                            </div>
                        </div>
            
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">4</div>
                            </div>    
            
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">МИД ОАЭ</div>
                                Министерство иностранных дел ОАЭ заверяет подлинность печати DMCC <br class="hide-sm-min">и подписи уполномоченного лица
                            </div>
                        </div>
            
                    </div>
                    
                    <div class="r60_adaptive"></div>
                    <a href="#" class="btn btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
                        Оставить заяву
                        <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                        <use href="#btn__icon-modal"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!-- Решения -->
<section id="scrollBlock3" class="bg-F9">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Решения SORP Group для выполнения Ваших задач по легализации</h2>
        <div class="r30_adaptive"></div>
        <p class="description">SORP Group успешно оперирует на рынке бизнес - консалтинга ОАЭ в течение 15 лет, оказывая предпринимателям  комплексные услуги различной направленности, в том числе, услуги, связанные с легализацией документов</p>
        <div class="r50_adaptive"></div>
        <div class="block7 block7_modal block7_icon-visible">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy">
                </div>
                <div class="block7__title">Легализация и аттестация документов в ОАЭ</div>
                <div class="block7__text">Удостоверение подлинности подписи должностного лица, подписавшего документ, и печати ведомства</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/translation-globe.svg" loading="lazy">
                </div>
                <div class="block7__title">Профессиональный перевод документов</div>
                <div class="block7__text">Качественные переводы всех видов документов с арабского/ на арабский язык, заверенные судебным переводчиком</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/diploma.svg" loading="lazy">
                </div>
                <div class="block7__title">Легализации документов за рубежом</div>
                <div class="block7__text">В консульских учреждениях за границей после их заверения в Министерстве Иностранных Дел страны пребывания</div>
            </div>            
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Найдем оптимальные решения для ваших задач по легализации документов</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Оставьте заявку</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP -->        
<div id="scrollBlock4" class="bg-F9">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP - полный спектр услуг по регистрации, сопровождению и управлению бизнесом в ОАЭ</h2>        
        <div id="vslideouter" class="slider_02 text_slider">
            <div class="text_slider__inner">
                <div class="slide-elem tslider-item-new flex_column first">
                    <div class="back"></div>
                    <div class="tslider-item__number">Статус эксперта</div>
                    <div class="tslider-item__text wow fadeInUp">Мы способны принять юридически верное решение по выбору лицензии на основе анализа ваших потребностей и провести консультацию по всем вопросам, связанным с лицензированием.</div>
                </div>
                <div class="slide-elem tslider-item-new flex_column second">
                    <div class="back"></div>
                    <div class="tslider-item__number">Возможности для расширения</div>
                    <div class="tslider-item__text">Гибкий договор аренды позволяет в любой момент увеличить арендуемые площади по мере роста вашей команды</div>
                </div>
                <div class="slide-elem tslider-item-new flex_column third">
                    <div class="back"></div>
                    <div class="tslider-item__number">15 лет опыта в ОАЭ</div>
                    <div class="tslider-item__text">в области регистрации, сопровождения компаний и решения бизнес-задач клиентов для организации прибыльной деятельности, в том числе сопровождение туристических компаний. Мы - официальный агент государственных ведомств и свободных экономических зон.</div>
                </div>
                <div class="slide-elem tslider-item-new flex_column">
                    <div class="back"></div>
                    <div class="tslider-item__number">Комплексное обслуживание</div>
                    <div class="tslider-item__text">Комплексное решение от подготовки бизнес-плана до регистрации компании, подбор квалифицированного персонала, полный спектр услуг по сопровождению бизнеса.</div>
                </div>
                
                <div class="slide-elem tslider-item-new flex_column">
                    <div class="back"></div>
                    <div class="tslider-item__number">Локальный номинальный сервис</div>
                    <div class="tslider-item__text">Предоставляем надежных локальных партнеров и агентов, присутствие которых в некоторых случаях  является обязательным требованием законодательства при формировании локальных компаний.</div>
                </div>
                <div class="slide-elem tslider-item-new flex_column">
                    <div class="back"></div>
                    <div class="tslider-item__number">Собственный бизнес-центр SORP</div>
                    <div class="tslider-item__text">5000 квадратных метров современных офисных пространств престижной локации Дубая в аренду для размещения бизнеса и прохождения процедур лицензирования.</div>
                </div>
            </div>
            <div class="tns-controls">
                <div class="button" onclick="slideup()"></div>
                <div class="button" onclick="slidedown()"></div>
            </div>
        </div>
    </div>
    <div class="r1 r_bg-gray"></div>
</div>

<!-- registration -->
<section class="bg-F9" id="scrollBlock5">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Поручите <br class="hide-sm-min"> легализацию документов профессионалам</div>
          <div class="r20"></div>
            Оставьте заявку, мы обсудим вашу ситуацию и специфику ваших задач по легализации
            <br><br>
            Эксперты SORP Group подберут оптимальное  решение по легализации документов в ОАЭ c  учётом ваших потребностей и окажут полную и всестороннюю поддержку
            <br><br>
            Доверьтесь профессионалам, обратитесь в группу компаний SORP!
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Легализовать документы</div>
            <div class="r20"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

{/block}
{include 'footer_new'}