{block 'content'}
{include 'header'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" height="128"  width="128" viewBox="0 0 128 128">
    	<path d="M74.508,108.239c-0.772,0-1.479-0.445-1.81-1.148l-16.863-35.84L20.732,55.116c-0.734-0.337-1.193-1.083-1.164-1.891  c0.03-0.808,0.543-1.518,1.3-1.8l83.312-31.107c0.729-0.271,1.552-0.096,2.105,0.452c0.555,0.548,0.739,1.369,0.475,2.102  l-30.371,84.047c-0.274,0.761-0.98,1.28-1.788,1.318C74.569,108.238,74.538,108.239,74.508,108.239z M26.772,53.49l31.396,14.432  c0.429,0.197,0.774,0.539,0.975,0.965l15.122,32.139l27.264-75.448L26.772,53.49z"/>
    	<path d="M57.334,71.738c-0.512,0-1.023-0.195-1.414-0.586c-0.781-0.78-0.781-2.047,0-2.828l47.545-47.546  c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828L58.748,71.152C58.357,71.543,57.846,71.738,57.334,71.738z"/>
    </symbol>
</svg>
<style>
    .block7 .block7__item:hover { background-color: #[[*link_attributes]]; border-bottom: #[[*link_attributes]]; }
    @media (min-width: 770px) { .block-snake__text { padding-right: 26px; } }
    .block19__header .block19__tab { max-width: 49%; padding: 30px 60px 30px 20px; }
    .block5_message { justify-content: center; }
</style>
<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/assets/templates/main/img/mask.png" data-src="/assets/templates/main/img/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">Certifying and legalizing business documents in the UAE</h1>
                    <p class="first-screen__text">Complete end-to-end attestation and legalization services, certified and notarized <br class="hide-sm-min"> translations, enabled by an extensive international network</p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Find out more</a>
                </div>
            </div>
        </div>
    </div>    
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">Because the UAE is not a member of the Hague Apostille Convention, documents issued in other countries must be legalized in the UAE embassy in the country of origin to be considered genuine and valid for use in the UAE. 
              Legalization is an expensive and time-consuming procedure that demands a lot of effort. We’re here to help you. 
              Our team of experts will make the attestation and legalization process quick, efficient and cost-effective.</div>
        </div>
        <div class="r30"></div>
    </div>
</section>

<!--         block41          -->
<section id="scrollBlock1" class="z-idx3 bg-FF bg_wave">
    <div class="container_bem">
    <div class="r60_adaptive"></div>
    <h2 class="title">6 Scenarios that require you to have your documents legalized</h2>
    <div class="r50_adaptive"></div>
    <div class="block41">
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Business set-up <br class="hide-sm-min">in the UAE</h3>
                <div class="block41__icon-wrap">
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/human-network.svg" alt="" class="block41__icon" loading="lazy">
                    </div>
                </div>
            </div>
            <p class="block41__desc">
              To establish a business presence in the UAE, a foreign company needs to get its corporate  documents legalized.
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Opening a foreign <br class="hide-sm-min">bank account</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/bank-building.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">                
              To open an account overseas, all UAE - based companies need to submit their duly attested  documents to a foreign bank.
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Acting under a power of attorney</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/verified-person.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">
              An attorney-in-fact can act on another's behalf in the UAE provided that a power <br class="hide-sm-min">of attorney has been properly attested.
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Cross-border <br class="hide-sm-min">M&A deals</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/save-the-world.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">
              To carry out mergers and acquisitions, and other cross-border transactions, you must  provide attested corporate documents. 
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Immigration procedures</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/passport-fly-ticket.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">
              You’ll need to provide a range of documents and personal certificates which have to be attested as required by the UAE law.
            </p>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <h3 class="block41__title">Business<br class="hide-sm-min"> licensing</h3>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/document-tall.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <p class="block41__desc">
              In some cases, you may need to submit duly attested credentials and certificates in order to confirm your qualifications and experience.  
            </p>
        </div>
    </div>
    <div class="r60_adaptive"></div>
</div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Find out when and for what you might need attested documents</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Ask our experts</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="bg-FF z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Steps in the legalization process</h2>
        <div class="r30_adaptive"></div>
        <p class="description">SORP is one of the few consulting companies in the UAE that has a highly professional, multifaceted approach to tackling complicated issues. Our international agent network makes it possible to arrange document legalisation procedures <br class="hide-sm-min">both in the UAE and abroad</p>
        <div class="r50_adaptive"></div>
        <div class="block19">
            <div class="block19__header">
                <div class="block19__tab block19__tab_active">
                    <img src="/git/img/contour-only/gray/building.svg" alt="" loading="lazy">
                    <div class="block19__tab-title">Legalization of documents issued<br class="hide-sm-min"> abroad for use in the UAE</div>
                </div>
                <div class="block19__tab">
                    <img src="/git/img/contour-only/gray/office.svg" alt="" loading="lazy">
                    <div class="block19__tab-title">Legalization of documents issued in the UAE for use abroad</div>
                </div>
            </div>
            <div class="block19__content">
                <div class="block19__item block19__item_active">
                    <div class="r50_adaptive"></div>
                    <div class="block5 block5_no-border block5_message bg-EF">
                        <div class="block5__text" style="text-align: center;">
                          As an example, consider a Spanish company that plans to set up a representative office in the UAE and <br class="hide-sm-min">the steps involved in legalizing the relevant documentation as required by UAE law.
                        </div>
                    </div>

                    <div class="block-snake block-snake_line-right">
                        <div class="block-snake__item fadeInUp">
                                <div class="block-snake__img">
                                    <div class="block-snake__digit">1</div>
                                </div>
                                <div class="block-snake__text block-snake__text_gray">
                                    <div class="block-snake__text-header">Document pickup and delivery</div>
                                    Corporate documents and resolution for incorporation of a representative office<br class="hide-sm-min"> are handed over to our agent in Spain. 
                                </div>
                        </div>
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">2</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                    <div class="block-snake__text-header">Notary Public</div>
                                    A notary certifies true copies of the documents and the authenticity of <br class="hide-sm-min">the translator's signature if needed.
                                </div>
                        </div>
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">3</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">Ministry of Justice of Spain</div>
                                The notarized documents are submitted to MJUS to certify the authenticity of the <br class="hide-sm-min"> notary's signature and seal. 
                            </div>
                        </div>
                    </div>
                    <div class="block-snake block-snake_reverse">
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">6</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">UAE Ministry of Foreign Affairs</div>
                                We receive the documents from Spain<br class="hide-sm-min"> and submit them to MOFA to complete <br class="hide-sm-min">the last step of the legalization process.  
                            </div>
                        </div>
            
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">5</div>
                            </div>    
                            <div class="block-snake__text block-snake__text_gray ">
                                <div class="block-snake__text-header">UAE embassy in Spain</div>
                                Original documents and true copies are attested by the UAE embassy in Spain. <br class="hide-sm-min">All documents are translated to Arabic. 
                            </div>
                        </div>
            
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">4</div>
                            </div>    
            
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header"> Ministry of Foreign Affairs (Spain)</div>
                                The Ministry of Foreign Affairs, European Union and Cooperation, confirms that the MJUS seal and signature are genuine.
                            </div>
                        </div>            
                    </div>
                    
                    <div class="r60_adaptive"></div>
                    <a href="#" class="btn btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
                      Ask us for more information
                        <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                        <use href="#btn__icon-modal"></use>
                        </svg>
                    </a>                    
                </div>

                <!-- tab num 2 -->
                <div class="block19__item">
                    <div class="r50_adaptive"></div>
                    <div class="block5 block5_no-border block5_message bg-EF">
                        <div class="block5__text" style="text-align: center;">
                          Legalization process, exemplified by a company registered in Dubai, DMCC Free Trade Zone, that plans to set up a subsidiary in Cyprus
                        </div>
                    </div>

                    <div class="block-snake block-snake_line-right">
                        <div class="block-snake__item fadeInUp">
                                <div class="block-snake__img">
                                    <div class="block-snake__digit">1</div>
                                </div>
                                <div class="block-snake__text block-snake__text_gray">
                                    <div class="block-snake__text-header">Document pickup and delivery</div>
                                    Original corporate documents and true copies/a power of attorney if needed/ <br class="hide-sm-min">are handed over to SORP employees
                                </div>
                        </div>
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">2</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                    <div class="block-snake__text-header">Corporate resolution</div>
                                    A Corporate Resolution for incorporation <br class="hide-sm-min">of a subsidiary is prepared for its further attestation by DMCC 
                                </div>
                        </div>
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">3</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">DMCC free economic trade zone</div>
                                SORP submits original corporate documents, their true copies and Resolution to DMCC for attestation
                            </div>
                        </div>
                    </div>
                    <div class="block-snake">
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">6</div>
                            </div>
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">Embassy of the Republic of Cyprus</div>
                                Finally, all documents and their true  <br class="hide-sm-min">copies get legalized at the Embassy <br class="hide-sm-min"> of Cyprus in the UAE
                            </div>
                        </div>
            
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">5</div>
                            </div>    
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">Translation</div>
                                The documents are translated into Greek by a sworn translator before submission  <br class="hide-sm-min">to the Cyprus Embassy
                            </div>
                        </div>
            
                        <div class="block-snake__item fadeInUp">
                            <div class="block-snake__img">
                                <div class="block-snake__digit">4</div>
                            </div>    
            
                            <div class="block-snake__text block-snake__text_gray">
                                <div class="block-snake__text-header">UAE Ministry of Foreign Affairs</div>
                                MOFA attests the documents and their true copies confirming the authenticity  <br class="hide-sm-min">of DMCC stamp and signature 
                            </div>
                        </div>
            
                    </div>
                    
                    <div class="r60_adaptive"></div>
                    <a href="#" class="btn btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
                      Ask us for more information
                        <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                        <use href="#btn__icon-modal"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!-- Решения -->
<section id="scrollBlock3" class="bg-F9">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP solutions for your legalization issues</h2>
        <div class="r30_adaptive"></div>
        <p class="description">SORP Group has been successfully providing business consulting and support for over 15 years. Take advantage of the wealth of expertise and tools we have accumulated to securely take care of every step of the entire legalization process for you</p>
        <div class="r50_adaptive"></div>
        <div class="block7 block7_modal">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy">
                </div> 
                <div class="block7__title">Document attestation and legalization in the UAE</div>
                <div class="block7__text">Certification of the genuineness <br class="hide-sm-min">of a public seal and signature <br class="hide-sm-min">of an official who has signed the document</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/translation-globe.svg" loading="lazy">
                </div>
                <div class="block7__title">Professional Arabic translations</div>
                <div class="block7__text">Translation of commercial and personal documents certified and sworn to by the translator. A wide range of languages catered for</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/diploma.svg" loading="lazy">
                </div>
                <div class="block7__title">Document legalization outside the UAE</div>
                <div class="block7__text">Attestation of documents by <br class="hide-sm-min">the UAE embassy after their verification by the Foreign<br class="hide-sm-min"> Ministry of the issuing country</div>
            </div>            
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">We’ll find the best solution for your needs</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">See how we can help</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP -->        
<div id="scrollBlock4" class="bg-F9">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP - one-stop shop for business incorporation, management and support</h2>
        <div id="vslideouter" class="slider_02 text_slider">
            <div class="text_slider__inner">
                <div class="slide-elem tslider-item-new flex_column first">
                    <div class="back"></div>
                    <div class="tslider-item__number">15 years of experience</div>
                    <div class="tslider-item__text wow fadeInUp">In the field of registration, business support and solving difficult cases to support activities in the UAE</div>
                </div>
                <div class="slide-elem tslider-item-new flex_column second">
                    <div class="back"></div>
                    <div class="tslider-item__number">Expansion Option</div>
                    <div class="tslider-item__text">A flexible lease agreement allows you to expand rental space for a growing team anytime</div>
                </div>
                <div class="slide-elem tslider-item-new flex_column third">
                    <div class="back"></div>
                    <div class="tslider-item__number">Expertise</div>
                    <div class="tslider-item__text">We are able to conduct an expert examination of the business concept and core business processes of your company in the UAE</div>
                </div>
                <div class="slide-elem tslider-item-new flex_column">
                    <div class="back"></div>
                    <div class="tslider-item__number">SORP business center</div>
                    <div class="tslider-item__text">54000 square feets of modern office space in a prestigious location in Dubai for rent to accommodate businesses and pass permits’ renewal procedures</div>
                </div>
                
                <div class="slide-elem tslider-item-new flex_column">
                    <div class="back"></div>
                    <div class="tslider-item__number">Integrated approach</div>
                    <div class="tslider-item__text">Wide range of tools for providing outsourcing services to support and maintain your business in the UAE</div>
                </div>
                <div class="slide-elem tslider-item-new flex_column">
                    <div class="back"></div>
                    <div class="tslider-item__number">International standard</div>
                    <div class="tslider-item__text">Confidential legal solutions to optimize taxation, conceal beneficiaries, and protect against automatic data exchange in accordance with the CRS standard</div>
                </div>
                <div class="slide-elem tslider-item-new flex_column">
                  <div class="back"></div>
                  <div class="tslider-item__number">The legitimacy and anonymity</div>
                  <div class="tslider-item__text">We will ensure the security of your investments, take measures to properly comply with current legislation and maintain the confidentiality of information</div>
              </div>
            </div>
            <div class="tns-controls">
                <div class="button" onclick="slideup()"></div>
                <div class="button" onclick="slidedown()"></div>
            </div>
        </div>
    </div>
    <div class="r1 r_bg-gray"></div>
</div>

<!-- registration -->
<section class="bg-F9" id="scrollBlock5">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Entrust legalization <br class="hide-sm-min">of your documents<br class="hide-sm-min"> to experts</div>
          <div class="r40"></div>
            Send us a request and we’ll discuss the specifics of your situation, legalization, and other requirements.
            <br><br>
            SORP experts will find the best solutions tailored to the needs of you and your business. We’ll complete all steps required to legalize your documents both in the UAE and abroad.
            <br><br>
            Entrust legalization of your documents to experts.
            <br>Send a request to SORP Group now!
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Get your documents legalized</div>
            <div class="r20"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

{/block}
{include 'footer_new'}