{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" viewBox="0 0 27 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.1196 27.1335C16.8904 27.1335 16.6805 27.0013 16.5822 26.7926L11.576 16.1526L1.1548 11.3626C0.936898 11.2625 0.800633 11.041 0.809242 10.8012C0.818149 10.5613 0.970445 10.3505 1.19518 10.2668L25.9284 1.03191C26.1449 0.951456 26.3892 1.00341 26.5534 1.1661C26.7181 1.32878 26.7727 1.57252 26.6944 1.79013L17.678 26.7416C17.5966 26.9675 17.387 27.1216 17.1472 27.1329C17.1377 27.1332 17.1285 27.1335 17.1196 27.1335ZM2.94793 10.8798L12.2686 15.1643C12.396 15.2228 12.4984 15.3244 12.5581 15.4508L17.0474 24.9921L25.1414 2.59347L2.94793 10.8798Z"></path>
        <path d="M12.021 16.2972C11.869 16.2972 11.7173 16.2393 11.6012 16.1233C11.3694 15.8917 11.3694 15.5156 11.6012 15.2837L25.7162 1.16848C25.948 0.936618 26.3239 0.936618 26.5557 1.16848C26.7876 1.40034 26.7876 1.77618 26.5557 2.00804L12.4408 16.1233C12.3247 16.2393 12.173 16.2972 12.021 16.2972Z"></path>
    </symbol>
</svg>  

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__content">
                <div class="first-screen__logo-box">
                    <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
                </div>
                <h1 class="first-screen__title">Лицензирование в сфере образования в ОАЭ</h1>
                <h4 class="first-screen__text">Позволяет создавать учреждения дошкольного, среднего, высшего и дополнительного образования на территории Арабских Эмиратов</h4>
                <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Оставить заявку</a>
            </div>
        </div>
    </div>
    
    <!--         block-frames             -->
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">Образовательная лицензия даёт право на ведение академической образовательной деятельности (детские сады, школы, ВУЗы) и деятельности неакадемического типа (курсы повышения квалификации, тренинги, мастер-классы, центры развития детей и др.) на территории ОАЭ и во всём мире. Данное направление бизнеса входит в перечень льготных и предусматривает 100% иностранное владение юридическим лицом</div>
        </div>
        <div class="r60_adaptive"></div>        
    </div>
</section>

<!--         Уникальные Особенности          -->
<section id="scrollBlock1" class="z-idx3 bg-FF bg_wave">
    <div class="container_bem">
    <div class="r40"></div>
    <h2 class="title">Основные виды образовательных и смежных лицензий</h2>
    <div class="r30"></div>
    <div class="description">Выбор лицензии на ведение образовательной деятельности определяет стратегию развития Вашего бизнеса и перечень предъявляемых требований и согласований, которые Вам необходимо получить для начала работы.</div>
    <div class="r50_adaptive"></div>
    <div class="block41">
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Дошкольное образование</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/kids-ABC.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
                Для организации детского образования, включая детские сады и ясли
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Школьное образование</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/student.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
                Начальное и среднее школьное образование
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Высшее <br class="hide-sm-min"> образование</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/graduate-hat-2.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                Лицензия для открытия частных университетов и институтов
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Курсы, <br class="hide-sm-min"> бизнес-школы</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/presentation-tax2.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                Тренинги, языковые школы, мастер-классы
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Профессиональные тренинговые центры</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/presentation-tax.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                Лицензия для организации профессиональных обучающих курсов
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Детские центры развития</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/education.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                Школы музыки, танцев, дома творчества и другие
            </div>
        </div>
    </div>
    <div class="r50_adaptive"></div>
    <div class="block5">
        <img src="/git/img/contour-only/black-and-red/presentation-tax.svg" alt="" class="block5__icon block5__icon_left">
        <div class="block5__content">
            <div class="block5__text">
                Эффективная модель экономического развития ОАЭ стимулировала повышение уровня жизни населения, что вызвала резкий демографический подъем и повлекло за собой развитие сферы общеобразовательного и высшего образования. Кроме того, стремительно набирают популярность такие виды образовательной деятельности как бизнес-тренинги, семинары и обучающие программы, помогающие специалистам оставаться конкурентоспособными в условиях динамично развивающегося рынка.
            </div>
        </div>
    </div>
    <div class="r50_adaptive"></div>
    <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white z-idx3 btn_space-between" onclick="toggleModal('form01');">
        Получить консультацию
        <svg class="btn__icon-svg btn__icon-svg_black" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
          <use href="#btn__icon-modal"></use>
        </svg>
    </a>
    <div class="r60_adaptive"></div>
</div>
</section>

<div class="r1 r_bg-gray"></div>

<style>
    .borderline__icon_outside { background-image: url(https://test3.sorp.ae/git/img/blocks/block22/bg-refresh.png);}    
    .borderline { padding: 50px 60px; }

    @media (min-width: 1200px){ .block7__item { padding: 35px 25px 35px 25px; } }
</style>
<section id="scrollBlock3" class="bg-F9 z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Услуги SORP Group по сопровождению лицензирования в сфере образования</h2>        
        <div class="r30_adaptive"></div>
        <div class="description">Инвестируя с SORP Group, вы получаете надежного партнера. Мы не берем деньги за услуги по подбору проектов; вместо этого мы полностью сопровождаем ваши инвестиции</div>
        <div class="r50_adaptive"></div>

        <div class="block7 block7_modal">
            <div class="block7__item bg-FF z-idx3">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/graph-screen.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Подготовка бизнес- <br class="hide-sm-min"> модели</div>
                    <div class="block7__text">Подберем подходящую лицензию и определим тип юридического лица</div>
                </div>
            </div>    
            <div class="block7__item bg-FF z-idx3">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Регистрация <br class="hide-sm-min"> бизнеса</div>
                    <div class="block7__text">Быстрая инкорпорация за счет тесного сотрудничества с лицензирующими органами</div>
                </div>
            </div>    
            <div class="block7__item bg-FF z-idx3">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/human-network.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Аутсорсинг основных бизнес-процессов</div>
                    <div class="block7__text">Административная, налоговая, бухгалтерская и юридическая поддержка от SORP</div>
                </div>
            </div>
            
            <div class="block7__item bg-FF z-idx3">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/office.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Дубайский адрес <br class="hide-sm-min"> ведения бизнеса</div>
                    <div class="block7__text">Аренда в Бизнес Центре SORP для размещения и лицензирования: <br class="hide-sm-min">офисы с Ejari / Estidama, flexi-desks и виртуальные решения</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/wallet.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Открытие банковских счетов</div>
                    <div class="block7__text">Оншорным корпоративным структурам и их акционерам - обеспечим профессиональное прохождение процедур KYC</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/document-edit.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">PRO поддержка <br class="hide-sm-min">бизнеса</div>
                    <div class="block7__text">Представление интересов в государственных органах иммиграции и министерстве труда. Поддержка 24/7</div>
                </div>
            </div>                        
        </div>
        
        <div class="r50_adaptive"></div>

        <div class="r50"></div>                        
        <div class="borderline__outside-block">
            <div class="borderline__outside-header">Особенности оформления лицензии в сфере образования</div>            
            <div class="borderline__icon_outside"></div>
        </div>
        <div class="borderline borderline_black-border bg-F9">
            <div class="block22">
                <div class="block22__item">                
                    <img src="/git/img/contour-only/black-and-red/bank-building.svg" alt="" class="block22__icon" loading="lazy">             
                    <div class="block22__text">
                        <div class="block22__title">100% собственность на компанию</div>
                        <div class="block22__description">Согласно законодательству ОАЭ, при оформлении лицензии для работы на внутреннем рынке страны обычно требуется привлечение местного партнера, которому принадлежит не менее 51% акций компании. Для бизнеса, оказывающего услуги в сфере образования, сделано исключение – Вы можете зарегистрировать юридическое лицо, будучи его 100% собственником.</div>
                    </div>
                </div>
                <div class="block22__item">
                    <img src="/git/img/contour-only/black-and-red/magnifier-new.svg" alt="" class="block22__icon" loading="lazy">
                    <div class="block22__text">
                        <div class="block22__title">Контроль со стороны государства</div>
                        <div class="block22__description">Государство поддерживает активное развитие сектора образования, но при этом тщательно следит за соблюдением стандартов качества. Деятельность бизнеса в образовательной сфере за исключением некоторых направлений регулируется Департаментом образования, Министерством образования и науки и другими регулирующими и надзорными ведомствами. Особое внимание уделяется согласованию программ обучения по каждому образовательному курсу.</div>
                    </div>
                </div>

                <div class="block22__item">
                    <img src="/git/img/contour-only/black-and-red/person-settings.svg" alt="" class="block22__icon" loading="lazy">
                    <div class="block22__text">
                        <div class="block22__title">Квалификация управляющего персонала и педагогов</div>
                        <div class="block22__description">Качество знаний, которое способно давать каждое учебное или образовательное заведение, основано на профессионализме, компетенциях и опыте его менеджеров и педагогов. Это обуславливает пристальное внимание государства к наличию и подтверждению бизнесменами своей квалификации и соответствующих дипломов у всех привлеченных к образовательной деятельности кадров компании.</div>
                    </div>
                </div>
            </div>            
        </div>

        <div class="r60_adaptive"></div>
    </div>
</section>

<!--         ФОС          -->
<div class="bg bg_red">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Свяжитесь с нами и подберите лицензию, полностью отвечающую потребностям вашего бизнеса</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Заказать звонок</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock3" class="bg-FF z-idx3 bg_wave-center">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Лицензирование образовательной деятельности включает следующие этапы</h2>
        <div class="r50_adaptive"></div>        
        <div class="block6">
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/education.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Согласование академического плана
                    </div>
                    <div class="block6__text">
                        Необходимо предоставить в Департамент образования академический план и защитить его перед специально созданной комиссией
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">                    
                    <img class="block6__icon-img" src="/git/img/contour-only/white/person-lifebelt.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Подтверждение финансовой состоятельности
                    </div>
                    <div class="block6__text">
                        Необходимо подтвердить наличие денежных средств для реализации разработанного финансового плана и обеспечения деятельности заведения
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/person-lifebelt.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Подтверждение деловой репутации
                    </div>
                    <div class="block6__text">
                        Предпринимателю необходимо предоставить рекомендательные письма или подтвердить наличие аккредитации учебного заведения в стране происхождения
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/network.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Согласование менеджера и персонала
                    </div>
                    <div class="block6__text">
                        Личность руководителя и преподавателей согласовывается в Департаменте образования с подтверждением их квалификации и релевантного опыта работы
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/flipchart.svg">                    
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Обустройство образовательных классов
                    </div>
                    <div class="block6__text">
                        Государство предъявляет особые требования к характеристикам здания, а также состоянию, размеру и оснащенности помещений образовательных классов
                    </div>                    
                </div>
            </div>
        </div>
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_center btn_border2 btn_white z-idx3 btn_space-between" onclick="toggleModal('form01');">
            Получить консультацию
            <svg class="btn__icon-svg btn__icon-svg_black" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
              <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="r1 r_bg-gray"></div>

<!-- Решения -->
<section id="scrollBlock4" class="bg-FF">
    <div class="container_bem">
        <div class="r40"></div>
        <h2 class="title">SORP Group - признанный эксперт по лицензированию бизнеса в ОАЭ</h2>
        <div class="r30_adaptive"></div>
        <div class="description">Наши специалисты комплексно подходят к решению стоящих перед клиентами бизнес-задач и осуществляют профессиональный подбор решений в зависимости от потребностей и задач клиента</div>
        <div class="r50_adaptive"></div>
        <div class="block14">
            <div class="block14__item z-idx3">
                <div class="block14__title">Консалтинговое сопровождение бизнеса</div>
                <div class="block14__text">Мы проведем анализ рынка, конкурентной среды, законодательства. Подберёмплощади для создания и размещения производства.</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Регистрация компании и лицензирование</div>
                <div class="block14__text">Выбор места инкорпорации и организационно-правовой формы, получение разрешений,
                    прохождение лицензионных процедур «под ключ»</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Содействие в открытии банковских счетов</div>
                <div class="block14__text">Помощь в открытии корпоративных и личных банковских счетов, в том числе дистанционно. Содействие в прохождении процедуры KYC</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Локальный <br class="hide sm-min"> партнер <br class="hide-sm-min">или агент</div>
                <div class="block14__text">Предоставление номинальных и технических учредителей и директоров для исполнения представительских функций и выполнения требований законодательства Арабских Эмиратов</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Аутсорсинг основных <br class="hide-sm-min">бизнес-процессов</div>
                <div class="block14__text">Административная, налоговая, бухгалтерская поддержка и специалисты PRO позволяют существенно экономить на содержании целого штата высокооплачиваемых сотрудников</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Правовая поддержка<br class="hide-sm-min">бизнеса</div>
                <div class="block14__text">Корпоративные юристы SORP Group и стратегические партнерства с лучшими адвокатами ОАЭ и всего мира обеспечат оперативное правовое сопровождение бизнеса</div>
            </div>            
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<!--         ФОС          -->
<div class="bg bg_red">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Получите индивидуальный анализ перспектив для вашего бизнеса на территории ОАЭ</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Связаться со специалистом</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="scrollBlock4">
    <div class="container_bem">
		<div class="r60_adaptive"></div>
        <h2 class="title">SORP Group — признанный эксперт по лицензированию бизнеса в ОАЭ</h2>
        <div class="r30_adaptive"></div>
        <div class="description">SORP Group ‐ ведущая консалтинговая группа, уже более 15 лет оказывающая полный цикл услуг по инкорпорации, 
            сопровождению и управлению бизнесом на территории ОАЭ и за их пределами. Мы имеем безупречную репутацию, 
            широкие возможности и активы:</div>
			<div id="vslideouter" class="slider_02 text_slider">
				<div class="slide-elem tslider-item-new flex_column first">
					<div class="back"></div>
					<div class="tslider-item__number">Комплекс всех услуг</div>
					<div class="tslider-item__text fadeInUp">Компания предлагает комплексное решение для бизнеса и акционеров: от регистрации компаний до получения статуса налогового резидента страны</div>
				</div>

				<div class="text_slider__inner">
					<div class="slide-elem tslider-item-new flex_column second">
						<div class="back"></div>
						<div class="tslider-item__number">Стратегические партнерства</div>
						<div class="tslider-item__text wow fadeInUp">Наработанный опыт сотрудничества с Департаментом образования помогает оперативно решать текущие вопросы.</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column third">
						<div class="back"></div>
						<div class="tslider-item__number">Персональный подход</div>
						<div class="tslider-item__text">Конфиденциальные юридические решения для оптимизации налогообложения, сокрытия бенефициаров и защиты от автоматического обмена данными в соответствии со стандартом CRS</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Комплексные решения</div>
						<div class="tslider-item__text"> Мы выполняем работы “под ключ” - от составления плана развития вашей компании до выбора организационно-правовой формы юридического лица</div>
					</div>

                    <div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number ta-center">15 лет на рынке ОАЭ</div>
						<div class="tslider-item__text">Экспертные знания и опыт проведения профессиональных консультаций, открытия и комплексного сопровождения компаний в различных отраслях экономики</div>
					</div>
					
				<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number ta-center">Банковская поддержка</div>
						<div class="tslider-item__text">Помощь в открытии банковских счетов, выборе банка, подходящего для ваших целей, помощь в прохождении процедуры KYC (“Know Your Customer”)</div>
					</div>
				<div class="tns-controls">
					<div class="button" onclick="slideup()"></div>
					<div class="button" onclick="slidedown()"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="r1 r_bg-gray"></div>
    
<!-- ФОРМА НИЗ -->
<div class="sreg2 sreg2--white" style="z-index: 0;">
	<div class="container_bem">
        <div class="r60_adaptive"></div>
		<div class="sreg2__i">
			<div class="sreg2__block">
                <h2 class="min wow fadeInUp" id="scrollBlock6">Получите лицензию в сфере образования</h2>
                <div class="r20"></div>
				<p class="wow fadeInUp">Оставьте заявку и получите подробную консультацию по оформлению лицензии в ОАЭ в течение 20 минут.
                    <br><br>
                    Специалисты SORP Group помогут выбрать подходящие виды деятельности и определить оптимальные место регистрации и тип юридического лица.                                        
                    <br><br>
                    Сделайте первый шаг на пути к созданию вашего бизнеса в ОАЭ
				</p>
			</div>
			<div class="sopr-registration wow fadeInUp">
				<p id="reg">Подобрать лицензию</p>
				<div role="form" class="wpcf7" id="wpcf7-f273-o1" lang="ru-RU" dir="ltr">
					<div class="screen-reader-response"></div>
					{$_modx->getChunk('form4')}
				</div>
			</div>
        </div>
        <div class="r60_adaptive"></div>
	</div>
</div>

<div class="r1 r_bg-gray"></div>

{/block}
{include 'footer'}