{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" viewBox="0 0 27 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.1196 27.1335C16.8904 27.1335 16.6805 27.0013 16.5822 26.7926L11.576 16.1526L1.1548 11.3626C0.936898 11.2625 0.800633 11.041 0.809242 10.8012C0.818149 10.5613 0.970445 10.3505 1.19518 10.2668L25.9284 1.03191C26.1449 0.951456 26.3892 1.00341 26.5534 1.1661C26.7181 1.32878 26.7727 1.57252 26.6944 1.79013L17.678 26.7416C17.5966 26.9675 17.387 27.1216 17.1472 27.1329C17.1377 27.1332 17.1285 27.1335 17.1196 27.1335ZM2.94793 10.8798L12.2686 15.1643C12.396 15.2228 12.4984 15.3244 12.5581 15.4508L17.0474 24.9921L25.1414 2.59347L2.94793 10.8798Z"></path>
        <path d="M12.021 16.2972C11.869 16.2972 11.7173 16.2393 11.6012 16.1233C11.3694 15.8917 11.3694 15.5156 11.6012 15.2837L25.7162 1.16848C25.948 0.936618 26.3239 0.936618 26.5557 1.16848C26.7876 1.40034 26.7876 1.77618 26.5557 2.00804L12.4408 16.1233C12.3247 16.2393 12.173 16.2972 12.021 16.2972Z"></path>
    </symbol>
    <symbol id="btn__icon" viewBox="0 0 14 12" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.291748 10.7884L1.27464 11.6392L1.76608 11.2126L7.82088 5.98838L1.76608 0.764161L1.27464 0.337599L0.291748 1.18838L0.783192 1.6126L5.85239 5.98838L0.783192 10.3642L0.291748 10.7884ZM5.84968 10.7884L6.83256 11.6392L7.324 11.2126L13.3788 5.98838L7.324 0.764161L6.83256 0.337599L5.84968 1.18838L6.34112 1.6126L11.4103 5.98838L6.34112 10.3642L5.84968 10.7884Z"></path>
    </symbol>
    <symbol id="house-red" viewBox="0 0 75.7 60.5" xmlns="http://www.w3.org/2000/svg">
        <path d="M32.4,60.5c-0.4,0-0.7-0.1-0.9-0.4c-0.3-0.3-0.4-0.6-0.4-0.9c0-0.4,0.1-0.7,0.4-0.9c0.3-0.3,0.6-0.4,0.9-0.4c0.4,0,0.7,0.1,0.9,0.4c0.3,0.3,0.4,0.6,0.4,0.9c0,0.4-0.1,0.7-0.4,0.9S32.8,60.5,32.4,60.5z"></path>
        <path d="M1.3,59.2c-0.7,0-1.3-0.6-1.3-1.3V41.7c0-0.4,0.2-0.8,0.5-1.1l12.2-9.2v-3.8c0-0.4,0.2-0.8,0.5-1.1L37,8.6c0.2-0.2,0.5-0.3,0.8-0.3c0.3,0,0.6,0.1,0.8,0.3l23.8,17.9c0.3,0.3,0.5,0.7,0.5,1.1v3.8l12.2,9.2c0.3,0.3,0.5,0.7,0.5,1.1v16.1c0,0.7-0.6,1.3-1.3,1.3H1.3z M63,56.5h10V42.4l-10-7.6V56.5z M41.2,45.2c0.7,0,1.3,0.6,1.3,1.3v9.9h17.8V28.3L37.8,11.4L15.4,28.3v28.2h17.8v-9.9c0-0.7,0.6-1.3,1.3-1.3H41.2z M35.9,56.5h4v-8.6h-4V56.5z M2.7,42.4v14.1h10V34.8L2.7,42.4z"></path>
        <path fill="#D64356" d="M74.3,30.2c-0.3,0-0.6-0.1-0.8-0.3L37.8,3L2.2,29.9c-0.2,0.2-0.5,0.3-0.8,0.3c0,0,0,0,0,0c-0.4,0-0.8-0.2-1.1-0.5C0.1,29.4,0,29,0,28.7c0.1-0.4,0.2-0.7,0.5-0.9L37,0.3C37.3,0.1,37.5,0,37.8,0c0.3,0,0.6,0.1,0.8,0.3l36.5,27.5c0.3,0.2,0.5,0.5,0.5,0.9c0,0.4,0,0.7-0.3,1C75.2,30,74.8,30.2,74.3,30.2z"></path>
    </symbol>
</svg>

<style>
.block1__item:hover .block1__head, .block7 .block7__item:hover  { background-color: #[[*link_attributes]];} 
.block18 .block18__title { color: black; }
@media (min-width: 1200px) { .block7 .block7__item { padding: 35px 22px 35px 22px; } }

/*qeqwe*/
@media (min-width: 992px) { .block1__head { padding: 30px 20px; } 
  .block1__content-text { padding-right: 40px; }
} 
</style>

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">Offshore company incorporation in the UAE</h1>
                    <p class="first-screen__text">                            
                      An offshore company in the UAE is the choice of many investors and business owners because of its 0% tax, financial privacy, no currency controls and the ability to move funds abroad freely
                    </p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Request information</a>
                </div>
            </div>
        </div>
    </div>
    
    <!--         block-frames             -->
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">Unlike the Caribbean and others, the UAE is whitelisted by global and national financial authorities and services. This provides credibility and superior asset protection, complete financial privacy and tax benefits. Fast to set up remotely via an agent like SORP, a UAE offshore company can be owned by just one foreign shareholder, which can be an individual or a corporate body. With no minimum capital requirement, it is 100% exempt from import, export, income and corporate taxes. There are restrictions, however, and opening a local bank account is not easy</div>
        </div>
        <div class="r30 hide-sm-min"></div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<section id="scrollBlock1" class="bg-F9 z-idx3">
    <div class="r1 r_bg-gray"></div>
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Choose a company type that best matches your business activities and objectives</h2>
        <div class="r50_adaptive"></div>

        <div class="block1">
            <div class="block1__item">
                <a class="block1__head" href="/en/local-company-in-uae/">
                    <div class="block1__head-content">
                        <div class="block1__head-title">Local Company <br class="hide-sm-min"> (LLC, SE, CC)</div>
                        <div class="block1__head-text">
                          Mainland UAE-registered company that is free to conduct any type of business activity both in the UAE <br class="hide-sm-min">and abroad.
                        </div>
                    </div>
                    <div class="block1__head-icon"></div>
                </a>
                <div class="block1__content">
                    <div class="block1__content-text">
                        <p class="block1__content-text-p">The company type most trusted by UAE banks as well as international institutions  and trading partners. Requires a local UAE partner, who can be a nominee with no executive involvement or rights.  Work with governmental bodies and on bids.</p>
                    </div>
                    <a href="/en/local-company-in-uae/" class="block1__btn btn btn_white btn_border2">
                        Learn more
                        <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                            <use href="#btn__icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="block1__item">
                <a class="block1__head" href="/en/freezone-company-in-uae/">
                    <div class="block1__head-content">
                        <div class="block1__head-title">Free Zone Company<br class="hide-sm-min"> (FZE, FZC)</div>
                        <div class="block1__head-text">
                          Onshore legal entity incorporated in one of many of the UAE’s Free Trade Zones in order to conduct mostly international business.
                        </div>
                    </div>
                    <div class="block1__head-icon"></div>
                </a>
                <div class="block1__content">
                    <div class="block1__content-text">
                        <p class="block1__content-text-p">Onshore status, 100% foreign ownership with no local partner required. Can open the UAE bank accounts, operate internationally and within the FZ. Restrictions <br class="hide-sm-min">apply to operating in local UAE markets.</p>
                    </div>
                    <a href="/en/freezone-company-in-uae/" class="block1__btn btn btn_white btn_border2">
                        Learn more
                        <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                            <use href="#btn__icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="block1__item">
                <a class="block1__head" href="/en/uae-offshore/">
                    <div class="block1__head-content">
                        <div class="block1__head-title">International Business Company (IBC)</div>
                        <div class="block1__head-text">
                          An offshore company that is a <br class="hide-sm-min">low-cost but effective tool used for international business or protecting assets and owner privacy.
                        </div>
                    </div>
                    <div class="block1__head-icon"></div>
                </a>
                <div class="block1__content">
                    <div class="block1__content-text">
                        <p class="block1__content-text-p">Simple buisness structure that provides beneficiary confidentiality, tax benefits and asset protection. Generally restricted to international operations with some exceptions. Can be used to establish onshore UAE companies.</p>
                    </div>
                    <a href="/en/uae-offshore/" class="block1__btn btn btn_white btn_border2">
                        Learn more
                        <svg class="btn__icon-svg btn__icon-svg-small btn__icon-svg-right" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                            <use href="#btn__icon"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

        <div class="r50_adaptive"></div>

        <div class="block5">
            <img src="/git/img/contour-only/black-and-red/lamp.svg" alt="" class="block5__icon" loading="lazy">
            <div class="block5__text">
              Unlike classic offshore jurisdictions, the UAE is not considered a “tax haven” and is not included in the FATF “black” lists, which do not comply with international anti-money laundering requirements. United Arab Emirates’ legislation guarantees tax breaks, protection of investors' rights and freedom of capital movement. A UAE offshore company is primarily intended for international business activities and not the domestic market.
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Open an offshore UAE company for doing tax-free business in just 3 days</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Contact an expert</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="bg-FA">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP Group has solutions for registering all types of UAE-based companies</h2>
        <div class="r50_adaptive"></div>
        <div class="block7 block7_modal block7_icon-visible">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/graph-screen.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Your business model</div>                                        
                    <div class="block7__text">We will choose the right type of company and most suitable place <br class="hide-sm-min">of incorporation that will best meet your goals and business activity</div>
                </div>
            </div>
    
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Company registration</div>
                    <div class="block7__text">Fast processing through the legal procedures because of our trusted status and close contact with all relevant UAE licensing authorities</div>
                </div>
            </div>
    
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/building.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Registered address in Dubai</div>
                    <div class="block7__text">Location solution in SORP BC required for company registration and compliance with Economic Substance Regulations</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/wallet.svg"  loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Opening a bank account</div>
                    <div class="block7__text">When you incorporate an onshore company, we guide you through KYC compliance with your choice of leading UAE banks to assure success</div>
                </div>
            </div>
            
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/person-percentage.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Tax residency status</div>
                    <div class="block7__text">We help onshore company owners <br class="hide-sm-min">to obtain a tax residency certificate<br class="hide-sm-min"> that protects from automatic tax information exchange (CRS)</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/shield.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Back-office services</div>
                    <div class="block7__text">Tax, administrative, legal, PRO and accounting support for operations <br class="hide-sm-min">in the UAE, and confirmation of ESR requirements</div>
                </div>
            </div>
        </div>
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
            Book a consultation today!
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<section id="scrollBlock3" class="bg-F9 z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Features and constraints of a UAE offshore International Business Company (IBC)</h2>
        <div class="r30"></div>
        <div class="description">An IBC can be incorporated in three jurisdictions in the UAE, each with its own corporate policies and features. It is a classic offshore legal entity both in terms of the structure and the possibilities provided by law. Unlike onshore companies (Mainland Companies and Free Zone Companies), an IBC has significant limitations on its operations and there are a number of drawbacks.</div>
        <div class="r50_adaptive"></div>
        <div class="block18 block18_big">
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/building.svg" alt="" loading="lazy">
                </div>
                <div class="box-thin-shape"></div>
                <div class="box-shape bg-F9"></div>
                <div class="block18__text">
                    <div class="block18__title">May not conduct business within the UAE</div>
                    <div class="block18__description">There is no mainland activities licensing option. They must be conducted through a branch or subsidiary.</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <svg class="block18__icon">
                        <use href="#house-red"></use>
                    </svg>                    
                </div>
                <div class="block18__text">
                    <div class="block18__title">Does not qualify for a tax residency visa</div>
                    <div class="block18__description">Owning an offshore company does not provide an opportunity to obtain resident visas.</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/house-card.svg" alt="" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">May not rent premises in the UAE</div>
                    <div class="block18__description">Offshore companies are not allowed to rent offices and commercial premises in the UAE.</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/bank.svg" alt="" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Opening a bank account is very difficult</div>
                    <div class="block18__description">Banks typically have low regard for offshore companies and may require a large deposit</div>
                    <div class="box-thin-shape box-thin-shape_XY-Lside"></div>
                    <div class="box-shape bg-F9 box-shape_XY-Lside"></div>
                </div>
            </div>

            <div class="block18__item ">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/save-the-world.svg" alt="" loading="lazy">
                </div>
                <div class="block18__text">
                  <div class="block18__title">May not avail of International agreements</div>
                  <div class="block18__description">Offshore companies cannot be used as a tool for international tax planning.</div>
                </div>
            </div>
            <div class="block18__item ">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/data-analysis.svg" alt="" loading="lazy">
                </div>
                <div class="block18__text">
                  <div class="block18__title">Must confirm Economic Substance in the UAE</div>
                  <div class="block18__description">An IBC engaged in business activities must demonstrate Economic Substance locally in the UAE.</div>
                </div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Learn about tax and many other efficiency benefits when conducting international business from the UAE</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Ask for a consultation</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock4" class="bg-F9 z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Choosing the best Free Zone to register your offshore company</h2>
        <div class="r50_adaptive"></div>
        <div class="block7 block7_modal block7_icon-visible">
            <div class="block7__item bg-FF" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img block7__icon-img-change" src="/git/img/contour-only/gray/jafza.png" loading="lazy" style="width: 100px;">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Jebel Ali Free Zone in <br class="hide-sm-min">Dubai</div>
                    <div class="block7__text">The only jusridiction that permits an IBC to own UAE real estate, it is also the most expensive offshore option</div>
                    <div class="r30"></div>
                </div>
            </div>
    
            <div class="block7__item bg-FF" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/asjari.png" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Ajman Free Zone in <br class="hide-sm-min">Ajman</div>
                    <div class="block7__text">Fastest registration process and <br class="hide-sm-min">fairly low-cost offshore company solution that protects beneficiaries</div>
                    <div class="r30"></div>
                </div>
            </div>
    
            <div class="block7__item bg-FF" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/rak.png" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">RАК Free Zone in <br class="hide-sm-min">Ras-al-Khaima</div>
                    <div class="block7__text">Simple and budget-friendly solution that allows you to conduct offshore business activities outside the UAE</div>
                    <div class="r30"></div>
                </div>
            </div>
        </div>
        <div class="r50_adaptive"></div>
        <div class="block5">
            <img src="/git/img/contour-only/black-and-red/office.svg"  alt="" class="block5__icon" loading="lazy">
            <div class="block5__text">
                If you are considering Jebel Ali Free Zone to register your company, it is important to take into account that, while appropriate for owning real estate in Dubai, it is also expensive. Possibly a better alternative would be to incorporate a professional local mainland company, 100% owned by a foreign investor, which can be used not only to conceal the owner of the property, but also to manage the assets and generate rental income.
            </div>
        </div>
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
          Speak with an expert
          <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
            <use href="#btn__icon-modal"></use>
          </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
</section>

<section id="scrollBlock5" class="bg-FF bg_wave-center z-idx3">
    <div class="r1 r_bg-gray"></div>
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP Group is a registering agent for <br class="hide-sm-min">offshore companies in the UAE</h2>
        <div class="r50_adaptive"></div>
        <div class="block6">
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/verified-person-circle.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                      Individual approach
                    </div>
                    <div class="block6__text">
                      We will guide you with expert professional advice on how best to organize your offshore structure as well as personalized solutions to meet your goals, such as optimization of your international business.
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">                    
                    <img class="block6__icon-img" src="/git/img/contour-only/white/clocks.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                      Fast registration
                    </div>
                    <div class="block6__text">
                      We will incorporate your company within 3 working days. If you need to start the business immediately, we can <br class="hide-sm-min">speed up the process and register the company or make changes to the company structure in just 1 day.
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/navigation.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                      Registered address
                    </div>
                    <div class="block6__text">
                      SORP Group is the only authorized registering agent that provides a registered address for offshore<br class="hide-sm-min"> companies in its own Business Center in one of the most prestigious areas of Dubai.
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/document-tall.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                      Comprehensive solutions
                    </div>
                    <div class="block6__text">
                      Professional services by SORP Group - administrative, accounting and secretarial support for your company.<br class="hide-sm-min"> We know how to save you time and money so that you can focus on strategically important tasks.
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/tie.svg">                    
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                      Acknowledged experts
                    </div>
                    <div class="block6__text">
                      We are proud to have worked successfully with a great number of clients. We help you create a reliable and<br class="hide-sm-min"> secure business structure. We provide full legal support and assist you in all phases of business development.
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
        </div>
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
          See what we can do for you
          <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
            <use href="#btn__icon-modal"></use>
          </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
</section>

<section id="scrollBlock6" class="bg-F9 z-idx3">
    <div class="r1 r_bg-gray"></div>
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP Group provides a whole package of support and solutions for incorporating in the UAE</h2>
        <div class="r50_adaptive"></div>
        <div class="block14">
            <div class="block14__item">
                <div class="block14__title">Complete business analysis</div>
                <div class="block14__text">We will conduct market research, identify potential competitors and also review relevant legislation. We will source and suggest facilities suitable for your business.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">PRO business <br class="hide-sm-min">support</div>
                <div class="block14__text">We act on your behalf with UAE government agencies for issuing resident visas to partners, staff and their families, and obtaining all licenses, registrations and permits.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Local nominee <br class="hide-sm-min"> services</div>
                <div class="block14__text">We will provide a nominee director and / or shareholder with limited rights, so that transfer pricing will be excluded and beneficiaries will be concealed.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Preparing an audit report<br class="hide-sm-min"><br class="hide-sm-min"></div>
                <div class="block14__text">We will provide an audit of the existing accounts and generate reports to confirm transactions when making international transfers.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">International tax planning<br class="hide-sm-min"><br class="hide-sm-min"></div>
                <div class="block14__text">We design optimized tax solutions for international business within the full scope of UAE legislation, drawing on our wide experience <br class="hide-sm-min">in this field.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Economic Substance confirmation<br class="hide-sm-min"><br class="hide-sm-min"></div>
                <div class="block14__text">We help fulfil proof of economic substance (ESR) based on the registered address of company, its localized decision making and management, and tax compliance.</div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Find out why the UAE is an exceptionally good base from which to do business internationally</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Find out more</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="scrollBlock7">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP Group has the right level of experience and  expertise to ensure your UAE business is a success</h2>
        <div class="r50_adaptive"></div>
        <div id="vslideouter" class="slider_02 text_slider">
          <div class="slide-elem tslider-item-new flex_column first">
            <div class="back"></div>
            <div class="tslider-item__number">15 years of experience</div>
            <div class="tslider-item__text fadeInUp">In the field of registration, support of companies and solving business problems of clients for the organization of profitable activities in the UAE</div>
          </div>
          <div class="text_slider__inner">
            <div class="slide-elem tslider-item-new flex_column second">
              <div class="back"></div>
              <div class="tslider-item__number">Expert status</div>
              <div class="tslider-item__text wow fadeInUp">We are able to conduct an examination of the correctness of the organization of the main business processes of your company in the UAE, including when solving issues of increased complexity</div>
            </div>
  
            <div class="slide-elem tslider-item-new flex_column third">
              <div class="back"></div>
              <div class="tslider-item__number">SORP Business Center</div>
              <div class="tslider-item__text">5000 square meters of modern office space in a prestigious location in Dubai for rent for business placement and licensing procedures</div>
            </div>
  
            <div class="slide-elem tslider-item-new flex_column">
              <div class="back"></div>
              <div class="tslider-item__number">Center For Business-Expertise</div>
              <div class="tslider-item__text">Adaptation of the strategy and planning of business development in the UAE, analysis of the market, legislation and competitive advantages of the main business lines</div>
            </div>
            
            <div class="slide-elem tslider-item-new flex_column">
              <div class="back"></div>
              <div class="tslider-item__number">Multifunctional Outsourcing Center</div>
              <div class="tslider-item__text">Support for the company&#39;s operations: license renewal, visa support, administrative and PRO-services</div>
            </div>
  
            <div class="slide-elem tslider-item-new flex_column">
              <div class="back"></div>
                  <div class="tslider-item__number">Support in opening Bank accounts</div>
              <div class="tslider-item__text">Close cooperation with financial institutions and assistance in passing the KYC procedure</div>
            </div>
            
            <div class="tns-controls">
              <div class="button" onclick="slideup()"></div>
              <div class="button" onclick="slidedown()"></div>
            </div>
          </div>
        </div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<section class="bg-F9" id="scrollBlock8">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Start a tax-free offshore business today</div>
          <div class="r20"></div>
          Submit your details and get an in-depth consultation with our experts in organizing international business from the UAE .
          <br><br>
          SORP Group professionals will help you choose the best solution and provide comprehensive support - from evaluating a business idea to registering a legal entity.
          <br><br>
          Take the first step today towards starting your business in the UAE.
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Book a consultation</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

{/block}
{include 'footer_new'}