.borderline {
  &__quote { position: absolute; width: 90px; height: 45px; background-color: #fff; background-position: center; background-repeat: no-repeat; }
  &__quote_top { top: -41px; left: 17px; }
  &__quote_bottom { right: 17px; bottom: -41px; transform: rotate(180deg); }
  &__quote_background-fa { background-color: #fafafa; }
}