@import '../../helpers/variables.styl';

/* libs */
@import '../../vendor/libs.styl';

@import '../../../blocks/form-block/form-block.styl';
@import '../../../blocks/Utilities/r/r.styl';
@import '../../../blocks/Utilities/bg/bg.styl';
@import '../../../blocks/btn/btn.styl';
@import '../../../blocks/btn/_white/btn_white.styl';
@import '../../../blocks/header/header.styl';
@import '../../../blocks/modal/modal.styl';
@import '../../../blocks/pnumber/pnumber.styl';
@import '../../../blocks/Utilities/container/container.styl';

@import '../../../blocks/minilends/first-screen/first-screen.styl';
@import '../../../blocks/Utilities/bg/_minilends/bg_minilends.styl';
@import '../../../blocks/minilends/block-frames/block-frames.styl';
@import '../../../blocks/minilends/title/title.styl';
@import '../../../blocks/minilends/block1/block1.styl';
@import '../../../blocks/minilends/description/description.styl';
@import '../../../blocks/minilends/form/form.styl';
@import '../../../blocks/minilends/quote/quote.styl';
@import '../../../blocks/minilends/footer/footer.styl';