{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" height="128"  width="128" viewBox="0 0 128 128">
    	<path d="M74.508,108.239c-0.772,0-1.479-0.445-1.81-1.148l-16.863-35.84L20.732,55.116c-0.734-0.337-1.193-1.083-1.164-1.891  c0.03-0.808,0.543-1.518,1.3-1.8l83.312-31.107c0.729-0.271,1.552-0.096,2.105,0.452c0.555,0.548,0.739,1.369,0.475,2.102  l-30.371,84.047c-0.274,0.761-0.98,1.28-1.788,1.318C74.569,108.238,74.538,108.239,74.508,108.239z M26.772,53.49l31.396,14.432  c0.429,0.197,0.774,0.539,0.975,0.965l15.122,32.139l27.264-75.448L26.772,53.49z"/>
    	<path d="M57.334,71.738c-0.512,0-1.023-0.195-1.414-0.586c-0.781-0.78-0.781-2.047,0-2.828l47.545-47.546  c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828L58.748,71.152C58.357,71.543,57.846,71.738,57.334,71.738z"/>
    </symbol>
</svg>

<style>
    .block7 .block7__item:hover { background-color: #[[*link_attributes]]; border-bottom-color: #[[*link_attributes]]; }    
    .block48__item { padding-right: 27px; }
    .block-snake__text { padding-right: 10px; }    
    @media (min-width: 980px) { .block-frames { width: 930px; } }
    @media (min-width: 770px) { .block5 { align-items: center; } }    
</style>

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]];">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">Setting up a company in the UAE’s Free Trade Zones</h1>
                    <p class="first-screen__text">Affordable incorporation solutions with 100% foreign ownership, designed for doing business both within the Free Trade Zone area and outside the country</p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Ask an expert</a>
                </div>
            </div>
        </div>
    </div>
    
    <!--         block-frames             -->
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">
                There are over 50 Free Trade Zones dotted across 5 of the 7 Emirates.  Companies in a FTZ can be totally foreign owned with no local involvement required, unlike Mainland Companies. Each specializes in supporting one or more licensed business activities and offers unique benefits, such as financial, geographic, facilities, labor and more. They are linked to large logistics centers, ports or airports and offer ready-made warehousing and offices, with exceptionally high-grade infrastructure and utilities. Many FZ represent budget solutions for setting up in the UAE.
            </div>
        </div>
        <div class="r30 hide-sm-min"></div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<!--         Setting up a company          -->
<section id="scrollBlock1" class="z-idx3 bg-FF bg_wave">
    <div class="container_bem">
    <h2 class="title">Setting up a company inside a Free Zone provides unique business opportunities</h2>
    <div class="r30"></div>
    <div class="description">Registering a company in one of the Free Trade Zones gives you a budget tool for organizing international business and the opportunity to use the commercial advantages granted by UAE legislation, the banking system, and the highly developed logistics and transport infrastructure of the country.</div>
    <div class="r50_adaptive"></div>
    <div class="block41">
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Run a trading<br class="hide-sm-min"> business</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/verified-person.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
                Conduct international trade, export, re-export, but sell goods in the local market only  through distributors.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Operate a manufacturing facility</div>
                <div class="block41__icon-wrap">
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/hands.svg" alt="" class="block41__icon" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="block41__desc">
                Take advantage of duty-free import of raw materials, storage within the FTZ, and export products outside the UAE.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Manage a service business</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/box-parcel.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                Provide a wide range of services to international contractors, including to the FTZ where the business is registered.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Residence permit and tax domicile</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/office.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                Obtain a residence permit and the status <br class="hide-sm-min">of a tax resident (domicile) for shareholders, employees and their families.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Property and assets registration</div>
                <div class="block41__icon-wrap">
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/diploma.svg" alt="" class="block41__icon" loading="lazy">
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                All assets and real estate, including foreign ones, can be registered to the Free Zone company.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Global business operations</div>
                <div class="block41__icon-wrap">
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/tax-graph.svg" alt="" class="block41__icon" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="block41__desc">
                0% corporate taxes for international businesses provides genuine justification <br class="hide-sm-min">for setting up a FTZ company.
            </div>
        </div>
    </div>    
    <div class="r50_adaptive"></div>
    <div class="block5">
        <img src="/git/img/contour-only/black-and-red/customer1.svg"  alt="" class="block5__icon" loading="lazy">
        <div class="block5__text">
            KYC (Know Your Customer) and CRS (Common Reporting Standard) standards, as well <br class="hide-sm-min">as ESR (Economic Substance Requirements) - the new reality of modern business - require <br class="hide-sm-min">you to confirm that Management and Control of your FTZ company rests in the UAE and not<br class="hide-sm-min"> elsewhere. We can recommend effective solutions to achieve this within the parameters<br class="hide-sm-min"> laid down by law.
        </div>
    </div>
    <div class="r60_adaptive"></div>
</div>
</section>  

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Learn more about the many opportunuties that a FTZ company gives you</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Ask an expert</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="bg-FA">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP’s solutions for Free Zone company incorporation</h2>
        <div class="r50_adaptive"></div>
        <div class="block7 block7_modal block7_icon-visible">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/graph-screen.svg" loading="lazy">
                </div>
                <div class="block7__title">Choosing the right zone <br class="hide-sm-min"> and business model</div>
                <div class="block7__text">We will pinpoint the right business activity license and the best Free Zone for what you propose to achieve.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">                    
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy">
                </div>
                <div class="block7__title">Registering your <br class="hide-sm-min">Business</div>
                <div class="block7__text">We tie up the legal requirements quickly because of our close cooperation with the licensing authorities and procedures.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/growth.svg" loading="lazy">
                </div>
                <div class="block7__title">Opening your <br class="hide-sm-min">bank account</div>
                <div class="block7__text">We guide you through KYC compliance with your choice of leading UAE banks. Our know-how gets things done quickly.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/office.svg" loading="lazy">
                </div>
                <div class="block7__title">Prestigious<br class="hide-sm-min"> legal address</div>
                <div class="block7__text">Use our Business Center as your base for completing KYC procedures and while confirming ESR (Economic Substance).</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/wallet.svg" loading="lazy">
                </div>
                <div class="block7__title">PRO business <br class="hide-sm-min">support</div>
                <div class="block7__text">We do the legwork to obtain visas for investors, employees and their families, renew licenses, permits and so forth.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/human-network.svg" loading="lazy">
                </div>
                <div class="block7__title">Outsourced<br class="hide-sm-min"> business processes</div>
                <div class="block7__text">We provide integrated legal,<br class="hide-sm-min"> tax, accounting and administrative services with full business support and a highly professional approach.</div>
            </div>
        </div>
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between" onclick="toggleModal('form01');">
            Talk to a connsultant today
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
            <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--  Змейка    -->
<section id="scrollBlock3" class="bg-FA z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Unique features of doing business in the UAE’s Free Trade Zones</h2>
        <div class="r50_adaptive"></div>        
        <div class="block-snake block-snake_line-right">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/person-lifebelt.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">100% foreign ownership</div>
                    A company registered in the FTZ can be <br class="hide-sm-min"> fully owned by a foreign investor, without <br class="hide-sm-min">any requirements for a local partner or <br class="hide-sm-min">agent to be involved.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/hand-graph.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Many business activities supported</div>
                    FTZs specialize in one or more business activities and the range of options is <br class="hide-sm-min">wide, from financial consulting and healthcare to trade, logistics and more.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/office.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Deciding on location is important</div>
                    Rent or purchase commercial, <br class="hide-sm-min">warehouse, industrial and office <br class="hide-sm-min">premises in the FTZ where you have <br class="hide-sm-min">decided to register – not elsewhere.
                </div>
            </div>
        </div>
        <div class="block-snake">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/doc.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Business licensing</div>
                    <div class="r20 hide-sm-min"></div>
                    Free Zone licensing process is unique<br class="hide-sm-min"> to each FTZ and depends on the type of business activity you are carrying on.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/passport.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Visa conditions</div>
                    <div class="r20 hide-sm-min"></div>
                    The number of visas that a company<br class="hide-sm-min"> can get depends on the size of the<br class="hide-sm-min"> premises it occupies.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/diploma.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">License renewal</div>
                    <div class="r20 hide-sm-min"></div>
                    Some Free Zones require submission of annual financial statements and audits in order to renew the business license.
                </div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
        
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
            Get a free cnsultation today
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
            <use href="#btn__icon-modal"></use>
            </svg>
        </a>

        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--  block48  -->
<section id="scrollBlock4" class="bg-F9 z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Some important considerations when <br class="hide-sm-min">choosing a Free Zone for incorporation</h2>
        <div class="r50_adaptive"></div>

        <div class="block48">
            <div class="block48__item">
                <div class="block48__icon">
                    <img src="/git/img/contour-only/white/doc.svg" alt="" loading="lazy">
                </div>
                <div class="block48__title">Incorporation process varies</div>
                <div class="block48__text">
                    Your business activity is the deciding factor in choosing a FTZ. Each zone has its own list of the activities it permits and supports. They also have their own registration terms, approvals and documentation required, and internal regulations.
                </div>
            </div>
            <div class="block48__item">
                <div class="block48__icon">
                    <img src="/git/img/contour-only/white/office.svg" alt="" loading="lazy">
                </div>
                <div class="block48__title">Infrastructure and logistics</div>
                <div class="block48__text">
                    The needs of your business will help you decide where to register. Proximity to transport hubs, ports, airports matters if import, delivery and storage of goods are important. Availability of production facilities, engineering networks and technical services may be critical too.
                </div>
            </div>
            <div class="block48__item">
                <div class="block48__icon">
                    <img src="/git/img/contour-only/white/calculator-tax.svg" alt="" loading="lazy">
                </div>
                <div class="block48__title">Budgeting factors</div>
                <div class="block48__text">
                    Zones decide their own pricing for incorporation, premises leasing, and license renewal. Location is a factor. Those closest to Dubai and Abu Dhabi are generally more expensive and so your budget may dictate zones further away.
                </div>                    
            </div>
        </div>

        <div class="r50_adaptive"></div>

        <div class="block5">
            <img src="/git/img/contour-only/black-and-red/bank-building.svg" alt="" class="block5__icon">            
            <div class="block5__text">
                Reputation matters. Banks have their own internal rating of each UAE Free Trade Zone, which they use to determine the relative reliability of companies registered there. That can make opening bank accounts in the future significantly easier. Contractors, too, are aware of the jurisdiction of incorporation. It follows that you should ideally focus on the premium zones if possible or open a Mainland Company instead, especially if you are planning to enter the domestic market.
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--        Решения            -->
<section id="scrollBlock5" class="bg-FF z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Integrated solutions from SORP for professional business assistance to companies in the UAE</h2>
        <div class="r50_adaptive"></div>
        <div class="block14">
            <div class="block14__item">
                <div class="block14__title">Business planning and the right model</div>
                <div class="block14__text">We help you plan and implement a properly licensed business model and solid basis for operations. We guide you in creating a retail network and accessing international or local markets.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Advice, consultancy and support</div>
                <div class="block14__text">We will analyze the market, the competition and the relevant legislation. We will suggest the best locations for your  business to ensure it can operate in the best and most productive environment.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Local nominee partner or agent</div>
                <div class="block14__text">We will provide a restricted rights director and shareholder to exclude transfer pricing and conceal the actual beneficiaries  of the company. A waiver of rights is obtained in the Dubai court.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Obtaining tax residency status</div>
                <div class="block14__text">Enjoy tax resident (domicile) status shielding you from CRS requirements for sharing your tax details and preventing double taxation</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">International <br class="hide-sm-min">Tax Planning</div>
                <div class="block14__text">We design optimized tax solutions for international business within the full scope of UAE legislation, drawing on our wide experience in this field</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Confirmation of economic substance</div>
                <div class="block14__text">We help fulfil proof of economic substance based on the registered location of your company, as well as localized decision making and management, and tax compliance.</div>
            </div>            
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Take advantage of our expertise and wide experience to quickly set up <br class="hide-sm-min">your new company in a UAE Free Trade Zone.</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Book a free consultation today</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="scrollBlock6">
    <div class="container_bem">
		<div class="r60_adaptive"></div>
		<h2 class="title">SORP’s long experience guarantees the success of your operation in the UAE</h2>
			<div id="vslideouter" class="slider_02 text_slider">
				<div class="slide-elem tslider-item-new flex_column first">
					<div class="back"></div>
					<div class="tslider-item__number">Integrated approach</div>
					<div class="tslider-item__text fadeInUp">Creating a secure structure, legal and secretarial support, confirmation of the control center, and much more on the Sorp Group platform</div>
				</div>

				<div class="text_slider__inner">
					<div class="slide-elem tslider-item-new flex_column second">
						<div class="back"></div>
						<div class="tslider-item__number">Expert status</div>
						<div class="tslider-item__text wow fadeInUp">Tap into our specialist expertise and proven formula for organizing manufacturing businesses. Benefit from our knowledge, processes and tools for solving challenges</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column third">
						<div class="back"></div>
						<div class="tslider-item__number">SORP Business Center</div>
						<div class="tslider-item__text">A prestigious address based on our business Center in Dubai will confirm the reputation of a reliable counterparty for your clients and partners</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Shielding your interests</div>
						<div class="tslider-item__text">We will ensure the security of your investments and take measures to protect the owners and directors confidentiality</div>
					</div>									
					
					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Legal support</div>
						<div class="tslider-item__text">SORP Group corporate lawyers and strategic partnerships with the best lawyers in the UAE and around the world will provide you with prompt legal support for business</div>
					</div>
                    
					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">15 years of experience</div>
						<div class="tslider-item__text">Expert knowledge in opening and supporting companies working in any field of business activities</div>
                    </div>
                    
				    <div class="tns-controls">
					    <div class="button" onclick="slideup()"></div>
					    <div class="button" onclick="slidedown()"></div>
				    </div>
			    </div>
		</div>
	</div>
</section>

<!-- registration -->
<section class="bg-F9" id="scrollBlock7">
    <div class="r1 r_bg-gray"></div>
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Register a company in  UAE Free Trade Zones</div>
          <div class="r20"></div>
          Send us your contact details and we will put you in touch with an expert in setting up Free Trade Zone companies in the UAE.
          <br><br>
          SORP Group experts will put together a professional and comprehensive plan to register your company based on your goals and with full business support services.
          <br><br>
          You can take the first step today towards creating a successful and profitable business!
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Start a UAE Free Zone business</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>  
    <div class="r1 r_bg-gray"></div>  
</section>

{/block}
{include 'footer_new'}