extends ../../layouts/default_minilinds

block variables
  - const title = "registraciya_s_dejstvuyushchim_schetom"
  - page = "minilends"
  - logo_main = true
  - minilends = true


block content
  main
    section.bg.bg_minilends
      style
        | .first-screen {
        |  background-position: center 41%;
        | }

      .first-screen.lazy(data-bg="/dist/img/minilends/blocks/first-screen/registraciya_s_dejstvuyushchim_schetom.svg")
        h1.first-screen__title
          +lang(
          'Регистрация компании <br> в ОАЭ с действующим<br> банковским счетом',
          'Company formation with a&nbsp;bank account in&nbsp;the&nbsp;UAE'
          )
        p.first-screen__text
          +lang(
          'Низконалоговая юрисдикция для ведения бизнеса из любой точки мира',
          'Low-tax jurisdiction for&nbsp;doing business <br> from anywhere in&nbsp;the&nbsp;world'
          )
        label.first-screen__btn.btn.btn_w100.btn_hover-red.btn_font-s18.btn_radius5.js-modal(for="modal2" data-reason="Оставить заявку (1-й экран) - миниленд")
          +lang(
          'Оставить заявку',
          'Get more details'
          )

    section
      .r20
      .r5
      .container
        .block-frames
          style
            | .block-frames__box {
            |  background-position: 100%;
            | }
          .block-frames__box.lazy(data-bg="/dist/img/minilends/pages/registraciya_s_dejstvuyushchim_schetom/block-frames.svg")
            p.block-frames__text
              +lang(
              'Инкорпорируй оншорную компанию в&nbsp;ОАЭ и&nbsp;получи возможность вести бизнес без&nbsp;налогов во&nbsp;всём мире',
              'Incorporate an onshore company in&nbsp;the&nbsp;UAE and&nbsp;get the&nbsp;opportunity to&nbsp;do business without taxes all over the&nbsp;world'
              )
          .block-frames__signature-box
            .block-frames__signature-icon.lazy(data-bg="/dist/img/minilends/blocks/block1/note.svg")
            p.block-frames__signature-text
              +lang(
              'ОАЭ — идеальное место для создания расчётно-кассового центра для&nbsp;любого, в&nbsp;том числе международного, бизнеса',
              'The UAE is an&nbsp;ideal place to&nbsp;create a&nbsp;cash and&nbsp;settlement center for&nbsp;any business, including international ones'
              )
        .r20
        .r1.r_bg-e3

      .r20
      .r5

    section
      .container
        h2.title
          +lang(
          'Особенности регистрации',
          'Features of incorporation'
          )
        .r20
        .block1
          .block1__item
            .block1__icon.lazy(data-bg="/dist/img/minilends/blocks/block1/list/1.svg")
            p.block1__text
              +lang(
              'Регистрация оншорной компании возможна на&nbsp;локальной земле (форма собственности LLC, SE, CС) и&nbsp;на&nbsp;территории одной из&nbsp;СЭЗ ОАЭ (форма собственности FZE и&nbsp;FZC).',
              'Onshore company formation is&nbsp;possible while registering a&nbsp;legal Mainland entity (in&nbsp;the&nbsp;form of&nbsp;incorporation of&nbsp;LLC, SE, CС) and&nbsp;in&nbsp;the&nbsp;territory of&nbsp;Free Trade Zones (in&nbsp;the&nbsp;form of&nbsp;incorporation of&nbsp;FZE or&nbsp;FZC).'
              )
          .block1__item
            .block1__icon.lazy(data-bg="/dist/img/minilends/blocks/block1/list/2.svg")
            p.block1__text
              +lang(
              'Все оншорные компании проходят процедуру лицензирования. Это самый эффективный инструмент построения холдингов и&nbsp;структур.',
              'All onshore companies are subject to&nbsp;licensing procedures. This is&nbsp;the&nbsp;most effective tool for&nbsp;building holdings and&nbsp;other business structures.'
              )
          .block1__item
            .block1__icon.lazy(data-bg="/dist/img/minilends/blocks/block1/list/3.svg")
            p.block1__text
              +lang(
              'Свободное перемещение капитала без валютного контроля. Выполнение расчётов в&nbsp;любой валюте без обязательной конвертации.',
              'Free movement of&nbsp;capital without currency control. Make payments in&nbsp;any currency without obligatory conversion.'
              )
          .block1__item
            .block1__icon.lazy(data-bg="/dist/img/minilends/blocks/block1/list/4.svg")
            p.block1__text
              +lang(
              'Процедура банковской проверки KYC проводится по&nbsp;упрощённой схеме при&nbsp;расчётах с&nbsp;контрагентами ОАЭ в&nbsp;местной валюте (дирхам).',
              'Simplified KYC Bank verification procedure for&nbsp;settlements with&nbsp;UAE businesses in&nbsp;local currency (Dirhams).'
              )
        .r20
        .r5

    section
      .quote
        .quote__icon.lazy(data-bg="/dist/img/minilends/blocks/quote/quote.svg")
        p.quote__text
          +lang(
          'Ведите бизнес с&nbsp;возможностью построения расчётно-кассового центра в&nbsp;стране, которая всегда отстаивает интересы своих резидентов.',
          'Run your business with&nbsp;the&nbsp;ability to&nbsp;form a&nbsp;cash and&nbsp;settlement center in&nbsp;a&nbsp;country that always protects the&nbsp;interests of&nbsp;its&nbsp;residents.'
          )

    section.bg.bg_f9
      .r3.r_bg-red
      .container
        .r20
        .r5
        p.description.description_center
          +lang(
          'С экспертами SORP уже сегодня вы сможете создать эффективный инструмент выхода на&nbsp;рынок ОАЭ и&nbsp;оптимизации бизнеса. ',
          'With SORP Group expert help, you can create an&nbsp;effective tool for entering the UAE market and&nbsp;optimizing your business, starting today.'
          )
        .r10
        .r5
        h1.title.title_center
          +lang(
          'Начать регистрацию можно дистанционно',
          'You can start incorporation of&nbsp;the&nbsp;company remotely from anywhere'
          )
        .r20
        include ../../blocks/minilends/form/form
      .r30
      .r5

    include ../../blocks/minilends/pnumber/pnumber