.block35__item_wave-ltr, .block35__item_wave-rtl { background-image: none; }

@media (min-width: screen-xs-min) {
  .block35__item {
    &_wave-ltr, &_wave-rtl { background-position: bottom; background-repeat: no-repeat; background-size: 100%; }
    &_wave-ltr { background-image: url('/img/blocks/block35/wave-ltr.png'); }
    &_wave-rtl { background-image: url('/img/blocks/block35/wave-rtl.png'); }
  }
}