section
  .container
    .r20
    .r5
    .title
      +lang(
      'SORP Group — ведущая консалтинговая группа в&nbsp;Арабских Эмиратах',
      'SORP is a leading<br> consultancy group in the&nbsp;United Arab Emirates'
      )
    .r20
    .pnumber.bg.bg_triangle
      .pnumber__item
        .pnumber__number 15
        .pnumber__title
          +lang(
          'лет на рынке ОАЭ',
          'years in the UAE market'
          )
      .pnumber__item
        .pnumber__number 54
        .pnumber__title
          +lang(
          'эксперта в штате',
          'experts on staff'
          )
      .pnumber__item
        .pnumber__number 55
        .pnumber__title
          +lang(
          'решений для вашего бизнеса',
          'concepts for your business'
          )
      .pnumber__item
        .pnumber__number 25
        .pnumber__title
          +lang(
          'стратегических направлений',
          'strategic directions'
          )
  .r10
  .r5