.nav {
  &__hidden-logo-signature { color: #C0C3C8; margin-top: 7px; font-size: 16px; line-height: 1.37; }
  &__hidden-eng-version { padding: 12px 15px; border-radius: 5px; border: 1px solid #CC4052; display: flex; align-items: center; }
  &__hidden-eng-version-icon { width: 24px; height: 24px; }
  &__hidden-eng-version-text { color: #fff; margin: 0 20px; font-size: 16px; line-height: 1.35; font-weight: 500; }
  &__hidden-eng-version-text-span { color: #959dad; }
}