.block35 {
  &__item_currency { background-image: url('dist/src/img/blocks/block35/wave-rtl.png'); background-repeat: no-repeat; background-size: cover; display: flex; flex-direction: column; justify-content: space-between; }
  &__currency { color: #414141; font-size: 18px; font-weight: 400; line-height: 36px; }
  &__currency-header { font-size: 17px; line-height: 36px; font-weight: 500; }
  &__currency-value { font-weight: 200; font-size: 64px; color: black; }
}