.bg_lightning { background-image: url('/dist/img/blocks/bg/red-lightning.png'); background-repeat: no-repeat; background-position: center; }
@media (min-width: screen-sm-min) { .bg_lightning{ background-position-x: 230px; background-position-y: 80px; } }