{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
  <symbol id="btn__icon-modal" height="128"  width="128" viewBox="0 0 128 128">
    <path d="M74.508,108.239c-0.772,0-1.479-0.445-1.81-1.148l-16.863-35.84L20.732,55.116c-0.734-0.337-1.193-1.083-1.164-1.891  c0.03-0.808,0.543-1.518,1.3-1.8l83.312-31.107c0.729-0.271,1.552-0.096,2.105,0.452c0.555,0.548,0.739,1.369,0.475,2.102  l-30.371,84.047c-0.274,0.761-0.98,1.28-1.788,1.318C74.569,108.238,74.538,108.239,74.508,108.239z M26.772,53.49l31.396,14.432  c0.429,0.197,0.774,0.539,0.975,0.965l15.122,32.139l27.264-75.448L26.772,53.49z"/>
    <path d="M57.334,71.738c-0.512,0-1.023-0.195-1.414-0.586c-0.781-0.78-0.781-2.047,0-2.828l47.545-47.546  c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828L58.748,71.152C58.357,71.543,57.846,71.738,57.334,71.738z"/>
  </symbol>
</svg>

<style>
  .block7__item:hover { background-color: #[[*link_attributes]]; border-color: #[[*link_attributes]]; }
  @media (min-width: 800px) { .block-snake__item, .block7__item { padding-right: 30px; } .block-snake__text-gray { padding-right: 18px; } }
</style>

<section class="tops-wrapper">
  <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
    <div class="first-screen">
      <div class="first-screen__content">
        <div class="first-screen__logo-box">
            <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
        </div>
        <h1 class="first-screen__title">How to get an engineering business license in the UAE</h1>
        <h4 class="first-screen__text">Engineering consultancy and contracting services are in-demand and highly paid business areas in the UAE. Licensing is mandatory and can be complex to navigate</h4>
        <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Request information</a>                
      </div>
    </div>
  </div>
  <div class="container_bem">
    <div class="r60_adaptive"></div>
    <div class="block-frames">
    	<div class="block-frames__border"></div>
    	<div class="block-frames__wrapper">Large scale construction and engineering projects remain a core driver of the UAE economy and across <br class="hide-sm-min"> the entire Gulf region. Demand outstrips supply for qualified personnel and competent suppliers, and this<br class="hide-sm-min"> shortage is driving the attractiveness of the country for foreign companies. SORP Group experience and <br class="hide-sm-min"> expertise in the sector is your key to unlocking the rich opportunities in this market.</div>
    </div>
    <div class="r60_adaptive"></div>        
  </div>
</section>

<section id="scrollBlock1" class="z-idx3 bg-FF bg_wave">
  <div class="container_bem">
    <div class="r40"></div>
    <h2 class="title">Main engineering licenses available for business setting up in the UAE to work there and abroad</h2>
    <div class="r50_adaptive"></div>
    <div class="block41">
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Range of engineering works abroad</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/office.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
              Consulting, design and developing plans, task execution and commissioning - end-to-end from fleshing out concepts to topping out finished projects and all tax-free.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Designing structures of all types</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/construction-engineer.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
              Elaborating on engineering plans and blueprints and providing support at all stages from design to implementation of residential, commercial, industrial and social facilities.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">General<br class="hide-sm-min"> engineering</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/bridge.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
              A full range of services for the development, justification as well as implementation of the project, as well as the supply of equipment on a turnkey basis.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Electrical Engineering works</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/outlet.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
              Consulting at the stage of design and installation of low-current electrical systems, electrical and telecommunications networks, and other electrical installation work.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Engineering systems for buildings</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/woods.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
              Installation and design work for duct systems, ventilation, heating, drainage, sewerage, fire extinguishing systems and other structural works.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Landscape <br class="hide-sm-min">design</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/cog-pen.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
              Commercial landscaping to shape spaces for construction and infrastructure projects from multi-story urban developments to cottage settlements.
            </div>
        </div>
    </div>
    <div class="r50_adaptive"></div>
    <div class="block5 z-idx3 bg-FF">
        <img src="/git/img/contour-only/black-and-red/doc.svg" alt="" class="block5__icon block5__icon_left" loading="lazy">
        <div class="block5__text">
          The state regulates engineering activities to ensure quality control and excellence. Some engineering activities require multiple approvals from different authorities, often with minimum qualification levels specified for managerial roles – all checked and verified. To fast-track registration of your engineering company SORP Group consultants and experts have developed solutions that will save you time, money and hassle.
        </div>
    </div>
    <div class="r50_adaptive"></div>
    <a href="#" class="btn btn_center btn_border2 btn_white z-idx3 btn_space-between" onclick="toggleModal('form01');">
      Contact a business expert today
      <svg class="btn__icon-svg btn__icon-svg_black" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
        <use href="#btn__icon-modal"></use>
      </svg>
    </a>
    <div class="r60_adaptive"></div>
  </div>
    <div class="r1 r_bg-gray"></div>
</section>  

<section id="scrollBlock2" class="bg-F9">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP solutions for licensing and support of engineering businesses in the UAE</h2>
        <div class="r50_adaptive"></div>
        <div class="block7 block7_modal">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/data-analysis.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Business <br class="hide-sm-min">modeling</div>
                    <div class="block7__text">We will choose the right type of company and most suitable place of incorporation for the best fit</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Company<br class="hide-sm-min"> incorporation</div>
                    <div class="block7__text">Fast processing through the legal proceures based on of our trusted status with DM and DED</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/three-people.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Local partner <br class="hide-sm-min">or agent</div>
                    <div class="block7__text">Nominee service from SORP Investment LLC with a waiver <br class="hide-sm-min">of rights in the Dubai court</div>
                </div>
            </div>

            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/building.svg"  loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Prestigious <br class="hide-sm-min">office address</div>
                    <div class="block7__text">SORP Business Centre provides our clients with the opportunity to rent an office under Ejari / Estidama license, rent flexi-desks or E-office</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/wallet.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Opening a<br class="hide-sm-min"> bank account</div>
                    <div class="block7__text">Cooperation with UAE banks, understanding of compliance procedures and assistance in passing KYC and interviews</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/partners-2.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">PRO - business <br class="hide-sm-min">support</div>
                    <div class="block7__text">Representation of interests at the Ministry of Labor and other state authorities for visas and licenses with support always available 24/7</div>
                </div>
            </div>
        </div>
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white z-idx3 btn_space-between" onclick="toggleModal('form01');">
          Get a consultation today
          <svg class="btn__icon-svg btn__icon-svg_black" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
            <use href="#btn__icon-modal"></use>
          </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<section id="scrollBlock3" class="bg-F9 z-idx3">
  <div class="container_bem">
    <div class="r60_adaptive"></div>
    <h2 class="title">What’s involved in obtaining business licenses in the UAE for different engineering activities</h2>
    <div class="r60_adaptive"></div>
    <div class="block35 block35_width2">
      <div class="block35__item bg_wave-ltr">
        <div class="block35__head">
            <div class="block35__title">Service, repair, building systems engineering and landscape works</div>
            <div class="block35__icon-wrap">
              <img src="/git/img/contour-only/white/organization-building.svg" alt="" class="block35__icon" loading="lazy">
            </div>
        </div>
        <div class="r1 r_bg-gray"></div>
        <div class="block35__content">
          <div class="r30"></div>
            <ul class="list2">
              <li class="list2__item">The process of obtaining licenses for these fields of activity  is controlled by the Building Department. Additional specialized permits are required from the Road Transport Authority (RTA) or DEWA.</li>
              <li class="list2__item">Some licenses do not have categories, meaning work permitted under the license can be carried out at any site</li>
              <li class="list2__item">There are no requirements regarding owner's qualifications, education, or professional experience.</li>
              <li class="list2__item">Likewise, managers are not obliged to possess specific levels of education or experience.</li>
              <li class="list2__item">Availability of suitably qualified and accredited engineering and technical employees with the appropriate specialization license is a pre-requisite of obtaining engineering and service, design, and landscape licenses.</li>
            </ul>
        </div>
      </div>
      <div class="block35__item bg_wave-rtl">
        <div class="block35__head">
          <div class="block35__title">Architectural design <br class="hide-sm-min">and complex engineering <br class="hide-sm-min">works</div>
          <div class="block35__icon-wrap">                    
            <img src="/git/img/contour-only/white/tax-graph.svg" alt="" class="block35__icon" loading="lazy">
          </div>
        </div>
        <div class="r1 r_bg-gray"></div>
        <div class="block35__content">
          <div class="r30"></div>
          <ul class="list2">
            <li class="list2__item">A permit from the supervisory authority of the Building Department is mandatory. Additional approvals are also required from other regulatory authorities, such as Civil Defense, RTA or DEWA.</li>
            <li class="list2__item">There are four categories that depend on or limit the height of the structure under design or proposed construction.</li>
            <li class="list2__item">G+1 - design up to a height of 2 floors, G+4 - up to 5 floors, G+12 - up to 13 floors, UL - no restrictions.</li>
            <li class="list2__item">Both the foreign owner and local partner must have minimum education qualifications and relevant professional experience</li>
            <li class="list2__item">The license class governs the education and qualifications requirements for managers. The availability of qualified architects and engineers must be demonstrated, the number of which depends on the field of activity and the license class.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="r60_adaptive"></div>
  </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Take advantage of a free consultation and get an individual offer for drawing up engineering licenses.</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Contact an expert</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock4" class="bg-FF bg_wave-center z-idx3">
  <div class="container_bem">
    <div class="r60_adaptive"></div>
    <h2 class="title">Facts you should know when starting an engineering business</h2>   
    <div class="block-snake block-snake_line-right">
      <div class="block-snake__item fadeInUp">
        <div class="block-snake__icon-wrap">
          <img src="/git/img/contour-only/white/navigation.svg" alt="" class="block-snake__icone" loading="lazy">
        </div>
        <div class="block-snake__text block-snake__text_gray">
          <div class="block-snake__text-header">Place of incorporation</div>
          If you are doing business inside the <br class="hide-sm-min"> UAE, you need to incorporate a local (mainland) company. These can freely provide services within the UAE and abroad, and participate in all tenders.
        </div>
      </div>
      <div class="block-snake__item fadeInUp">
        <div class="block-snake__icon-wrap">
          <img src="/git/img/contour-only/white/person-percentage.svg" alt="" class="block-snake__icone" loading="lazy">
        </div>
        <div class="block-snake__text block-snake__text_gray">
          <div class="block-snake__text-header">FTZ company incorporation</div>
          A company set up in one of the Free <br class="hide-sm-min">Trade Zones (FTZ) can only be used<br class="hide-sm-min"> for doing business in international <br class="hide-sm-min">markets outside the UAE.  Only a <br class="hide-sm-min">limited number of these are issued.
        </div>
      </div>
      <div class="block-snake__item fadeInUp">
        <div class="block-snake__icon-wrap">
          <img src="/git/img/contour-only/white/verified-person-head.svg" alt="" class="block-snake__icone" loading="lazy">
        </div>
        <div class="block-snake__text block-snake__text_gray">
          <div class="block-snake__text-header">Company ownership</div>
          A local company to perform repairs, <br class="hide-sm-min">major engineering, design or landscape works requires a local sponsor who has 51% share ownership  (can be nominal). 49% can be owned by a foreign investor.
        </div>
      </div>
    </div>
        
    <div class="block-snake">
      <div class="block-snake__item fadeInUp">
        <div class="block-snake__icon-wrap">
          <img src="/git/img/contour-only/white/diploma.svg" alt="" class="block-snake__icone" loading="lazy">
        </div>
        <div class="block-snake__text block-snake__text_gray">
          <div class="block-snake__text-header">Professional license</div>
          Incorporation of a company with 100% foreign ownership suits carrying out of design and architectural works, and providing consultancy. You must assign <br class="hide-sm-min">a local agent to carry out all interactions with the relevant government agencies.
        </div>
      </div>
      <div class="block-snake__item fadeInUp">
        <div class="block-snake__icon-wrap">
          <img src="/git/img/contour-only/white/flag.svg" alt="" class="block-snake__icone" loading="lazy">
        </div>
        <div class="block-snake__text block-snake__text_gray">
          <div class="block-snake__text-header">Legal entity of incorporation</div>
          Mainland (local) companies are usually incorporated as LLCs. Liability is limited <br class="hide-sm-min">to the amount of issued share capital. Professional licenses can be formed as Civil Company or Sole Establishment <br class="hide-sm-min">(sole proprietorship) types of entities.
        </div>
      </div>
    </div>
    <div class="r60_adaptive"></div>
        
    <a href="#" class="btn btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
      Find out more
      <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
        <use href="#btn__icon-modal"></use>
      </svg>
    </a>
    <div class="r60_adaptive"></div>
  </div>
</section>

<section id="scrollBlock5" class="bg-F9">
    <div class="r1 r_bg-gray"></div>
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Comprehensive SORP support services <br class="hide-sm-min">for doing business in the UAE</h2>
        <div class="r50_adaptive"></div>
        <div class="block14">
            <div class="block14__item z-idx3">
                <div class="block14__title">Defining your individual business model</div>
                <div class="block14__text">We integrate ideal development strategies for you based on the competition and the law. Then we choose the right operating license for doing local or global business.</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Company incorporation <br class="hide-sm-min">and licensing</div>
                <div class="block14__text">New companies are registered quickly and to very high quality standards by SORP Group specialists in close cooperation with the registration authorities.</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Business<br class="hide-sm-min"> process<br class="hide-sm-min"> outsourcing</div>
                <div class="block14__text">It makes sense to use SORP’s expert professional administrative, recruiting, accounting and tax competencies, saving the cost of employing highly paid personnel.</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Obtaining tax residency status</div>
                <div class="block14__text">Enjoy tax resident (domicile)<br class="hide-sm-min"> status shielding you from CRS requirements for sharing your<br class="hide-sm-min"> tax details and preventing double taxation.</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">International<br class="hide-sm-min"> Tax Planning</div>
                <div class="block14__text">We design optimized tax solutions for international business within the full scope of UAE legislation, drawing on our wide experience and successful cases in this field.</div>
            </div>
            <div class="block14__item z-idx3">
                <div class="block14__title">Confirmation of economic substance</div>
                <div class="block14__text">We help fulfil proof of economic substance based on the registered location of your company, with its localized decision making as well as management, tax compliance</div>
            </div>            
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>
<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Ensure the smooth operation of your business with the operational <br class="hide-sm-min">support of market experts and PRO employees</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Contact an expert</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section class="bg-F9" id="scrollBlock6">
    <div class="container_bem">
		<div class="r60_adaptive"></div>
        <h2 class="title">SORP Group will become your reliable long-term partner in supporting your UAE business</h2>
			<div id="vslideouter" class="slider_02 text_slider">
				<div class="slide-elem tslider-item-new flex_column first">
					<div class="back"></div>
					<div class="tslider-item__number">Integrated solutions</div>
					<div class="tslider-item__text fadeInUp">A comprehensive approach from drawing up a development plan for an engineering company, obtaining all permits and licensing, to supporting the company's activities</div>
				</div>

				<div class="text_slider__inner">
					<div class="slide-elem tslider-item-new flex_column second">
						<div class="back"></div>
						<div class="tslider-item__number">15 years of experience</div>
						<div class="tslider-item__text wow fadeInUp">In the field of company incorporation, licensing and support for engineering businesses and related activities, and helping to resolve issues on the way to achieving their goals</div>
					</div>
					<div class="slide-elem tslider-item-new flex_column third">
						<div class="back"></div>
						<div class="tslider-item__number">Complicated issues</div>
						<div class="tslider-item__text">We have expertise in all areas of the engineering business in the UAE, including specialist tools to help resolve even the most complex issues</div>
					</div>
					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Expert Status</div>
						<div class="tslider-item__text">We are able to make a legally sound decision on the choice of a license based on an analysis of your needs and provide advice on all issues related to licensing</div>
          </div>
          <div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number ta-center">SORP Business Center</div>
						<div class="tslider-item__text">54,000 sq. ft. of modern office space for passing licensing procedures in the UAE and confirming requirements for incorporation.</div>
					</div>
				<div class="tns-controls">
					<div class="button" onclick="slideup()"></div>
					<div class="button" onclick="slidedown()"></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-F9" id="scrollBlock7">
    <div class="r1 r_bg-gray"></div>
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Get an engineering <br class="hide-sm-min">license in the UAE</div>
          <div class="r30"></div>
          Submit a request and get detailed advice on obtaining an engineering license in the UAE.
          <br><br>
          SORP Group experts will help you determine the appropriate types of activities, choose the optimal place of incorporation and type of legal entity.
          <br><br>
          Take the first step today towards creating your business in the UAE!
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Get the license</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>
{/block}
{include 'footer_new'}