.container_thank {
  height: calc(100vh - 150px); min-height: 500px; display: flex; flex-direction: column; justify-content: space-between;
}

@media (min-width: screen-md-min) {
  .container_thank { height: calc(100vh - 100px); min-height: 350px; }
}