{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" height="128"  width="128" viewBox="0 0 128 128">
    	<path d="M74.508,108.239c-0.772,0-1.479-0.445-1.81-1.148l-16.863-35.84L20.732,55.116c-0.734-0.337-1.193-1.083-1.164-1.891  c0.03-0.808,0.543-1.518,1.3-1.8l83.312-31.107c0.729-0.271,1.552-0.096,2.105,0.452c0.555,0.548,0.739,1.369,0.475,2.102  l-30.371,84.047c-0.274,0.761-0.98,1.28-1.788,1.318C74.569,108.238,74.538,108.239,74.508,108.239z M26.772,53.49l31.396,14.432  c0.429,0.197,0.774,0.539,0.975,0.965l15.122,32.139l27.264-75.448L26.772,53.49z"/>
    	<path d="M57.334,71.738c-0.512,0-1.023-0.195-1.414-0.586c-0.781-0.78-0.781-2.047,0-2.828l47.545-47.546  c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828L58.748,71.152C58.357,71.543,57.846,71.738,57.334,71.738z"/>
    </symbol>  
</svg>

<style>
    @media (min-width: 770px) { .block5 { padding-right: 38px; } }
    .block-snake__text_gray { padding-right: 8px; } 
    .block7 .block7__item:hover { background-color: #[[*link_attributes]]; border-bottom-color: #[[*link_attributes]]; }
    @media (min-width: 1200px) { .block7__item { padding: 35px 25px 35px 25px; } }
    @media (max-width: 768px) { .block-snake.block-snake_line-left { flex-direction: column-reverse; } }
</style>

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">Как купить готовый бизнес в ОАЭ</h1>
                    <p class="first-screen__text">Алгоритм приобретения действующего предприятия с учетом анализа экономических и юридических аспектов</p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>        
            <div class="block-frames__wrapper">Мотивация инвестиций в работающий бизнес - желание ускорить процесс лицензирования, избежать технических трудностей и проволочек, возможность получать прибыль с первого дня. Без понимания особенностей ведения бизнеса в Арабских Эмиратах, приобретая бизнес, можно совершить ошибки. <br class="hide-sm-min"> SORP Group - эксперт в оценке и оформлении готового бизнеса, подготовили материалы основанные <br class="hide-sm-min">на нашей практике.</div>
        </div>
        <div class="r30 hide-sm-min"></div>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--       Змейка         -->
<section id="scrollBlock1" class="bg-F9 z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Этапы приобретения готового бизнеса с поддержкой группы компаний SORP</h2>
        <div class="r30"></div>
        <div class="description">ОАЭ — это динамично развивающаяся бизнес-среда, где вы найдете массу предложений по продаже бизнеса на сайтах - агрегаторах. Чтобы подобрать высокодоходный проект, необходимо глубоко его проанализировать, собрать данные о реальном финансовом положении и возможных перспективах развития приобретаемого бизнеса</div>
        <div class="r30_adaptive"></div>
        <div class="block-snake block-snake_line-right">
            <div class="block-snake__item fadeInUp">
                    <div class="block-snake__img">
                        <div class="block-snake__digit">1</div>
                    </div>
                    <div class="block-snake__text block-snake__text_gray ">
                        <div class="block-snake__text-header">Проверка финансового положения компании</div>
                        Необходимо провести экспертизу первичной документации, а также подтвердить обороты и получить <br class="hide-sm-min">выписки из банков                        
                    </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">2</div>
                </div>
                <div class="block-snake__text block-snake__text_gray ">
                        <div class="block-snake__text-header">Экспертиза соглашений между компанией и клиентами</div>                         
                         Важно, чтобы компания не получала прибыль за счет нескольких крупных контрактов во избежание риска их дальнешего расторжения
                    </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">3</div>
                </div>
                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Экспертиза трудовых соглашений</div>
                    Профессиональная команда — ключ к успеху вашего бизнеса. Убедитесь, что трудовые отношения оформлены грамотно
                </div>
            </div>
        </div>
        <div class="block-snake block-snake_line-left">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">6</div>
                </div>
                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Проверка банковского счёта</div>
                    В ОАЭ чек - инструмент расчётов <br class="hide-sm-min">с контрагентами. Они могут быть выпущены поздней датой. SORP рекомендует закрыть текущий <br class="hide-sm-min">счёт и открыть новый                    
                </div>
            </div>

            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">5</div>
                </div>    
                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Проверка условий аренды</div>
                    Проверьте условия аренды, если расположение бизнеса - важный <br class="hide-sm-min"> момент в привлечении клиентов <br class="hide-sm-min">и владелец намерен продолжать сотрудничество                    
                </div>
            </div>

            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">4</div>
                </div>    

                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Экспертиза уставных документов</div>
                    Провести проверку учредительных документов компании и правильного оформления отношений с локальным партнером для исключения контроля над бизнесом с его стороны                                   
                </div>
            </div>

        </div>
        <div class="block-snake">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">7</div>
                </div>    

                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Проверка в Иммиграции и Министерстве Труда</div>                    
                    Убедитесь, что визы владельцев <br class="hide-sm-min"> и бывших сотрудников закрыты. <br class="hide-sm-min"> Проверьте, не заблокирована ли<br class="hide-sm-min"> компания в Министерстве Труда <br class="hide-sm-min">за нарушения
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">8</div>
                </div>    
                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Разработка плана развития бизнеса</div>
                    Запросите у продавца план развития бизнеса и проведите независимую экспертизу. SORP проанализирует документы и внесет необходимые изменения                    
                </div>
            </div>
            <div class="block-snake__item fadeInUp" style="background: #f9f9f9;">
                    <div class="block-snake__img">
                        <div class="block-snake__digit">9</div>
                    </div>
                    <div class="block-snake__text block-snake__text_gray ">
                        <div class="block-snake__text-header">Переоформление <br class="hide-sm-min"> компании</div>
                        После завершения юридической <br class="hide-sm-min">и финансовой экспертизы SORP подготовит все документы «под <br class="hide-sm-min"> ключ» и поможет переоформить <br class="hide-sm-min"> готовый бизнес за 10 дней
                    </div>
                </div>
        </div>

        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Обращаясь в SORP Group для профессионального подбора готового <br class="hide-sm-min">бизнеса, Вы вкладываете средства в надежные активы</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Связаться с экспертом</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="z-idx3 bg-FF">
    <div class="container_bem">
            <div class="r60_adaptive"></div>
            <h2 class="title">Важно при покупке готового бизнеса</h2>
            <div class="r30"></div>
            <div class="description">Убедиться в том, что вы знаете причину продажи. Так вы не попадете в ловушку «убыточного бизнеса в красивой обертке», разработаете правильный план развития компании и сможете понизить стоимость приобретения при переговорах.</div>
            <div class="r50_adaptive"></div>
            
            <div class="block18">            
                <div class="block18__item">
                    <div class="block18__icon-wrap">
                        <img src="/git/img/contour-only/black-and-red/price-tag.svg" alt="" class="block18__icon block18__icon_min">
                    </div>
                    <div class="block18__text">
                        <div class="block18__title">Бизнес организован для продажи</div>
                        <div class="block18__description">Профессиональные игроки рынка развивают компанию в перспективных сферах деятельности, чтобы впоследствии <br class="hide-sm-min"> продать с максимальной выгодой</div>
                    </div>
                </div>
                
                <div class="block18__item">
                    <div class="block18__icon-wrap">
                        <img src="/git/img/contour-only/black-and-red/partners.svg" alt="" class="block18__icon block18__icon_min">
                    </div>
                    <div class="block18__text">
                        <div class="block18__title">Переезд владельцев</div>
                        <div class="block18__description">Семейные обстоятельства или проекты в другой стране могут стать причинами продажи действующего бизнеса в Объединённых Арабских Эмиратах</div>
                    </div>
                </div>
                
                <div class="block18__item">
                    <div class="block18__icon-wrap">
                        <img src="/git/img/contour-only/black-and-red/graph-screen.svg" alt="" class="block18__icon block18__icon_min">
                    </div>
                    <div class="block18__text">
                    <div class="block18__title">Стремление избавиться от убытков</div>
                    <div class="block18__description">Владельцы проблемного бизнеса идут на уловки, чтобы быстро избавиться от него. Такой актив - высокий риск, который могут распознать только профессионалы</div>
                </div>
                </div>
                
                <div class="block18__item">
                    <div class="block18__icon-wrap">
                        <img src="/git/img/contour-only/black-and-red/choosing-person.svg" alt="" class="block18__icon block18__icon_min">
                    </div>
                    <div class="block18__text"> 
                        <div class="block18__title">Кризис и разногласия между партнёрами</div>
                        <div class="block18__description">Бизнес, которым владеют несколько инвесторов, несет <br class="hide-sm-min"> повышенный риск конфликта. Способ избежать этого - <br class="hide-sm-min"> продать бизнес и разделить активы</div>
                    </div>
                </div>
            </div>
            <div class="r50_adaptive"></div>

            <div class="block5">
                <img src="/git/img/contour-only/black-and-red/document-revert.svg" alt="" class="block5__icon block5__icon_left">             
                <div class="block5__text">
                    Прибыльные проекты в ОАЭ продаются через профессиональные компании. Они выступают как гарант конфиденциальности и грамотного оформления сделки. Владелец успешного бизнеса не станет продавать его через платформы-агрегаторы, так как это поставит под удар репутацию его бизнеса и повлечет потерю клиентов, которые будут ассоциировать факт продажи с убыточностью предприятия. 
                </div>
            </div>
            <div class="r60_adaptive"></div>

            <a href="#" class="btn btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
                Получить консультацию
                <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                <use href="#btn__icon-modal"></use>
                </svg>
            </a>

            <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<section id="scrollBlock3" class="bg-FA">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Решения SORP по cопровождению инвестиций в готовый бизнес</h2>
        <div class="r50_adaptive"></div>
        
        <div class="block7 block7_modal block7_white block7_icon-visible">
            <div class="block7__item z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/magnifier-new.svg" loading="lazy">
                </div>
                <div class="block7__title">Поиск готового бизнеса <br class="hide-sm-min"> к продаже</div>
                <div class="block7__text">С учётом объема планируемых инвестиций мы подберём для <br class="hide-sm-min">вас подходящие объекты для приобретения</div>
            </div>
            <div class="block7__item z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/graph-screen.svg" loading="lazy">
                </div>
                <div class="block7__title">Проверка финансовых показателей</div>
                <div class="block7__text">Наши эксперты проведут ревизионно - аудиторскую экспертизу финансового состояния компании</div>
            </div>
            <div class="block7__item z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/person-settings.svg" loading="lazy">
                </div>
                <div class="block7__title">Определение ценности <br class="hide-sm-min"> и ликвидности</div>
                <div class="block7__text">Оценка конкурентности, фактической стоимости, выявление преимуществ <br class="hide-sm-min"> и тенденций в отрасли</div>
            </div>
            <div class="block7__item z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy"> 
                </div>
                <div class="block7__title">Сопровождение переоформления бизнеса</div>
                <div class="block7__text">Сформируем полный пакет документов по регистрации бизнеса с гарантией полной «безопасности» сделки</div>
            </div>
            <div class="block7__item z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/tie.svg" loading="lazy">
                </div>
                <div class="block7__title">Независимый локальный партнер или агент</div>
                <div class="block7__text">Для полной смены и перехода <br class="hide-sm-min"> прав собственности предоставим трастовый номинальный сервис для локальных бизнесов</div>
            </div>
            <div class="block7__item z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/girl.svg" loading="lazy">
                </div>
                <div class="block7__title">Обеспечение найма персонала</div>
                <div class="block7__text">Иммиграционные процедуры и разработка трудовых контрактов для защиты интересов владельца приобретенного бизнеса</div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Получите индивидуальный анализ перспектив для вашего бизнеса на территории ОАЭ</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Связаться со специалистом</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="scrollBlock4">
    <div class="container_bem">
		<div class="r60_adaptive"></div>
		<h2 class="title">Многолетний опыт SORP — «ключ» к построению успешной инвестиционной модели в ОАЭ</h2>
			<div id="vslideouter" class="slider_02 text_slider">
				<div class="slide-elem tslider-item-new flex_column first">
					<div class="back"></div>
					<div class="tslider-item__number">Компетенции в Due Diligence</div>
					<div class="tslider-item__text fadeInUp">У нас есть опыт и знания в проведение проверок компаний в ОАЭ, с использованием всех возможных методов, включая: местный суд, проверка результатов инспекций государственных органов</div>
				</div>

				<div class="text_slider__inner">
					<div class="slide-elem tslider-item-new flex_column second">
						<div class="back"></div>
						<div class="tslider-item__number">Индивидуальный подход</div>
						<div class="tslider-item__text wow fadeInUp">Оптимальное решение задач приобретения готового бизнеса в ОАЭ с учётом Ваших приоритетов</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column third">
						<div class="back"></div>
						<div class="tslider-item__number">Оценка готовых юридических лиц</div>
						<div class="tslider-item__text">Мы проводим анализ юридических документов приобретаемых компаний, способны восстановить финансовый и бухгалтерский учет</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Комплекс всех услуг</div>
						<div class="tslider-item__text">SORP предлагает комплексную поддержку приобретаемых компаний и их акционеров: от лицензирования, продления банковских счетов до получения статуса налогового резидента страны</div>
					</div>

                    <div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number ta-center">15 лет успешной работы</div>
						<div class="tslider-item__text">Мы помогли тысячам клиентов приобрести, построить и развить бизнес в ОАЭ</div>
					</div>
					
				    <div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number ta-center">Безопасность и анонимность</div>
						<div class="tslider-item__text">Мы обеспечим безопасность ваших инвестиций и примем меры по сохранению конфиденциальности</div>
					</div>
				    <div class="tns-controls">
					    <div class="button" onclick="slideup()"></div>
					    <div class="button" onclick="slidedown()"></div>
				    </div>
			    </div>
		</div>
	</div>
    <div class="r1 r_bg-gray"></div>
</section>

<!-- registration -->
<section class="bg-F9" id="scrollBlock5">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Безопасно<br class="hide-sm-min"> инвестируйте в <br class="hide-sm-min">действующий бизнес</div>
          <div class="r20"></div>
          Эксперты SORP Group помогут подобрать прибыльный готовый бизнес и окажут всестороннюю поддержку при его проверке и переоформлении.
          <br><br>
          Если Вы не сможете найти подходящий успешно работающий бизнес в ОАЭ, мы построим его с вместе, имея на это все компетенции.
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Зарегистрировать компанию</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>    
</section>

{/block}
{include 'footer_new'}