{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" height="128"  width="128" viewBox="0 0 128 128">
    	<path d="M74.508,108.239c-0.772,0-1.479-0.445-1.81-1.148l-16.863-35.84L20.732,55.116c-0.734-0.337-1.193-1.083-1.164-1.891  c0.03-0.808,0.543-1.518,1.3-1.8l83.312-31.107c0.729-0.271,1.552-0.096,2.105,0.452c0.555,0.548,0.739,1.369,0.475,2.102  l-30.371,84.047c-0.274,0.761-0.98,1.28-1.788,1.318C74.569,108.238,74.538,108.239,74.508,108.239z M26.772,53.49l31.396,14.432  c0.429,0.197,0.774,0.539,0.975,0.965l15.122,32.139l27.264-75.448L26.772,53.49z"/>
    	<path d="M57.334,71.738c-0.512,0-1.023-0.195-1.414-0.586c-0.781-0.78-0.781-2.047,0-2.828l47.545-47.546  c0.781-0.781,2.047-0.781,2.828,0c0.781,0.781,0.781,2.047,0,2.828L58.748,71.152C58.357,71.543,57.846,71.738,57.334,71.738z"/>
    </symbol>  
</svg>

<style>
    @media (min-width: 770px) { .block5 { padding-right: 38px; } }    
    .block7 .block7__item:hover { background-color: #[[*link_attributes]]; border-bottom-color: #[[*link_attributes]]; }
    @media (min-width: 1200px) { .block7__item { padding: 35px 25px 35px 25px; } }
    @media (max-width: 768px) { .block-snake.block-snake_line-left { flex-direction: column-reverse; } }
    #scrollBlock2 .title { font-size: 44px; }
</style>

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]];">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">How to buy a ready-made business in the UAE</h1>
                    <p class="first-screen__text">How to acquire an existing company and mitigate risk by assessing its financial health and important legal aspects</p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Send us a message</a>
                </div>
            </div>
        </div>
    </div>
    
    <!--         block-frames             -->
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">
                Investing in a ready-made business speeds up the licensing process, avoids technical difficulties and delays, and presents an opportunity to generate profits from day one. However, without understanding the specifics of doing business in the UAE, you can easily make costly mistakes.<br>                
                SORP Group are experts in assessing ready-made businesses for our clients. Use this expertise to greatly increase the probability of a highly successful acquisition.
            </div>
        </div>
        <div class="r30 hide-sm-min"></div>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--       Змейка         -->
<section id="scrollBlock1" class="bg-F9 z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Stages of acquiring a ready-made business</h2>
        <div class="r30"></div>
        <div class="description">The UAE is a dynamically developing business environment where you will find a great number of businesses offered for sale on aggregator websites. To successfully choose a high-yield company, you need to analyze it in depth and assemble data about its real financial situation and realistic prospects for developing the business</div>
        <div class="r30_adaptive"></div>
        <div class="block-snake block-snake_line-right">
            <div class="block-snake__item fadeInUp">
                    <div class="block-snake__img">
                        <div class="block-snake__digit">1</div>
                    </div>
                    <div class="block-snake__text block-snake__text_gray ">
                        <div class="block-snake__text-header">Analyze the company's <br class="hide-sm-min"> financial position</div>
                        It is vital to analyze existing financial statements and cash flow, reconcile  bank statements, accounts receivable and payable, and confirm the turnover.
                    </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">2</div>
                </div>
                <div class="block-snake__text block-snake__text_gray ">
                        <div class="block-snake__text-header">Inspect agreements between <br class="hide-sm-min"> the company and clients</div>                        
                        It is important that the company is not overly dependent on a few large<br class="hide-sm-min"> contracts, as there is a risk that the contracts could be terminated.
                    </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">3</div>
                </div>
                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Evaluate labor agreements <br class="hide-sm-min"> and individual employee contracts</div>                    
                    Understand potential post-acquisition payroll<br class="hide-sm-min"> risks and the implications of any<br class="hide-sm-min"> benefit plans, compensation packages<br class="hide-sm-min"> or accrued leave payouts.
                </div>
            </div>
        </div>
        <div class="block-snake block-snake_line-left">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">6</div>
                </div>
                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Investigate Bank account</div>
                    It is advisable to close the previous bank account and open a new one. One reason is <br class="hide-sm-min">because cheque payments are usually <br class="hide-sm-min">common in UAE and can be post-dated, <br class="hide-sm-min">thus presenting an unknown level of risk.
                </div>
            </div>

            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">5</div>
                </div>    
                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Review rental property terms</div>
                    Check the lease terms if the location of <br class="hide-sm-min"> the business is important to your plans.<br class="hide-sm-min"> Ensure that the landlord is willing to  <br class="hide-sm-min"> assign the lease to you or to extend the <br class="hide-sm-min">lease and on what terms.
                </div>
            </div>

            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">4</div>
                </div>    

                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Examine incorporation documents</div>
                    It is important to review all legal <br class="hide-sm-min"> corporate documents and change the <br class="hide-sm-min"> local nominee partner in a LLC structure <br class="hide-sm-min"> to prevent any possibility of influence or control by undesirable sources.
                </div>
            </div>

        </div>
        <div class="block-snake">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">7</div>
                </div>    
                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Check with Immigration<br class="hide-sm-min"> and the Ministry of Labor</div>
                    Ensure visas of all former partners and employees are closed. Check the status <br class="hide-sm-min">of the company with Immigration and <br class="hide-sm-min">Ministry of Labor for any penalties,<br class="hide-sm-min"> violations or blocks.                    
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__img">
                    <div class="block-snake__digit">8</div>
                </div>    
                <div class="block-snake__text block-snake__text_gray ">
                    <div class="block-snake__text-header">Plan how to <br class="hide-sm-min"> develop the business </div>
                    Ask the seller to provide a development <br class="hide-sm-min">plan and conduct an independent review.<br class="hide-sm-min"> Involve a professional company in order<br class="hide-sm-min"> to analyse it and all potential risks, and<br class="hide-sm-min"> to suggest effective improvements.                    
                </div>
            </div>
            <div class="block-snake__item fadeInUp" style="background: #f9f9f9;">
                    <div class="block-snake__img">
                        <div class="block-snake__digit">9</div>
                    </div>
                    <div class="block-snake__text block-snake__text_gray ">
                        <div class="block-snake__text-header">Re-register <br class="hide-sm-min">the company</div>
                        After successful due diligence, you are <br class="hide-sm-min">ready to close a deal! To make the whole<br class="hide-sm-min"> re-registration prosses smooth, easy and<br class="hide-sm-min">  fast you need the support of professional<br class="hide-sm-min"> PRO.
                    </div>
                </div>
        </div>

        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Engaging SORP Group to identify suitable ready-made businesses means you are investing in reliable and viable assets.</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Contact the experts</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="z-idx3 bg-FF">
    <div class="container_bem">
            <div class="r60_adaptive"></div>
            <h2 class="title">Before making a deal, it is important to understand:</h2>
            <div class="r30"></div>
            <div class="description">Make sure you know the reasons why the previous owner is selling the business. Even if you believe the stated reasons, always assume that there may be other hidden factors. While they may not be deal-breakers you need to double check insofar as possible and watch for negatives such as declining sales.</div>
            <div class="r50_adaptive"></div>
            
            <div class="block18">            
                <div class="block18__item">
                    <div class="block18__icon-wrap">
                        <img src="/git/img/contour-only/black-and-red/price-tag.svg" alt="" class="block18__icon block18__icon_min">
                    </div>
                    <div class="block18__text">
                        <div class="block18__title">The business is organized for sale</div>
                        <div class="block18__description">Professional market players develop the company in promising areas of activity in order to sell it later for maximum profit.</div>
                    </div>
                </div>
                
                <div class="block18__item">
                    <div class="block18__icon-wrap">
                        <img src="/git/img/contour-only/black-and-red/partners.svg" alt="" class="block18__icon block18__icon_min">
                    </div>
                    <div class="block18__text">
                        <div class="block18__title">Owners retiring or relocating</div>
                        <div class="block18__description">Common reasons for selling. Family circumstances or a new project in another country may force the owner to sell the existing business.</div>
                    </div>
                </div>
                
                <div class="block18__item">
                    <div class="block18__icon-wrap">
                        <img src="/git/img/contour-only/black-and-red/graph-screen.svg" alt="" class="block18__icon block18__icon_min">
                    </div>
                    <div class="block18__text">
                    <div class="block18__title">Trying to dump a loss-making business</div>
                    <div class="block18__description">Owners of a troubled business may use deception to get rid of it quickly.  Such an asset presents a high risk and only professionals can recognize the warning signs that many simply would not notice until it is too late.</div>
                </div>
                </div>
                
                <div class="block18__item">
                    <div class="block18__icon-wrap">
                        <img src="/git/img/contour-only/black-and-red/choosing-person.svg" alt="" class="block18__icon block18__icon_min">
                    </div>
                    <div class="block18__text"> 
                        <div class="block18__title">Crisis and disagreements between partners</div>
                        <div class="block18__description">A business with multiple owners carries an increased risk of conflict. Sometimes the only way to resolve matters is to sell the business and divide the proceeds. </div>
                    </div>
                </div>
            </div>
            <div class="r50_adaptive"></div>

            <div class="block5">
                <img src="/git/img/contour-only/black-and-red/document-revert.svg" alt="" class="block5__icon block5__icon_left" loading="lazy">
                <div class="block5__text">
                    Profitable businesses in the UAE are sold through professional companies. They guarantee confidentiality and validate proper execution of the transaction. The owner of a successful business will not sell it through aggregator platforms. That would jeopardize the company’s reputation and could cause loss of customers, who would automatically assume it means the business is failing.
                </div>
            </div>
            <div class="r60_adaptive"></div>

            <a href="#" class="btn btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
                Arrange a consultation
                <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                <use href="#btn__icon-modal"></use>
                </svg>
            </a>

            <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--         Решения          -->
<section id="scrollBlock3" class="bg-FA">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">As well as ready-made business opportunities, SORP experts assist in many ways</h2>
        <div class="r50_adaptive"></div>
        
        <div class="block7 block7_modal block7_icon-visible">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/magnifier-new.svg" loading="lazy">
                </div>
                <div class="block7__title">Search for a ready-made business for sale</div>
                <div class="block7__text">We will seek out and identify appropriate acquisition targets based on industry, its value and other parameters you specify.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/graph-screen.svg" loading="lazy">
                </div>
                <div class="block7__title">Check financial <br class="hide-sm-min">status and indicators</div>
                <div class="block7__text">Our experts assess the target enterprise and perform a thorough audit of available information about its management and finances.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/person-settings.svg" loading="lazy">
                </div>
                <div class="block7__title">Determine the value and liquidity</div>
                <div class="block7__text">We review its industry and market, its competitiveness and true value, and identify any advantages and relevant trends.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy">
                </div>
                <div class="block7__title">Provide business <br class="hide-sm-min"> re-registration support</div>
                <div class="block7__text">We prepare full documentation for re-registering a business and ensure the authenticity and security of the transaction.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/tie.svg" loading="lazy">
                </div>
                <div class="block7__title">Be your independent local partner or agent</div>
                <div class="block7__text">For a complete change and <br class="hide-sm-min"> transfer of ownership, we provide <br class="hide-sm-min">a nominee service for mainland businesses.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/girl.svg" loading="lazy">
                </div>
                <div class="block7__title">Assist with staff recruitment</div>
                <div class="block7__text">We put immigration procedures and employment contracts in place to protect the owner of the acquired business.</div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Get a personalized analysis of your business or project’s prospects in the UAE.</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Contact an expert</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="scrollBlock4">
    <div class="container_bem">
		<div class="r60_adaptive"></div>
		<h2 class="title">SORP Group’s extensive experience is key to success if starting a business in the UAE</h2>
			<div id="vslideouter" class="slider_02 text_slider">
				<div class="slide-elem tslider-item-new flex_column first">
					<div class="back"></div>
					<div class="tslider-item__number">Competencies in Due Diligence</div>
					<div class="tslider-item__text fadeInUp">We have experience and knowledge in conducting inspections of companies in the UAE, using all possible methods, including: local court, checking the results of inspections by state authorities</div>
				</div>

				<div class="text_slider__inner">
					<div class="slide-elem tslider-item-new flex_column second">
						<div class="back"></div>
						<div class="tslider-item__number">Individual approach</div>
						<div class="tslider-item__text wow fadeInUp">Your requirements are unique. That is why we treat every business individually to tailor the right services to achieve your priorities.</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column third">
						<div class="back"></div>
						<div class="tslider-item__number">Evaluation of ready-made legal entities</div>
						<div class="tslider-item__text">We analyze legal documents of acquired companies and are able to restore financial and accounting records</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Complex of all services</div>
						<div class="tslider-item__text">SORP offers comprehensive support for acquired companies and their shareholders: from licensing, maintaining Bank accounts to obtaining the status of a tax resident of the country</div>
					</div>

                    <div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number ta-center">15 years of successful work</div>
						<div class="tslider-item__text">We have helped thousands of clients acquire, build and develop businesses in the UAE</div>
					</div>
					
				    <div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number ta-center">Security and anonymity</div>
						<div class="tslider-item__text">We will ensure the security of your investment and take measures to protect your privacy</div>
					</div>
				    <div class="tns-controls">
					    <div class="button" onclick="slideup()"></div>
					    <div class="button" onclick="slidedown()"></div>
				    </div>
			    </div>
		</div>
	</div>
    <div class="r1 r_bg-gray"></div>
</section>

<!-- registration -->
<section class="bg-F9" id="scrollBlock5">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Invest safely in an existing business</div>
          <div class="r20"></div>
          SORP Group experts will help you select a profitable ready-made business and provide comprehensive support to verify and re-register it.
          <br><br>
          If you cannot find a suitable successfully operating business in the UAE, we will build one together. We have all the knowledge and competencies to achieve this.
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Register a company</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
</section>

{/block}
{include 'footer_new'}