playBtn = url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAB9SURBVHgBlZBRDYAwDEQbggBQwCTgAJwgARwgAQngAAmTMglIKDfCAsm2rH3J/Sx9yd2IADOPyERScNzwhxPJODIcY/27VgrsSbkghcqLVor21iTHIAfEtiI9naaeZ0UaqWT5/4sFySFDVDAjXcicXZWQtqd3iXfgifQk4Aa7TWTN7zptZwAAAABJRU5ErkJggg==');

.block58__item_play-button { position: relative; cursor: pointer; 
  &::after { width: 60px; height: 60px; position: absolute; top: 50%; left: 50%; background: rgba(0, 0, 0, 0.5) playBtn no-repeat center; border-radius: 10%; 
    content: ''; transform: translate(-50%, -50%); } 
}