.block41_column-direction {
    .block41__head { flex-direction: column-reverse; }
    .block41__icon { width: 40px; height: 40px;
      &-wrap { margin-left: 0; margin-bottom: 32px; width: 65px; height: 65px; } }
    .block41__title { font-size: 22px; line-height: 27px; color: #000; }
    .block41__desc { color: #9598A2; }
}

@media (min-width: screen-sm-min) { .block41_column-direction .block41__item { width: calc(33.33% - 5px); } }