.block1 {
  &_anchor .btn__icon-svg { transform: rotate(90deg) translateX(-50%); }
  &_anchor &__item_load-pattern:hover &__head { background: url('../img/blocks/anchor-pattern.svg') center/contain no-repeat; }
  &_anchor &__head-icon { transform: rotate(0deg); }
}