{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" viewBox="0 0 27 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.1196 27.1335C16.8904 27.1335 16.6805 27.0013 16.5822 26.7926L11.576 16.1526L1.1548 11.3626C0.936898 11.2625 0.800633 11.041 0.809242 10.8012C0.818149 10.5613 0.970445 10.3505 1.19518 10.2668L25.9284 1.03191C26.1449 0.951456 26.3892 1.00341 26.5534 1.1661C26.7181 1.32878 26.7727 1.57252 26.6944 1.79013L17.678 26.7416C17.5966 26.9675 17.387 27.1216 17.1472 27.1329C17.1377 27.1332 17.1285 27.1335 17.1196 27.1335ZM2.94793 10.8798L12.2686 15.1643C12.396 15.2228 12.4984 15.3244 12.5581 15.4508L17.0474 24.9921L25.1414 2.59347L2.94793 10.8798Z"></path>
        <path d="M12.021 16.2972C11.869 16.2972 11.7173 16.2393 11.6012 16.1233C11.3694 15.8917 11.3694 15.5156 11.6012 15.2837L25.7162 1.16848C25.948 0.936618 26.3239 0.936618 26.5557 1.16848C26.7876 1.40034 26.7876 1.77618 26.5557 2.00804L12.4408 16.1233C12.3247 16.2393 12.173 16.2972 12.021 16.2972Z"></path>
    </symbol>
</svg>  

<style>
    .block7 .block7__item:hover { background-color: #[[*link_attributes]];}
    @media (min-width: 992px) { .block7__item { padding: 35px 22px 35px 25px; } .block-snake__item { padding-right: 46px; } }
    @media (min-width: 1200px) { .container_bem .block-frames__wrapper { font-size: 24px; }}
</style>

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">Mainland company incorporation in the UAE</h1>
                    <p class="first-screen__text">Open up the full range of opportunities for your business with full recognition from banks, trading partners and regulatory authorities not only in the UAE but all over the world</p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    
    <!--         block-frames             -->
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">Since a Mainland Company is officially registered in the Emirates, it has unique<br class="hide-sm-min">  opportunities to operate throughout the country and worldwide with almost no limits. <br class="hide-sm-min"> This type of entity is perfect for investors and entrepreneurs who wish to maintain a<br class="hide-sm-min"> long-term presence in the UAE</div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<section id="scrollBlock1" class="z-idx3 bg-FF bg_wave">
    <div class="container_bem">
    <div class="r40"></div>
    <h2 class="title">Unique features of a UAE Mainland Company</h2>
    <div class="r30"></div>
    <div class="description">Mainland Companies (officially registered in the UAE itself instead of in Free Zones) enjoy significant government support. <br class="hide-sm-min"> They are also a perfect way of doing business both in internal and global markets. This form of entity is determined by law<br class="hide-sm-min"> and has no equivalent in other countries.</div>
    <div class="r50_adaptive"></div>
    <div class="block41">
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Legal forms of the <br class="hide-sm-min">business</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/doc.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
                Depending on the business activities that<br class="hide-sm-min"> will be carried out, all Mainland Companies<br class="hide-sm-min"> can be divided into commercial,  industrial<br class="hide-sm-min"> and professional businesses. 
                <br><br>
                The law sets out specific requirements for each type of business activity.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">A local <br class="hide-sm-min"> partner</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/hands.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
                A local partner is required in order to register an industrial or commercial type of Mainland Company, holding at least 51% of the shares. Waiver of its rights is registered in the court.
                <br><br>
                With nominee representation, it carries no risks for a foreign businessman.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">A local <br class="hide-sm-min"> agent</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/verified-person.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                Under Article 15b, Law №13, NON-UAE Nationals are only permitted to conduct professional activities in case they have appointed a UAE Local Service Agent (LSA)
                <br><br>
                This LSA does not assume civil or financial liabilities in relation to the company
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Legal<br class="hide-sm-min"> address</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/office.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                UAE legislation requires the company to have a physical office or some other commercial premises licensed under Ejari / Estidama rules.
                <br><br>
                It should be renewable and held under a lease of at least one year.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Business<br class="hide-sm-min"> licensing</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/diploma.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                A license is required in order to operate any legal business in the United Arab Emirates. This license is the primary authorization document for a company. 
                <br><br>
                It is valid for one year and renewed annually with obligation to pay renewal fees.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Management<br class="hide-sm-min"> of a company</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/tie.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
                A company can have up to five General Managers. Their rights and powers within<br class="hide-sm-min"> the company are determined and specified<br class="hide-sm-min"> in the memorandum of association (MoA).
                <br><br>
                The owner may appoint different managers for separate business operations.
            </div>
        </div>
    </div>    
    <div class="r60_adaptive"></div>
</div>
</section>  

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Learn more about the benefits of starting a Mainland Company in the UAE and the opportunities it presents</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Contact us</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="bg-F9">
    <div class="container_bem">
        <div class="r40"></div>
        <h2 class="title">SORP solutions for starting a Mainland Company in the UAE</h2>
        <div class="r40"></div>
        
        <div class="block7 block7_modal block7_icon-visible">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/graph-screen.svg" loading="lazy">
                </div>
                <div class="block7__title">Prepare your business<br class="hide-sm-min"> model</div>
                <div class="block7__text">We will find the best solution for what you want to achieve, the most suitable license and type of entity.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy">
                </div>
                <div class="block7__title">Register<br class="hide-sm-min"> your business</div>
                <div class="block7__text">We cooperate closely with the registration authorities and so we can deliver services quickly.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/verified-person.svg" loading="lazy">
                </div>
                <div class="block7__title">Your local partner <br class="hide-sm-min">or agent</div>
                <div class="block7__text">Nominee services from SORP Investment LLC with a waiver <br class="hide-sm-min"> of rights in the Dubai court.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/office.svg" loading="lazy">
                </div>
                <div class="block7__title">Prestigious <br class="hide-sm-min">legal address</div>
                <div class="block7__text">SORP Business Centre provides our clients with the opportunity to rent an office under Ejari / Estidama license, rent flexi-desks or get an E-office.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/wallet.svg" loading="lazy"> 
                </div>
                <div class="block7__title">Opening of <br class="hide-sm-min">bank accounts</div>
                <div class="block7__text">We know the compliance process <br class="hide-sm-min">of UAE banks and work with them closely, and so we provide capable professional help in passing KYC.</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/human-network.svg" loading="lazy">
                </div>
                <div class="block7__title">Public Relations <br class="hide-sm-min">Officers (PRO)</div>
                <div class="block7__text">With PRO our clients get 24/7 support and representation of their interests with governmental bodies, for immigration and in MOHRE.</div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
            Ask us your questions
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
            <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<section id="scrollBlock3" class="z-idx3 bg-FF bg_wave-center">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Business activities that require incorporation of a Mainland Company</h2>
        <div class="r50_adaptive"></div>

        <div class="block18 block18_width3">
            <div class="block18__item">
                <div class="block18__icon-wrap">                    
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/hook.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Construction</div>
                    <div class="block18__description">Building cosntruction, installation works, engineering</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/partners.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Manufacturing</div>
                    <div class="block18__description">All types of manufacturing, including heavy <br class="hide-sm-min">and light industries</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/store.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Commerce</div>
                    <div class="block18__description">Sale of any imported goods. wholesale and retail, export and re-export</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/medicine.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Medicine</div>
                    <div class="block18__description">Medical care, supply of equipment, and commerce in medical products</div>
                </div>
            </div>
    
            <div class="block18__item">
    
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/finance.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Finance</div>
                    <div class="block18__description">Insurance, leasing, investment, financial institutions, banks</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/education.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Education</div>
                    <div class="block18__description">Schools, training centers, private schools and universities</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/office.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Real estate</div>
                    <div class="block18__description">Real estate development companies, real estate agencies, maintenance services</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/media.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Mass media</div>
                    <div class="block18__description">Printing house, media distribution, broadcasting</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/pass-money.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Sports and entertainment</div>
                    <div class="block18__description">Event management in sports, exhibitions and other events</div>
                </div>
            </div>

            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/transport.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Transportation and logistics</div>
                    <div class="block18__description">Transportation, logistics services, transport rental, storage and handling of goods</div>
                </div>
            </div>

            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/travel.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Travel</div>
                    <div class="block18__description">Travel agencies, contractors, business trips, tour desks and tour programmes</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/reception.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Hospitality</div>
                    <div class="block18__description">Hotels and guest houses. Long-term and daily rent of apartments and country houses</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/restraunt.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Catering business</div>
                    <div class="block18__description">Restaurants, bars, cafes, <br class="hide-sm-min"> coffee shops, and other hospitality businesses</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/modem.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Innovations</div>
                    <div class="block18__description">IT, cybersecurity, additive technologies, bioengineering, IoT, renewable energy</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/beauty.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Beauty industry</div>
                    <div class="block18__description">Personal care products, hygiene, hairdressing salons, spas, massage parlors</div>
                </div>
            </div>
        </div>
        
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Get a personal audit of your business idea and find out what<br class="hide-sm-min"> opportunities and benefits you can enjoy in the UAE </div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Get your FREE personal audit</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!--         Змейка          -->
<section id="scrollBlock4" class="z-idx3 bg-FA">
    <div class="container_bem">
        <div class="r40"></div>
        <h2 class="title">Setting up a Mainland Company provides unique business opportunities</h2>
        <div class="r30"></div>
        <div class="description">Owning a Mainland Company allows to take full advantage of provisions in UAE legislation that are very favorable to business. For example, advantages when operating in the domestic market and across the 6 countries of the GCC zone, or when doing business internationally under the ‘UAE Flag of Convenience’. Equally importantly, banks and financial providers do not apply any special terms and conditions on Mainland Companies and treat them just like any other company from the United Arab Emirates.</div>
        
        <div class="block-snake block-snake_line-right">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/girl.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Opportunity to bid on tenders</div>
                    A Mainland Company is a trusted <br class="hide-sm-min"> legal entity in the eyes of governmental bodies and commercial institutions. As well as it provides the opportunities to participate in local or global tenders.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/building.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Obtain tax residency</div>
                    All Mainland Companies owners<br class="hide-sm-min"> can apply for UAE tax resident status<br class="hide-sm-min"> and be shielded from personal data exchange requirements under the <br class="hide-sm-min">Common Report Standard (CRS).                    
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/office.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Protect assets and property</div>
                    Only Mainland Companies have the <br class="hide-sm-min"> right to acquire and re-register assets <br class="hide-sm-min">in the UAE and globally for the purpose <br class="hide-sm-min">of concealing the identity and other information about the owners.
                </div>
            </div>
        </div>
        
        <div class="block-snake">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/bank-building.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Form holding companies and other business structures</div>
                    A Mainland Company is a unique<br class="hide-sm-min"> tool for minimizing your tax burden, consolidating business and assets, optimizing cash flows within entities and structures under its control.
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/shield.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray  ">
                        <div class="block-snake__text-header">
                            Keep personal and financial data confidentiality
                        </div>
                        Information about beneficiaries, shareholders and signatories of <br class="hide-sm-min">a company is hidden. Company <br class="hide-sm-min">owners get full protection from  automatic tax exchange.
                    </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/bank2.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Optimize cash flows and transactions</div>
                    The settlement center provides for efficient allocation of international business operations without taxes. You can also make payments on behalf of third parties and offset mutual claims.
                </div>
            </div>
        </div>
                
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
            Ask us for more details
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
            <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--         block14          -->
<section id="scrollBlock5" class="bg-FF z-idx3">
    <div class="container_bem">
        <div class="r50"></div>
        <h2 class="title">Integrated solutions from SORP for setting up your business in the UAE</h2>
        <div class="r40"></div>
        <div class="block14">
            <div class="block14__item">
                <div class="block14__title">Evaluate your business idea<br class="hide-sm-min"><br class="hide-sm-min"></div>
                <div class="block14__text">We will conduct an analysis of your business idea and suggest the most suitable licensing to allow <br class="hide-sm-min">you to operate successfully both in<br class="hide-sm-min"> the UAE and international markets</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Complete<br class="hide-sm-min"> business analysis<br class="hide-sm-min"><br class="hide-sm-min"></div>
                    <div class="block14__text">We will conduct market research, identify potential competitors and also review relevant legislation. We will source and suggest facilities suitable for your business.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Business <br class="hide-sm-min">consulting<br class="hide-sm-min"><br class="hide-sm-min"></div>   
                <div class="block14__text">SORP has strong relations with <br class="hide-sm-min">all governmental bodies involved in registration and licensing. We will support you at each step of getting your business up and running.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">PRO - support <br class="hide-sm-min">for your business</div>
                <div class="block14__text">We act on your behalf with UAE government agencies for issuing resident visas to partners, staff and their families, and obtaining all licenses, registrations and permits.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Outsourced business processes</div>                
                <div class="block14__text">It makes sense to use SORP’s expert professional administrative, recruiting, accounting and tax competencies, saving the cost of employing highly paid personnel</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Legal <br class="hide-sm-min">support</div>
                <div class="block14__text">SORP Group’s corporate lawyers, and our strategic partnerships with the best lawyers in the UAE and around the world, provide superb legal support for your business.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Tax residency certificate <br class="hide-sm-min"><br class="hide-sm-min"></div>
                <div class="block14__text">Enjoy tax resident (domicile) <br class="hide-sm-min">status shielding you from CRS requirements for sharing tax<br class="hide-sm-min"> details and preventing double taxation. </div>
            </div>
            <div class="block14__item">
                <div class="block14__title">International <br class="hide-sm-min">tax planning <br class="hide-sm-min"><br class="hide-sm-min"></div>
                <div class="block14__text">We design optimized tax solutions for international business within the full scope of UAE legislation, drawing on our wide experience <br class="hide-sm-min">in this field.</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Confirmation of Economic Substance <br class="hide-sm-min"><br class="hide-sm-min"></div>
                <div class="block14__text">We help fulfil proof of economic substance based on the registered location of your company, its localized decision making and management, and tax compliance.</div>
            </div>
        </div>
        
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Take advantage of our expertise and wide experience to get a uniquely <br class="hide-sm-min">tailored offer for opening a Mainland Company in the UAE</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">See what is possible</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="scrollBlock6">
    <div class="container_bem">
		<div class="r60_adaptive"></div>
        <h2 class="title">SORP is a company with a long history of strong partnerships in the UAE</h2>
        <div class="r30"></div>
        <div class="description">
            What makes us unique: 
            <br class="hide-sm-min">
            Every SORP Group team member has wide experience in helping businesses from a great many countries. Close and <br class="hide-sm-min">efficient partnership with the UAE government enables us do our job quickly and professionally.
        </div>
        <div class="r50_adaptive"></div>    
        <div id="vslideouter" class="slider_02 text_slider">
            <div class="slide-elem tslider-item-new flex_column second">
                <div class="back"></div>
                <div class="tslider-item__number">Integrated solutions</div>
                <div class="tslider-item__text fadeInUp">SORP supports you through all the stages of starting your business in UAE, from registration to getting tax residency status</div>
            </div>

            <div class="text_slider__inner">
                <div class="slide-elem tslider-item-new flex_column third">
                    <div class="back"></div>
                    <div class="tslider-item__number">15 years of successful work</div>
                    <div class="tslider-item__text wow fadeInUp">We have helped thousands of customers start and grow their businesses in the UAE</div>
                </div>

                <div class="slide-elem tslider-item-new flex_column">
                    <div class="back"></div>
                    <div class="tslider-item__number">Complex services</div>
                    <div class="tslider-item__text">Integrated solutions for registration and support of investments</div>
                </div>

                <div class="slide-elem tslider-item-new flex_column first">
                    <div class="back"></div>
                    <div class="tslider-item__number">Security and anonymity</div>
                    <div class="tslider-item__text">We will ensure investment security and investor privacy</div>
                </div>

            <div class="tns-controls">
                <div class="button" onclick="slideup()"></div>
                <div class="button" onclick="slidedown()"></div>
            </div>
        </div>
    </div>
	</div>
    <div class="r1 r_bg-gray"></div>
</section>

<section class="bg-F9" id="scrollBlock7">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Start a Mainland<br class="hide-sm-min"> Company in the UAE</div>
          <div class="r20"></div>
          Submit your request and you will be contacted by one of our managers who will advise you on starting your company in the UAE.
          <br><br>
          Let us know what you have in mind and what you want to achieve. Our SORP Group experts will find the <br class="hide-sm-min">most appropriate solution for your business<br class="hide-sm-min"> to simplify starting a company. Get full knowledgeable<br class="hide-sm-min"> and professional support from us. 
          <br><br>
          You are just one step away from starting a successful business in the UAE.
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Register a company</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

{/block}
{include 'footer_new'}