{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" viewBox="0 0 27 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.1196 27.1335C16.8904 27.1335 16.6805 27.0013 16.5822 26.7926L11.576 16.1526L1.1548 11.3626C0.936898 11.2625 0.800633 11.041 0.809242 10.8012C0.818149 10.5613 0.970445 10.3505 1.19518 10.2668L25.9284 1.03191C26.1449 0.951456 26.3892 1.00341 26.5534 1.1661C26.7181 1.32878 26.7727 1.57252 26.6944 1.79013L17.678 26.7416C17.5966 26.9675 17.387 27.1216 17.1472 27.1329C17.1377 27.1332 17.1285 27.1335 17.1196 27.1335ZM2.94793 10.8798L12.2686 15.1643C12.396 15.2228 12.4984 15.3244 12.5581 15.4508L17.0474 24.9921L25.1414 2.59347L2.94793 10.8798Z"></path>
        <path d="M12.021 16.2972C11.869 16.2972 11.7173 16.2393 11.6012 16.1233C11.3694 15.8917 11.3694 15.5156 11.6012 15.2837L25.7162 1.16848C25.948 0.936618 26.3239 0.936618 26.5557 1.16848C26.7876 1.40034 26.7876 1.77618 26.5557 2.00804L12.4408 16.1233C12.3247 16.2393 12.173 16.2972 12.021 16.2972Z"></path>
    </symbol>
</svg>
<style>
    .block-frames:after { bottom: -40px; }
    .block7 .block7__item:hover { background-color: #[[*link_attributes]]; border-color: #[[*link_attributes]]; }
    @media (min-width: 992px) { .block7__item { padding: 35px 25px 35px 25px; } }
    @media (min-width: 770px) { .block41__item { width: 31%; } .block14__item { padding: 30px 27px; }}
</style>

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">Регистрация локальной<br class="hide-sm-min"> компании</h1>
                    <p class="first-screen__text">Привилегированный инструмент, который открывает максимальные<br class="hide-sm-min"> возможности для бизнеса с безусловным доверием со стороны банков,<br class="hide-sm-min"> контрагентов и контролирующих органов в ОАЭ и во всём мире</p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">Локальная компания, зарегистрированная на основной территории страны (Mainland), является универсальным инструментом ведения бизнеса, который не имеет ограничений по географии деятельности и даёт широкие возможности для осуществления операций на территории ОАЭ. Предназачена для инвесторов и бизнесменов, нацеленных на долгое присутствие в Эмиратах</div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<section id="scrollBlock1" class="z-idx3 bg-FF bg_wave">
    <div class="container_bem">
    <div class="r40"></div>
    <h2 class="title">Уникальные особенности локальных компаний</h2>
    <div class="r30"></div>
    <div class="description">Локальные (зарегистрированные на основной земле) компании пользуются максимальной поддержкой государства <br class="hide-sm-min">и являются особым инструментом ведения бизнеса на внутреннем рынке Арабских Эмиратов и за их пределами.<br class="hide-sm-min"> Такая форма организации деятельности опеределена законодательством и не имеет аналогов в других странах.</div>
    <div class="r50_adaptive"></div>
    <div class="block41">
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Организационно<br class="hide-sm-min">-правовые формы</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/doc.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
                В зависимости от вида деятельности локальные компании подразделяются<br class="hide-sm-min"> на коммерческие, производственные <br class="hide-sm-min">и профессиональные
                <br><br>
                К каждому типу юридического лица закон предусматривает особые требования.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Локальный <br class="hide-sm-min"> партнёр</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/hands.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
                Требуется для регистрации коммерческой или производственной Mainland компании, доля владения национального партнера - не менее 51% акций. 
                <br><br>
                При номинальном участии он не несёт риски для иностранного бизнесмена.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Локальный <br class="hide-sm-min"> агент</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/verified-person.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                При создании профессиональной<br class="hide-sm-min"> компании требуется заключение договора с локальным агентом. Не входит в состав акционеров.
                <br><br>
                Назначается с целью представления интересов в государственных органах.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Наличие <br class="hide-sm-min"> офиса</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/office.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                Законодательство ОАЭ требует <br class="hide-sm-min">наличия физического офиса или <br class="hide-sm-min">другого коммерческого помещения <br class="hide-sm-min">с оформлением Ejari / Estidama.                 
                <br><br>
                Срок аренды помещения составляет <br class="hide-sm-min">1 год и подлежит продлению.                
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Лицензирование <br class="hide-sm-min"> бизнеса</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/diploma.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">
                Ведение бизнеса в Арабских Эмиратах требует получения лицензии, которая является основным учредительным документом компании. 
                <br><br>
                Выдаётся сроком на 1 год с последующим ежегодным продлением.
            </div>
        </div>
        <div class="block41__item">
            <div class="block41__head">
                <div class="block41__title">Менеджмент <br class="hide-sm-min"> компании</div>
                <div class="block41__icon-wrap">                    
                    <div class="block41__icon">
                        <img src="/git/img/contour-only/white/tie.svg" alt="" class="block41__icon" loading="lazy">                        
                    </div>                    
                </div>
            </div>
            <div class="block41__desc">                
                Назначается генеральный менеджер. Допускается включение нескольких директоров. Разделение их прав и полномочий определяется уставом.
                <br><br>
                Для найма сотрудников Министерство Труда выдаёт квоты.
            </div>
        </div>
    </div>    
    <div class="r60_adaptive"></div>
</div>
</section>  

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Узнайте о преимуществах регистрации локальной компании для вашего бизнеса</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Получить консультацию</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="bg-F9">
    <div class="container_bem">
        <div class="r40"></div>
        <h2 class="title">Решения SORP по регистрации локальных компаний в ОАЭ</h2>
        <div class="r40"></div>
        
        <div class="block7 block7_modal block7_icon-visible">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/graph-screen.svg" loading="lazy">
                </div>
                <div class="block7__title">Подготовка бизнес- модели</div>
                <div class="block7__text">Подберем подходящую<br class="hide-sm-min"> лицензию и определим<br class="hide-sm-min"> тип юридического лица</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/doc.svg" loading="lazy">
                </div>
                <div class="block7__title">Регистрация <br class="hide-sm-min"> бизнеса</div>
                <div class="block7__text">Быстрая инкорпорация за  <br class="hide-sm-min">счет тесного сотрудничества <br class="hide-sm-min"> с лицензирующими органами</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/verified-person.svg" loading="lazy">
                </div>
                <div class="block7__title">Локальный партнер<br class="hide-sm-min">  или агент</div>
                <div class="block7__text">Номинальный сервис от SORP Investment LLC с оформлением отказа от прав в суде г. Дубая</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/office.svg" loading="lazy">
                </div>
                <div class="block7__title">Дубайский адрес <br class="hide-sm-min">  ведения бизнеса</div>
                <div class="block7__text">Аренда в Бизнес Центре SORP для размещения и лицензирования: <br class="hide-sm-min"> офисы с Ejari / Estidama, flexi-desks и виртуальные решения</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/wallet.svg" loading="lazy"> 
                </div>
                <div class="block7__title">Открытие банковских счетов</div>
                <div class="block7__text">Тесное сотрудничество <br class="hide-sm-min">с банками ОАЭ, понимание комплаенса и содействие <br class="hide-sm-min">в прохождении KYC</div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/human-network.svg" loading="lazy">
                </div>
                <div class="block7__title">PRO поддержка <br class="hide-sm-min">бизнеса</div>
                <div class="block7__text">Представление интересов в государственных органах иммиграции и министерстве труда. Поддержка 24/7</div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
            Получить консультацию
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
            <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--         Виды деятельности          -->
<section id="scrollBlock3" class="z-idx3 bg-FF bg_wave-center">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Виды деятельности, которые требуют регистрации локальной компании в ОАЭ</h2>
        <div class="r50_adaptive"></div>

        <div class="block18 block18_width3">
            <div class="block18__item">
                <div class="block18__icon-wrap">                    
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/hook.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Строительство</div>
                    <div class="block18__description">Возведение зданий, строительные, монтажные и инженерные работы</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/partners.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Промышленность</div>
                    <div class="block18__description">Все виды производства, включая тяжелую и легкую промышленность</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/store.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Торговля</div>
                    <div class="block18__description">Продажа любых импортируемых товаров оптом и в розницу. Экпорт и реэкспорт</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/medicine.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Медицина</div>
                    <div class="block18__description">Медобслуживание, поставка оборудования и торговля медицинскими препаратами</div>
                </div>
            </div>
    
            <div class="block18__item">
    
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/finance.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Финансы</div>
                    <div class="block18__description">Страховые, лизинговые, инвестиционные, кредитно-финансовые организации, банки</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/education.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Образование</div>
                    <div class="block18__description">Школы, тренинговые центры, частные детские и высшие учебные заведения</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/office.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Сфера недвижимости</div>
                    <div class="block18__description">Девелопмент, агентства недвижимости, обслуживание и управление объектами</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/media.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Медиа и печать</div>
                    <div class="block18__description">Типографии, реализация печатной и медиа продукции, радио и ТВ-вещание</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/pass-money.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Спорт и развлечения</div>
                    <div class="block18__description">Организация и проведение спортивных мероприятий, выставок, ивентов</div>
                </div>
            </div>

            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/transport.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Транспорт и логистика</div>
                    <div class="block18__description">Транспортно-логистические услуги, аренда транспорта, хранение и обработка грузов</div>
                </div>
            </div>

            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/travel.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Туризм</div>
                    <div class="block18__description">Туристические агентства и операторы, бизнес-туризм и экскурсионные бюро</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/reception.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Гостиничный бизнес</div>
                    <div class="block18__description">Отели и гостевые дома, долгосрочная и посуточная аренда квартир и вилл</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/restraunt.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Ресторанный бизнес</div>
                    <div class="block18__description">Рестораны, бары, кафе, кофейни и др., кейтеринг и выездное обслуживание</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/modem.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Инновационные технологии</div>
                    <div class="block18__description">IT, кибербезопасность, аддитивные, био и IOT технологии, возобновляемая энергия</div>
                </div>
            </div>
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/beauty.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Бьюти индустрия</div>
                    <div class="block18__description">Уходовые и гигиенические средства, парикмахерские, SPA, массажные салоны</div>
                </div>
            </div>
        </div>
        
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Получите индивидуальный анализ перспектив для вашего бизнеса <br class="hide-sm-min">на территории ОАЭ</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Связаться со специалистом</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!--         Змейка          -->
<section id="scrollBlock4" class="z-idx3 bg-FA">
    <div class="container_bem">
        <div class="r40"></div>
        <h2 class="title">Возможности, которые открывает инкорпорация локальной компании в ОАЭ</h2>
        <div class="r30"></div>
        <div class="description">Локальные компании могут полноценно использовать инструменты законодательства ОАЭ, иметь привилегированное положение при работе на внутреннем рынке, в странах Персидского залива и ведения бизнеса под флагом ОАЭ на международном пространстве, а также статус не подвергаемого сомнению юридического лица в общении с контрагентами, в том числе - банками и финансовыми институтами.</div>
        
        <div class="block-snake block-snake_line-right">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/girl.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Участие в тендерах</div>
                    Кандидат из юрисдикции с высоким кредитом доверия в коммерческих и государственных конкурсах, выход <br class="hide-sm-min"> на международные торги 
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/building.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Налоговое резидентство в ОАЭ</div>
                    Все владельцы бизнеса могут <br class="hide-sm-min"> оформить статус налогового <br class="hide-sm-min"> резидента и получить защиту <br class="hide-sm-min"> от обмена информацией (CRS)
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/office.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Схемы владения недвижимостью</div>
                    Приобретение и переоформление<br class="hide-sm-min"> активов в ОАЭ и по всему миру. <br class="hide-sm-min"> Сокрытие личности владельцев, <br class="hide-sm-min"> а также оптимизация операций                    
                </div>
            </div>
        </div>
        
        <div class="block-snake">
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/bank-building.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray">
                    <div class="block-snake__text-header">Построение холдингов<br class="hide-sm-min"> и структур</div>
                    Минимизация налоговой нагрузки, консолидация бизнеса и активов, оптимизация движения денежных <br class="hide-sm-min"> потоков внутри контролируемых <br class="hide-sm-min"> структур
                </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/shield.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray  ">
                        <div class="block-snake__text-header">
                            Конфиденциальность <br class="hide-sm-min"> данных
                        </div>
                        Сокрытие сведений о конечных бенефициарах, акционерах и <br class="hide-sm-min"> подписантах под счетом компании. <br class="hide-sm-min"> Защита от автоматического обмена финансовой информацией
                    </div>
            </div>
            <div class="block-snake__item fadeInUp">
                <div class="block-snake__icon-wrap">
                    <img src="/git/img/contour-only/white/bank2.svg" alt="" class="block-snake__icone" loading="lazy">
                </div>
                <div class="block-snake__text block-snake__text_gray  ">
                    <div class="block-snake__text-header">Создание расчётно-кассового центра</div>
                    Оптимизация операционной <br class="hide-sm-min"> деятельности международного <br class="hide-sm-min"> бизнеса. Центр рассчетов без<br class="hide-sm-min">  налогов. Платежи за 3-и лица, <br class="hide-sm-min"> зачеты взаимных требований
                </div>
            </div>
        </div>
                
        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
            Получить консультацию
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
            <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<!--         block14          -->
<section id="scrollBlock5" class="bg-FF z-idx3">
    <div class="container_bem">
        <div class="r50"></div>
        <h2 class="title">Комплексные решения SORP для вашего бизнеса в ОАЭ</h2>
        <div class="r40"></div>
        <div class="block14">
            <div class="block14__item">
                <div class="block14__title">Подтверждение бизнес-гипотезы<br class="hide-sm-min"><br class="hide-sm-min"></div>
                <div class="block14__text">Анализ идеи для оптимального лицензирования, которое позволит вести успешную деятельность в ОАЭ и выйти <br class="hide-sm-min">на международный рынок</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Комплексный бизнес-анализ<br class="hide-sm-min"><br class="hide-sm-min"></div>
                    <div class="block14__text">Мы проведем исследование рынка и конкурентной среды, особенности законодательства. Подберём площади для <br class="hide-sm-min">создания и ведения бизнеса</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Консалтинговое сопровождение<br class="hide-sm-min"><br class="hide-sm-min"></div>   
                <div class="block14__text">Обеспечение прохождения всех этапов старта ведения бизнеса. Выстроим взаимоотношения с государственными органами, сопровождающими деятельность</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">PRO - поддержка бизнеса</div>
                <div class="block14__text">Представление ваших интересов в госорганах ОАЭ, оформление резидентских виз партнерам, работникам и членам их семей, продление всех типов лицензий, регистраций и разрешений </div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Аутсорсинговые услуги</div>                
                <div class="block14__text">Административная, кадровая бухгалтерская и налоговая поддержка от SORP—экономия затрат на содержании целого штата высокооплачиваемых сотрудников</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Правовая <br class="hide-sm-min">поддержка</div>
                <div class="block14__text">Корпоративные юристы SORP Group и партнерства с лучшими  адвокатами ОАЭ и всего мира  обеспечат оперативное правовое сопровождение бизнеса</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Оформление налогового резидентства</div>
                <div class="block14__text">Получение сертификата налогового домициля для  защиты от обмена налоговой информацией и применения соглашений об исключении двойного налогообложения</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Международное Налоговое Планирование</div>
                <div class="block14__text">Индивидуальные решения по повышению эффективности схем налоговой оптимизации международного бизнеса на базе законодательства ОАЭ<br class="hide-sm-min"> и успешной экспертизе</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Подтверждение экономического присутствия в ОАЭ</div>
                <div class="block14__text">Доказательство факта ведения операционной деятельности по месту регистрации компании, наличия центра управления и налоговой принадлежности операций к ОАЭ </div>
            </div>
        </div>
        
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Получите индивидуальный анализ перспектив для вашего бизнеса <br class="hide-sm-min"> на территории ОАЭ</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Связаться со специалистом</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="scrollBlock6">
    <div class="container_bem">
		<div class="r60_adaptive"></div>
        <h2 class="title">Многолетний опыт SORP — гарантия успеха вашего бизнеса в ОАЭ</h2>
        <div class="r30"></div>
        <div class="description">Собственные ресурсы SORP Group на базе SORP бизнес-центра с высококлассным штатом экспертов различной специализации и тесное сотрудничество с Департаментом Экономики Дубая обеспечивают безупречное качество <br class="hide-sm-min">и высокую скорость оказания услуг.</div>
        <div class="r50_adaptive"></div>    
        <div id="vslideouter" class="slider_02 text_slider">
				<div class="slide-elem tslider-item-new flex_column first">
					<div class="back"></div>
					<div class="tslider-item__number">15 лет опыта</div>
					<div class="tslider-item__text fadeInUp">Установленные взаимоотношения со всеми государственными органами</div>
				</div>

				<div class="text_slider__inner">
					<div class="slide-elem tslider-item-new flex_column second">
						<div class="back"></div>
						<div class="tslider-item__number">Комплекс всех услуг</div>
						<div class="tslider-item__text wow fadeInUp">Компания предлагает комплексное решение для бизнеса и акционеров: от регистрации компаний до получения статуса налогового резидента страны</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column third">
						<div class="back"></div>
						<div class="tslider-item__number">Собственный бизнес-центр</div>
						<div class="tslider-item__text">5000 квадратных метров рабочего пространства, включая обособленные офисы и коворкинг</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Стратегические партнерские отношения</div>
						<div class="tslider-item__text">Мы являемся аккредитованными представителями государственных органов и СЭЗ</div>
					</div>

                    <div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number ta-center">Проверка концепции</div>
						<div class="tslider-item__text">Проверка концепции вашей компании на предмет стратегических и юридических ошибок</div>
					</div>
					
				<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number ta-center">Комплекс всех услуг</div>
						<div class="tslider-item__text">Компания предлагает комплексное решение для бизнеса и акционеров: от регистрации компаний до получения статуса налогового резидента страны</div>
					</div>
				<div class="tns-controls">
					<div class="button" onclick="slideup()"></div>
					<div class="button" onclick="slidedown()"></div>
				</div>
			</div>
		</div>
	</div>
    <div class="r1 r_bg-gray"></div>
</section>

<section class="bg-F9" id="scrollBlock7">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Откройте локальную компанию в ОАЭ</div>
            <div class="r20"></div>
            Оставьте заявку и получите консультацию нашего специалиста по инкорпорации вашего бизнеса в Арабских Эмиратах.                        
            <br><br>
            Эксперты SORP Group подберут оптимальное  решение по регистрации Вашей компании с <br class="hide-sm-min">учетом стоящих перед Вами целей и окажут <br class="hide-sm-min">всестороннюю поддержку.
            <br><br>
            Уже сегодня Вы сможете сделать первый шаг на <br class="hide-sm-min">пути к созданию успешного бизнеса в ОАЭ.  
            <div class="r20"></div>
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Зарегистрировать компанию</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

{/block}
{include 'footer_new'}