.hide-tn{ display: none; }

@media(min-width: screen-xxxs-min) {
  .hide-xxxs-min { display: none; }
  .show-xxxs-min { display: block; }
  .show-inline-xxxs-min { display: inline; }
}

@media(min-width: screen-xxs-min) {
  .hide-xxs-min { display: none; }
  .show-xxs-min { display: block; }
  .show-inline-xxs-min { display: inline; }
}

@media(min-width: screen-xs-min) {
  .hide-xs-min { display: none; }
  .show-xs-min { display: block; }
  .show-inline-xs-min { display: inline; }
}

@media(min-width: screen-sm-min) {
  .hide-sm-min { display: none; }
  .show-sm-min { display: block; }
  .show-inline-sm-min { display: inline; }
}

@media(min-width: screen-md-min) {
  .hide-md-min { display: none; }
  .show-md-min { display: block; }
  .show-inline-md-min { display: inline; }
}

@media(min-width: screen-lg-min) {
  .hide-lg-min { display: none; }
  .show-lg-min { display: block; }
  .show-inline-lg-min { display: inline; }
}

@media(min-width: screen-xl-min) {
  .hide-xl-min { display: none; }
  .show-xl-min { display: block; }
  .show-inline-xl-min { display: inline; }
}