{include 'header'}
{block 'content'}
<svg width="0" height="0" style="position:absolute">
    <symbol id="btn__icon-modal" viewBox="0 0 27 28" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.1196 27.1335C16.8904 27.1335 16.6805 27.0013 16.5822 26.7926L11.576 16.1526L1.1548 11.3626C0.936898 11.2625 0.800633 11.041 0.809242 10.8012C0.818149 10.5613 0.970445 10.3505 1.19518 10.2668L25.9284 1.03191C26.1449 0.951456 26.3892 1.00341 26.5534 1.1661C26.7181 1.32878 26.7727 1.57252 26.6944 1.79013L17.678 26.7416C17.5966 26.9675 17.387 27.1216 17.1472 27.1329C17.1377 27.1332 17.1285 27.1335 17.1196 27.1335ZM2.94793 10.8798L12.2686 15.1643C12.396 15.2228 12.4984 15.3244 12.5581 15.4508L17.0474 24.9921L25.1414 2.59347L2.94793 10.8798Z"></path>
        <path d="M12.021 16.2972C11.869 16.2972 11.7173 16.2393 11.6012 16.1233C11.3694 15.8917 11.3694 15.5156 11.6012 15.2837L25.7162 1.16848C25.948 0.936618 26.3239 0.936618 26.5557 1.16848C26.7876 1.40034 26.7876 1.77618 26.5557 2.00804L12.4408 16.1233C12.3247 16.2393 12.173 16.2972 12.021 16.2972Z"></path>
    </symbol>
</svg>

<style>
    .block7 .block7__item:hover { background-color: #[[*link_attributes]]; border-bottom-color: #[[*link_attributes]]; }
    @media (min-width: 1200px) { .block7__item { padding: 35px 14px 35px 25px; } }
    @media (min-width: 992px) { .block14__item { padding: 30px 29px; width: calc(33.33% - 20px); } }
    @media (min-width: 770px) { .block5 { padding-right: 35px } }
    
</style>

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/assets/templates/main/img/mask.png" data-src="/assets/templates/main/img/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">Оформление недвижимости и активов на компанию из ОАЭ</h1>
                    <p class="first-screen__text">Воспользуйтесь возможностью конфиденциального владения и управления на базе структур, инкорпорированных в Арабских Эмиратах</p>
                    <a class="first-screen__btn btn btn_radius btn_w100-sm btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Оставить заявку</a>
                </div>
            </div>
        </div>
    </div>        
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">Оформление недвижимости на компанию в ОАЭ обеспечит конфиденциальность прямого владельца и защиту его активов, предоставит возможность безрисковой передачи имущества в наследство. Помимо этого безналоговая юрисдикция позволит получить максимальную выгоду при продаже ваших объектов недвижимости, зарегистрированных на компании. SORP поможет обеспечить процесс перерегистрации недвижимости в Арабских Эмиратах и за рубежом и окажет комплекную поддержку по всем вопросам</div>
        </div>
        <div class="r50_adaptive"></div>        
    </div>    
</section>

<!--         block41          -->
<section id="scrollBlock1" class="z-idx3 bg-FF bg_wave">
    <div class="container_bem">
        <div class="r30"></div>
        <h2 class="title">Плюсы регистрации недвижимости и активов на компанию из ОАЭ</h2>
        <div class="r30"></div>
        <p class="description">Применение эмиратских компаний для владения недвижимостью и активами дает множество разнообразных выгод и бизнес-возможностей. При этом для построения схем владения необходимо учитывать ряд факторов и в первую очередь законодательство ОАЭ, в котором Вам помогут разобраться эксперты SORP.</p>    
        <div class="r50_adaptive"></div>
        <div class="block41">
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Сокрытие<br class="hide-sm-min"> реального <br class="hide-sm-min">владельца</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/shield.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <div class="block41__desc">                
                    Сокрытие факта владения недвижимостью, информации о<br class="hide-sm-min"> конечном выгодоприобретателе, <br class="hide-sm-min">а также безопасность владения.
                </div>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Упрощение <br class="hide-sm-min">продажи<br class="hide-sm-min"> недвижимости</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/hands.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <div class="block41__desc">                
                    Применение схем продажи активов <br class="hide-sm-min">через передачу корпоративных прав <br class="hide-sm-min"> или продажу акций в совокупности с отсутствием налога по сделке.
                </div>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Обоснованное извлечение дохода <br class="hide-sm-min"> от владения</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/verified-person.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <div class="block41__desc">
                    Обеспечение возможности безопасного управления недвижимостью и активами, правомерное извлечение инвестиционых доходов от управления недвижимостью.
                </div>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Консолидация и выход на рынки капитала</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/diploma.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <div class="block41__desc">
                    Увеличение стоимости активов, <br class="hide-sm-min">а также обеспечение возможностей кредитования на льготных условиях <br class="hide-sm-min">в крупнейших банках.
                </div>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Уменьшение налогооблагаемой базы</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/coins.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <div class="block41__desc">
                    Оптимизация налогового бремени <br class="hide-sm-min">при извлечении доходов от сдачи недвижимости  в аренду, выплате дивидендов с доходов за рубежом.
                </div>
            </div>
            <div class="block41__item">
                <div class="block41__head">
                    <div class="block41__title">Безрисковое наследование активов</div>
                    <div class="block41__icon-wrap">                    
                        <div class="block41__icon">
                            <img src="/git/img/contour-only/white/document-tall.svg" alt="" class="block41__icon" loading="lazy">                        
                        </div>                    
                    </div>
                </div>
                <div class="block41__desc">
                    Отсутствие рисков и упрощенные процедуры передачи в наследование объектов недвижимости и активов на территории ОАЭ.
                </div>
            </div>
        </div>    
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Оформите право собственности на недвижимость или активы на иностранную компанию, зарегистрированную в ОАЭ</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Получить консультацию</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="bg-F9">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Решения SORP для регистрации недвижимости и активов на ОАЭ структуру</h2>
        <div class="r50_adaptive"></div>
        <div class="block7 block7_modal">
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/uae-land.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Локальная  компания для комплексных задач</div>
                    <div class="block7__text">Компания с лицензией Project Management для владения и управления недвижимостью</div>
                </div>
            </div>    
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/diploma.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Офшорная компания для владения недвижимостью</div>
                    <div class="block7__text"> JAFZA IBC - сокрытие владения дубайской недвижимостью или активами без права управления</div>
                </div>
            </div>    
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/building.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Арабский траст для  владения недвижимости</div>
                    <div class="block7__text">Структуры скрытого владения недвижимостью и активами в <br class="hide-sm-min">ОАЭ и за рубежом</div>
                </div>
            </div>
            
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/office.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Оценочный  аудит активов и недвижимости</div>
                    <div class="block7__text">Формирование консолидированной аудиторской отчетности оншорной компании, на которую оформлены активы и недвижимость</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/save-the-world.svg" loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Схемы по оптимизации владения</div>
                    <div class="block7__text">Безналоговый перевод владения недвижимостью и  оптимизация налоговых выплат при операциях <br class="hide-sm-min">с активами</div>
                </div>
            </div>
            <div class="block7__item bg-FF z-idx3" onclick="toggleModal('form01');">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/human-network.svg"  loading="lazy">
                </div>
                <div class="block7__content">
                    <div class="block7__title">Безопасное управление недвижимостью</div>
                    <div class="block7__text">Создание договорной базы, обоснованного извлечения доходов от собственности инвестиционных активов</div>
                </div>
            </div>
        </div>
        <div class="r50_adaptive"></div>
        
        <div class="block5 bg-F9 z-idx3">
            <img src="/git/img/contour-only/black-and-red/tie.svg"  alt="" class="block5__icon" loading="lazy">
            <div class="block5__text">
                Компания из ОАЭ, владеющая активами и имеющая лицензию на её управление, может получать прибыль без налоговых последствий и служить инструментом оптимизации при переоформления прав собственности. Так, при продаже акций эмиратовской компании, на которую оформлен актив, новому владельцу переходит право собственности на недвижимость.            
            </div>
        </div>

        <div class="r50_adaptive"></div>

        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
            Получить консультацию
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<section id="scrollBlock3" class="z-idx3 bg-FF bg_wave-center">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Преимущества юрисдикции ОАЭ для целей владения недвижимости и активами</h2>
        <div class="r50_adaptive"></div>

        <div class="block18 block18_width3">
            <div class="block18__item">
                <div class="block18__icon-wrap">                    
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/revert.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Репатриация капитала</div>
                    <div class="block18__description">Свободное движение средств, ввод-вывод капитала, отсутствие валютного контроля</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/save-the-world.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Международные соглашения</div>
                    <div class="block18__description">Договора о взаимной защите инвестиций <br class="hide-sm-min"> и избежании двойного налогообложения</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/lock-in-shield.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Конфиденциальность информации</div>
                    <div class="block18__description">Защита персональных данных инвесторов  <br class="hide-sm-min">и уход от автоматического обмена</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/shield.svg"  loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Банковская тайна</div>
                    <div class="block18__description">Полная конфиденциальность банковских транзакций по счетам резидентов</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/tax-graph.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Оптимизация налогов</div>
                    <div class="block18__description">Льготные ставки при продаже недвижимости или сдаче в аренду</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/verified-person.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Налоговое резидентство</div>
                    <div class="block18__description">Использование законных схем оптимизации  налогового бремени</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/office.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Безопасность владения</div>
                    <div class="block18__description">Сохранность активов и недвижимости от недружественных поглощений</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/goverment-house.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Государственные гарантии</div>
                    <div class="block18__description">Защита прав инвесторов на уровне государственной политики</div>
                </div>
            </div>
    
            <div class="block18__item">
                <div class="block18__icon-wrap">
                    <img class="block18__icon" src="/git/img/contour-only/black-and-red/pass-money.svg" loading="lazy">
                </div>
                <div class="block18__text">
                    <div class="block18__title">Престижность юрисдикции</div>
                    <div class="block18__description">Несмотря на безналоговость юрисдикции, ОАЭ не включены в “черные” списки</div>
                </div>
            </div>
        </div>

        <div class="r50_adaptive"></div>
        <a href="#" class="btn btn_gray-bg btn_center btn_border2 btn_white btn_space-between z-idx3" onclick="toggleModal('form01');">
            Получить консультацию
            <svg class="btn__icon-svg" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 128 128">
                <use href="#btn__icon-modal"></use>
            </svg>
        </a>
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<section id="scrollBlock4" class="z-idx3 bg-FA">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Комплексные решения SORP для оформления недвижимости и активов</h2>
        <div class="r50_adaptive"></div>
        <div class="block14">
            <div class="block14__item">
                <div class="block14__title">Налоговое резидентство</div>
                <div class="block14__text">Содействие при оформлении сертификата tax domicile как доказательство выполнения требований принадлежности <br class="hide-sm-min">к юрисдикции ОАЭ</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Банковская поддержка</div>
                <div class="block14__text">Помощь при открытии счетов <br class="hide-sm-min">в банках ОАЭ для проведения сделок при приобретении или продаже объектов и вывода средств от прибыли</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Правовая <br class="hide-sm-min">поддержка</div>
                <div class="block14__text">Корпоративные юристы SORP обеспечат профессиональную правовую поддержку сделок <br class="hide-sm-min">по оформлению владения или передачи активов</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Регистрация и <br class="hide-sm-min">лицензирование</div>
                <div class="block14__text">Выбор места инкорпорации<br class="hide-sm-min"> и организационно-правовой формы, а также получение разрешений и прохождение лицензионных процедур </div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Налоговое планирование</div>
                <div class="block14__text">Инструменты законодательства ОАЭ позволяют минимизировать международные налоги, а также обеспечить  свободу  расчетов с защитой от обмена информацией</div>
            </div>
            <div class="block14__item">
                <div class="block14__title">Номинальные сервисы</div>
                <div class="block14__text">Предоставление ограниченного <br class="hide-sm-min">в правах директора, построение схемы сокрытия фактических бенефициаров при создании сложных структур владения</div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Определите правильную стратегию в оформлении активов и недвижимости вместе с SORP Group</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Узнать больше</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="scrollBlock5">
    <div class="container_bem">
		<div class="r60_adaptive"></div>
		<h2 class="title">SORP - эксперт по сопровождению сделок с недвижимостью и управлению</h2>		
        <div class="r50_adaptive"></div>    
        <div id="vslideouter" class="slider_02 text_slider">
			<div class="slide-elem tslider-item-new flex_column first">
				<div class="back"></div>
				<div class="tslider-item__number">15 лет опыта</div>
				<div class="tslider-item__text fadeInUp">Установленные взаимоотношения со всеми государственными органами</div>
			</div>

			<div class="text_slider__inner">
				<div class="slide-elem tslider-item-new flex_column second">
					<div class="back"></div>
					<div class="tslider-item__number">Комплекс всех услуг</div>
					<div class="tslider-item__text wow fadeInUp">Компания предлагает комплексное решение для бизнеса и акционеров: от регистрации компаний до получения статуса налогового резидента страны</div>
				</div>
				<div class="slide-elem tslider-item-new flex_column third">
					<div class="back"></div>
					<div class="tslider-item__number">Собственный бизнес-центр</div>
					<div class="tslider-item__text">5000 квадратных метров рабочего пространства, включая обособленные офисы и коворкинг</div>
				</div>
				<div class="slide-elem tslider-item-new flex_column">
					<div class="back"></div>
					<div class="tslider-item__number">Стратегические партнерские отношения</div>
					<div class="tslider-item__text">Мы являемся аккредитованными представителями государственных органов и СЭЗ</div>
				</div>
                <div class="slide-elem tslider-item-new flex_column">
					<div class="back"></div>
					<div class="tslider-item__number">Проверка концепции</div>
					<div class="tslider-item__text">Проверка концепции вашей компании на предмет стратегических и юридических ошибок</div>
				</div>					
				<div class="slide-elem tslider-item-new flex_column">
					<div class="back"></div>
					<div class="tslider-item__number">Комплекс всех услуг</div>
					<div class="tslider-item__text">Компания предлагает комплексное решение для бизнеса и акционеров: от регистрации компаний до получения статуса налогового резидента страны</div>
				</div>
				<div class="tns-controls">
					<div class="button" onclick="slideup()"></div>
					<div class="button" onclick="slidedown()"></div>
				</div>
			</div>
		</div>
	</div>
    <div class="r1 r_bg-gray"></div>
</section>

<section class="bg-F9" id="scrollBlock6">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Оформите <br class="hide-sm-min"> недвижимость на<br class="hide-sm-min"> компанию ОАЭ</div>
          <div class="r20"></div>          
            Оставьте заявку и получите развернутую  консультацию нашего специалиста.
            <br><br>
            Эксперты SORP Group подберут оптимальное юридическое решение по регистрации недвижимости в ОАЭ с учетом ваших <br class="hide-sm-min">потребностей и окажут вам всестороннюю поддержку
            <br><br>
            Уже сегодня вы сможете сделать первый шаг для достижения ваших целей с экспертами SORP!
            <div class="r20"></div>
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Получить консультацию</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

{/block}
{include 'footer_new'}