{include 'header'}
{block 'content'}
<style> .block7__item:hover { background-color: #[[*link_attributes]]; } </style>

<section class="tops-wrapper">
    <div class="bg_first-screen" style="background-color: #[[*link_attributes]]">
        <div class="first-screen">
            <div class="first-screen__box">
                <div class="first-screen__logo-box first-screen__logo-box_new">
                    <img class="first-screen__logo" src="/git/img/blocks/mask.png" data-src="/git/img/blocks/logo-inner.gif" alt="SORP">
                </div>
                <div class="first-screen__content first-screen__content_new">
                    <h1 class="first-screen__title">How to enter the UAE market</h1>
                    <p class="first-screen__text">
                        Expand your business into the richest and fastest growing market in the UAE! SORP’s solutions can help you leverage your core business effectively for growth.
                    </p>
                    <a class="first-screen__btn btn btn_w100-sm btn_radius btn_hover-red btn_h55" href="#" onclick="toggleModal('form01')">Get in touch</a>
                </div>
            </div>
        </div>
    </div>
    
    <!--         block-frames             -->
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <div class="block-frames">
            <div class="block-frames__border"></div>
            <div class="block-frames__wrapper">The UAE offers unique opportunities to conduct business and maximize the favourable investment climate. <br class="hide-sm-min"> The integration into a single market enables improved profit earnings without taxes for you. SORP Group offers actionable bespoke services for foreign companies to enter and expand into the UAE market. Solutions are based on business analysis, the country’s unique legislation landscape, and our own expert knowledge and experience. We help our clients navigate the complex pathways that make up a successful business journey step by step.</div>
        </div>
        <div class="r60_adaptive"></div>
        <div class="r40 hide-sm-min"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<section id="scrollBlock1" class="bg-F9">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Stages of identifying business opportunities in the UAE</h2>
        <div class="r50_adaptive"></div>
        
        <div class="block6 block6_padding z-idx3">
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/magnifier.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Preliminary market research and competitive analysis
                    </div>
                    <div class="block6__text">
                        Enabling your business development strategy, make optimal decisions, and objectively assess and eliminate possible risks                        
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">                    
                    <img class="block6__icon-img" src="/git/img/contour-only/white/scales.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Analysis of UAE legislation in relation to your business
                    </div>
                    <div class="block6__text">
                        Studying the unique aspects of licensing and requirements for doing business in accordance with the UAE legislation and gaining the necessary approvals from local authorities
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/office.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Business formation and location set up in the UAE
                    </div>
                    <div class="block6__text">
                        Assessing the best strategic fit for your businss in the UAE,  your ability to target the correct audience / consumers, and to identify infrastructure and logistics requirements.
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/organization-building.svg">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Registration and licensing of your business
                    </div>
                    <div class="block6__text">
                        Legal and administrative incorporation procedures while obtaining approvals and business license in accordance with the legislation of the UAE
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/doc.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Registration and licensing of your business
                    </div>
                    <div class="block6__text">
                        Processing of legal and administrative procedures to obtain approvals and business licenses in accordance with the legislation of the UAE
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/tie.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Mandatory procedures for starting a business
                    </div>
                    <div class="block6__text">
                        Obtaining resident visas for business owners and foreign employees, passing bank verification procedures and opening Bank accounts in the UAE
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
            <div class="block6__item">
                <div class="block6__icon">
                    <img class="block6__icon-img" src="/git/img/contour-only/white/network.svg" loading="lazy">
                </div>
                <div class="block6__text-container">
                    <div class="block6__title">
                        Outsourcing core business adminstration
                    </div>
                    <div class="block6__text">
                        Enabling administrative, legal, accounting and PRO support to optimize essential business outputs and forecasted business goals
                    </div>
                    <div class="r20"></div>
                </div>
            </div>
        </div>
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Contact us to get an assessment of your prospects for entering the UAE</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">I want an assessment</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<section id="scrollBlock2" class="bg-F9">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">Success formula for your business expansion into the UAE market</h2>
        <div class="r30"></div>
        <div class="description">SORP offers services to adapt your strategies and develop methodologies for entering the UAE market. We can provide indepth and personal analysis of your business goals, taking the UAE legislation into account and the competitive environment.</div>
        <div class="r50_adaptive"></div>
        
        <div class="block7 block7_modal">
            <div class="block7__item z-idx3 bg-FF block7__item_big-bg" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/magnifier.svg"  loading="lazy">
                </div>
                <div class="block7__title">We analyse the UAE market and its trends</div>
                <div class="block7__text">
                    Evaluation of the competitive environment and pricing policies based on the market entry strategy and its cost
                </div>
            </div>
            
            <div class="block7__item z-idx3 bg-FF block7__item_big-bg" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/scales.svg"  loading="lazy">
                </div>
                <div class="block7__title">We provide a sound legal understanding</div>
                <div class="block7__text">
                    Studying the legal aspects, licensing procedures, and regulation applied to your business activities to present sound business grounding
                </div>
            </div>
            
            <div class="block7__item z-idx3 bg-FF block7__item_big-bg" onclick="toggleModal('form01')">
                <div class="block7__icon">
                    <img class="block7__icon-img" src="/git/img/contour-only/gray/todolist.svg"  loading="lazy">
                </div>
                <div class="block7__title">We provide methodology for business process</div> 
                <div class="block7__text">
                    Identifying the best business approach to product certification, commercial activities, accounting, recruitment, and other processes
                </div>
            </div>
        </div>
        
        <div class="r50_adaptive"></div>
        
        <div class="block5 z-idx3 bg-F9">
            <img src="/git/img/contour-only/black-and-red/data-analysis.svg" alt="" class="block5__icon block5__icon_left block5__icon_big" loading="lazy">
            <div class="block5__text">
                If you have decided to enter the UAE market, SORP group can support you with comprehensive services to support your ventures. These include proof of a sound business idea, a full business analysis, business registration and licensing, and a full range of solutions for setting up and running a business in the UAE which are provided on a turnkey basis.
            </div>
        </div>
    
        <div class="r60_adaptive"></div>
    </div>
    <div class="r1 r_bg-gray"></div>
</section>

<section id="scrollBlock3" class="bg-FF z-idx3">
    <div class="container_bem">
        <div class="r60_adaptive"></div>
        <h2 class="title">SORP Group integrated solutions for <br class="hide-sm-min"> entering the UAE market</h2>
        <div class="r50_adaptive"></div>
        
        <div class="block14">
            <div class="block14__item">
                <div class="block14__title">
                    Business idea success
                </div>
                <div class="block14__text">
                    SORP provides an expert business review for entering the UAE market and performs viability testing for your business ideas and concepts against a favourable UAE business environment.                    
                </div>
            </div>
            <div class="block14__item">
                <div class="block14__title">
                    Business <br class="hide-sm-min"> registration
                </div>
                <div class="block14__text">
                    SORP provides a fast, professional services for business registration and licensing.  We cooperate with  registration authorities to manage effeciencies as an essential support function.                    
                </div>
            </div>
            <div class="block14__item">
                <div class="block14__title">
                    Opening bank accounts
                </div>
                <div class="block14__text">
                    SORP cooperates with the leading banks of the UAE and understands  their compliance procedures inside and out. Professional support and fast completion of processes are guaranteed.
                </div>
            </div>
            <div class="block14__item">
                <div class="block14__title">
                    Business <br class="hide-sm-min"> placement
                </div>
                <div class="block14__text">
                    SORP business centre provides excellent solutions for renting equipped office spaces for staff accommodation and licensing procedures. We offer sound support for business placement. 
                </div>
            </div>
            <div class="block14__item">
                <div class="block14__title">
                    Local sponsor or agent
                </div>
                <div class="block14__text">
                    SORP provides a reliable nominee service for conducting a business through a Mainland company with local partner / agent. A waiver of rights is provided in the court of Dubai, with full support.
                </div>
            </div>
            <div class="block14__item">
                <div class="block14__title">
                    Business process outsourcing
                </div>
                <div class="block14__text">
                    SORP manages immigration, tax, accounting, legal adminstration in aim of saving your business expenses so you can focus on important, like maintaining key employees.
                </div>
            </div>
        </div>
        
        <div class="r60_adaptive"></div>
    </div>
</section>

<div class="bg bg_red z-idx3">
    <div class="r30"></div>
    <div class="r5"></div>
    <div class="container_bem">
        <div class="feedback-block">
            <div class="feedback-block__text">Get in touch and learn how to enter the UAE market with a bespoke consultation.</div>
            <div class="feedback-block__btn" onclick="toggleModal('form01');">Book an appointment</div>
        </div>
    </div>
    <div class="r30"></div>
    <div class="r5"></div>
</div>

<!-- Почему SORP - Slider -->
<section class="bg-F9" id="scrollBlock4">
    <div class="container_bem">
		    <div class="r60_adaptive"></div>
			<h2 class="title">SORP Group provides a full range of services for the establishing business in the UAE</h2>
			<div id="vslideouter" class="slider_02 text_slider">
				<div class="slide-elem tslider-item-new flex_column first">
					<div class="back"></div>
					<div class="tslider-item__number">15 years of experience</div>
					<div class="tslider-item__text fadeInUp">In the field of registration, support of companies and solving business problems of clients for the organization of profitable activities in the UAE</div>
				</div>

				<div class="text_slider__inner">
					<div class="slide-elem tslider-item-new flex_column second">
						<div class="back"></div>
						<div class="tslider-item__number">Expert status</div>
						<div class="tslider-item__text wow fadeInUp">We are able to conduct an examination of the correctness of the organization of the main business processes of your company in the UAE, including when solving issues of increased complexity</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column third">
						<div class="back"></div>
						<div class="tslider-item__number">SORP Business Center</div>
						<div class="tslider-item__text">5000 square meters of modern office space in a prestigious location in Dubai for rent for business placement and licensing procedures</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Center For Business-Expertise</div>
						<div class="tslider-item__text">Adaptation of the strategy and planning of business development in the UAE, analysis of the market, legislation and competitive advantages of the main business lines</div>
					</div>
					
					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
						<div class="tslider-item__number">Multifunctional Outsourcing Center</div>
						<div class="tslider-item__text">Support for the company&#39;s operations: license renewal, visa support, administrative and PRO-services</div>
					</div>

					<div class="slide-elem tslider-item-new flex_column">
						<div class="back"></div>
    						<div class="tslider-item__number">Support in opening Bank accounts</div>
						<div class="tslider-item__text">Close cooperation with financial institutions and assistance in passing the KYC procedure</div>
					</div>
					
				<div class="tns-controls">
					<div class="button" onclick="slideup()"></div>
					<div class="button" onclick="slidedown()"></div>
				</div>
			</div>
		</div>
	</div>
    <div class="r1 r_bg-gray"></div>
</section>

<!-- registration -->
<section class="bg-F9" id="scrollBlock5">
    <div class="container_bem">
      <div class="r60_adaptive"></div>
      <div class="registration">
        <div class="registration__info">
          <div class="registration__title">Enter the UAE market today</div>
          <div class="r20"></div>
          Contact us now! A business consultant will be in touch within 20 minutes. <br><br>
          Our experts will recommend the best solution for managing your business needs in the UAE and provide comprehensive support - from evaluating a business idea to registering and supporting your business.
        </div>
        <div class="registration__form-block">
            <div class="registration__title">Contact us now</div>
            <div class="r10"></div>
            {$_modx->getChunk('form4_new')}
        </div>
      </div>
      <div class="r60_adaptive"></div>
    </div>
    <div class="r1 bg-E3"></div>
</section>

{/block}
{include 'footer_new'}