mixin lang(ru, en)
  | {if $_modx->config.cultureKey == 'ru'}
  | !{ru}
  | {else}
  | !{en}
  | {/if}

block variables
  - var page = false
  - var minilends = true
  - var minilends_services = false
  - var minilends_gitex = false

doctype html
html
  include ../blocks/head/head

  body
    block header
      svg(width='0', height='0', style='position:absolute; display: none;')
        symbol#logo_main(viewBox='0 0 103 22', fill='none', xmlns='http://www.w3.org/2000/svg')
          path(d='M8.086 20.26C6.682 20.26 5.32133 20.0607 4.004 19.662C2.704 19.2633 1.67267 18.7347 0.91 18.076L2.08 15.45C2.82533 16.0393 3.73533 16.5247 4.81 16.906C5.902 17.27 6.994 17.452 8.086 17.452C9.438 17.452 10.4433 17.2353 11.102 16.802C11.778 16.3687 12.116 15.7967 12.116 15.086C12.116 14.566 11.9253 14.1413 11.544 13.812C11.18 13.4653 10.712 13.1967 10.14 13.006C9.568 12.8153 8.788 12.5987 7.8 12.356C6.41333 12.0267 5.28667 11.6973 4.42 11.368C3.57067 11.0387 2.834 10.5273 2.21 9.834C1.60333 9.12333 1.3 8.17 1.3 6.974C1.3 5.96867 1.56867 5.05867 2.106 4.244C2.66067 3.412 3.484 2.75333 4.576 2.268C5.68533 1.78267 7.03733 1.54 8.632 1.54C9.74133 1.54 10.8333 1.67867 11.908 1.956C12.9827 2.23333 13.91 2.632 14.69 3.152L13.624 5.778C12.8267 5.31 11.9947 4.95467 11.128 4.712C10.2613 4.46933 9.42067 4.348 8.606 4.348C7.27133 4.348 6.27467 4.57333 5.616 5.024C4.97467 5.47467 4.654 6.07267 4.654 6.818C4.654 7.338 4.836 7.76267 5.2 8.092C5.58133 8.42133 6.058 8.68133 6.63 8.872C7.202 9.06267 7.982 9.27933 8.97 9.522C10.322 9.834 11.4313 10.1633 12.298 10.51C13.1647 10.8393 13.9013 11.3507 14.508 12.044C15.132 12.7373 15.444 13.6733 15.444 14.852C15.444 15.8573 15.1667 16.7673 14.612 17.582C14.0747 18.3967 13.2513 19.0467 12.142 19.532C11.0327 20.0173 9.68067 20.26 8.086 20.26ZM27.2976 20.26C25.4429 20.26 23.7702 19.8613 22.2796 19.064C20.7889 18.2493 19.6189 17.1313 18.7696 15.71C17.9202 14.2713 17.4956 12.668 17.4956 10.9C17.4956 9.132 17.9202 7.53733 18.7696 6.116C19.6189 4.67733 20.7889 3.55933 22.2796 2.762C23.7702 1.94733 25.4429 1.54 27.2976 1.54C29.1522 1.54 30.8249 1.94733 32.3156 2.762C33.8062 3.55933 34.9762 4.66867 35.8256 6.09C36.6749 7.51133 37.0996 9.11467 37.0996 10.9C37.0996 12.6853 36.6749 14.2887 35.8256 15.71C34.9762 17.1313 33.8062 18.2493 32.3156 19.064C30.8249 19.8613 29.1522 20.26 27.2976 20.26ZM27.2976 17.296C28.5109 17.296 29.6029 17.0273 30.5736 16.49C31.5442 15.9353 32.3069 15.1727 32.8616 14.202C33.4162 13.214 33.6936 12.1133 33.6936 10.9C33.6936 9.68667 33.4162 8.59467 32.8616 7.624C32.3069 6.636 31.5442 5.87333 30.5736 5.336C29.6029 4.78133 28.5109 4.504 27.2976 4.504C26.0842 4.504 24.9922 4.78133 24.0216 5.336C23.0509 5.87333 22.2882 6.636 21.7336 7.624C21.1789 8.59467 20.9016 9.68667 20.9016 10.9C20.9016 12.1133 21.1789 13.214 21.7336 14.202C22.2882 15.1727 23.0509 15.9353 24.0216 16.49C24.9922 17.0273 26.0842 17.296 27.2976 17.296ZM52.5903 20L48.8723 14.67C48.7163 14.6873 48.4823 14.696 48.1703 14.696H44.0623V20H40.6823V1.8H48.1703C49.7476 1.8 51.1169 2.06 52.2783 2.58C53.4569 3.1 54.3583 3.84533 54.9823 4.816C55.6063 5.78667 55.9183 6.93933 55.9183 8.274C55.9183 9.64333 55.5803 10.822 54.9043 11.81C54.2456 12.798 53.2923 13.5347 52.0443 14.02L56.2303 20H52.5903ZM52.5123 8.274C52.5123 7.11267 52.1309 6.22 51.3683 5.596C50.6056 4.972 49.4876 4.66 48.0143 4.66H44.0623V11.914H48.0143C49.4876 11.914 50.6056 11.602 51.3683 10.978C52.1309 10.3367 52.5123 9.43533 52.5123 8.274ZM67.1879 1.8C68.7652 1.8 70.1345 2.06 71.2959 2.58C72.4745 3.1 73.3759 3.84533 73.9999 4.816C74.6239 5.78667 74.9359 6.93933 74.9359 8.274C74.9359 9.59133 74.6239 10.744 73.9999 11.732C73.3759 12.7027 72.4745 13.448 71.2959 13.968C70.1345 14.488 68.7652 14.748 67.1879 14.748H63.0799V20H59.6999V1.8H67.1879ZM67.0319 11.888C68.5052 11.888 69.6232 11.576 70.3859 10.952C71.1485 10.328 71.5299 9.43533 71.5299 8.274C71.5299 7.11267 71.1485 6.22 70.3859 5.596C69.6232 4.972 68.5052 4.66 67.0319 4.66H63.0799V11.888H67.0319Z', fill='black')
          path(d='M102.986 1V7.46892H100.44V3.46435H84.5311V7.46892H81.9856V1H102.986ZM81.9856 14.862H84.5311V18.8665H100.44V14.862H102.986V21.3309H81.9856V14.862ZM87.0234 10.8574L92.4856 4.08044L97.9478 10.8574H102.986V13.3217H96.622L92.4856 8.085L88.3492 13.3217H81.9856V10.8574H87.0234Z', fill='#D64356')
        symbol#phone_mobile(viewBox='0 0 23 23' xmlns='http://www.w3.org/2000/svg')
          g(clip-path='url(#clip0)')
            path(d='M18.0571 11.4952C18.0571 11.7999 18.2857 12.1047 18.6667 12.1047C19.0476 12.1047 19.2762 11.8761 19.2762 11.4952C19.2762 7.30469 15.8476 3.87612 11.6571 3.87612C11.3524 3.87612 11.0476 4.10469 11.0476 4.48564C11.0476 4.8666 11.2762 5.09517 11.6571 5.09517C15.1619 5.01898 18.0571 7.91421 18.0571 11.4952ZM11.0476 7.53326C11.0476 7.83802 11.2762 8.14279 11.6571 8.14279C13.4857 8.14279 14.9333 9.59041 14.9333 11.419C14.9333 11.7237 15.1619 12.0285 15.5429 12.0285C15.9238 12.0285 16.1524 11.7999 16.1524 11.419C16.1524 8.98088 14.1714 6.99993 11.7333 6.99993C11.2762 6.99993 11.0476 7.2285 11.0476 7.53326ZM11.5809 0.295166C11.2762 0.295166 10.9714 0.523737 10.9714 0.90469C10.9714 1.28564 11.2 1.51421 11.5809 1.51421C17.0667 1.51421 21.5619 6.00945 21.5619 11.4952C21.5619 11.7999 21.7905 12.1047 22.1714 12.1047C22.5524 12.1047 22.7809 11.8761 22.7809 11.4952C22.7048 5.32374 17.7524 0.295166 11.5809 0.295166ZM14.7809 13.6285C14.7048 13.5523 14.5524 13.4761 14.4 13.4761C14.2476 13.4761 14.0952 13.5523 14.019 13.6285L12.8 14.8475C12.3429 15.3047 11.5809 15.3047 11.1238 14.8475L8.30476 12.2571C7.84762 11.7999 7.84762 11.038 8.30476 10.5809L9.67619 9.20945C9.90476 8.98088 9.90476 8.59993 9.67619 8.37136L4.03809 2.80945C3.9619 2.73326 3.80952 2.65707 3.65714 2.65707C3.50476 2.65707 3.35238 2.73326 3.27619 2.80945C3.2 2.88564 1.44762 4.63802 1.06666 5.09517C-1.99676e-06 6.16183 -0.152383 8.37136 0.609522 10.2761C2.28571 14.4666 7.84762 19.5714 12.4952 22.3904C12.8762 22.619 13.7905 22.8475 14.7048 22.8475C15.5429 22.8475 16.7619 22.6952 17.8286 21.7809C18.819 20.9428 19.9619 19.7237 20.0381 19.6475C20.2667 19.419 20.2667 19.038 20.0381 18.8856L14.7809 13.6285ZM17.0667 20.8666C16.3048 21.5523 15.3905 21.6285 14.7048 21.6285C13.8667 21.6285 13.181 21.3999 13.1048 21.3237C7.84762 18.1999 3.04762 13.3999 1.67619 9.81898C1.06666 8.21898 1.29524 6.4666 1.82857 5.85707C2.13333 5.55231 3.04762 4.63802 3.65714 4.0285L8.38095 8.75231L7.39047 9.74279C6.47619 10.6571 6.47619 12.1047 7.39047 13.019L10.2095 15.6095C11.0476 16.4475 12.5714 16.4475 13.4857 15.6095L14.3238 14.7714L18.7429 19.1904C18.3619 19.7237 17.6762 20.4095 17.0667 20.8666Z')
          defs
            clippath#clip0
              rect(width='22.8571' height='22.8571' fill='white' transform='translate(0 0.142822)')
        symbol#email_mobile(viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M22.9565 0.130371H1.04348C0.971478 0.130371 0.901043 0.137675 0.833217 0.151762C0.358435 0.248806 0 0.670371 0 1.17385V2.21733V16.3043V16.826C0 17.3295 0.358435 17.7511 0.833217 17.8481C0.901043 17.8622 0.971478 17.8695 1.04348 17.8695H22.9565C23.0285 17.8695 23.099 17.8622 23.1668 17.8481C23.6416 17.7511 24 17.3295 24 16.826V16.3043V2.21733V1.17385C24 0.598371 23.532 0.130371 22.9565 0.130371ZM1.04348 3.24202L9.31878 9.26028L1.04348 15.2796V3.24202ZM22.9565 16.826H1.04348V16.5704L10.2057 9.9062L11.6937 10.9878C11.8769 11.1208 12.1242 11.1208 12.3073 10.9878L13.7953 9.9062L22.9565 16.5698V16.826ZM22.9565 15.2796L14.6812 9.26028L22.9565 3.24202V15.2796ZM22.9565 1.95176L12 9.92028L1.04348 1.95176V1.17385H22.9565V1.95176Z' fill='white')

      header
        style
          | .header { background-color: #fff !important; }
        include ../blocks/header/header

    block content
    block footer
      footer.footer
        .r20
        .container
          if !minilends_services
            <a class="footer__btn-services-all btn btn_font-s18 btn_radius5 btn_h55 btn_w100 btn_border1" href="{$_modx->resource.link}">
              .footer__btn-services-icon.lazy(data-bg="/dist/img/minilends/blocks/footer/burger.svg")
              .footer__btn-services-text
                +lang(
                'Все услуги SORP Group',
                'All SORP Group services'
                )
            </a>
            .r20
            .r5
          a.footer__btn-services-all.btn.btn_font-s18.btn_radius5.btn_h55.btn_w100.btn_white.btn_border1(href="tel:+97145594559")
            svg.footer__btn-services-icon(xmlns='http://www.w3.org/2000/svg')
              use(xlink:href='#phone_mobile')
            .footer__btn-services-text +971 4 559 4 559
          .r20
          .r5
          a.footer__btn-services-all.btn.btn_font-s18.btn_radius5.btn_h55.btn_w100.btn_white.btn_border1(href="https://www.google.ru/maps/place/Tameem+House+Office+Building+-+C008-014+-+Dubai+-+%D0%9E%D0%B1%D1%8A%D0%B5%D0%B4%D0%B8%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B5+%D0%90%D1%80%D0%B0%D0%B1%D1%81%D0%BA%D0%B8%D0%B5+%D0%AD%D0%BC%D0%B8%D1%80%D0%B0%D1%82%D1%8B/@25.0995968,55.1763591,18z/data=!4m13!1m7!3m6!1s0x3e5f6b7747548917:0xe3bfb5f0bd4ed25!2zVGFtZWVtIEhvdXNlIE9mZmljZSBCdWlsZGluZyAtIEMwMDgtMDE0IC0gRHViYWkgLSDQntCx0YrQtdC00LjQvdC10L3QvdGL0LUg0JDRgNCw0LHRgdC60LjQtSDQrdC80LjRgNCw0YLRiw!3b1!8m2!3d25.0994929!4d55.1771708!3m4!1s0x3e5f6b7747548917:0xe3bfb5f0bd4ed25!8m2!3d25.0994929!4d55.1771708?hl=ru" target="_blank" rel="noopener")
            .footer__btn-services-icon.lazy(data-bg="/dist/img/minilends/blocks/footer/location.svg")
            .footer__btn-services-text
              +lang(
              'Показать на карте Дубая',
              'Show on the map of Dubai'
              )
          .r20
          .r5
        .footer__box
          p.footer__box-item Barsha Heights (Tecom) Dubai,
          p.footer__box-item United Arab Emirates, Tameem House Building,
          p.footer__box-item Floor 6/25/28/29


    block modals
      include ../blocks/modals/modals

    block scripts
      if page
        script(src="/dist/js/" + page + ".js")
      else
        script(src="/dist/js/main.js")