mixin lang(ru, en)
	| {if $_modx->config.cultureKey == 'ru'}
	| !{ru}
	| {else}
	| !{en}
	| {/if}

block variables
	-var page = false
	-var svgmorph = false
	-var logo_main = false
	-var minilends = false


doctype html
html(lang="ru-RU")
	include ../blocks/head/head

	body
		block header
			svg(width='0', height='0', style='position:absolute; display: none;')
				symbol#logo_main(viewBox='0 0 103 22', fill='none', xmlns='http://www.w3.org/2000/svg')
					path(d='M8.086 20.26C6.682 20.26 5.32133 20.0607 4.004 19.662C2.704 19.2633 1.67267 18.7347 0.91 18.076L2.08 15.45C2.82533 16.0393 3.73533 16.5247 4.81 16.906C5.902 17.27 6.994 17.452 8.086 17.452C9.438 17.452 10.4433 17.2353 11.102 16.802C11.778 16.3687 12.116 15.7967 12.116 15.086C12.116 14.566 11.9253 14.1413 11.544 13.812C11.18 13.4653 10.712 13.1967 10.14 13.006C9.568 12.8153 8.788 12.5987 7.8 12.356C6.41333 12.0267 5.28667 11.6973 4.42 11.368C3.57067 11.0387 2.834 10.5273 2.21 9.834C1.60333 9.12333 1.3 8.17 1.3 6.974C1.3 5.96867 1.56867 5.05867 2.106 4.244C2.66067 3.412 3.484 2.75333 4.576 2.268C5.68533 1.78267 7.03733 1.54 8.632 1.54C9.74133 1.54 10.8333 1.67867 11.908 1.956C12.9827 2.23333 13.91 2.632 14.69 3.152L13.624 5.778C12.8267 5.31 11.9947 4.95467 11.128 4.712C10.2613 4.46933 9.42067 4.348 8.606 4.348C7.27133 4.348 6.27467 4.57333 5.616 5.024C4.97467 5.47467 4.654 6.07267 4.654 6.818C4.654 7.338 4.836 7.76267 5.2 8.092C5.58133 8.42133 6.058 8.68133 6.63 8.872C7.202 9.06267 7.982 9.27933 8.97 9.522C10.322 9.834 11.4313 10.1633 12.298 10.51C13.1647 10.8393 13.9013 11.3507 14.508 12.044C15.132 12.7373 15.444 13.6733 15.444 14.852C15.444 15.8573 15.1667 16.7673 14.612 17.582C14.0747 18.3967 13.2513 19.0467 12.142 19.532C11.0327 20.0173 9.68067 20.26 8.086 20.26ZM27.2976 20.26C25.4429 20.26 23.7702 19.8613 22.2796 19.064C20.7889 18.2493 19.6189 17.1313 18.7696 15.71C17.9202 14.2713 17.4956 12.668 17.4956 10.9C17.4956 9.132 17.9202 7.53733 18.7696 6.116C19.6189 4.67733 20.7889 3.55933 22.2796 2.762C23.7702 1.94733 25.4429 1.54 27.2976 1.54C29.1522 1.54 30.8249 1.94733 32.3156 2.762C33.8062 3.55933 34.9762 4.66867 35.8256 6.09C36.6749 7.51133 37.0996 9.11467 37.0996 10.9C37.0996 12.6853 36.6749 14.2887 35.8256 15.71C34.9762 17.1313 33.8062 18.2493 32.3156 19.064C30.8249 19.8613 29.1522 20.26 27.2976 20.26ZM27.2976 17.296C28.5109 17.296 29.6029 17.0273 30.5736 16.49C31.5442 15.9353 32.3069 15.1727 32.8616 14.202C33.4162 13.214 33.6936 12.1133 33.6936 10.9C33.6936 9.68667 33.4162 8.59467 32.8616 7.624C32.3069 6.636 31.5442 5.87333 30.5736 5.336C29.6029 4.78133 28.5109 4.504 27.2976 4.504C26.0842 4.504 24.9922 4.78133 24.0216 5.336C23.0509 5.87333 22.2882 6.636 21.7336 7.624C21.1789 8.59467 20.9016 9.68667 20.9016 10.9C20.9016 12.1133 21.1789 13.214 21.7336 14.202C22.2882 15.1727 23.0509 15.9353 24.0216 16.49C24.9922 17.0273 26.0842 17.296 27.2976 17.296ZM52.5903 20L48.8723 14.67C48.7163 14.6873 48.4823 14.696 48.1703 14.696H44.0623V20H40.6823V1.8H48.1703C49.7476 1.8 51.1169 2.06 52.2783 2.58C53.4569 3.1 54.3583 3.84533 54.9823 4.816C55.6063 5.78667 55.9183 6.93933 55.9183 8.274C55.9183 9.64333 55.5803 10.822 54.9043 11.81C54.2456 12.798 53.2923 13.5347 52.0443 14.02L56.2303 20H52.5903ZM52.5123 8.274C52.5123 7.11267 52.1309 6.22 51.3683 5.596C50.6056 4.972 49.4876 4.66 48.0143 4.66H44.0623V11.914H48.0143C49.4876 11.914 50.6056 11.602 51.3683 10.978C52.1309 10.3367 52.5123 9.43533 52.5123 8.274ZM67.1879 1.8C68.7652 1.8 70.1345 2.06 71.2959 2.58C72.4745 3.1 73.3759 3.84533 73.9999 4.816C74.6239 5.78667 74.9359 6.93933 74.9359 8.274C74.9359 9.59133 74.6239 10.744 73.9999 11.732C73.3759 12.7027 72.4745 13.448 71.2959 13.968C70.1345 14.488 68.7652 14.748 67.1879 14.748H63.0799V20H59.6999V1.8H67.1879ZM67.0319 11.888C68.5052 11.888 69.6232 11.576 70.3859 10.952C71.1485 10.328 71.5299 9.43533 71.5299 8.274C71.5299 7.11267 71.1485 6.22 70.3859 5.596C69.6232 4.972 68.5052 4.66 67.0319 4.66H63.0799V11.888H67.0319Z', fill='black')
					path(d='M102.986 1V7.46892H100.44V3.46435H84.5311V7.46892H81.9856V1H102.986ZM81.9856 14.862H84.5311V18.8665H100.44V14.862H102.986V21.3309H81.9856V14.862ZM87.0234 10.8574L92.4856 4.08044L97.9478 10.8574H102.986V13.3217H96.622L92.4856 8.085L88.3492 13.3217H81.9856V10.8574H87.0234Z', fill='#D64356')
				symbol#logo_footer(width='201', height='57', viewBox='0 0 201 57', fill='none', xmlns='http://www.w3.org/2000/svg')
					path(d='M8.42188 41.5918H2.25195V53H0.555664V40.2031H8.42188V41.5918ZM16.4727 48.3506C16.4727 49.7979 16.1416 50.9639 15.4795 51.8486C14.8174 52.7334 13.9209 53.1758 12.79 53.1758C11.6357 53.1758 10.7275 52.8096 10.0654 52.0771V56.6562H8.43945V43.4902H9.9248L10.0039 44.5449C10.666 43.7246 11.5859 43.3145 12.7637 43.3145C13.9062 43.3145 14.8086 43.7451 15.4707 44.6064C16.1387 45.4678 16.4727 46.666 16.4727 48.2012V48.3506ZM14.8467 48.166C14.8467 47.0938 14.6182 46.2471 14.1611 45.626C13.7041 45.0049 13.0771 44.6943 12.2803 44.6943C11.2959 44.6943 10.5576 45.1309 10.0654 46.0039V50.5479C10.5518 51.415 11.2959 51.8486 12.2979 51.8486C13.0771 51.8486 13.6953 51.541 14.1523 50.9258C14.6152 50.3047 14.8467 49.3848 14.8467 48.166ZM21.5527 50.6182L23.7676 43.4902H25.5078L21.6846 54.4678C21.0928 56.0498 20.1523 56.8408 18.8633 56.8408L18.5557 56.8145L17.9492 56.7002V55.3818L18.3887 55.417C18.9395 55.417 19.3672 55.3057 19.6719 55.083C19.9824 54.8604 20.2373 54.4531 20.4365 53.8613L20.7969 52.8945L17.4043 43.4902H19.1797L21.5527 50.6182ZM34.7451 53H33.1191V44.835H28.7422V53H27.1074V43.4902H34.7451V53ZM45.1338 53H43.5078V44.835H39.1309V53H37.4961V43.4902H45.1338V53ZM53.6152 53C53.5215 52.8125 53.4453 52.4785 53.3867 51.998C52.6309 52.7832 51.7285 53.1758 50.6797 53.1758C49.7422 53.1758 48.9717 52.9121 48.3682 52.3848C47.7705 51.8516 47.4717 51.1777 47.4717 50.3633C47.4717 49.373 47.8467 48.6055 48.5967 48.0605C49.3525 47.5098 50.4131 47.2344 51.7783 47.2344H53.3604V46.4873C53.3604 45.9189 53.1904 45.4678 52.8506 45.1338C52.5107 44.7939 52.0098 44.624 51.3477 44.624C50.7676 44.624 50.2812 44.7705 49.8887 45.0635C49.4961 45.3564 49.2998 45.7109 49.2998 46.127H47.665C47.665 45.6523 47.832 45.1953 48.166 44.7559C48.5059 44.3105 48.9629 43.959 49.5371 43.7012C50.1172 43.4434 50.7529 43.3145 51.4443 43.3145C52.54 43.3145 53.3984 43.5898 54.0195 44.1406C54.6406 44.6855 54.9629 45.4385 54.9863 46.3994V50.7764C54.9863 51.6494 55.0977 52.3438 55.3203 52.8594V53H53.6152ZM50.917 51.7607C51.4268 51.7607 51.9102 51.6289 52.3672 51.3652C52.8242 51.1016 53.1553 50.7588 53.3604 50.3369V48.3857H52.0859C50.0938 48.3857 49.0977 48.9688 49.0977 50.1348C49.0977 50.6445 49.2676 51.043 49.6074 51.3301C49.9473 51.6172 50.3838 51.7607 50.917 51.7607ZM64.9619 48.9482H63.7754V53H62.1406V43.4902H63.7754V47.5156H64.8389L68.0381 43.4902H70.0068L66.2451 48.0605L70.3232 53H68.2578L64.9619 48.9482ZM71.0967 48.1572C71.0967 47.2256 71.2783 46.3877 71.6416 45.6436C72.0107 44.8994 72.5205 44.3252 73.1709 43.9209C73.8271 43.5166 74.5742 43.3145 75.4121 43.3145C76.707 43.3145 77.7529 43.7627 78.5498 44.6592C79.3525 45.5557 79.7539 46.748 79.7539 48.2363V48.3506C79.7539 49.2764 79.5752 50.1084 79.2178 50.8467C78.8662 51.5791 78.3594 52.1504 77.6973 52.5605C77.041 52.9707 76.2852 53.1758 75.4297 53.1758C74.1406 53.1758 73.0947 52.7275 72.292 51.8311C71.4951 50.9346 71.0967 49.748 71.0967 48.2715V48.1572ZM72.7314 48.3506C72.7314 49.4053 72.9746 50.252 73.4609 50.8906C73.9531 51.5293 74.6094 51.8486 75.4297 51.8486C76.2559 51.8486 76.9121 51.5264 77.3984 50.8818C77.8848 50.2314 78.1279 49.3232 78.1279 48.1572C78.1279 47.1143 77.8789 46.2705 77.3809 45.626C76.8887 44.9756 76.2324 44.6504 75.4121 44.6504C74.6094 44.6504 73.9619 44.9697 73.4697 45.6084C72.9775 46.2471 72.7314 47.1611 72.7314 48.3506ZM87.2686 50.8467L90.5029 43.4902H92.5332V53H90.9072V46.083L87.8311 53H86.7061L83.5684 45.9336V53H81.9424V43.4902H84.0518L87.2686 50.8467ZM102.931 53H101.305V44.835H96.9277V53H95.293V43.4902H102.931V53ZM111.412 53C111.318 52.8125 111.242 52.4785 111.184 51.998C110.428 52.7832 109.525 53.1758 108.477 53.1758C107.539 53.1758 106.769 52.9121 106.165 52.3848C105.567 51.8516 105.269 51.1777 105.269 50.3633C105.269 49.373 105.644 48.6055 106.394 48.0605C107.149 47.5098 108.21 47.2344 109.575 47.2344H111.157V46.4873C111.157 45.9189 110.987 45.4678 110.647 45.1338C110.308 44.7939 109.807 44.624 109.145 44.624C108.564 44.624 108.078 44.7705 107.686 45.0635C107.293 45.3564 107.097 45.7109 107.097 46.127H105.462C105.462 45.6523 105.629 45.1953 105.963 44.7559C106.303 44.3105 106.76 43.959 107.334 43.7012C107.914 43.4434 108.55 43.3145 109.241 43.3145C110.337 43.3145 111.195 43.5898 111.816 44.1406C112.438 44.6855 112.76 45.4385 112.783 46.3994V50.7764C112.783 51.6494 112.895 52.3438 113.117 52.8594V53H111.412ZM108.714 51.7607C109.224 51.7607 109.707 51.6289 110.164 51.3652C110.621 51.1016 110.952 50.7588 111.157 50.3369V48.3857H109.883C107.891 48.3857 106.895 48.9688 106.895 50.1348C106.895 50.6445 107.064 51.043 107.404 51.3301C107.744 51.6172 108.181 51.7607 108.714 51.7607ZM123.102 53H121.476V48.9395H117.107V53H115.473V43.4902H117.107V47.6123H121.476V43.4902H123.102V53ZM131.873 43.4902H133.499V53H131.873V46.0654L127.487 53H125.861V43.4902H127.487V50.4336L131.873 43.4902ZM142.262 43.4902H143.888V53H142.262V46.0654L137.876 53H136.25V43.4902H137.876V50.4336L142.262 43.4902ZM142.701 40.0273C142.701 40.7363 142.458 41.3076 141.972 41.7412C141.491 42.1689 140.858 42.3828 140.073 42.3828C139.288 42.3828 138.652 42.166 138.166 41.7324C137.68 41.2988 137.437 40.7305 137.437 40.0273H138.764C138.764 40.4375 138.875 40.7598 139.098 40.9941C139.32 41.2227 139.646 41.3369 140.073 41.3369C140.483 41.3369 140.803 41.2227 141.031 40.9941C141.266 40.7656 141.383 40.4434 141.383 40.0273H142.701Z', fill='#ABB0BC')
					path(d='M7.21616 24.25C5.86616 24.25 4.55783 24.0583 3.29116 23.675C2.04116 23.2917 1.0495 22.7833 0.316162 22.15L1.44116 19.625C2.15783 20.1917 3.03283 20.6583 4.06616 21.025C5.11616 21.375 6.16616 21.55 7.21616 21.55C8.51616 21.55 9.48283 21.3417 10.1162 20.925C10.7662 20.5083 11.0912 19.9583 11.0912 19.275C11.0912 18.775 10.9078 18.3667 10.5412 18.05C10.1912 17.7167 9.74116 17.4583 9.19116 17.275C8.64116 17.0917 7.89116 16.8833 6.94116 16.65C5.60783 16.3333 4.5245 16.0167 3.69116 15.7C2.8745 15.3833 2.16616 14.8917 1.56616 14.225C0.982829 13.5417 0.691162 12.625 0.691162 11.475C0.691162 10.5083 0.949495 9.63333 1.46616 8.85C1.9995 8.05 2.79116 7.41667 3.84116 6.95C4.90783 6.48333 6.20783 6.25 7.74116 6.25C8.80783 6.25 9.85783 6.38333 10.8912 6.65C11.9245 6.91667 12.8162 7.3 13.5662 7.8L12.5412 10.325C11.7745 9.875 10.9745 9.53333 10.1412 9.3C9.30783 9.06667 8.4995 8.95 7.71616 8.95C6.43283 8.95 5.4745 9.16667 4.84116 9.6C4.2245 10.0333 3.91616 10.6083 3.91616 11.325C3.91616 11.825 4.09116 12.2333 4.44116 12.55C4.80783 12.8667 5.26616 13.1167 5.81616 13.3C6.36616 13.4833 7.11616 13.6917 8.06616 13.925C9.36616 14.225 10.4328 14.5417 11.2662 14.875C12.0995 15.1917 12.8078 15.6833 13.3912 16.35C13.9912 17.0167 14.2912 17.9167 14.2912 19.05C14.2912 20.0167 14.0245 20.8917 13.4912 21.675C12.9745 22.4583 12.1828 23.0833 11.1162 23.55C10.0495 24.0167 8.7495 24.25 7.21616 24.25ZM25.6888 24.25C23.9055 24.25 22.2972 23.8667 20.8638 23.1C19.4305 22.3167 18.3055 21.2417 17.4888 19.875C16.6722 18.4917 16.2638 16.95 16.2638 15.25C16.2638 13.55 16.6722 12.0167 17.4888 10.65C18.3055 9.26667 19.4305 8.19167 20.8638 7.425C22.2972 6.64167 23.9055 6.25 25.6888 6.25C27.4722 6.25 29.0805 6.64167 30.5138 7.425C31.9472 8.19167 33.0722 9.25833 33.8888 10.625C34.7055 11.9917 35.1138 13.5333 35.1138 15.25C35.1138 16.9667 34.7055 18.5083 33.8888 19.875C33.0722 21.2417 31.9472 22.3167 30.5138 23.1C29.0805 23.8667 27.4722 24.25 25.6888 24.25ZM25.6888 21.4C26.8555 21.4 27.9055 21.1417 28.8388 20.625C29.7722 20.0917 30.5055 19.3583 31.0388 18.425C31.5722 17.475 31.8388 16.4167 31.8388 15.25C31.8388 14.0833 31.5722 13.0333 31.0388 12.1C30.5055 11.15 29.7722 10.4167 28.8388 9.9C27.9055 9.36667 26.8555 9.1 25.6888 9.1C24.5222 9.1 23.4722 9.36667 22.5388 9.9C21.6055 10.4167 20.8722 11.15 20.3388 12.1C19.8055 13.0333 19.5388 14.0833 19.5388 15.25C19.5388 16.4167 19.8055 17.475 20.3388 18.425C20.8722 19.3583 21.6055 20.0917 22.5388 20.625C23.4722 21.1417 24.5222 21.4 25.6888 21.4ZM50.0087 24L46.4337 18.875C46.2837 18.8917 46.0587 18.9 45.7587 18.9H41.8087V24H38.5587V6.5H45.7587C47.2754 6.5 48.5921 6.75 49.7087 7.25C50.8421 7.75 51.7087 8.46667 52.3087 9.4C52.9087 10.3333 53.2087 11.4417 53.2087 12.725C53.2087 14.0417 52.8837 15.175 52.2337 16.125C51.6004 17.075 50.6837 17.7833 49.4837 18.25L53.5087 24H50.0087ZM49.9337 12.725C49.9337 11.6083 49.5671 10.75 48.8337 10.15C48.1004 9.55 47.0254 9.25 45.6087 9.25H41.8087V16.225H45.6087C47.0254 16.225 48.1004 15.925 48.8337 15.325C49.5671 14.7083 49.9337 13.8417 49.9337 12.725ZM64.0449 6.5C65.5615 6.5 66.8782 6.75 67.9949 7.25C69.1282 7.75 69.9949 8.46667 70.5949 9.4C71.1949 10.3333 71.4949 11.4417 71.4949 12.725C71.4949 13.9917 71.1949 15.1 70.5949 16.05C69.9949 16.9833 69.1282 17.7 67.9949 18.2C66.8782 18.7 65.5615 18.95 64.0449 18.95H60.0949V24H56.8449V6.5H64.0449ZM63.8949 16.2C65.3115 16.2 66.3865 15.9 67.1199 15.3C67.8532 14.7 68.2199 13.8417 68.2199 12.725C68.2199 11.6083 67.8532 10.75 67.1199 10.15C66.3865 9.55 65.3115 9.25 63.8949 9.25H60.0949V16.2H63.8949ZM93.8437 15.05H96.9187V22.025C96.0187 22.7417 94.9687 23.2917 93.7687 23.675C92.5687 24.0583 91.3354 24.25 90.0687 24.25C88.2854 24.25 86.677 23.8667 85.2437 23.1C83.8104 22.3167 82.6854 21.2417 81.8687 19.875C81.052 18.5083 80.6437 16.9667 80.6437 15.25C80.6437 13.5333 81.052 11.9917 81.8687 10.625C82.6854 9.25833 83.8104 8.19167 85.2437 7.425C86.6937 6.64167 88.3187 6.25 90.1187 6.25C91.5854 6.25 92.9187 6.49167 94.1187 6.975C95.3187 7.45833 96.327 8.16667 97.1437 9.1L95.0937 11.1C93.7604 9.76667 92.152 9.1 90.2687 9.1C89.0354 9.1 87.9354 9.35833 86.9687 9.875C86.0187 10.3917 85.2687 11.1167 84.7187 12.05C84.1854 12.9833 83.9187 14.05 83.9187 15.25C83.9187 16.4167 84.1854 17.4667 84.7187 18.4C85.2687 19.3333 86.0187 20.0667 86.9687 20.6C87.9354 21.1333 89.027 21.4 90.2437 21.4C91.6104 21.4 92.8104 21.1 93.8437 20.5V15.05ZM103.88 12.6C104.78 11.2 106.364 10.5 108.63 10.5V13.475C108.364 13.425 108.122 13.4 107.905 13.4C106.689 13.4 105.739 13.7583 105.055 14.475C104.372 15.175 104.03 16.1917 104.03 17.525V24H100.905V10.65H103.88V12.6ZM117.159 24.175C115.809 24.175 114.592 23.8833 113.509 23.3C112.426 22.7167 111.576 21.9083 110.959 20.875C110.359 19.825 110.059 18.6417 110.059 17.325C110.059 16.0083 110.359 14.8333 110.959 13.8C111.576 12.7667 112.426 11.9583 113.509 11.375C114.592 10.7917 115.809 10.5 117.159 10.5C118.526 10.5 119.751 10.7917 120.834 11.375C121.917 11.9583 122.759 12.7667 123.359 13.8C123.976 14.8333 124.284 16.0083 124.284 17.325C124.284 18.6417 123.976 19.825 123.359 20.875C122.759 21.9083 121.917 22.7167 120.834 23.3C119.751 23.8833 118.526 24.175 117.159 24.175ZM117.159 21.5C118.309 21.5 119.259 21.1167 120.009 20.35C120.759 19.5833 121.134 18.575 121.134 17.325C121.134 16.075 120.759 15.0667 120.009 14.3C119.259 13.5333 118.309 13.15 117.159 13.15C116.009 13.15 115.059 13.5333 114.309 14.3C113.576 15.0667 113.209 16.075 113.209 17.325C113.209 18.575 113.576 19.5833 114.309 20.35C115.059 21.1167 116.009 21.5 117.159 21.5ZM140.197 10.65V24H137.222V22.3C136.722 22.9 136.097 23.3667 135.347 23.7C134.597 24.0167 133.789 24.175 132.922 24.175C131.139 24.175 129.731 23.6833 128.697 22.7C127.681 21.7 127.172 20.225 127.172 18.275V10.65H130.297V17.85C130.297 19.05 130.564 19.95 131.097 20.55C131.647 21.1333 132.422 21.425 133.422 21.425C134.539 21.425 135.422 21.0833 136.072 20.4C136.739 19.7 137.072 18.7 137.072 17.4V10.65H140.197ZM151.689 10.5C152.989 10.5 154.147 10.7833 155.164 11.35C156.197 11.9167 157.006 12.7167 157.589 13.75C158.172 14.7833 158.464 15.975 158.464 17.325C158.464 18.675 158.172 19.875 157.589 20.925C157.006 21.9583 156.197 22.7583 155.164 23.325C154.147 23.8917 152.989 24.175 151.689 24.175C149.889 24.175 148.464 23.575 147.414 22.375V28.85H144.289V10.65H147.264V12.4C147.781 11.7667 148.414 11.2917 149.164 10.975C149.931 10.6583 150.772 10.5 151.689 10.5ZM151.339 21.5C152.489 21.5 153.431 21.1167 154.164 20.35C154.914 19.5833 155.289 18.575 155.289 17.325C155.289 16.075 154.914 15.0667 154.164 14.3C153.431 13.5333 152.489 13.15 151.339 13.15C150.589 13.15 149.914 13.325 149.314 13.675C148.714 14.0083 148.239 14.4917 147.889 15.125C147.539 15.7583 147.364 16.4917 147.364 17.325C147.364 18.1583 147.539 18.8917 147.889 19.525C148.239 20.1583 148.714 20.65 149.314 21C149.914 21.3333 150.589 21.5 151.339 21.5Z', fill='#333333')
					path(d='M201 0V9.24131H197.364V3.5205H174.636V9.24131H171V0H201ZM171 19.8028H174.636V25.5236H197.364V19.8028H201V29.0441H171V19.8028ZM178.197 14.082L186 4.40062L193.803 14.082H201V17.6025H191.909L186 10.1214L180.091 17.6025H171V14.082H178.197Z', fill='#D64356')
				symbol#message(viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M2.97502 12.8917C2.68335 12.8917 2.45002 12.8334 2.15835 12.775C1.98335 12.7167 1.80835 12.6 1.69169 12.4834L1.63335 12.425C1.57502 12.3667 1.51669 12.25 1.51669 12.1917C1.51669 12.075 1.57502 12.0167 1.69169 11.9584C2.15835 11.725 2.56669 11.3167 2.80002 10.85C2.85835 10.7917 2.91669 10.7334 2.91669 10.675C1.28335 9.68338 0.291687 8.10838 0.291687 6.41672C0.291687 3.50005 3.32502 1.05005 7.00002 1.05005C10.675 1.05005 13.7084 3.50005 13.7084 6.41672C13.7084 9.33338 10.675 11.7834 7.00002 11.7834C6.65002 11.7834 6.24169 11.7834 5.89169 11.725C5.01669 12.4834 3.96669 12.8917 2.97502 12.8917Z' fill='white')
				symbol#phone(viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M3.34201 6.17993C4.32201 8.1059 5.8975 9.68139 7.82688 10.6614L9.3241 9.16076C9.51125 8.97361 9.78007 8.91917 10.0149 8.99403C10.7771 9.24583 11.5972 9.38194 12.4444 9.38194C12.8222 9.38194 13.125 9.68479 13.125 10.0625V12.4444C13.125 12.8222 12.8222 13.125 12.4444 13.125C6.05403 13.125 0.875 7.94597 0.875 1.55556C0.875 1.17785 1.18125 0.875 1.55556 0.875H3.9375C4.31521 0.875 4.61806 1.17785 4.61806 1.55556C4.61806 2.40285 4.75417 3.22292 5.00597 3.98514C5.08083 4.21993 5.02639 4.48875 4.83924 4.6759L3.34201 6.17993Z' fill='white')
				symbol#phone_mobile(viewBox='0 0 23 23' xmlns='http://www.w3.org/2000/svg')
					g(clip-path='url(#clip0)')
						path(d='M18.0571 11.4952C18.0571 11.7999 18.2857 12.1047 18.6667 12.1047C19.0476 12.1047 19.2762 11.8761 19.2762 11.4952C19.2762 7.30469 15.8476 3.87612 11.6571 3.87612C11.3524 3.87612 11.0476 4.10469 11.0476 4.48564C11.0476 4.8666 11.2762 5.09517 11.6571 5.09517C15.1619 5.01898 18.0571 7.91421 18.0571 11.4952ZM11.0476 7.53326C11.0476 7.83802 11.2762 8.14279 11.6571 8.14279C13.4857 8.14279 14.9333 9.59041 14.9333 11.419C14.9333 11.7237 15.1619 12.0285 15.5429 12.0285C15.9238 12.0285 16.1524 11.7999 16.1524 11.419C16.1524 8.98088 14.1714 6.99993 11.7333 6.99993C11.2762 6.99993 11.0476 7.2285 11.0476 7.53326ZM11.5809 0.295166C11.2762 0.295166 10.9714 0.523737 10.9714 0.90469C10.9714 1.28564 11.2 1.51421 11.5809 1.51421C17.0667 1.51421 21.5619 6.00945 21.5619 11.4952C21.5619 11.7999 21.7905 12.1047 22.1714 12.1047C22.5524 12.1047 22.7809 11.8761 22.7809 11.4952C22.7048 5.32374 17.7524 0.295166 11.5809 0.295166ZM14.7809 13.6285C14.7048 13.5523 14.5524 13.4761 14.4 13.4761C14.2476 13.4761 14.0952 13.5523 14.019 13.6285L12.8 14.8475C12.3429 15.3047 11.5809 15.3047 11.1238 14.8475L8.30476 12.2571C7.84762 11.7999 7.84762 11.038 8.30476 10.5809L9.67619 9.20945C9.90476 8.98088 9.90476 8.59993 9.67619 8.37136L4.03809 2.80945C3.9619 2.73326 3.80952 2.65707 3.65714 2.65707C3.50476 2.65707 3.35238 2.73326 3.27619 2.80945C3.2 2.88564 1.44762 4.63802 1.06666 5.09517C-1.99676e-06 6.16183 -0.152383 8.37136 0.609522 10.2761C2.28571 14.4666 7.84762 19.5714 12.4952 22.3904C12.8762 22.619 13.7905 22.8475 14.7048 22.8475C15.5429 22.8475 16.7619 22.6952 17.8286 21.7809C18.819 20.9428 19.9619 19.7237 20.0381 19.6475C20.2667 19.419 20.2667 19.038 20.0381 18.8856L14.7809 13.6285ZM17.0667 20.8666C16.3048 21.5523 15.3905 21.6285 14.7048 21.6285C13.8667 21.6285 13.181 21.3999 13.1048 21.3237C7.84762 18.1999 3.04762 13.3999 1.67619 9.81898C1.06666 8.21898 1.29524 6.4666 1.82857 5.85707C2.13333 5.55231 3.04762 4.63802 3.65714 4.0285L8.38095 8.75231L7.39047 9.74279C6.47619 10.6571 6.47619 12.1047 7.39047 13.019L10.2095 15.6095C11.0476 16.4475 12.5714 16.4475 13.4857 15.6095L14.3238 14.7714L18.7429 19.1904C18.3619 19.7237 17.6762 20.4095 17.0667 20.8666Z')
					defs
						clippath#clip0
							rect(width='22.8571' height='22.8571' fill='white' transform='translate(0 0.142822)')
				symbol#arrow_right(viewBox='0 0 11 18' xmlns='http://www.w3.org/2000/svg')
					g(clip-path='url(#clip0)')
						path(d='M1.39783 0.401611L-0.0241699 1.82361L7.37037 9.21884L-0.0241699 16.6134L1.39783 18.0361L10.2151 9.21884L1.39783 0.401611Z')
					defs
						clippath#clip0
							rect(width='10.3846' height='18' fill='white')
				symbol#percent(viewbox='0 0 27 30')
					path(d='M0.726874 6.60815C0.726874 4.8894 1.28026 3.48315 2.38703 2.3894C3.4938 1.28263 4.94562 0.729248 6.7425 0.729248C8.56542 0.729248 10.0237 1.28263 11.1175 2.3894C12.2243 3.48315 12.7777 4.92196 12.7777 6.70581V8.11206C12.7777 9.81779 12.2243 11.2175 11.1175 12.3113C10.0237 13.405 8.57844 13.9519 6.78156 13.9519C5.02375 13.9519 3.57193 13.4181 2.42609 12.3503C1.29328 11.2696 0.726874 9.81779 0.726874 7.99487V6.60815ZM4.04719 8.11206C4.04719 9.0105 4.29458 9.73966 4.78937 10.2996C5.29719 10.8464 5.96125 11.1199 6.78156 11.1199C7.58885 11.1199 8.2399 10.8464 8.73469 10.2996C9.22948 9.73966 9.47687 8.98446 9.47687 8.03394V6.60815C9.47687 5.70972 9.22297 4.98055 8.71516 4.42065C8.22036 3.86076 7.56281 3.58081 6.7425 3.58081C5.92219 3.58081 5.26463 3.86727 4.76984 4.44019C4.28807 5.00008 4.04719 5.74227 4.04719 6.66675V8.11206ZM14.3987 22.6042C14.3987 20.8595 14.9652 19.4467 16.098 18.366C17.2308 17.2852 18.6761 16.7449 20.4339 16.7449C22.2047 16.7449 23.6501 17.2852 24.7698 18.366C25.9027 19.4467 26.4691 20.905 26.4691 22.741V24.1277C26.4691 25.8204 25.9222 27.2201 24.8284 28.3269C23.7477 29.4207 22.2959 29.9675 20.473 29.9675C18.6501 29.9675 17.1787 29.4272 16.0589 28.3464C14.9521 27.2527 14.3987 25.8139 14.3987 24.03V22.6042ZM17.7191 24.1277C17.7191 25.0131 17.973 25.7423 18.4808 26.3152C19.0016 26.8751 19.6657 27.155 20.473 27.155C21.3063 27.155 21.9573 26.8881 22.4261 26.3542C22.9079 25.8074 23.1487 25.0457 23.1487 24.0691V22.6042C23.1487 21.6928 22.8948 20.9636 22.387 20.4167C21.8792 19.8699 21.2282 19.5964 20.4339 19.5964C19.6266 19.5964 18.9691 19.8699 18.4612 20.4167C17.9665 20.9636 17.7191 21.7188 17.7191 22.6824V24.1277ZM7.75812 27.448L5.31672 26.0417L19.2034 3.81519L21.6448 5.22144L7.75812 27.448Z')
				symbol#sale_label(viewBox='0 0 35 35' version='1.1')
					g(id='#edededed')
						path(d=' M 29.56 3.88 C 30.62 3.02 31.49 1.02 33.19 2.00 C 33.45 3.62 32.10 4.44 31.12 5.45 C 31.07 8.96 31.27 12.48 31.02 15.98 C 25.18 21.77 19.52 27.78 13.48 33.34 C 9.07 30.15 5.40 25.70 1.52 21.80 C 6.99 15.51 13.29 9.87 19.12 3.87 C 22.60 3.85 26.08 3.86 29.56 3.88 M 4.29 21.63 C 7.23 24.71 10.23 27.74 13.33 30.65 C 18.54 25.37 23.84 20.17 29.05 14.88 C 29.08 12.62 29.06 10.35 29.06 8.09 L 28.07 8.10 C 28.14 9.95 28.09 12.61 25.81 13.05 C 22.69 14.54 20.07 9.44 22.85 7.63 C 23.97 6.05 26.68 8.14 27.31 5.98 C 24.88 5.90 22.45 5.94 20.02 5.95 C 14.71 11.11 9.52 16.40 4.29 21.63 M 24.03 9.24 C 24.03 9.66 24.03 10.50 24.03 10.92 C 26.74 12.24 25.94 8.79 24.03 9.24 Z')
						path(d=' M 8.92 20.52 C 11.99 17.29 15.11 14.06 18.42 11.09 L 19.56 11.80 L 19.38 12.74 C 16.30 15.84 13.33 19.08 10.01 21.93 C 9.74 21.58 9.19 20.87 8.92 20.52 Z')
						path(d=' M 17.39 20.79 C 18.77 18.63 20.91 17.05 22.67 15.21 C 22.99 15.52 23.63 16.12 23.94 16.42 C 22.14 18.31 20.52 20.60 18.18 21.86 L 17.39 20.79 Z')
				symbol#cash(viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg')
					path(d='M30.3869 14.0259V6.39724C30.3869 4.20618 25.8288 3.19862 21.5907 3.19862C20.2513 3.19344 18.9139 3.30043 17.5924 3.51848V3.19862C17.5924 1.00756 13.0344 0 8.7962 0C4.55803 0 0 1.00756 0 3.19862V27.1883C0 29.3793 4.55803 30.3869 8.7962 30.3869C10.3153 30.3895 11.8311 30.2449 13.3222 29.9551C15.5685 31.4687 18.2615 32.1764 20.9618 31.9626C23.6621 31.7488 26.2101 30.6261 28.1902 28.7778C30.1703 26.9295 31.4655 24.4646 31.8645 21.7854C32.2634 19.1063 31.7425 16.371 30.3869 14.0259ZM25.413 9.30798C26.5804 9.15388 27.718 8.825 28.7876 8.3324V11.8669C27.8223 10.8218 26.6798 9.95548 25.413 9.30798ZM8.7962 6.39724C11.2574 6.48778 13.7099 6.05722 15.9931 5.13378V7.99655C15.8651 8.44435 13.4662 9.59586 8.7962 9.59586C4.12622 9.59586 1.72725 8.42836 1.59931 7.99655V5.13378C3.88248 6.05722 6.33502 6.48778 8.7962 6.39724ZM8.70024 15.9931C8.30811 17.0184 8.07094 18.0965 7.99655 19.1917C3.83834 19.0638 1.67927 18.0242 1.59931 17.5924V14.7296C3.85363 15.6367 6.27141 16.0669 8.70024 15.9931ZM1.59931 22.3903V19.5276C3.62522 20.3741 5.80092 20.8038 7.99655 20.791C8.07326 21.8829 8.29927 22.9591 8.66826 23.9896C4.09423 23.9896 1.72725 22.8221 1.59931 22.3903ZM9.40394 14.3938H8.7962C4.12622 14.3938 1.72725 13.2263 1.59931 12.7945V9.93171C3.88248 10.8552 6.33502 11.2857 8.7962 11.1952C9.89779 11.1991 10.9984 11.1297 12.0908 10.9873C10.9963 11.9507 10.0859 13.105 9.40394 14.3938ZM21.5907 4.79793C26.2767 4.79793 28.6756 5.96542 28.7876 6.39724C28.8995 6.82905 26.2767 7.99655 21.5907 7.99655C20.2507 7.9996 18.913 7.88723 17.5924 7.66069V5.13378C18.913 4.90724 20.2507 4.79487 21.5907 4.79793ZM8.7962 1.59931C13.4342 1.59931 15.8332 2.75081 15.9931 3.19862C15.8332 3.63043 13.5941 4.70197 9.29199 4.79793H8.7962C4.12622 4.79793 1.72725 3.63043 1.59931 3.19862C1.72725 2.76681 4.12622 1.59931 8.7962 1.59931ZM8.7962 28.7876C4.12622 28.7876 1.72725 27.6201 1.59931 27.1883V24.3255C3.88248 25.2489 6.33502 25.6795 8.7962 25.5889H9.38795C9.9804 26.7102 10.7469 27.7305 11.659 28.6116C10.7092 28.7286 9.75315 28.7874 8.7962 28.7876ZM19.9914 30.3869C17.9353 30.3869 15.9255 29.7772 14.2159 28.6349C12.5064 27.4926 11.174 25.8691 10.3872 23.9696C9.60036 22.07 9.39449 19.9798 9.7956 17.9633C10.1967 15.9468 11.1868 14.0945 12.6406 12.6406C14.0945 11.1868 15.9468 10.1967 17.9633 9.7956C19.9798 9.39449 22.07 9.60036 23.9696 10.3872C25.8691 11.174 27.4926 12.5064 28.6349 14.2159C29.7772 15.9255 30.3869 17.9353 30.3869 19.9914C30.3827 22.7471 29.2861 25.3888 27.3374 27.3374C25.3888 29.2861 22.7471 30.3826 19.9914 30.3869Z')
				symbol#btn__icon-modal(viewbox='0 0 27 28', xmlns='http://www.w3.org/2000/svg')
					path(d='M17.1196 27.1335C16.8904 27.1335 16.6805 27.0013 16.5822 26.7926L11.576 16.1526L1.1548 11.3626C0.936898 11.2625 0.800633 11.041 0.809242 10.8012C0.818149 10.5613 0.970445 10.3505 1.19518 10.2668L25.9284 1.03191C26.1449 0.951456 26.3892 1.00341 26.5534 1.1661C26.7181 1.32878 26.7727 1.57252 26.6944 1.79013L17.678 26.7416C17.5966 26.9675 17.387 27.1216 17.1472 27.1329C17.1377 27.1332 17.1285 27.1335 17.1196 27.1335ZM2.94793 10.8798L12.2686 15.1643C12.396 15.2228 12.4984 15.3244 12.5581 15.4508L17.0474 24.9921L25.1414 2.59347L2.94793 10.8798Z')
					path(d='M12.021 16.2972C11.869 16.2972 11.7173 16.2393 11.6012 16.1233C11.3694 15.8917 11.3694 15.5156 11.6012 15.2837L25.7162 1.16848C25.948 0.936618 26.3239 0.936618 26.5557 1.16848C26.7876 1.40034 26.7876 1.77618 26.5557 2.00804L12.4408 16.1233C12.3247 16.2393 12.173 16.2972 12.021 16.2972Z')
				symbol#facebook(viewBox='0 0 13 24', xmlns='http://www.w3.org/2000/svg')
					path(d='M8.2666 23.6055V13.2256H11.7559L12.2744 9.18262H8.2666V6.59863C8.2666 5.42969 8.59179 4.62988 10.2705 4.62988H12.415V1.00879C12.0459 0.956054 10.7715 0.850586 9.29491 0.850586C6.20117 0.850586 4.09179 2.74023 4.09179 6.20312V9.19141H0.59375V13.2344H4.09179V23.6055H8.2666Z')
				symbol#instagram(viewBox='0 0 23 24', xmlns='http://www.w3.org/2000/svg')
					path(d='M22.2842 4.77051C21.9941 4.02344 21.6074 3.39062 20.9746 2.75781C20.3418 2.125 19.709 1.73828 18.9619 1.44824C18.2412 1.16699 17.4062 0.973632 16.2021 0.920897C14.9893 0.868163 14.6025 0.850586 11.5088 0.850586C8.41504 0.850586 8.02832 0.859374 6.81543 0.920897C5.60254 0.973632 4.77637 1.16699 4.05566 1.44824C3.30859 1.73828 2.67578 2.125 2.04297 2.75781C1.41016 3.39062 1.02344 4.02344 0.733399 4.77051C0.452149 5.49121 0.258789 6.32617 0.206055 7.53027C0.153321 8.74316 0.135742 9.12988 0.135742 12.2236C0.135742 15.3174 0.144532 15.7041 0.206055 16.917C0.258789 18.1299 0.452149 18.9561 0.733399 19.6768C1.02344 20.4238 1.41016 21.0566 2.04297 21.6895C2.67578 22.3223 3.30859 22.709 4.05566 22.999C4.77637 23.2803 5.61133 23.4736 6.81543 23.5264C8.02832 23.5791 8.41504 23.5967 11.5088 23.5967C14.6025 23.5967 14.9893 23.5879 16.2021 23.5264C17.415 23.4736 18.2412 23.2803 18.9619 22.999C19.709 22.709 20.3418 22.3223 20.9746 21.6895C21.6074 21.0566 21.9941 20.4238 22.2842 19.6768C22.5654 18.9561 22.7588 18.1211 22.8115 16.917C22.8643 15.7041 22.8818 15.3174 22.8818 12.2236C22.8818 9.12988 22.873 8.74316 22.8115 7.53027C22.7588 6.31738 22.5654 5.49121 22.2842 4.77051ZM20.7637 16.8203C20.7109 17.9277 20.5264 18.5342 20.3682 18.9297C20.166 19.457 19.9111 19.8437 19.5156 20.2393C19.1201 20.6348 18.7422 20.8809 18.2061 21.0918C17.8018 21.25 17.2041 21.4346 16.0967 21.4873C14.8926 21.54 14.541 21.5576 11.5 21.5576C8.45898 21.5576 8.09863 21.5488 6.90332 21.4873C5.7959 21.4346 5.18945 21.25 4.79395 21.0918C4.2666 20.8896 3.87988 20.6348 3.48438 20.2393C3.08887 19.8437 2.84277 19.4658 2.63184 18.9297C2.47363 18.5254 2.28906 17.9277 2.23633 16.8203C2.18359 15.6162 2.16602 15.2559 2.16602 12.2236C2.16602 9.19141 2.17481 8.82227 2.23633 7.62695C2.28906 6.51953 2.47363 5.91309 2.63184 5.51758C2.83399 4.99023 3.08887 4.60352 3.48438 4.20801C3.87988 3.8125 4.25781 3.56641 4.79395 3.35547C5.19824 3.19727 5.7959 3.0127 6.90332 2.95996C8.10742 2.90723 8.46777 2.88965 11.5 2.88965C14.5322 2.88965 14.9014 2.89844 16.0967 2.95996C17.2041 3.0127 17.8105 3.19727 18.2061 3.35547C18.7334 3.55762 19.1201 3.8125 19.5156 4.20801C19.9111 4.60352 20.1572 4.98145 20.3682 5.51758C20.5264 5.92188 20.7109 6.51953 20.7637 7.62695C20.8164 8.83105 20.834 9.19141 20.834 12.2236C20.834 15.2559 20.8164 15.625 20.7637 16.8203Z')
					path(d='M11.5 6.37891C8.27441 6.37891 5.65527 8.99805 5.65527 12.2236C5.65527 15.4492 8.27441 18.0684 11.5 18.0684C14.7256 18.0684 17.3447 15.4492 17.3447 12.2236C17.3447 8.99805 14.7256 6.37891 11.5 6.37891ZM11.5 16.0205C9.4082 16.0205 7.70313 14.3242 7.70313 12.2236C7.70313 10.1318 9.39941 8.42676 11.5 8.42676C13.6006 8.42676 15.2969 10.123 15.2969 12.2236C15.2969 14.3154 13.5918 16.0205 11.5 16.0205Z')
					path(d='M17.5732 7.5127C18.3256 7.5127 18.9355 6.90277 18.9355 6.15039C18.9355 5.39801 18.3256 4.78809 17.5732 4.78809C16.8209 4.78809 16.2109 5.39801 16.2109 6.15039C16.2109 6.90277 16.8209 7.5127 17.5732 7.5127Z')
				symbol#in(viewBox='0 0 23 24', xmlns='http://www.w3.org/2000/svg')
					path(d='M0.469726 8.40039H5.19824V23.6055H0.469726V8.40039ZM2.84277 0.841797C4.35449 0.841797 5.58496 2.07227 5.58496 3.58398C5.58496 5.0957 4.35449 6.32617 2.84277 6.32617C1.32227 6.32617 0.100586 5.0957 0.100586 3.58398C0.100586 2.07227 1.32227 0.841797 2.84277 0.841797Z')
					path(d='M8.16895 8.40039H12.6953V10.4834H12.7568C13.3896 9.28809 14.9277 8.03125 17.2305 8.03125C22.0117 8.03125 22.8994 11.1777 22.8994 15.2734V23.6055H18.1797V16.2139C18.1797 14.4473 18.1533 12.1797 15.7275 12.1797C13.2666 12.1797 12.8975 14.1045 12.8975 16.082V23.6055H8.17773L8.16895 8.40039Z')
				symbol#twitter(viewBox='0 0 29 24', xmlns='http://www.w3.org/2000/svg')
					path(d='M9.30567 23.6054C19.8789 23.6054 25.6621 14.8427 25.6621 7.24892C25.6621 7.00283 25.6621 6.75674 25.6445 6.50185C26.7695 5.68447 27.7363 4.68252 28.5098 3.52236C27.4639 3.98818 26.3477 4.2958 25.2051 4.42764C26.4092 3.70693 27.3057 2.58193 27.7363 1.246C26.6113 1.91397 25.3721 2.38857 24.0889 2.64346C21.9092 0.331934 18.2705 0.217676 15.959 2.39736C14.4648 3.80361 13.832 5.89541 14.2979 7.89053C9.67481 7.66201 5.36817 5.47353 2.4502 1.8876C0.920899 4.51553 1.70313 7.87295 4.22559 9.56045C3.31152 9.53408 2.41504 9.28799 1.61523 8.83975C1.61523 8.86611 1.61523 8.88369 1.61523 8.91006C1.61523 11.6435 3.54883 13.9989 6.22949 14.5438C5.38574 14.7724 4.49805 14.8075 3.63672 14.6405C4.39258 16.9784 6.5459 18.5868 9.00684 18.6308C6.96777 20.2304 4.4541 21.1005 1.87012 21.1005C1.41309 21.1005 0.956055 21.0741 0.499023 21.0214C3.11816 22.7089 6.17676 23.6054 9.30567 23.6054Z')
				symbol#directions1(viewBox='0 0 46 22', xmlns='http://www.w3.org/2000/svg')
					path(d='M10.8269 16.0896H0V22H13.8172L22.5818 9.52239L31.5526 22H45.2667V16.0896H34.4398L22.5818 0L10.8269 16.0896Z')
				symbol#directions2(viewBox='0 0 7 31', xmlns='http://www.w3.org/2000/svg')
					rect(width='30.625', height='6.88841', transform='matrix(0 -1 -1 0 6.93921 30.625)')
				symbol#directions3(viewBox='0 0 18 18', xmlns='http://www.w3.org/2000/svg')
					g(id='#d64356ff')
						path(opacity='1.00', d=' M 7.59 0.00 L 9.69 0.00 C 14.53 0.47 18.39 5.13 17.73 10.00 C 17.44 14.06 14.09 17.21 10.22 18.00 L 8.38 18.00 C 4.06 17.76 0.75 14.20 0.00 10.07 L 0.00 8.55 C 0.27 4.32 3.53 0.92 7.59 0.00 M 7.36 6.51 C 4.15 8.34 7.53 13.95 10.53 11.44 C 13.69 9.55 10.38 4.18 7.36 6.51 Z')
				symbol#directions4(viewBox='0 0 34 24', xmlns='http://www.w3.org/2000/svg')
					path(d='M9.78502 8.37209L0.0333252 18.5781L4.83299 24L12.9848 15.4684H23.8031L33.5548 5.10299L28.5266 0L20.6795 8.37209H9.78502Z')
				symbol#directions5(viewBox='0 0 22 28', xmlns='http://www.w3.org/2000/svg')
					rect(x='0.259399', y='13.2319', width='6.58891', height='14.3478')
					rect(x='7.78961', y='8.44922', width='6.58891', height='19.1304')
					rect(x='15.3198', width='6.58891', height='27.8986')
				symbol#logo_white(viewBox='0 0 103 22', fill='none', xmlns='http://www.w3.org/2000/svg')
					path(d='M8.086 20.26C6.682 20.26 5.32133 20.0607 4.004 19.662C2.704 19.2633 1.67267 18.7347 0.91 18.076L2.08 15.45C2.82533 16.0393 3.73533 16.5247 4.81 16.906C5.902 17.27 6.994 17.452 8.086 17.452C9.438 17.452 10.4433 17.2353 11.102 16.802C11.778 16.3687 12.116 15.7967 12.116 15.086C12.116 14.566 11.9253 14.1413 11.544 13.812C11.18 13.4653 10.712 13.1967 10.14 13.006C9.568 12.8153 8.788 12.5987 7.8 12.356C6.41333 12.0267 5.28667 11.6973 4.42 11.368C3.57067 11.0387 2.834 10.5273 2.21 9.834C1.60333 9.12333 1.3 8.17 1.3 6.974C1.3 5.96867 1.56867 5.05867 2.106 4.244C2.66067 3.412 3.484 2.75333 4.576 2.268C5.68533 1.78267 7.03733 1.54 8.632 1.54C9.74133 1.54 10.8333 1.67867 11.908 1.956C12.9827 2.23333 13.91 2.632 14.69 3.152L13.624 5.778C12.8267 5.31 11.9947 4.95467 11.128 4.712C10.2613 4.46933 9.42067 4.348 8.606 4.348C7.27133 4.348 6.27467 4.57333 5.616 5.024C4.97467 5.47467 4.654 6.07267 4.654 6.818C4.654 7.338 4.836 7.76267 5.2 8.092C5.58133 8.42133 6.058 8.68133 6.63 8.872C7.202 9.06267 7.982 9.27933 8.97 9.522C10.322 9.834 11.4313 10.1633 12.298 10.51C13.1647 10.8393 13.9013 11.3507 14.508 12.044C15.132 12.7373 15.444 13.6733 15.444 14.852C15.444 15.8573 15.1667 16.7673 14.612 17.582C14.0747 18.3967 13.2513 19.0467 12.142 19.532C11.0327 20.0173 9.68067 20.26 8.086 20.26ZM27.2976 20.26C25.4429 20.26 23.7702 19.8613 22.2796 19.064C20.7889 18.2493 19.6189 17.1313 18.7696 15.71C17.9202 14.2713 17.4956 12.668 17.4956 10.9C17.4956 9.132 17.9202 7.53733 18.7696 6.116C19.6189 4.67733 20.7889 3.55933 22.2796 2.762C23.7702 1.94733 25.4429 1.54 27.2976 1.54C29.1522 1.54 30.8249 1.94733 32.3156 2.762C33.8062 3.55933 34.9762 4.66867 35.8256 6.09C36.6749 7.51133 37.0996 9.11467 37.0996 10.9C37.0996 12.6853 36.6749 14.2887 35.8256 15.71C34.9762 17.1313 33.8062 18.2493 32.3156 19.064C30.8249 19.8613 29.1522 20.26 27.2976 20.26ZM27.2976 17.296C28.5109 17.296 29.6029 17.0273 30.5736 16.49C31.5442 15.9353 32.3069 15.1727 32.8616 14.202C33.4162 13.214 33.6936 12.1133 33.6936 10.9C33.6936 9.68667 33.4162 8.59467 32.8616 7.624C32.3069 6.636 31.5442 5.87333 30.5736 5.336C29.6029 4.78133 28.5109 4.504 27.2976 4.504C26.0842 4.504 24.9922 4.78133 24.0216 5.336C23.0509 5.87333 22.2882 6.636 21.7336 7.624C21.1789 8.59467 20.9016 9.68667 20.9016 10.9C20.9016 12.1133 21.1789 13.214 21.7336 14.202C22.2882 15.1727 23.0509 15.9353 24.0216 16.49C24.9922 17.0273 26.0842 17.296 27.2976 17.296ZM52.5903 20L48.8723 14.67C48.7163 14.6873 48.4823 14.696 48.1703 14.696H44.0623V20H40.6823V1.8H48.1703C49.7476 1.8 51.1169 2.06 52.2783 2.58C53.4569 3.1 54.3583 3.84533 54.9823 4.816C55.6063 5.78667 55.9183 6.93933 55.9183 8.274C55.9183 9.64333 55.5803 10.822 54.9043 11.81C54.2456 12.798 53.2923 13.5347 52.0443 14.02L56.2303 20H52.5903ZM52.5123 8.274C52.5123 7.11267 52.1309 6.22 51.3683 5.596C50.6056 4.972 49.4876 4.66 48.0143 4.66H44.0623V11.914H48.0143C49.4876 11.914 50.6056 11.602 51.3683 10.978C52.1309 10.3367 52.5123 9.43533 52.5123 8.274ZM67.1879 1.8C68.7652 1.8 70.1345 2.06 71.2959 2.58C72.4745 3.1 73.3759 3.84533 73.9999 4.816C74.6239 5.78667 74.9359 6.93933 74.9359 8.274C74.9359 9.59133 74.6239 10.744 73.9999 11.732C73.3759 12.7027 72.4745 13.448 71.2959 13.968C70.1345 14.488 68.7652 14.748 67.1879 14.748H63.0799V20H59.6999V1.8H67.1879ZM67.0319 11.888C68.5052 11.888 69.6232 11.576 70.3859 10.952C71.1485 10.328 71.5299 9.43533 71.5299 8.274C71.5299 7.11267 71.1485 6.22 70.3859 5.596C69.6232 4.972 68.5052 4.66 67.0319 4.66H63.0799V11.888H67.0319Z', fill='white')
					path(d='M102.986 1V7.46892H100.44V3.46435H84.5311V7.46892H81.9856V1H102.986ZM81.9856 14.862H84.5311V18.8665H100.44V14.862H102.986V21.3309H81.9856V14.862ZM87.0234 10.8574L92.4856 4.08044L97.9478 10.8574H102.986V13.3217H96.622L92.4856 8.085L88.3492 13.3217H81.9856V10.8574H87.0234Z', fill='#D64356')

			header
				include ../blocks/header/header

				<nav class="nav{if $_modx->resource.id == '1' || $_modx->resource.id == '80' || $_modx->resource.id == '477'} nav_main{/if}">
					.nav__container
						.nav__item-box
							a.nav__item(href="/biznes-v-oae/") Создание бизнеса
							section.nav__submenu
								.nav__scroll
									.nav__container
										.nav__submenu-container
											.nav__submenu-head
												.nav__submenu-head-title-box
													h2.nav__submenu-head-title Открытие бизнеса в ОАЭ
													a.nav__submenu-head-btn.btn.btn_h35.btn_font-s14.btn_border1.btn_radius5(href="/biznes-v-oae/")
														svg.btn__icon-svg.nav__submenu-head-btn-icon(xmlns='http://www.w3.org/2000/svg')
															use(xlink:href='#arrow_right')
												p.nav__submenu-head-subtitle От выбора направления до реализации проекта

											.nav__submenu-main
												.flex.flex_width4.flex_no-gutters
													.flex__item.flex__item_width3
														ul.block20
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как начать торговлю в ОАЭ
																	p.block20__text От выбора модели бизнеса до полного сопровождения
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/trade-hub/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как организовать бизнес в сфере услуг и сервиса в ОАЭ
																	p.block20__text От понимания требований до успешного запуска
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/business-services/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как открыть производство в ОАЭ
																	p.block20__text От выбора места размещения до сертификации выпущенной продукции
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/manufacturing/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как начать бизнес в ОАЭ
																	p.block20__text От понимания алгоритмов до создания поддержки
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/uae-business-setup/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как выйти на рынок ОАЭ
																	p.block20__text От стратегии и анализа до комплексного сопровождения
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/uae-market/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как лицензировать бизнес в ОАЭ
																	h3.block20__text От выбора активностей до юридического сопровождения
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/license/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как купить готовый бизнес в ОАЭ
																	p.block20__text От понимания важных моментов до обеспечения сделки
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/buy-business/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как эммигрировать в ОАЭ
																	p.block20__text От определения стратегий и процедур до исполнения
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/immigration-services/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как инвестировать в ОАЭ
																	p.block20__text От анализа направлений до реальных доходов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/investment/") Подробнее
													.flex__item
														.nav__block11.block11.block11_width1.block11_height2.block11_size-small.block11_white
															label.block11__item.js-modal(for="modal1" data-reason="Аренда офисных пространств в Дубае - Добавьте 3 месяца совершенно бесплатно к годовой аренде любого офиса в нашем бизнес Центре")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		p.block11__top-title Бесплатно
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#sale_label')
																	.block11__content
																		h3.block11__title Аренда офисных пространств в Дубае
																		p.block11__desc Добавьте 3 месяца совершенно бесплатно к годовой аренде любого офиса в нашем бизнес Центре
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">СПЕЦПРЕДЛОЖЕНИЕ</span> аренда офисов в Дубае
																	.modal__text
																		p.modal__text-p Офисное пространство необходимо для регистрации и функционирования компании в ОАЭ, включая открытие банковских счетов и продления лицензии.
																		p.modal__text-p Мы <span class="modal__text-bold">бесплатно</span> предлагаем <span class="modal__text-bold">3 дополнительных месяца</span> при оплате аренды офиса на целый год в современном бизнес-центре SORP, Barsha Heights, Tameem House Bld.
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Престижный бизнес-адрес в Дубае с удобной логистикой и отсутствием пробок в часы-пик
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Офисы различных размеров, переговорные, виртуальный офис, смарт-офисы, ко-воркинг
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Зоны для тренингов, нетворкинга и отдыха, услуги ресепшн и копирования, common area
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Все, что нужно для регистрации, лицензирова&shy;ния компании и прохождения проверок банка

															label.block11__item.js-modal(for="modal1" data-reason="Комплексное сопровождение бизнеса - Налоги, бухгалтерия, PRO, административная, правовая и консалтинговая поддержка.")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		.block11__top-title Экономия 30%
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#percent')
																	.block11__content
																		h3.block11__title Комплексное сопровождение бизнеса
																		p.block11__desc Налоги, бухгалтерия, PRO, административная, правовая и консалтинговая поддержка.
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">СПЕЦПРЕДЛОЖЕНИЕ</span> поддержка бизнеса
																	.modal__text
																		p.modal__text-p SORP имеет штат PRO-сотрудников, а также экспертов в юридических и налоговых вопросах. Мы решаем любые задачи в рамках комплексного сопровождения бизнеса
																		p.modal__text-p При заказе сервисов по организации бизнеса в ОАЭ Вы можете <span class="modal__text-bold">сэкономить 30%</span> на стоимости услуги поддер&shy;жки бизнеса 360° от профессионалов высокого класса!
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Защита интересов компании в госструктурах, вопросы иммиграции и трудовые процедуры
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Международный налоговый консальтинг, правовая поддержка, бухгалтерские услуги
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Получение разрешений, продление лицензий, сертификация продукции, визовые вопросы
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Торговые и логистические решения, постанов&shy;ка компании на учет в таможенных службах

									.nav__close-box
										.nav__close Закрыть меню

						.nav__item-box
							a.nav__item(href="/registratsiya-kompanii/") Регистрация бизнеса
							section.nav__submenu
								.nav__scroll
									.nav__container
										.nav__submenu-container
											.nav__submenu-head
												.nav__submenu-head-title-box
													h2.nav__submenu-head-title Регистрация компаний в ОАЭ
													a.nav__submenu-head-btn.btn.btn_h35.btn_font-s14.btn_border1.btn_radius5(href="/registratsiya-kompanii/")
														svg.btn__icon-svg.nav__submenu-head-btn-icon(xmlns='http://www.w3.org/2000/svg')
															use(xlink:href='#arrow_right')
												p.nav__submenu-head-subtitle От выбора юридического лица до полного сопровождения

											.nav__submenu-main
												.flex.flex_width4.flex_no-gutters
													.flex__item.flex__item_width3
														ul.block20
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Регистрация локальных компаний
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/local-company-in-uae/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Регистрация фризон компаний
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/freezone-company-in-uae/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Регистрация оффшорных компаний
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/uae-offshore/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Профессиональные компании
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Профессиональные компании") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Построение холдингов и структур
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/holding-company-in-uae/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Создание Арабского траста
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/trust/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Приобретение готовых юридических лиц
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/buy-company/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Решения по номинальному сервису
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/business-nominee-services/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Открытие банковских счетов в ОАЭ
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/bank-account/") Подробнее
													.flex__item
														.nav__block11.block11.block11_width1.block11_height2.block11_size-small.block11_white
															label.block11__item.js-modal(for="modal1" data-reason="Регистрация офшора в ОАЭ - Скидка на регистрацию офшорной компании в ОАЭ для ведения международного бизнеса")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		p.block11__top-title Скидка 75%
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#sale_label')
																	.block11__content
																		h3.block11__title Регистрация офшора в ОАЭ
																		p.block11__desc Скидка на регистрацию офшорной компании в ОАЭ для ведения международного бизнеса
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">СПЕЦПРЕДЛОЖЕНИЕ</span> регистрация офшора
																	.modal__text
																		p.modal__text-p Офшорная компания позволяет вести международный бизнес из ОАЭ с налоговыми и законодательными преи&shy;муществами этой страны.
																		p.modal__text-p Как прямой регистрирующий агент мы предлагаем Вам <span class="modal__text-bold">скидку 75%</span> на регистрацию офшорной компании. SORP быстро и качественно решит сопутствующие вопросы.
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Консультация по особенностям функциониро&shy;вания офшорных зон ОАЭ, специфике бизнеса
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Подготовка документов, представление инте&shy;ресов клиента в госструктурах
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Престижный регистрационный адрес в Дубае в бизнес-центре SORP
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text По запросу – возможность обеспечения услуг номинального сервиса

															label.block11__item.js-modal(for="modal1")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		p.block11__top-title Бесплатно
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#percent')
																	.block11__content
																		h3.block11__title Анализ бизнес-задач
																		p.block11__desc Консультация по выбору наиболее подходящей юридической структуры для ведения вашего бизнеса
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">СПЕЦПРЕДЛОЖЕНИЕ</span> анализ бизнес-задач
																	.modal__text
																		p.modal__text-p У Вас есть планы по развитию или ведению бизнеса в ОАЭ. Специфика деятельности диктует правила к реги&shy;страции и функционированию компании.
																		p.modal__text-p Эксперты SORP <span class="modal__text-bold">бесплатно</span> рассмотрят задачи Вашего бизнеса и дадут рекомендации для выбора наилучшей стратегии при заказе услуги регистрации компании.
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Анализ бизнеса, определение возможностей рынка в ОАЭ, подтверждение гипотез
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Рекомендации по месту регистрации, типу юридического лица и подходящей лицензии
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Консультация по определению дальнейших шагов и необходимых ресурсов
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Дополнительно можно приобрести услугу по практической адаптации бизнес-стратегии

								.nav__close-box
									.nav__close Закрыть меню

						.nav__item-box
							a.nav__item(href="/business-center/") Бизнес-центр в Дубае
							section.nav__submenu
								.nav__scroll
									.nav__container
										.nav__submenu-container
											.nav__submenu-head
												.nav__submenu-head-title-box
													h2.nav__submenu-head-title Бизнес-центр в ОАЭ
													a.nav__submenu-head-btn.btn.btn_h35.btn_font-s14.btn_border1.btn_radius5(href="/business-center/")
														svg.btn__icon-svg.nav__submenu-head-btn-icon(xmlns='http://www.w3.org/2000/svg')
															use(xlink:href='#arrow_right')
												p.nav__submenu-head-subtitle Престижный адрес и современное офисное пространство с возможностью лицензирования бизнеса

											.nav__submenu-main
												.flex.flex_width4.flex_no-gutters
													.flex__item.flex__item_width3
														ul.block20
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Аренда офисов в Дубае
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/office-rent-dubai/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Sustainability Space — эффективные решения
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/sustainability-office-dubai/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Аренда рабочих мест в коворкинге
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/coworking-dubai/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Переговорные комнаты и конференц-зал
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/meeting-room-dubai/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Аудитории для тренингов и ивентов
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/conference-room/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Виртуальный офис в Дубае
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/virtual-office-dubai/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Школа бизнеса SORP
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/business-school/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Многофункциональный аутсорсинговый центр
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Многофункциональный аутсорсинговый центр") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Бизнес-акселератор SORP
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Старт и релокация производства в ОАЭ с поддержкой экспертов") Подробнее
													.flex__item
														.nav__block11.block11.block11_width1.block11_height2.block11_size-small.block11_white
															label.block11__item.js-modal(for="modal1" data-reason="Профессиональная лицензия и виза - Регистрация профессиональной локальной компании с оформлением 3 летней визы для ее владельца")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		p.block11__top-title $5000 /mo.
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#cash')
																	.block11__content
																		h3.block11__title Профессиональная лицензия и виза
																		p.block11__desc Регистрация профессиональной локальной компании с оформлением 3 летней визы для ее владельца
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">АКЦИЯ:</span> резидентская виза и профлицензия
																	.modal__text
																		p.modal__text-p Вы сможете получить лицензию на профессиональную деятельность в Дубае, а к ней – партнерскую резидент&shy;скую визу на 3 года.
																		p.modal__text-p SORP выполнит комплекс задач <span class="modal__text-bold">всего за $5,000.</span> Стои&shy;мость включает предоставление полной регистрации компании, лицензии, партнерской визы на 1 владельца.
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Оформление юрлица с арабским наименова&shy;нием и одним участником-партнером
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Предоставление престижного юридического адреса в БЦ SORP, аккредитованном в DED
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Услуги сервсного агента для взаимодействия с госорганами и иммиграционными службами
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Организация оформления и получения рези&shy;дентской визы партнера на 3 года

															label.block11__item.js-modal(for="modal1" data-reason="Дубайский офис для банковской проверки - Договор аренды офиса на 1 год. Встреча представителей банка. При оплате 3-х месяцев аренды.")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		p.block11__top-title Экономия <br> до 75%
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#percent')
																	.block11__content
																		h3.block11__title Дубайский офис для банковской проверки
																		p.block11__desc Договор аренды офиса на 1 год. Встреча представителей банка. При оплате 3-х месяцев аренды.
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">АКЦИЯ:</span> офис для банковских проверок
																	.modal__text
																		p.modal__text-p Чтобы открыть банковскоий счета в Дубае потребуется подтвердить наличие здесь реального офиса компании в рамках прохождения процедур KYC.
																		p.modal__text-p Вы <span class="modal__text-bold">сэкономите до 75%</span> от бюджета при 100% качества с услугой бизнес-центра SORP, имеющим все права для сдачи офисов в аренду любому юрлицу на эти цели.
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Годовой контракт аренды при оплате только 3 месяцев – значимая экономия бюджета
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Активно действующий офис по престижному адресу в районе Barsha Heights в Дубае
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Встреча офицеров банка сотрудниками БЦ SORP, в том числе и при Вашем отсутствии
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Оборудованный офис с табличкой, доступ к переговорным комнатам бизнес-центра

									.nav__close-box
										.nav__close Закрыть меню

						.nav__item-box
							a.nav__item(href="/business-support/") Поддержка бизнеса
							section.nav__submenu
								.nav__scroll
									.nav__container
										.nav__submenu-container
											.nav__submenu-head
												.nav__submenu-head-title-box
													h2.nav__submenu-head-title Поддержка бизнеса в ОАЭ
													a.nav__submenu-head-btn.btn.btn_h35.btn_font-s14.btn_border1.btn_radius5(href="/business-support/")
														svg.btn__icon-svg.nav__submenu-head-btn-icon(xmlns='http://www.w3.org/2000/svg')
															use(xlink:href='#arrow_right')
												p.nav__submenu-head-subtitle От предоставления профессиональных услуг до помощи в управлении бизнесом

											.nav__submenu-main
												.flex.flex_width4.flex_no-gutters
													.flex__item.flex__item_width3
														ul.block20
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Правовая поддержка и PRO-услуги
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/legal-support/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Налоги и бухгалтерия в ОАЭ
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/taxes-and-accounting/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Продление лицензий в ОАЭ
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/license-renewal/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Легализация документов
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/documents-legalization/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Торговые и логистические решения
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/trade-and-logistic/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как сертифицировать продукцию
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/product-certification/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Управление бизнесом в ОАЭ
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/business-management/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Антикризисная поддержка бизнеса
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Антикризисная поддержка бизнеса") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Ошибки при открытии бизнеса в ОАЭ
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Ошибки при открытии бизнеса в ОАЭ") Подробнее
													.flex__item
														.nav__block11.block11.block11_width1.block11_height2.block11_size-small.block11_white
															label.block11__item.js-modal(for="modal1" data-reason="Комплексное сопровождение бизнеса - Налоги, бухгалтерия, PRO, административная, правовая и консалтинговая поддержка.")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		p.block11__top-title
																			| Скидка
																			br
																			|  30%
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#sale_label')
																	.block11__content
																		h3.block11__title Комплексное сопровождение бизнеса
																		p.block11__desc Налоги, бухгалтерия, PRO, административная, правовая и консалтинговая поддержка.
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">СПЕЦПРЕДЛОЖЕНИЕ</span> поддержка бизнеса
																	.modal__text
																		p.modal__text-p SORP имеет штат PRO-сотрудников, а также экспертов в юридических и налоговых вопросах. Мы решаем любые задачи в рамках комплексного сопровождения бизнеса
																		p.modal__text-p При заказе сервисов по организации бизнеса в ОАЭ Вы можете <span class="modal__text-bold">сэкономить 30%</span> на стоимости услуги поддер&shy;жки бизнеса 360° от профессионалов высокого класса!
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Защита интересов компании в госструктурах, вопросы иммиграции и трудовые процедуры
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Международный налоговый консальтинг, правовая поддержка, бухгалтерские услуги
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Получение разрешений, продление лицензий, сертификация продукции, визовые вопросы
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Торговые и логистические решения, постанов&shy;ка компании на учет в таможенных службах

															label.block11__item.js-modal(for="modal1" data-reason="Защита владельца LLC компаний - Разработка соглашения о номинальном представительстве 51% локального партнера в LLC")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		.block11__top-title $700 /mo.
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#cash')
																	.block11__content
																		h3.block11__title Защита владельца LLC компаний
																		p.block11__desc Разработка соглашения о номинальном представительстве 51% локального партнера в LLC
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">АКЦИЯ:</span> защита для владельца бизнеса LLC
																	.modal__text
																		p.modal__text-p При регистрации локальной компании в ОАЭ требуется привлечение местного партнера. Правильное оформле&shy;ние документов гарантирует стабильность бизнеса.
																		p.modal__text-p Более 15 лет опыта SORP в создании локальных бизнес структур в ОАЭ гарантирует качество нашей экспертизы  правильности оформления номинальных отношений.
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Экспертиза и формирование недостающего пакета документов, внесение рекомендаций
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Консультация по возможному объему работ для обеспечения полной защиты владельца
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Консультация по оформлению отказа от прав владения долей партнером в суде Дубая

									.nav__close-box
										.nav__close Закрыть меню

						.nav__item-box
							a.nav__item(href="/international-business/") Оптимизация бизнеса
							section.nav__submenu
								.nav__scroll
									.nav__container
										.nav__submenu-container
											.nav__submenu-head
												.nav__submenu-head-title-box
													h2.nav__submenu-head-title Оптимизация международного бизнеса из ОАЭ
													a.nav__submenu-head-btn.btn.btn_h35.btn_font-s14.btn_border1.btn_radius5(href="/international-business/")
														svg.btn__icon-svg.nav__submenu-head-btn-icon(xmlns='http://www.w3.org/2000/svg')
															use(xlink:href='#arrow_right')
												p.nav__submenu-head-subtitle Налоговые и законодательные преимущества ОАЭ для повышения эффективности бизнеса

											.nav__submenu-main
												.flex.flex_width4.flex_no-gutters
													.flex__item.flex__item_width3
														ul.block20
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Организация международной торговли из ОАЭ
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/trading-opportunities/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Оказание услуг и сервисов из ОАЭ
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Оказание услуг и сервисов из ОАЭ") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Инвестиции под флагом ОАЭ
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Инвестиции под флагом ОАЭ") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Оформление активов и недвижимости на компанию в ОАЭ
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Оформление активов и недвижимости на компанию в ОАЭ") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как вести бизнес без налогов, если оффшоры оказались вне закона
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/trade-and-logistic/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Бэк-офис в ОАЭ для эффективного управления бизнесом
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/product-certification/") Подробнее
													.flex__item
														.nav__block11.block11.block11_width1.block11_height1.block11_size-small.block11_white
															label.block11__item.js-modal(for="modal1" data-reason="Офис для фризон компании в Дубае - Арендуйте представительский офис  для вашей фризон компании в SORP бизнес-центре для работы, подтверждения Economic Substance  и прохождения процедур банковских проверок (KYC)")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		p.block11__top-title
																			| Экономия 30%
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#percent')
																	.block11__content
																		h3.block11__title Офис для фризон компании в Дубае
																		p.block11__desc Арендуйте представительский офис  для вашей фризон компании в SORP бизнес-центре для работы, подтверждения Economic Substance  и прохождения процедур банковских проверок (KYC)
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">АКЦИЯ:</span> офис для СЭЗ компаний в Дубае
																	.modal__text
																		p.modal__text-p Оптимальные по цене компании СЭЗ сталкиваются с трудностями в открытии банковских счетов, а также с невозможностью подтвердить Economic Substance.
																		p.modal__text-p Решением станет аренда физического офиса. Бизнес-центр SORP в Дубае предлагает <span class="modal__text-bold">скидку 30%</span> на аренду офисов для владельцев freezone компаний.
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Престижный юридический адрес в Дубае в действующем бизнес-центре
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Все, что нужно для подтверждения Economic Substance и прохождения процедур KYC
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Офисы различных размеров, переговорные, виртуальный офис, смарт-офисы, ко-воркинг
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Зоны для тренингов, нетворкинга и отдыха, услуги ресепшн и копирования, common area

									.nav__close-box
										.nav__close Закрыть меню

						.nav__item-box
							a.nav__item(href="/tax-adviser/") Международное налоговое планирование
							section.nav__submenu
								.nav__scroll
									.nav__container
										.nav__submenu-container
											.nav__submenu-head
												.nav__submenu-head-title-box
													h2.nav__submenu-head-title Международное налоговое планирование
													a.nav__submenu-head-btn.btn.btn_h35.btn_font-s14.btn_border1.btn_radius5(href="/tax-adviser/")
														svg.btn__icon-svg.nav__submenu-head-btn-icon(xmlns='http://www.w3.org/2000/svg')
															use(xlink:href='#arrow_right')
												p.nav__submenu-head-subtitle Применение инструментов законодательства ОАЭ во всем мире

											.nav__submenu-main
												.flex.flex_width4.flex_no-gutters
													.flex__item.flex__item_width3
														ul.block20
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Налоговое резидентство в ОАЭ
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/tax-residency-in-uae/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Консолидация бизнеса и активов в ОАЭ
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/consolidation/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Сохранность банковской тайны
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/kyc/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Подтверждение центра управления и контроля
																	p.block20__text Перспективный бизнес в сфере услуг в ОАЭ
																a.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(href="/sorp-business-center/") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как обойти налоговый контроль
																	p.block20__text Старт и релокация производства в ОАЭ с поддержкой экспертов
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Как обойти налоговый контроль") Подробнее
															li.block20__item
																.block20__icon
																.block20__content
																	h3.block20__title Как сохранить конфиденциальность
																	p.block20__text Все для быстрого старта на самом богатом рынке в мире
																label.block20__btn.btn.btn_radius5.btn_h35.btn_font-s14(for="modal2" data-reason="Как сохранить конфиденциальность") Подробнее
													.flex__item
														.nav__block11.block11.block11_width1.block11_height1.block11_size-small.block11_white
															label.block11__item.js-modal(for="modal1")
																.block11__item-inner
																	.block11__pattern.lazy(data-bg="./dist/img/pages/index/block11/pattern.png")
																	.block11__pattern-hover.lazy(data-bg="./dist/img/blocks/pattern-hover-modal.png")
																	.block11__top
																		p.block11__top-title
																			| Экономия 30%
																		.block11__icon-box
																			svg.block11__icon(xmlns='http://www.w3.org/2000/svg', width='29', height='31', viewBox='0 0 29 31')
																				use(xlink:href='#percent')
																	.block11__content
																		h3.block11__title Офис для фризон компании в Дубае
																		p.block11__desc Арендуйте представительский офис  для вашей фризон компании в SORP бизнес-центре для работы, подтверждения Economic Substance  и прохождения процедур банковских проверок (KYC)
																.modal.modal_none
																	.modal__title.modal__title_right <span class="modal__title-span">АКЦИЯ:</span> офис для СЭЗ компаний в Дубае
																	.modal__text
																		p.modal__text-p Оптимальные по цене компании СЭЗ сталкиваются с трудностями в открытии банковских счетов, а также с невозможностью подтвердить Economic Substance.
																		p.modal__text-p Решением станет аренда физического офиса. Бизнес-центр SORP в Дубае предлагает <span class="modal__text-bold">скидку 30%</span> на аренду офисов для владельцев freezone компаний.
																	ul.modal__points.bg.bg_triangle
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Престижный юридический адрес в Дубае в действующем бизнес-центре
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Все, что нужно для подтверждения Economic Substance и прохождения процедур KYC
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Офисы различных размеров, переговорные, виртуальный офис, смарт-офисы, ко-воркинг
																		li.modal__point
																			.modal__point-icon
																			.modal__point-text Зоны для тренингов, нетворкинга и отдыха, услуги ресепшн и копирования, common area
									.nav__close-box
										.nav__close Закрыть меню

						.nav__burger.nav__burger_bottom
							.nav__burger-line
							.nav__burger-line
							.nav__burger-line

						include ../blocks/nav__hidden/RU_nav__hidden
				</nav>

		block content
		block footer
			include ../blocks/footer/footer

		block modals
			include ../blocks/modals/modals

		block scripts
			if page
				script(src="/dist/js/" + page + ".js")
			else
				script(src="/dist/js/main.js?v=1.0000000003")
				script(src="/src/js/vendor/import/svgmorph.js")