.block15 {
  &__item { position: relative; margin: 0 -10px; display: flex; flex-wrap: wrap; }
  &__item-container { position: relative; padding: 30px 0; overflow: hidden; transition: .5s; cursor: default; }
  &__item-container .btn { display: none; }
  &__column { width: 100%; padding: 0 10px; display: flex; flex-direction: column; justify-content: space-between; }
  &__top { display: flex; margin-bottom: 25px; }
  &__icon { width: 84px; height: 84px; border-radius: 12px; background: #CC4052; display: flex; flex-shrink: 0; align-items: center; justify-content: center; }
  &__img { max-width: 90%; max-height: 90%; display: block; }
  &__title { color: #000000; padding-left: 25px; font-size: 20px; line-height: 1.35; font-weight: 400; }
  &__desc { padding-right: 20px; font-size: 14px; line-height: 1.5; color: #9598A2; }
  &__desc-item { margin-bottom: 15px; }
  &__desc-item:last-child { margin-bottom: 0; }
}

@media (min-width: screen-md-min) {
  .block15 {
    &__item-container { max-height: 257px; }
    &__item-container::after { content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 100px; background: linear-gradient(0deg, #fff 10%, #ffffffd1 30%, #ffffff91 55%, #ffffff40 80%, #fff0 100%) }
    &__item-container:hover { max-height: 500px; background-color: #fff; box-shadow: 0 35px 90px rgba(0, 0, 0, 0.15); }
    &__item-container .btn { position: relative; z-index: 2; opacity: 0; display: flex; }
    &__item-container:hover .btn { opacity: 1; }
    &__item-container:hover::after { opacity: 0; }
    &__column { width: 50%; }
    &__title { font-size: 23px; }
    &__desc { font-size: 16px; }
  }
}